<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 List of Human Microbial Taxa
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>


