<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/taxa_pages.css" >
<link rel="stylesheet" href="/css/tree.min.css" >
<style>
  /* tree.min.css screws up body position so add back here: */
body {
  margin: auto;
}
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 <div style='text-align:center;'>
		 <div class='page-title'>Human Oral Microbiome Taxonomic Hierarchy</div>
		 <span class=''>Taxonomy Selection</span>
            <br>
            <input type='button'  name='' value='Reset Tree' onclick='reset_tree_dhtmlx()'> |
             <input type='button'  name='' value='Open Tree' onclick='open_tree_dhtmlx()'> |
            <small>(click taxon names to expand deeper levels.)</small>
		 </div>
		 <table id='custom_tax_div' >
            <tr><td>
            <div id="custom_treebox"></div>
            </td></tr>

          </table>
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/tree.min.js" ></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<!-- <script src="https://code.jquery.com/ui/3.5.1/jquery-ui.js"></script> -->
<!-- <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>	 -->
<!-- <script type="text/javascript" language="javascript" src="/js/jquery.dropdownPlain.js"></script> -->
<script>
  $(document).ready(function(){                    
    mainmenu();
    
    load_dhtmlx(<%- data %>)
});

</script>

