<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 List of Human Microbial Taxa
		 <table>
		 <tr><th>Taxon ID</th><th>Genus</th><th>Species</th><th>Flag</th><th>Status</th></tr>
		 <% for(n in res){ %>
		   <tr><td><%= res[n].oral_taxon_id  %></td><td><%= res[n].genus  %></td><td><%= res[n].species  %></td><td><%= res[n].warning  %></td><td><%= res[n].group  %></td></tr>
		 <% } %>
		 </table>
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>


