<style>
thead th { position: sticky; top: 0; }
#outer-anno-table{
   /* border:1px solid red; */
   width:100%;
}
#annotation-info{
  
  width:100%;
  padding:2px 10px;
  font-size:small;
}
#annotation-filter{
  /* float:right; */
  width:100%;
  padding:15px;
  margin-top:10px;
}
#head-filter-table td{
  padding:0 10px;
}
#table-container{
   height:800px;
   overflow:auto;
}
.col0{
   width: 20px;
   padding:0;
}
</style>
        
<center>

</center>
        
        
<% if(mole.length === 0 && filter_on =="off"){ %>
         <div id='no-data'>There is no <%= anno_type.toUpperCase() %> annotation data available for <%= gid %></div>
<% }else{ %>
     
         
         
<center>
<table id='outer-anno-table'><tr><td>
    
    <div id='annotation-info'>
    <span id='anno-title2'><%= anno_type.toUpperCase() %> Annotation for <%= gid %></span>

    <table id='info-table' >
     <tr><th colspan='6'>Genome Selected: <%= organism %> </th></tr>
     <tr>
        <th class='gray'>Contigs</th><th class='gray'>Bases</th>
        <th class='gray'>CDS</th><th class='gray'>rRNA</th>
        <th class='gray'>tmRNA</th><th class='gray'>tRNA</th>
    </tr>
    <tr>
        <td><%= info_data.contigs %>    </td><td><%= info_data.bases %></td>   
        <td><%= info_data.CDS %>   </td><td><%= info_data.rRNA %></td>
        <td><%= info_data.tmRNA %>   </td><td><%= info_data.tRNA %> </td>
    </tr>
    </table>
    </div>
        
</td><td>

    <div id='annotation-filter'>
            <strong>Search & Sort all <%= page_data.trecords %> Records</strong>
            <%- include('annot_table_filter.ejs') %>
    </div>
    
</td></tr>
</table>
</center>
        
        
        <% if(page_data.trecords < 500){ %>
            Number of Records Found: <%= page_data.trecords %> (1 page)
            <% cnt = 1 %>
         <% }else{ %>
             <% cnt = page_data.start_count %>
             
             Annotation Table [page:<%= page_data.show_page %>]
             <% next_page = parseInt(page_data.show_page)+1 %>
             <% prev_page = parseInt(page_data.show_page)-1 %>
             &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
             
             Number of Records Found: <%= page_data.trecords %> [<%= page_data.number_of_pages %> Pages]
             &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
             
             <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= prev_page %>'>Previous Page</a>
             <==>
             <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= next_page %>'>Next Page</a>
             &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
             Jump to Page: [<% for(n=1;n<=page_data.number_of_pages;n++){ %>
               <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= n %>'><%= n %></a>&nbsp;
             <% } %>]
             
        <% } %>
        
        
    <br><hr>
    <span><small><b>Note:</b> Column headers only sort the current page. Select [NA] or [AA] links to show sequences.</small></span>
     
     
     <div id='table-container'>
     
     
     <table id='annotation-table' class='sortable'>
     <thead>
      <tr>
       <th class='col0 sorttable_nosort'></th>
       <th class='col1'>Molecule-ID</th>
       <th title='Protein ID' class='col2'>Protein-ID</th>
       <th class='col2a sorttable_nosort'>Genome<br>Viewer</th>
       <th title='Nucleic Acid Length (bp)' class='col3 center sorttable_numeric' nowrap>NA<br><small>(Length)[Seq]</small><br></th>
       <th title='Amino Acid Length (bp)' class='col4 center sorttable_numeric' nowrap>AA<br><small>(Length)[Seq]</small><br></th>
       <th class='col5 sorttable_nosort'>Range<br><small>(bp)</small></th>
       <th class='col6'>Gene</th>
       <th class='col7'>Gene<br>Product</th>
      </tr>
     </thead>
     <tbody>
     <% if(mole.length === 0){ %>
        <tr><td>No Data</td><td>Try different filter settings</td></tr>
     <% }else{ %>
     <% for(n in mole){ %>
     <!-- Clean up start/stop and parseInt -->
     <%   if(mole[n].start[0] === "<" ){ %>
     <%     start = parseInt(mole[n].start.substring(1)) %>
     <%   }else{ %>
     <%     start = parseInt(mole[n].start) %>
     <%   } %>
     
     <%   if(mole[n].stop[0] === ">" ){ %>
     <%     stop = parseInt(mole[n].stop.substring(1)) %>
     <%   }else{ %>
     <%     stop = parseInt(mole[n].stop)%>
     <%   } %>
     
     <%   if(start > stop){ %>
     <%    tmp = stop %>
     <%    stop = start %>
     <%    start = tmp %>
     <%   } %>
     
     <%   locstart = start - 500 %>
     <%   locstop = stop + 500 %>
     <%   size = stop - start %>
     
     <%   if(locstart < 1){ %>
     <%     locstart = 1 %>
     <%   } %>
     <%   //contig_gc = (parseFloat(mole[n].gc)/100).toFixed(2) %>
     <tr>
       <td><%= cnt %></td>
       <td><%= mole[n].accession %></td>
       
       <td nowrap>
         <% idx = mole[n].protein_id.toLowerCase().indexOf(src_txt) %>
         <% if(idx != -1){ %>
           <% html = mole[n].protein_id.slice(0,idx)+ "<font color='red'>"+src_txt.toUpperCase() +"</font>"+mole[n].protein_id.slice(idx+src_txt.length) %>
           <%- html %>
         <% }else{ %>
           <%- mole[n].protein_id %>
         <% } %>
         
        <% seqacc = mole[n].accession.replace('_','|') %>
        
         <% loc = seqacc+":"+locstart.toString()+".."+locstop.toString() %>
         <% highlight = seqacc+":"+start.toString()+".."+stop.toString() %>
       
       </td>
       <td class='center' nowrap>
         <a title='JBrowse/Genome Viewer' href='#' onclick="open_jbrowse('<%= gid %>','anno_table','','','<%= anno_type %>','<%= loc %>','<%= highlight %>')">open</a>
       </td>
       
       <td class='center' nowrap>
       <%= mole[n].length_na %>
           [<a title='Nucleic Acid' href='#' onclick="get_NN_NA_seq('na','<%= mole[n].protein_id %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>NA</b></a>] 
           
        </td>
        <td class='center' nowrap>
           <%= mole[n].length_aa %>
           [<a title='Amino Acid'   href='#' onclick="get_NN_NA_seq('aa','<%= mole[n].protein_id %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>AA</b></a>]
           
        </td>
       
       
       <td class='center'><%= mole[n].start %>-<%= mole[n].stop %></td>
       
       <% idx = mole[n].gene.toLowerCase().indexOf(src_txt) %>
       <% if(idx != -1){ %>
         <% html = mole[n].gene.slice(0,idx)+ "<font color='red'>"+src_txt.toUpperCase() +"</font>"+mole[n].gene.slice(idx+src_txt.length) %>
         <td><%- html %></td>
       <% }else{ %>
         <td><%- mole[n].gene %></td>
      <% } %>
       
       <% idx = mole[n].product.toLowerCase().indexOf(src_txt) %>
       <% if(idx != -1){ %>
         <% html = mole[n].product.slice(0,idx)+ "<font color='red'>"+src_txt.toUpperCase() +"</font>"+mole[n].product.slice(idx+src_txt.length) %>
         <td><%- html %></td>
       <% }else{ %>
         <td><%- mole[n].product %></td>
      <% } %>
       
     </tr>
     <% cnt += 1 %>
     <% } %>
     <% } %>
     </tbody>
     </table>
     </div>
<% } %>  

        
