


		
		<div id='annotation-info'>
		  <span id='anno-title2'><%= anno_type.toUpperCase() %> Annotation for <%= gid %></span>
		
		  <br>
			<table id='info-table' >
			 <tr><th colspan='4'>Genome selected: <%= organism %> </th></tr>
			 <tr>
			   <td>Contigs:</td><td><%= info_data.contigs %>	</td>
			   <td>Bases:</td><td><%= info_data.bases %> bps</td>	
			 </tr>
		
			<tr><td>CDS:</td><td><%= info_data.CDS %>	</td>
				 <td>rRNA:</td><td><%= info_data.rRNA %></td>
			</tr>
		
			<tr><td>tmRNA:</td><td><%= info_data.tmRNA %>	</td>
				<td>tRNA:</td><td><%= info_data.tRNA %>	</td>
				
			</tr>
		
		
			
			</table>
		
		</div>
		
		
	    <div id='annotation-table-div'>					
			 <% if(mole.length === 0){ %>
			     <div id='no-data'>There is no annotation data available for <%= anno_type.toUpperCase() %> <%= gid %></div>
			 <% }else{ %>
			 
			 Annotation Table [page:<%= page_data.show_page %>]
			 <% next_page = parseInt(page_data.show_page)+1 %>
			 <% prev_page = parseInt(page_data.show_page)-1 %>
			 <br>Number of Records Found: <%= page_data.trecords %> <small>[<%= page_data.number_of_pages %> Pages]
			 <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= prev_page %>'>Previous Page</a>
			 <==>
			 <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= next_page %>'>Next Page</a>
			 </small>
			 
			 
			 
			 <table id='annotation-table' class='sortable'>
			 <thead>
			  <tr>
			   <th class='sorttable_nosortX'></th>
			   <th class='col1'>Molecule</th>
			   <th class='col2'>PID</th>
			   <th class='col3 sorttable_nosort'>Sequences</th>
			   <th class='col4' nowrap>Size (<small>NA/AA</small>)</th>
			   <th class='col5'>Range</th>
			   <th class='col6'>Gene Product Name</th>
			  </tr>
			 </thead>
			 <tbody>
			 <% cnt = page_data.start_count %>
			 <% for(n in mole){ %>
			 <% if(mole[n].start > mole[n].stop){ %>
			 <%    start = mole[n].stop %>
			 <%    stop = mole[n].start %>
			 <% }else{ %>
			 <%    start = mole[n].start %>
			 <%    stop = mole[n].stop %>
			 <% } %>
			 <% locstart = start-500 %>
			 <% locstop = stop+500 %>
			 <% size = stop - start %>
			 
			 <% if(locstart < 1){ %>
			 <%     locstart = 1 %>
			 <% } %>
			 <% contig_gc = (parseFloat(mole[n].gc)/100).toFixed(2) %>
			 <tr>
			   <td><%= cnt %></td>
			   <td><%= mole[n].accession %></td>
			   
			   <td nowrap>
			     <% idx = mole[n].protein_id.toLowerCase().indexOf(src_txt) %>
			     <% if(idx != -1){ %>
			       <% html = mole[n].protein_id.slice(0,idx)+ "<font color='red'>"+src_txt.toUpperCase() +"</font>"+mole[n].protein_id.slice(idx+src_txt.length) %>
			       <%- html %>
			     <% }else{ %>
			       <%- mole[n].protein_id %>
			     <% } %>
			     <a title='Genome Viewer' href='/jbrowse/index.html?data=homd/<%= gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= contig_gc %>),GC Skew&loc=<%= mole[n].accession %>:<%= locstart %>..<%= locstop %>&highlight=<%= mole[n].accession %>:<%= start %>..<%= stop %>' target='_blank' rel="noopener noreferrer">jb</a>
			    <!-- 
			    https://devel.homd.org/jbrowse/index.html?data=homd%2FSEQF1595&tracks=DNA%2Cprokka%2Cprokka_ncrna%2Cncbi%2Cncbi_ncrna%2CGC%20Content%20(pivot%20at%200.47)%2CGC%20Skew&loc=SEQF1595%7CKI535340.1%3A1..1587476&highlight= browse/index.html?data=homd%2FSEQF1622&tracks=DNA%2Cprokka%2Cprokka_ncrna%2Cncbi%2Cncbi_ncrna%2CGC%20Content%20(pivot%20at%200.39)%2CGC%20Skew&loc=SEQF1622%7CCP001172.1%3A1504083..2256279&highlight=
			   https://homd.org/jbrowse/index.html?data=homd/SEQF5379
			        tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at 0.67),GC Skew
			        loc=LN831029.1:2950574..2952573500
			        highlight=LN831029.1:2951074..2952573
			  
               from annotation page old version:
			   https://v2.homd.org/jbrowse/index.html?data=homd/SEQF1851
			         loc=SEQF1851 ACVN02000334.1 1736..3761& 
			         highlight=SEQF1851 ACVN02000334.1 2242..3255& 
			         tracks=DNA,prokka,ncbi
               -->
			   </td>
			   <td nowrap>
			       [<a title='Nucleic Acid' href='#' onclick="get_NN_NA_seq('na','<%= mole[n].protein_id %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>NA</b></a>] 
			       [<a title='Amino Acid'   href='#' onclick="get_NN_NA_seq('aa','<%= mole[n].protein_id %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>AA</b></a>]
			   </td>
			   <td><%= mole[n].length_na %>/<%= mole[n].length_aa %></td>
			   <td><%= mole[n].start %>-<%= mole[n].stop %></td>
			   <% idx = mole[n].product.toLowerCase().indexOf(src_txt) %>
			   <% if(idx != -1){ %>
			     <% html = mole[n].product.slice(0,idx)+ "<font color='red'>"+src_txt.toUpperCase() +'</font>'+mole[n].product.slice(idx+src_txt.length) %>
			     <td><%- html %></td>
			   <% }else{ %>
			     <td><%- mole[n].product %></td>
			  <% } %>
			   
			 </tr>
			 <% cnt += 1 %>
			 <% } %>
			 </tbody>
			 </table>
			 <% } %>  
		</div>
		
