


		
		<div id='annotation-info'>
		  <span id='anno-title2'><%= anno_type.toUpperCase() %> Annotation for <%= gid %></span>
		
		  <br>
			<table id='info-table' >
			 <tr><th colspan='4'>Genome selected: <%= organism %> </th></tr>
			 <tr>
			   <td>Contigs:</td><td><%= info_data.contigs %>	</td>
			   <td>Bases:</td><td><%= info_data.bases %> bps</td>	
			 </tr>
		
			<tr><td>CDS:</td><td><%= info_data.CDS %>	</td>
				 <td>rRNA:</td><td><%= info_data.rRNA %></td>
			</tr>
		
			<tr><td>tmRNA:</td><td><%= info_data.tmRNA %>	</td>
				<td>tRNA:</td><td><%= info_data.tRNA %>	</td>
				
			</tr>
		
		
			
			</table>
		
		</div>
		
		
	    <div id='annotation-table-div'>					
			 <% if(mole.length === 0){ %>
			     <div id='no-data'>There is no annotation data available for <%= anno_type.toUpperCase() %> <%= gid %></div>
			 <% }else{ %>
			 
			 Annotation Table [page:<%= page_data.show_page %>]
			 <% next_page = parseInt(page_data.show_page)+1 %>
			 <% prev_page = parseInt(page_data.show_page)-1 %>
			 <br>Number of Records Found: <%= page_data.trecords %> <small>[<%= page_data.number_of_pages %> Pages]
			 <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= prev_page %>'>Previous Page</a>
			 <==>
			 <a href='explorer?gid=<%= gid %>&anno=<%= anno_type %>&page=<%= next_page %>'>Next Page</a>
			 </small>
			 
			 
			 
			 <table id='annotation-table' class='sortable'>
			 <thead>
			  <tr>
			   <th class='sorttable_nosortX'></th>
			   <th class='col1'>Molecule</th>
			   <th class='col2'>PID</th>
			   <th class='col3 sorttable_nosort'>Sequences</th>
			   <th class='col4' nowrap>Size (<small>NA/AA</small>)</th>
			   <th class='col5'>Range</th>
			   <th class='col6'>Gene Product Name</th>
			  </tr>
			 </thead>
			 <tbody>
			 <% cnt = page_data.start_count %>
			 <% for(n in mole){ %>
			 <% if(mole[n].start > mole[n].stop){ %>
			 <%    start = mole[n].stop %>
			 <%    stop = mole[n].start %>
			 <% }else{ %>
			 <%    start = mole[n].start %>
			 <%    stop = mole[n].stop %>
			 <% } %>
			 <tr>
			   <td><%= cnt %></td>
			   <td><%= mole[n].accession %></td>
			   
			   <td nowrap><%= mole[n].PID %> <a title='Genome Viewer' href='/jbrowse/index.html?data=homd/<%= gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc %>),GC Skew&loc=<%= mole[n].accession %>:<%= start-500 %>..<%= stop+500 %>&highlight=<%= mole[n].accession %>:<%= start %>..<%= stop %>' target='_blank' rel="noopener noreferrer">jb</a></td>
			   <td nowrap>
			       [<a title='Nucleic Acid' href='#' onclick="get_NN_NA_seq('na','<%= mole[n].PID %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>NA</b></a>] 
			       [<a title='Amino Acid' href='#' onclick="get_NN_NA_seq('aa','<%= mole[n].PID %>','<%= db %>','<%= mole[n].accession %>','<%= organism %>','<%= mole[n].product %>','<%= gid %>')"><b>AA</b></a>]
			   </td>
			   <td><%= mole[n].len_na %>/<%= mole[n].len_aa %></td>
			   <td><%= mole[n].start %>-<%= mole[n].stop %></td>			   
			   <td><%= mole[n].product %></td>
			 </tr>
			 <% cnt += 1 %>
			 <% } %>
			 </tbody>
			 </table>
			 <% } %>  
		</div>
		
