<% var cfg = JSON.parse(config) %>
<style>
  #other70 {
   /* background:var(--div-bg01); */
   background: #C1E1C1;
  }
  #reset{
    float:right;
    padding : 0px 0px 0 0;
  }
  #spamguard_div{
    border:1px solid black;
    padding:5px 12px;
    margin-top:5px;
    background: lavender;
  }
  #spamguard_input{
    padding:1px 5px;
  }
</style>

<center>
<div id='center70pct_div'>
    


<form id='blastForm' name='blastForm' method='POST' action='/blast/blast_post' enctype='multipart/form-data' >

  <div id='other70'>
       <div class='block-title' >BLAST Program and Database:</div>
       <div id='reset'>
           <span onclick="reset2default('<%= blastFxn %>')" class='pill pill-brown pill-lg'>Reset to Defaults</span>
       </div>
       <div class='adjust_block'>
        <% title_blastn = 'BLASTN: Compares a nucleotide query sequence against a nucleotide sequence database.' %>
        <a title='<%= title_blastn %>' href='/help/help-page?pagecode=blast/programs'>Program: BLASTN</a>
        <input type='hidden' name='blastProg' value='blastn' >
    
       <br>
	   <a href='/help/help-page?pagecode=blast/databases'>Database Choices</a>:
	   <span id='genomeBlastDbChoices'>
		 <select class='dropdown' id='blastDb' name='blastDb'>
		   <% for(n in db_choices){ %>
			 <option value='<%= db_choices[n].filename %>'><%= db_choices[n].name %></option>
		   <% } %>
		 </select>
	   </span>
	   
       </div>

       <center><small>Output Selection: 
       <input type='radio' checked name='outformat' value='standard'> Standard&nbsp;&nbsp;
       <input type='radio'         name='outformat' value='custom'> Custom (new! and unfinished)
       </small></center>

           <div class='block-title' >Upload your 16S rRNA Sequences:</div>
           Copy and paste sequence(s) below, preferably in FASTA format:
      



           <center>
            <textarea class="textinput" id='textinput' placeholder="Enter sequence(s) in FASTA format..." name='inputSeq' ></textarea>
           </center>
           Or upload a sequence file from your computer:
           <input type="file" id='fileInput' name="blastFile"  >

<div id='spamguard_div'>
<% sg_parts = spamguard.split('') %>
<b>**<small>Spamguard Code: 
  <span style="background:yellow">&nbsp;<font color="blue"><%= sg_parts[0] %></font><font color="purple"><%= sg_parts[1] %></font><font color="green"><%= sg_parts[2] %></font>&nbsp;
  </span>
</b>

<br>Please type in the Spamguard Code: <input id='spamguard_input' type="text" value='' maxlength ='3' size='10'> (case insensitive)
<input type="hidden" id="spamcode1" name="spamcode1" value="<%= spamguard %>">
</small>
</div>
<small>
(<b>Note1</b>: Multiple sequences can be uploaded, please check <a href='/help/help-page?pagecode=blast/formats'>examples on sequence formats and restrictions.</a>)
<br>
(<b>Note2</b>: Current upload limit is <%= blast_max.seqs %> sequences
or <%= blast_max.size %> MB filesize.)
</small>
<br><br>


   <div class='block-title' >Add Optional Blast Parameters:</div>



    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/parameters'>Expect</a>:
           <select class='dropdown' id='blastExpect' name='blastExpect'>
              <option selected='selected' value='0.0001'>0.0001</option>
              <option value='0.01'>0.01</option>
              <option value='0.1'>0.1</option>
              <option value='1'>1</option>
              <option value='10'>10</option>
              <option value='100'>100</option>
              <option value='1000'>1000</option>
           </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   

          <a href='/help/help-page?pagecode=blast/parameters'>Maximum Target Sequences</a>:
           <select class='dropdown' id='blastMaxTargetSeqs' name='blastMaxTargetSeqs'>
              
                <option selected='selected' value='20'>20</option>
                <option value='50'>50</option>
                <option value='100'>100</option>
              
              <option value='250'>250</option>
              <option value='500'>500</option>
           </select>
           
    </div>

    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/advanced'>Other Advanced Options:</a>
       
        <input class='dropdown' id='advancedOpts' name='advancedOpts' type='text' value='-penalty -3 -reward 2 -gapopen 5 -gapextend 2' maxlength='100' size='50'>
     
    </div>

    
    <div class='adjust_block'>
         <center><input class='pill pill-brown pill-lg' type='button' value='Blast' onclick='blastFormCheck_refseq()' \></center>
    </div>
    </div> <!-- End other70 -->

         <small>This tool identifies the closest matches of 16S rRNA sequences submitted by users among the HOMD or other 16S rRNA gene sequences.
        The sequence search is based on the NCBI BLASTN version <%= blast_version %> <a href='/help/help-page?pagecode=blast/formats'>[DETAIL]</a>
        </small>
    
  
  <input type='hidden' name='returnTo' value='<%= returnTo %>' >
    <input type='hidden' name='blastFxn' value='<%= blastFxn %>' >
</form>
</div>
</center>
<script type="text/javascript" src="/js/blast.js"></script>
