
<style>
  #other70 {
   /* background:var(--div-bg017); */
   background:#CFCFC4;
  }
  #parameters-table {
    border-collapse:collapse;
    /* width:60% */
  }
  #parameters-table td{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:5px;
  }
  #outer-table{
     
  }
  #center70pct_div{
  width:80%;
  }
  .no_border{
  border:0px solid black;
  }
  .res{
     width:300px;
     text-align:right;
  }
  #reset{
    /* float:right; */
    /* padding : 15px 10px 0 0; */
    width:350px;
    text-align:right;
    border:0px solid black;
  }
</style>
<!-- <a href='/blast/blaster_test'>blaster-js testing</a> -->
<center>

<div id='center70pct_div'>
    


<form id='blastForm' name='blastForm' method='POST' action='/blast/blast_post' enctype='multipart/form-data' >

  <div id='other70'>
  
       <div class='block-title' >BLAST Program and Database:</div>
       <div class='adjust_block'>
       
      
       <table id='outer-table' border='1'><tr><td>
        <table id='parameters-table' border='1'>
        <tr>
          <% title_blastn = 'BLASTN: Compares a nucleotide query sequence against a nucleotide sequence database.' %>
          <% title_blastp = 'BLASTP: Compares an amino acid query sequence against a protein sequence database.' %>
          <% title_blastx = 'BLASTX: Compares a nucleotide query sequence translated in all reading frames against a protein sequence database.' %>
          <% title_tblastn = 'TBLASTN: Compares a protein query sequence against a nucleotide sequence database dynamically translated in all reading frames.' %>
          <% title_tblastx = 'TBLASTX: Compares the six-frame translations of a nucleotide query sequence against the six-frame translations of a nucleotide sequence database.' %>
          <td nowrap><a href='/help/help-page?pagecode=blast/programs' >BLAST Program:</a></td>
          
          <td ><input title='<%= title_blastn %>' id='blastn_rb' type='radio' checked name='blastProg' value='blastn' onclick="changeBlastGenomeDbs('<%= gid %>','blastn')"> <span title='<%= title_blastn %>'>Nucleic Acid (<small>BLASTN</small>)</span></td>
          <td ><input title='<%= title_blastp %>' id='blastp_rb' type='radio' name='blastProg' value='blastp' onclick="changeBlastGenomeDbs('<%= gid %>','blastp')"> <span title='<%= title_blastp %>'>Protein (<small>BLASTP</small>)</span></td>
          <td nowrap><button class='button pill' id='qsort' type='button' onclick="show_other_blast('<%= gid %>')">Other</button><span id='other_blast'></span></td><td nowrap></td>
        </tr>
       <tr><td nowrap> 
       <a href='/help/help-page?pagecode=blast/databases'>Database Choices</a>:
       </td><td colspan='2'>
       <span id='genomeBlastDbChoices'>
         <select class='dropdown' id='blastDb' name='blastDb'>
           <!-- <option value='0'>Choose...</option> -->
           <% for(n in db_choices){ %>
             <option value='<%= db_choices[n].filename %>'><%= db_choices[n].name %></option>
           <% } %>
         </select>
       </span>
       </td>
       <td nowrap>
       <div id='reset' class='no_border'>
          <span onclick="reset2default('<%= blastFxn %>')" class='pill pill-brown pill-lg'>Reset to Defaults</span>
        </div>
       </td>
       </tr> 
        
        <tr>
          <td>Annotation:</td>
          <td colspan='1'><input checked id='blast_ncbi_rb' type='radio' name='anno' value='ncbi'> NCBI</td>
          <td colspan='1'><input id='blast_prokka_rb' type='radio' name='anno' value='prokka'> PROKKA</td>
        </tr>
        <tr>
          <td nowrap>BLAST Against:</td>
          <% if(!gid || gid === 'all'){ %>
          <td colspan='1'><input checked type='radio' id='all_genomes' name='against' value='all' onclick="toggle_blast_genome_list('hide','<%= gid %>')"> All Genomes</td>
          <td colspan='1'><input type='radio' id='single_genome' name='against' value='single' onclick="toggle_blast_genome_list('show','<%= gid %>')"> Single Genome</td>
          <% }else{ %>
           <td colspan='1'><input type='radio' id='all_genomes' name='against' value='all' onclick="toggle_blast_genome_list('hide','<%= gid %>')"> All Genomes</td>
          <td colspan='1'><input checked type='radio' id='single_genome' name='against' value='single' onclick="toggle_blast_genome_list('show','<%= gid %>')"> Single Genome</td>
          <% } %>
        </tr>
        </table>
        </td>
        <td class='res'>
         
        </td>
        </tr>
        </table>
         
         <% if(!gid || gid =='all'){ %>
           <div id='genome_choices' style='display:none;padding-top:5px;'>
        <% }else{ %>
           <div id='genome_choices' style='display:block;padding-top:5px;'>
        <% } %>
          Choose a Genome: 
          <!-- <select id='choose_genome_select' class='dropdown' onchange="if (this.value) window.location.href='blast?gid='+this.value  "> -->
           <select id='choose_genome_select' class='dropdown' onchange='change_blast_genome(this.value)'>
           
            <option value='0' >Choose...</option>
            <% for(n in all_annos){ %>
             <% if(all_annos[n].gid === gid){ %>
               <option selected value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% }else{ %>
               <option value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% } %>
            <% } %>
          </select>
          
        </div>
        
        
        
       
       </div>

       
           <% if(!gid || gid == 'all'){ %>
             <div id='blast_sub_title' class='block-title' >BLAST Against All HOMD Genome Sequences</div>
           <% }else{ %>
             <div id='blast_sub_title' class='block-title' >BLAST Against "<%= organism %>" Genome Sequence</div>
           <% } %>
           Copy and paste sequence(s) below, preferably in FASTA format:

           <center>
            <textarea class="textinput" id='textinput' placeholder="Enter sequence(s) in FASTA format..." name='inputSeq' ></textarea>
           </center>
           Or upload a sequence file from your computer:
           <input type="file" id='fileInput' name="blastFile"  >

<br><br>
<small>
(<b>Note1</b>: Multiple sequences can be uploaded, please check <a href='/help/help-page?pagecode=blast/formats'>examples on sequence formats and restrictions.</a>)
<br>
(<b>Note2</b>: Current upload limit is <%= blast_max.seqs %> sequences
or <%= blast_max.size %> MB filesize.)
</small>
<br><br>


       <div class='block-title' >Add Optional Blast Parameters:</div>



    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/parameters'>Expect</a>:
           <select class='dropdown' id='blastExpect' name='blastExpect'>
              <option selected='selected' value='0.0001'>0.0001</option>
              <option value='0.01'>0.01</option>
              <option value='0.1'>0.1</option>
              <option value='1'>1</option>
              <option value='10'>10</option>
              <option value='100'>100</option>
              <option value='1000'>1000</option>
           </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   

          <a href='/help/help-page?pagecode=blast/parameters'>Maximum Target Sequences</a>:
           <select class='dropdown' id='blastMaxTargetSeqs' name='blastMaxTargetSeqs'>
                <option value='20'>20</option>
                <option value='50'>50</option>
                <option selected='selected' value='100'>100</option>
                <option value='250'>250</option>
                <option value='500'>500</option>
           </select>
           
    </div>

    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/advanced'>Other Advanced Options:</a>
       
        <input class='dropdown' id='advancedOpts' name='advancedOpts' type='text' value='' maxlength='100' size='50'>
      
    </div>

    <div class='adjust_block'>
         <center><input class='pill pill-brown pill-lg' type='button' value='Blast' onclick='blastFormCheck_genome()' \></center>
    </div>
    </div> <!-- End other70 -->
    <small>
        The sequence search is based on the NCBI BLAST version <%= blast_version %> <a href='/help/help-page?pagecode=blast/formats'>[DETAIL]</a>
    </small>
  <input type='hidden' name='returnTo' value='<%= returnTo %>' >
    <input type='hidden' name='blastFxn' value='<%= blastFxn %>' >
</form>
</div>
</center>
<script type="text/javascript" src="/js/blast.js"></script>
