
<style>
  #other70 {
   /* background:var(--div-bg017); */
   background:#CFCFC4;
  }
  table {
    border-collapse:collapse;
    /* width:60% */
  }
  table td{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:5px;
  }
  #center70pct_div{
  width:80%;
  }
  .no_border{
  border:0px solid black;
  }
  #reset{
    float:right;
    padding : 60px 10px 0 0;
  }
</style>
<!-- <a href='/blast/blaster_test'>blaster-js testing</a> -->
<center>

<div id='center70pct_div'>
    


<form id='blastForm' name='blastForm' method='POST' action='/blast/blast_post' enctype='multipart/form-data' >

  <div id='other70'>
  
       <div class='block-title' >BLAST Program and Database:</div>
       <div class='adjust_block'>
       <div id='reset' >
          <span onclick="reset2default('<%= blastFxn %>')" class='pill pill-brown pill-lg'>Reset to Defaults</span>
        </div>
        <table border='1'>
        <tr>
          <td><a href='/help/help-page?pagecode=blast/programs' >BLAST Program:</a></td>
          <td ><input id='blastn_rb' type='radio' checked name='blastProg' value='blastn' onclick="changeBlastGenomeDbs('<%= gid %>','blastn')"> Nucleic Acid (<small>BLASTN</small>)</td>
          <td ><input id='blastp_rb' type='radio' name='blastProg' value='blastp' onclick="changeBlastGenomeDbs('<%= gid %>','blastp')"> Protein (<small>BLASTP</small>)</td>
          <td colspan='2'><button class='button pill' id='qsort' type='button' onclick="show_other_blast('<%= gid %>')">Other</button><span id='other_blast'></span></td>
        </tr>
       <tr><td> 
       <a href='/help/help-page?pagecode=blast/databases'>Database Choices</a>:
       </td><td colspan='2'>
       <span id='genomeBlastDbChoices'>
         <select class='dropdown' id='blastDb' name='blastDb'>
           <% for(n in db_choices){ %>
             <option value='<%= db_choices[n].filename %>'><%= db_choices[n].name %></option>
           <% } %>
         </select>
       </span>
       </td></tr> 
        
        <tr>
          <td>Annotation:</td>
          <td colspan='1'><input checked id='blast_ncbi_rb' type='radio' name='anno' value='ncbi'> NCBI</td>
          <td colspan='1'><input id='blast_prokka_rb' type='radio' name='anno' value='prokka'> PROKKA</td>
        </tr>
        <tr>
          <td>BLAST Against:</td>
          <% if(gid =='all'){ %>
          <td colspan='1'><input checked type='radio' id='all_genomes' name='against' value='all' onclick="toggle_blast_genome_list('hide','<%= gid %>')"> All Genomes</td>
          <td colspan='1'><input type='radio' id='single_genome' name='against' value='single' onclick="toggle_blast_genome_list('show','<%= gid %>')"> Single Genome</td>
          <% }else{ %>
           <td colspan='1'><input type='radio' id='all_genomes' name='against' value='all' onclick="toggle_blast_genome_list('hide','<%= gid %>')"> All Genomes</td>
          <td colspan='1'><input checked type='radio' id='single_genome' name='against' value='single' onclick="toggle_blast_genome_list('show','<%= gid %>')"> Single Genome</td>
          <% } %>
        </tr>
        </table>
        
         
         <% if(gid =='all'){ %>
           <div id='genome_choices' style='display:none;padding-top:5px;'>
        <% }else{ %>
           <div id='genome_choices' style='display:block;padding-top:5px;'>
        <% } %>
          Choose a Genome: 
          <!-- <select id='choose_genome_select' class='dropdown' onchange="if (this.value) window.location.href='blast?gid='+this.value  "> -->
           <select id='choose_genome_select' class='dropdown' onchange='change_blast_genome(this.value)'>
           
            <option value='0' >Choose...</option>
            <% for(n in all_annos){ %>
             <% if(all_annos[n].gid === gid){ %>
               <option selected value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% }else{ %>
               <option value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% } %>
            <% } %>
          </select>
          
        </div>
        
        
        
       
       </div>

       
           <% if(gid == 'all'){ %>
             <div id='blast_sub_title' class='block-title' >BLAST Against All HOMD Genome Sequences</div>
           <% }else{ %>
             <div id='blast_sub_title' class='block-title' >BLAST Against "<%= organism %>" Genome Sequence</div>
           <% } %>
           Copy and paste sequence(s) below, preferably in FASTA format:

           <center>
            <textarea class="textinput" id='textinput' placeholder="Enter sequence(s) in FASTA format..." name='inputSeq' ></textarea>
           </center>
           Or upload a sequence file from your computer:
           <input type="file" id='fileInput' name="blastFile"  >

<br><br>
<small>
(<b>Note1</b>: Multiple sequences can be uploaded, please check <a href='/help/help-page?pagecode=blast/formats'>examples on sequence formats and restrictions.</a>)
<br>
(<b>Note2</b>: Current upload limit is <%= blast_max.seqs %> sequences
or <%= blast_max.size %> MB filesize.)
</small>
<br><br>


       <div class='block-title' >Adjust Blast Parameters (Optional):</div>



    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/parameters'>Expect</a>:
           <select class='dropdown' id='blastExpect' name='blastExpect'>
              <option selected='selected' value='0.0001'>0.0001</option>
              <option value='0.01'>0.01</option>
              <option value='0.1'>0.1</option>
              <option value='1'>1</option>
              <option value='10'>10</option>
              <option value='100'>100</option>
              <option value='1000'>1000</option>
           </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   

          <a href='/help/help-page?pagecode=blast/parameters'>Maximum Target Sequences</a>:
           <select class='dropdown' id='blastMaxTargetSeqs' name='blastMaxTargetSeqs'>
                <option value='20'>20</option>
                <option value='50'>50</option>
                <option selected='selected' value='100'>100</option>
                <option value='250'>250</option>
                <option value='500'>500</option>
           </select>
           
    </div>

    <div class='adjust_block'>
           <a href='/help/help-page?pagecode=blast/advanced'>Other Advanced Options:</a>
       
        <input class='dropdown' id='advancedOpts' name='advancedOpts' type='text' value='' maxlength='100' size='50'>
      
    </div>

    <div class='adjust_block'>
         <center><input class='pill pill-brown pill-lg' type='button' value='Blast' onclick='blastFormCheck_genome()' \></center>
    </div>
    </div> <!-- End other70 -->
  
  <input type='hidden' name='returnTo' value='<%= returnTo %>' >
    <input type='hidden' name='blastFxn' value='<%= blastFxn %>' >
</form>
</div>
</center>
<script type="text/javascript" src="/js/blast.js"></script>
