<link rel="stylesheet" href="/css/select2.min.css" />  
<!-- Show only gid choice select nothing else-->
    <p class='title h3'><%= title %></p>
    <div style='padding:5px 0;'>
        
        Select a Genome: 
       
        <select class='dropdown' id='selGenome' style='width: 800px;' onchange="if (this.value) window.location.href='explorer?gid='+this.value+'&anno=<%= anno_type %>'  ">
           <option name='none' value='0'>Search and Select...</option>
           <% for(n in all_annos){ %>
              <% if(all_annos[n].gid === gid){ %>
                <option selected value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% }else{ %>
               <option value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% } %>        
         <% } %>
        </select>
         
         <% if(gid){ %>
                 <div id='header_buttons' >
                  
                  <% if(anno_type == 'prokka'){ %>
                    <span class='an-button active' href=''>PROKKA</span>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <a class='an-button' href='<%= cfg.BLAST_URL_BASE %>/genome_blast_single_prokka/?gid=<%= gid %>' target="_self">BLAST</a> 
        
                    
                    <!-- <a class='an-button greyed' href='#'>BLAST</a> -->
                  <% } else if(anno_type == 'ncbi'){ %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <span class='an-button active' href=''>NCBI</span>
                    <a class='an-button' href='<%= cfg.BLAST_URL_BASE %>/genome_blast_single_ncbi/?gid=<%= gid %>' target="_self">BLAST</a> 
        
                    
                    
                  <% } else { %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <a class='an-button' href='<%= cfg.BLAST_URL_BASE %>/genome_blast_single_<%= anno_type %>/?gid=<%= gid %>' target="_self">BLAST</a> 
        
                    
                    
                  <% } %>
                  |
                  <!-- <a class='an-button' href='<%= cfg.JBROWSE_URL %>/<%= gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc %>),GC Skew' target='_blank' rel="noopener noreferrer">Genome Viewer</a> -->
                  <a class='an-button' href='#' onclick="open_jbrowse('<%= gid %>','explorer','<%= gc %>','','<%= anno_type %>')">Genome Viewer</a>
                  
                  <a class='an-button' href='/genome/genome_description?gid=<%= gid %>'>Genome Information</a>
                  <a class='an-button' href='/taxa/tax_description?otid=<%= otid %>'>Taxon Information</a>
                 </div>
         <% }else{ %>
             <div id='header_buttons' >
                    <span class='an-button active greyed' href='#'>PROKKA</span>
                    <a class='an-button greyed' href='#'>NCBI</a>
                    <a class='an-button greyed' href='#'>BLAST</a>
                    |
                    <a class='an-button greyed' href='#'>Genome Viewer</a>
                    <a class='an-button greyed' href='#'>Genome Information</a>
                    <a class='an-button greyed' href='#'>Taxon Information</a>
              </div>
         <% } %>
       
    </div>
