<link rel="stylesheet" href="/css/select2.min.css" />  
<!-- Show only gid choice select nothing else-->
    <div class='title'><%= title %></div>
    <div style='padding:5px 0;'>
        
        Choose a Genome: 
       
        <select class='dropdown' id='selGenome' style='width: 800px;' onchange="if (this.value) window.location.href='explorer?gid='+this.value+'&anno=<%= anno_type %>'  ">
           <option name='none' value='0'>Search and Select...</option>
           <% for(n in all_annos){ %>
              <% if(all_annos[n].gid === gid){ %>
                <option selected value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% }else{ %>
               <option value='<%= all_annos[n].gid %>'><%= all_annos[n].org %> <small>(<%= all_annos[n].gid %>)</small></option>
             <% } %>        
         <% } %>
        </select>
         
         <% if(gid){ %>
                 <div id='header_buttons' >
                  
                  <% if(anno_type == 'prokka'){ %>
                    <span class='an-button active' href=''>PROKKA</span>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    
                    <form name='' class="form-inline" method='POST' action='blast_ss_single'>
                      <input type='hidden' name='gid' value='<%= gid %>'>
                      <input type='hidden' name='annotation' value='<%= anno_type %>'>
                      <input type='submit' class='an-button' value='BLAST'>
                    </form>
                    <!-- <a class='an-button greyed' href='#'>BLAST</a> -->
                  <% } else if(anno_type == 'ncbi'){ %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <span class='an-button active' href=''>NCBI</span>
                    <form name='' class="form-inline" method='POST' action='blast_ss_single'>
                      <input type='hidden' name='gid' value='<%= gid %>'>
                      <input type='hidden' name='annotation' value='<%= anno_type %>'>
                      <input type='submit' class='an-button' value='BLAST'>
                    </form>
                  <% } else { %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <form name='' class="form-inline" method='POST' action='blast_ss_single'>
                      <input type='hidden' name='gid' value='<%= gid %>'>
                      <input type='hidden' name='annotation' value='<%= anno_type %>'>
                      <input type='submit' class='an-button' value='BLAST'>
                    </form>
                  <% } %>
                  |
                  <a class='an-button' href='<%= cfg.JBROWSE_URL %>/<%= gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc %>),GC Skew' target='_blank' rel="noopener noreferrer">Genome Viewer</a>
                  <a class='an-button' href='/genome/genome_description?gid=<%= gid %>'>Genome Desc.</a>
                  <a class='an-button' href='/taxa/tax_description?otid=<%= otid %>'>Taxon Desc.</a>
                 </div>
         <% }else{ %>
             <div id='header_buttons' >
                    <span class='an-button active greyed' href='#'>PROKKA</span>
                    <a class='an-button greyed' href='#'>NCBI</a>
                    <a class='an-button greyed' href='#'>BLAST</a>
                    |
                    <a class='an-button greyed' href='#'>Genome Viewer</a>
                    <a class='an-button greyed' href='#'>Genome Desc.</a>
                    <a class='an-button greyed' href='#'>Taxon Desc.</a>
              </div>
         <% } %>
       
    </div>
