<% phyla = JSON.parse(phyla) %>


<div id="row1">	

	
  <div id='column_left1'  >
	
	
	<form id='gtable_search' name='gtable_search' method='POST' action='search_genometable' >
	  
	  <input class="pill pill-brown float-right" type='button' value='Search' onclick='genome_table_search()'> 
	  
	  Search Genomes:&nbsp;&nbsp;
	  <span class='' >
	    <input id='gene_srch_text' class='dropdown' placeholder="Search.."  type='text' name='gen_srch' maxlength='18' size='20'>
	    <input class="pill pill-brown" type='button' value='Clear' onclick='clear_gene_srch()'> 
	    <span id='goptions' class='span_lnk' onclick='toggle_options()'>Options [+]</span>
	  </span>
	  <div id='gen_options' style='display:none;'>
	    <br>&nbsp;&nbsp;&nbsp;In:
	    <select name='field' class='dropdown'>
	      <optgroup>
	      <option value=''>All Fields</option>
	      <option value=''>Taxon ID</option>
	      <option value=''>Genus</option>
	      <option value=''>Species</option>
	      <option value=''>Culture Collection</option>
	      <option value=''>Isolation Origin</option>
	      <option value=''>Sequence Status</option>
	      <option value=''>Sequence Center</option>
	      <option value=''>Seq ID</option>
	      </optgroup>
	    </select>
	    Matching:
	    <select  name='match' class='dropdown'>
	      <option value='all'>All Words</option>
	      <option value='any' >ANY Words</option>
	      <option value='exact'>Exact Phrase</option>
	    </select>
	    <select name='sub' class='dropdown'>
	      <option value='partial'>Partial Field</option>
	      <option value='whole'>Whole Field</option>
	    </select>
	  </div>
	  
	  <br>Sequencing Status: 
	  <input type='checkbox' class='filter_ckbx' id='status_all' name='status_all' value='all'\> All&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_complete' name='status_complete' value='complete' \> Complete&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_coverage' name='status_coverage' value='high' \> High Coverages&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_survey' name='status_survey' value='survey' \> Survey&nbsp;
	   
	</form>
	
	
    </div>	 <!--  end -->
  
    <div id="column_right1" >
		<p class="">
		  <br><center>
			<small>Select Genus by Alphabet: <br>
			<span class='alpha-list'> 
			<a id='A' href='genome_table?k=A'>A</a>|<a id='B' href='genome_table?k=B'>B</a>|<a id='C' href='genome_table?k=C'>C</a>|<a id='D' href='genome_table?k=D'>D</a>|<a id='E' href='genome_table?k=E'>E</a>|<a id='F' href='genome_table?k=F'>F</a>|<a id='G' href='genome_table?k=G'>G</a>|<a id='H' href='genome_table?k=H'>H</a>|<a id='I' href='genome_table?k=I'>I</a>|<a id='J' href='genome_table?k=J'>J</a>|<a id='K' href='genome_table?k=K'>K</a>|<a id='L' href='genome_table?k=L'>L</a>|<a id='M' href='genome_table?k=M'>M</a>|<a id='N' href='genome_table?k=N'>N</a>|<a id='O' href='genome_table?k=O'>O</a>|<a id='P' href='genome_table?k=P'>P</a>|<a id='Q' style='color:grey;'>Q</a>|<a id='R' href='genome_table?k=R'>R</a>|<a id='S' href='genome_table?k=S'>S</a>|<a id='T' href='genome_table?k=T'>T</a>|<a id='U' style='color:grey;'>U</a>|<a id='V' href='genome_table?k=V'>V</a>|<a id='W' href='genome_table?k=W'>W</a>|<a id='X' style='color:grey;'>X</a>|<a id='Y' href='genome_table?k=Y'>Y</a>|<a id='Z' style='color:grey;'>Z</a>
		    </span>
			</small>
			</center>
		</p>
	</div>
	 	 
</div>

<div id="row2">
	<span id='count_info'><%- count_text %></span>
	
	<div><center>Reload Table</center>
	   <small>with Original Sorting:
	   <a class="pill pill-brown" href='genome_table?k=0'>Reload</a>
	   <small>
	</div> 


	<div id='phylum-filter' >
		  Navigate Genomes by Phylum:
		  <select class='dropdown' onchange="location = this.value;">
		  <small>
		  <optgroup>
		  <option value='genome_table'>Select a Phylum</option>
		  <% for(n in phyla) { %>
			<% if(phyla[n] === phylum){ %>
			  <option selected value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
			<% }else{ %>
			  <option value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
			<% } %>
		  <% } %>
		  </optgroup>
		  </select>
		  </small>
	</div>  <!-- end phylum-filter -->	
	
</div>