<% phyla = JSON.parse(phyla) %>


<div id="row1">	

  <div id='column_left1'  >
	
	<div id='phylum-filter' >

		  Find Genomes by Phylum:
		  <select class='dropdown' onchange="location = this.value;">

		  <small>
		  <optgroup>
		  <option value='genome_table'>Select a Phylum</option>
		  <% for(n in phyla) { %>
			<% if(phyla[n] === phylum){ %>
			  <option selected value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
			<% }else{ %>
			  <option value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
			<% } %>
		  <% } %>
		  </optgroup>
		  </select>
		  </small>
	</div>  <!-- end phylum-filter -->	
	
	
	
	
	
	
	
    </div>	 <!--  end col-left1-->
  
    <div id="column_right1" >
		<div class='alpha-select'>
		  <center>
			<small>Select Genus by Alphabet: <br>
			<span class='alpha-list'> 
			<a id='A' href='genome_table?k=A'>A</a>|<a id='B' href='genome_table?k=B'>B</a>|<a id='C' href='genome_table?k=C'>C</a>|<a id='D' href='genome_table?k=D'>D</a>|<a id='E' href='genome_table?k=E'>E</a>|<a id='F' href='genome_table?k=F'>F</a>|<a id='G' href='genome_table?k=G'>G</a>|<a id='H' href='genome_table?k=H'>H</a>|<a id='I' href='genome_table?k=I'>I</a>|<a id='J' href='genome_table?k=J'>J</a>|<a id='K' href='genome_table?k=K'>K</a>|<a id='L' href='genome_table?k=L'>L</a>|<a id='M' href='genome_table?k=M'>M</a>|<a id='N' href='genome_table?k=N'>N</a>|<a id='O' href='genome_table?k=O'>O</a>|<a id='P' href='genome_table?k=P'>P</a>|<a id='Q' href='genome_table?k=Q'>Q</a>|<a id='R' href='genome_table?k=R'>R</a>|<a id='S' href='genome_table?k=S'>S</a>|<a id='T' href='genome_table?k=T'>T</a>|<a id='U' href='genome_table?k=U'>U</a>|<a id='V' href='genome_table?k=V'>V</a>|<a id='W' href='genome_table?k=W'>W</a>|<a id='X' href='genome_table?k=X'>X</a>|<a id='Y' href='genome_table?k=Y'>Y</a>|<a id='Z' href='genome_table?k=Z'>Z</a>
		    </span>
			</small>
			</center>
		</div>
	</div>
	 	 
</div>

<div id="row2">
	<span id='count_info'><%- count_text %></span>
	
	<div><center>Reload Table</center>
	   <small>with Original Sorting:
	   <a class="pill pill-brown" href='genome_table?reset=1'>Reload</a>
	   <small>
	</div> 


<form id='gtable_search' name='gtable_search' method='POST' action='search_genometable' >
	  
	  
            Search This Table:
            <div class="">
              <input  id='gene_srch_text' type='text' placeholder="Search.." class='dropdown' name='gene_srch' maxlength='18' size='20'>
              <select class='dropdown' id='' class="" name='field' >
                <optgroup>
              <option value='all'>All Fields</option>
              <option value='taxid'>Taxon-ID</option>
              <option value='genus'>Genus</option>
              <option value='species'>Species</option>
              <option value='ccolct'>Culture Collection</option>
              <option value='io'>Isolation Origin</option>
              <option value='status'>Sequence Status</option>
              <option value='seq_center'>Sequence Center</option>
              <option value='seqid'>Seq-ID</option>
              </optgroup>
              </select>
 
              <input class="pill pill-brown float-right" type='button' value=' Go ' onclick='genome_table_search()'> 
            </div>
       
	  
	  

	</form>
	
	
</div>