<% var version_info=JSON.parse(ver_info) %>
  <% var cfg=JSON.parse(config) %>

    <style>
      /* versioning */
      #version-info {
        position: relative;
        float: right;
        top: -80px;
        font-size: 16px;
        padding: 3px 5px;
        color: white;
        
      }

      #version-info a {
        padding: 0px;
        margin: 0px;
        color: lightgrey;
      }

      .gold {
        color: gold;
      }
    </style>

    <% var out='' %>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Taxonomy
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/taxa/taxon_table">Taxon Table</a></li>
                  <li><a class="dropdown-item" href="/taxa/life">Life</a></li>
                  <li><a class="dropdown-item" href="/taxa/ecology_home">Ecology</a></li>

                  <li><a class="dropdown-item" href="/taxa/tax_hierarchy">Taxonomy Tree</a></li>
                  <li><a class="dropdown-item" href="/taxa/tax_level">Rank Level</a></li>

                  <li><a class="dropdown-item" href="/taxa/body_sites">Body Sites</a></li>
                  <li><a class="dropdown-item" href="/taxa/dropped">Dropped Taxa</a></li>
                  <li><a class="dropdown-item" href="/download/download/taxon">Downloads</a></li>
                  <li><a class="dropdown-item" href="/help/help-page?pagecode=taxon/taxon_version">Version History</a>
                  </li>
                  
                  <% if(cfg.ENV==="localhost"){ %>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/taxa/tree_d3" target='_blank'>LocalHost::D3 Tree Testing</a>
                    </li>
                    <% } %>
                      
                </ul>

              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Genomes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/genome/genome_table">Genome Table</a></li>
                  <li><a class="dropdown-item" href="/genome/jbrowse">JBrowse Viewer Tool</a></li>


                  <li><a class="dropdown-item" href="/genome/explorer?gid=&anno=prokka">Genome Explorer</a></li>
                  <li><a class="dropdown-item" href="<%= cfg.BLAST_URL_BASE %>/genome_blast" target="_self">BLAST (All
                      Genomes)</a></li>
                  <li><a class="dropdown-item" href="/genome/blast_select_genome" )'>BLAST (Select a Genome)</a></li>
                  <li><a class="dropdown-item" href="/genome/crispr">CRISPR-Cas</a></li>
                  <li><a class="dropdown-item" href="/genome/anvio_pangenomes">Pangenomes</a></li>
                  <li><a class="dropdown-item" href="/download/download/genome">Downloads</a></li>
                  <li><a class="dropdown-item" href="/help/help-page?pagecode=genome/genome_version">Version History</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>&nbsp;Genomic Trees:</li>
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %><%= cfg.CP_TREE_PATH %>"
                      target='_blank'>Conserved Protein (Genomic Tree)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %><%= cfg.RP_TREE_PATH %>"
                      target='_blank'>Ribosomal Protein (Ribosomal Protein Tree)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %><%= cfg.GENE_TREE_PATH %>"
                      target='_blank'>16S rRNA Gene (Genomic 16S rRNA Gene Tree)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>

                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Proteomes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %><%= cfg.CP_TREE_PATH %>"
                      target='_blank'>View Genomic Tree based on Conserved Proteins
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %>/ftp/genomes/PROKKA/V11.02/"
                      target='_blank'>All Protein Sequences Annotated from Genomes
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="icon-link dropdown-item" href="https://v31.homd.org/genome/peptide_table"
                      target='_blank'>Proteins Detected in Human Saliva (V3.1)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="icon-link dropdown-item" href="https://v31.homd.org/genome/peptide_table2"
                      target='_blank'>Genomes with Proteins Detected in Human Saliva (V3.1)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  16S rRNA
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/refseq/refseq_table">RefSeq Table</a></li>
                    <li><a class="dropdown-item" href="<%= cfg.BLAST_URL_BASE %>/refseq_blast" target="_self">RefSeq BLAST Server</a>
                    </li>
                    <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %><%= cfg.REFSEQ_TREE_PATH %>"
                      target='_blank'>16S rRNA RefSeq Phylogenetic Tree
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                    <li><a class="dropdown-item" href="/download/download/refseq">Downloads</a></li>
                    <li><a class="dropdown-item" href="/help/help-page?pagecode=refseq/refseq_version">Version History</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Animal Microbiomes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="icon-link dropdown-item" href="https://momd.org/">Mouse (MOMD)
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Viruses
                </a>
                <ul class="dropdown-menu">
                  <li><a class="icon-link dropdown-item" href="/phage/phage_table">Genomes with Phages
                      
                    </a></li>
                </ul>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Downloads
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/download/download/all">Batch HOMD Data</a></li>
                  <li><a class="icon-link dropdown-item" href="<%= cfg.HOMD_URL_BASE %>/ftp/" target='_blank'>HOMD FTP Site
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Resources
                </a>
                <ul class="dropdown-menu">
                  <li><a class="icon-link dropdown-item" href='http://v31.homd.org/' target='_blank'>HOMD-V3.1 Site
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                      </svg>
                    </a></li>
                  <li><a class="dropdown-item" href="/poster">Posters</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=publications'>Publications</a></li>
                  <li><a class="dropdown-item" href="/genome/oralgen">Oralgen Genome Info</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  About Us
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/help/index">HOMD Help Content</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=cite'>How to Cite HOMD</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=description'>Project Description</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=strains'>Strains and DNA Availability</a>
                  </li>

                  <li><a class="dropdown-item" href='/help/help-page?pagecode=team'>People</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=publications'>Publications</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=contact'>Contact Us</a></li>
                  <li><a class="dropdown-item" href='/help/help-page?pagecode=announcement'>Announcements</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <form class="container-fluid justify-content-end">
          <a class="btn btn-outline-success me-2" type="button" href='/advanced_site_search'>Search</a>
        </form>
      </nav>

      <div id='version-info'>
        Taxonomy: <a href="/help/help-page?pagecode=taxon/taxon_version"><span class='gold'>V<%- version_info.tax_ver %>
              </span></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;16S rRNA RefSeq: <a href="/help/help-page?pagecode=refseq/refseq_version"><span
            class='gold'>V<%= version_info.rna_ver %></span></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;Genomic RefSeq: <a href="/help/help-page?pagecode=genome/genome_version"><span
            class='gold'>V<%= version_info.gen_ver %></span></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;Viruses: <a href="/phage/phage_table"><span
            class='gold'>V<%= version_info.vir_ver %></span></a>
      </div>