<% var version_info = JSON.parse(ver_info) %> 
<% var cfg = JSON.parse(config) %> 
<% if(user) { %>
<%     var user = JSON.parse(user) %> 
<% } %>
<style>
 /* Navbar container */
/* The navigation menu */
/* BGcolor:  #99cfe0 */
.main-topic{
    padding:0 0 10px 0;
}
#nav-div{
  width:100%;
  background-color:#8D9EAA; 
  height:33px;
}

#nav {
   /* text-align: left; */
   height:15px;  /* 42px; */
   position:relative;
   left: 0px;
   height:33px;
   
}
#nav a {
     font-family: Candara,  Sans-Serif; 
     font-size: 15px;
  }
#nav ul {
  margin-top:0px;
  padding:0px 10px;
  /* width:80%; */
  background-color:#8D9EAA; 
  left:0px;
  border:1px solid black;
  
    display:none;
    position:absolute;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
   
}
#nav ul ul{
  position:absolute;
  left:100%;
  top:0px;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}


#nav li{
  display:block;
  float:left; 
  padding: 0px 0px 0px 0px;
}

#nav a, #nav div, #nav span{
  display:block;
  text-decoration:none;
  padding:10px 10px 12px 10px;
  line-height: 10px;
  /* font-weight: bold; */
  
  color: white;
  background-color: #8D9EAA;
  
  
}


#nav div{
  cursor: default;
}

#nav ul li {
  float:none;
  text-align:left;
  white-space:nowrap;
  padding:2px 0;
  margin:2px 0; 
}
#nav ul li a{
  padding:8px;
}
#nav li:hover{
  position:relative;
  
}

#nav li a:hover, #nav li div:hover, #nav li span:hover{
  position:relative;
  background-color: #033366;
  text-decoration:none;
  
  
}
#nav span:hover{
  cursor: s-resize;
}
#first a:hover{
  /* kludge */
  padding-bottom:12px;
}
#nav li ul li a{
  position:relative;
  background-color:#8D9EAA;
  
  color: white;
  text-decoration:none;
  
  top: 1px; 
}


#nav li ul li:hover>a {
  display: block;
  background-color:#033366;
  color: #ffba3b; 
  
}

#nav li ul li ul a{
  position:relative;
  background-color:#8D9EAA;
  color: white;
  text-decoration:none;
  top: 1px; 
}
#nav li ul li ul a:hover{
  color:#ffba3b;
  background-color:#033366; 
}

#page-help-li a{
   font-size:12px;
   color:blue;
}

#page-help-li a:hover{
   color:orange;
}

.main-topic-right{
  
}
 
/*  nav search: */
#homd-menu-right {
  display: flex;
  flex-wrap: wrap;
  /* width: 220px; */
  
  position: absolute;
  right: 5px;
  height:33px;
}
#homd-menu-right li{
   padding:0px 5px;
  
  
}
#homd-menu-right li ul{
   margin:3px 0; 
}
#homd-menu-right img{
    margin:-3px 0px;
    padding:0 0 5px 0;
    height:25px;
}

#homd-menu-right input[type=text] {
   width:150px;
   height: 20px;
   border:1px solid grey;
   font-size:15px;
   border-radius:3px;
   padding:0 0 5px 0;
   margin:-4px 0 5px 0;
}
#homd-menu-right input[type=image] {
  background: #8D9EAA;
  
  margin:-3px 0px;
  padding:0 0 5px 0;
}

/* versioning */
#version-info{
  position:relative;
  float:right;
  top:-62px;
  font-size:16px;
  padding:3px 5px;
  color:white;
}
#version-info a{
  padding:0px;
  margin:0px;
  color: lightgrey;
}
#login-text{
  padding-right:15px;
  font-size:12px;
}
</style>
<div id='nav-div' >
<ul id="nav" style='z-index:1'>

  <li id='first'><a class='main-topic' href="/" title="HOMD Home">HOME</a></li>   
  
  <li><span class='main-topic' >Taxonomy</span>
    <ul>
      <li><a href="/taxa/tax_table">Taxon Table</a></li>
      <li><a href="/taxa/life">Life Pages</a></li>
      <li><a href="/taxa/ecology_home">Ecology (Abundance)</a></li>
      <li><a href="/taxa/tax_hierarchy">Dynamic Tree</a></li>
      <li><a href="/taxa/tax_level">Rank Level and Counts</a></li>
      <li><a href="/taxa/body_sites">Preferred Body Sites</a></li>
      <!-- <li><a href="/taxa/flags">Taxon Flags (in progress)</a></li> -->
      
      <li><a href="/download#taxon">Download Taxonomy Data</a></li>
      <li><a href="/help/help-page?pagecode=taxon/taxon_version">Taxonomy Version History</a></li>
      <% if(cfg.DBHOST === "localhost"){ %>
        <li><a href="/taxa/tree_d3" target='_blank'>D3 Tree Testing</a></li>
      <% } %>
    </ul>
  </li>
  <% if(cfg.XXX === 'development'){ %>
    <li><span class='main-topic' >Phage</span>
      <ul>
        <!-- <li><a href="/phage">Phage Home</a></li> -->
        <li><a href="/phage/phage_table">Phage Table</a></li>
        <li><a href="/help/help-page?pagecode=phage">Phage Help Pages</a></li>
        <li><a href="/download#phage">Download Phage Data</a></li>
        <li><a href='/phage/search_questions'>Phage Search Questions</a></li>
      </ul>
    </li> 
  <% } %>

  <li><span class='main-topic' >Genomes</span>
    <ul>
      <!-- <li><a href="/genome/overview">Overview</a></li> -->
      <li><a href="/genome/genome_table">Genome Table</a></li>
      <!-- <li><a href="/genome/crispr">CRISPR-Cas</a></li> -->
      <li><a href="https://v31.homd.org/genome/crispr" target='_blank'>CRISPR-Cas (V3.1 data)</a></li>
      <!-- <li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li> -->
      <li><a href="/genome/jbrowse">JBrowse Genome Viewer Tool</a></li>     
      <li><span href="">Genomic Trees <font color="blue">&#187;</font></span>
        <ul> 
        <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/phylogenetic_trees/genome/V11.0/HOMD_Genomic_PhyloPhlAn_Tree_V11.0.svg">Conserved Protein Tree</a></li>
        <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/phylogenetic_trees/ribosomal_protein_tree/HOMD_Ribosomal_Protein_Tree_V11.0.svg">Ribosomal Protein Tree</a></li>
        <!-- <li><a href="<%= cfg.FTP_TREE_URL %>/genome/current/eHOMD_16S_rRNA_Tree.svg">16S rRNA Gene Tree</a></li> -->
        
        </ul>
      </li> 
      <li><a href="/genome/explorer?gid=&anno=prokka">Genome Explorer and Annotations</a></li>
      
      <li><a href="/genome/blast_sserver?type=genome" >BLAST Against All Genomes</a></li> 
      
      <!-- <li><a href="/genome_blast" target='_blank' >BLAST Against All Genomes</a></li>  -->
      <li><a href="/genome/blast_per_genome"     >BLAST Against A Single Genome</a></li>  
      <!-- <li><a href="#" onclick='window.open("https://devel.homd.org/genome_blast/","_self")' >BLAST Against All Genomes</a></li>  -->
      
      <!-- 
<li><span href="">BLAST TESTING<font color="blue">&#187;</font></span>
       <ul>
       <li><a href="/genome/blast_per_genome" >Genome BLAST -Single Genome TESTING</a></li>  
      <li><a href="/genome/blast_single_test" >Genome BLAST -Single SEQF1595:HOMD</a></li> 
      <li><a href="/genome_blast_single?gid=SEQF1595.2" target='_blank'>Genome BLAST -Single SEQF1595:SS</a></li> 
       </ul>
      </li>
 -->

      <!-- 
<li><a href="https://vamps.mbl.edu/anviserver" target='_blank'>Anvi-server <small>(<font color='brown'>VAMPS Host Testing</font>)</small></a></li> 
      
 -->
      <li><a href="/genome/anvio-server">Anvi-server <small>(<font color='brown'>Docker-AWS Host Testing</font>)</small></a></li> 
     <!--  <li><a href="https://anviserver.homd.info" target='_blank'>HOMD Anvi'o Server</a></li>   -->
      
      <li><a href="/download#genome">Download Genomic Data</a></li>
      
      <li><a href="/help/help-page?pagecode=genome/genome_version">HOMD Reference Genome Version History</a></li>
    
    </ul>
  </li> 

<li><span class='main-topic' >Proteomes</span>
    <ul>
        <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/phylogenetic_trees/genome/V11.0/HOMD_Genomic_PhyloPhlAn_Tree_V11.0.svg">View Genomic Tree based on Conserved Proteins</a></li>
        <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/genomes/PROKKA/V11.0/" target='_blank'>All Protein Sequences Annotated from Genomes</a></li>
        <li><a href="https://v31.homd.org/genome/peptide_table"  target='_blank'   >Proteins Detected in Human Saliva</a></li>  
        <li><a href="https://v31.homd.org/genome/peptide_table2" target='_blank'    >Genomes with Proteins Detected in Human Saliva</a></li>  
    </ul>
  </li> 
  
    <li><span class='main-topic' >16S rRNA Microbiome</span>
    <ul>
          <li><a href="/genome/blast_sserver?type=refseq">RefSeq BLAST Server</a></li> 
          <!-- <li><a href="#" onclick='window.open("https://devel.homd.org/refseq_blast/","_self")' >RefSeq BLAST Server -no iFrame</a></li>  -->
      
          <!-- <li><a href="/refseq_blast" target='_blank' >RefSeq BLAST Server</a></li> -->
          <!-- <li><a href="/refseq/refseq_blastn">Old 16S BLAST</a></li> -->
          <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/phylogenetic_trees/refseq/V16.0/HOMD_16S_rRNA_RefSeq_Tree_V16.0.svg">View 16S rRNA RefSeq Phylogenetic Tree</a></li>
          <li><a href="/download#refseq">Download RefSeq Data</a></li>
          <li><a href="/help/help-page?pagecode=refseq/refseq_version">Version History</a></li>
    </ul>
  </li> 
  <li><span class='main-topic' >Animal Microbiomes</span>
    <ul>
      <li><a href="https://momd.org/">Mouse (MOMD)</a></li>
      <!-- <li><a href="">Cat (FOMD)</a></li> -->
      <!-- <li><a href="">Dolphin (DOMD)</a></li> -->
    </ul>
   </li> 
      
   <li><span class='main-topic' >Downloads</span>
    <ul>
      <li><a href="/download">Download Batch HOMD Data</a></li>
      <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp/" target='_blank'>HOMD FTP Site</a></li>
       
    </ul>
   </li>
   
   <li><span class='main-topic' >Resources</span>
       <ul>
      <li><a href='http://v31.homd.org/' target='_blank'>Old HOMD Site (V3)</a></li>
      <li><a href="/poster">Posters</a></li>
      <li><a href='/help/help-page?pagecode=publications'>Publications</a></li>
      <li><a href="">Oralgen <font color="blue">&#187;</font></a>
         <ul> 
         <li><a href="http://www.oralgen.org/" target='_blank'>www.oralgen.org Archive</a></li>
         <li><a href="/genome/oralgen">Oralgen Genome Info</a></li>
         </ul>
      </li>
      <li><a href="<%= cfg.HOMD_URL_BASE %>/ftp" target='_blank'>HOMD FTP Site</a></li>
      
      
    </ul>
   </li>
  <li id='first'><a class='main-topic' href="http://v31.homd.org/" title="HOMD (old version)">HOMD-V3</a></li> 
  <li><a href='/help/help-page?pagecode=contact'>Contact Us</a></li>

  <% if(pgname && ["home","lost"].indexOf(pgname) == -1){ %>
      <li id='page-help-li'><a  href='/help/help-page?pagecode=<%= pgname %>' >[Page-Help]</a></li>
  <% } %>
  
  
    <span id='homd-menu-right' >
    
		<!-- HELP -->
		<li><img src='/images/question.png'  ></i>
		  <ul>
		  <li><a href="/help/index" >HOMD Help Content</a></li>
		 <!--  <li><a href="https://wiki.homd.info" target='_blank' rel="noopener noreferrer">HOMD Wiki Home-obsolete</a></li> -->
		  <!-- <li><a href="https://wiki.homd.info/help/user_guide" target='_blank'>User's Guide (in a new window)</a></li> -->
		  <li><a href='/help/help-page?pagecode=cite'>How to Cite HOMD</a></li>
		  <li><a href='/help/help-page?pagecode=description'>Project Description</a></li>
		  <li><a href='/help/help-page?pagecode=strains'>Strains and DNA Availability</a></li>
		  <li><a href='/taxa/dropped'>Dropped Taxa</a></li>
		  <li><a href='/help/help-page?pagecode=team'>People</a></li>
		  <li><a href='/help/help-page?pagecode=publications'>Publications</a></li>
		  <li><a href='/help/help-page?pagecode=contact'>Contact Us</a></li>
		  <!-- <li><a href='/help/mailing'>Mailing List</a></li> -->
		  <!-- <li><a href="/forum" target='_blank' rel="noopener noreferrer">Forum</a></li> -->
		  <li><a href='/help/help-page?pagecode=announcement'>Announcements</a></li>
		  <li><a href='/help/index'>Search Help</a></li>
		  </ul>
		</li>
		
		

		<li><input type="text" placeholder="Search Site.."  id='search_text' value='' maxlength='30' size='20' /></li>
		<li><input type="image" src='/images/search2.png'  id="search_button" height='20' onclick='search()' /></li>
  	</span>
  
    
</ul>
</div>


<span id='login-text'>
<%   if(user && user.username){ %>
        <% if(user.security_level === 1){ %>
            <a href='/admin/profile'><font color='green'>Logged in as <%= user.username %> (security-level: Administrator)</font></a>
        <% }else{ %>
            <a href='/admin/profile'><font color='green'>Logged in as <%= user.username %> (security-level: <%= user.security_level %>)</font></a>
        <% } %>
        
<%   }else{ %>
        <!-- <a href='/admin/login'><font color='red'>Not Logged In</font></a> -->
<%   } %>
</span>


<div id='version-info' >
      Taxonomy: <a href="/help/help-page?pagecode=taxon/taxon_version"><span class='yellow'>V<%= version_info.tax_ver %></span></a>
      &nbsp;&nbsp;|&nbsp;&nbsp;16S rRNA RefSeq: <a href="/help/help-page?pagecode=refseq/refseq_version"><span class='yellow'>V<%= version_info.rna_ver %></span></a>
      &nbsp;&nbsp;|&nbsp;&nbsp;Genomic RefSeq: <a href="/help/help-page?pagecode=genome/genome_version"><span class='yellow'>V<%= version_info.gen_ver %></span></a>
</div>


