<style>
#blast-wait-box{
   background: #708090;
   color:white;
   padding:20px;
   margin-top:30px;
   border: 1px solid grey;
   width: 70%;
}
</style>
<% var cfg = JSON.parse(config) %> 
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
        
          
       <div class='title'>BLAST Processing</div>
       
       <% timer = 'on' %>
      <center>
      <div id='blast-wait-box'>
         <br>Refreshes every 5 seconds and will present the blast results page when complete.
       
         <!-- <br><br><img src='/images/0_WzVRQs214b7TgyJXtrans.gif' height='80'> -->
         <br><br><img src='/images/swirl_pastel_green.gif' height='80'>
         
        
         <% if(fxn === 'refseq'){ %>
           <% if(filesFinished >0){ %>
              <br>Sequences Finished:  <%= filesFinished %> out of <%= filesStarted %>
           <% }else{ %>
              <br>
           <% } %>
         
         <% } %>  
         <% if(filesFinished > 1 && filesFinished === filesStarted){ %> 
             <br>Processing Files
         <% }else{ %>
              <br>
         <% } %>   
         <br><span id='proc'>Processing</span>
         
         <br><br>
         <span id='show'>This page will reload in <span id="cnt" style="color:red;">5</span> Seconds</span>
         <br>Elapsed Time: <span id='elapsed'></span>
      </div>
      </center>
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
 //  setTimeout(function(){
//    window.location.reload(1);
// }, 5000);
var elapsed = '<%= elapsed %>'
var counter = 5;   // start decrement
var endAt =   60000;  // one min =  5000 * 12
////////////////////////////////////
// this works
  var timeout = setTimeout("location.reload(true);",5000);  // 5 seconds
  // call this function when want to stop refreshes
  function resetTimeout() {
    clearTimeout(timeout);
    //timeout = setTimeout("location.reload(true);",5000);
  }
///////////////////////////////////  
  
// The countdown method.
var intervalId1 = window.setInterval(function () {
    counter--;
    if (counter >= 0) {
        var span;
        span = document.getElementById("cnt");
        document.getElementById("proc").innerHTML = '##'.repeat(counter * 2)
        span.innerHTML = counter;
        document.getElementById("elapsed").innerHTML = elapsed.toString()+' Secs'
    }
    if (counter === 0) {
        clearInterval(counter);
    }
}, 1000);  // one second}}
// 
//     var intervalId2 = window.setInterval('refresh()', 5000);  // 5000 == 5 seconds
// 
//     // Refresh or reload page.
//     function refresh() {
//         window.location.reload();
//     }
    
    
    
//   function refresh() {
//        var randomnumber = Math.floor(Math.random() * 100);
//        $('#show').text('I am getting refreshed every 5 seconds..! Random Number ==> ' + randomnumber);
//        //window.location.reload();
//      }
// 
// var intervalId = setInterval(refresh, 10 * 500);
// 
// setTimeout(function () {
//     clearInterval2(intervalId1);
//     clearInterval2(intervalId2);
//     alert('refresh stop!');
// }, 30000);   // end refreshing in 1min=60000ms
</script>


