
<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

</style>

<% blastParams = JSON.parse(blastParams) %>
<% error_obj = JSON.parse(error) %>

<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/blast.css" >
<body>
   <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

  <div class='title'><%= blastParams.program.toUpperCase() %> Results (<%= blastParams.blastFxn %>)</div>
    <%- include('../../partials/flash'); %>
    <div id='under-construction'>Page Under Construction</div>
<% if(error_obj.code) { %>
     <div class='error'>
     <%- error_obj.msg %>
     </div>
     <!-- turn off timer -->
     <% timer = 'off' %>
<% }else{ %>
    
    <% if(blastParams.blastFxn === 'refseq') { %>
    <div id='blast-search-info'>
      <form id='blastDownloadForm' name='blastDownloadForm' method='POST' action='blastDownload' >
      <table>
        <tr>
        
        <td>
          <select name='dnldType' id='dnldType' class='dropdown' onchange="blastDownload(this.form)">
            <option value='0'>Download Options</option>
            <option value='text1'>As Text -top hit only</option>
            <option value='text4'>As Text -top 4 hits</option>
            <option value='text20'>As Text -top 20 hits</option>
            <option value='textAll'>As Text -all hits</option>
            <option disabled>--------</option>
            <option value='excel1'>As Excel -top hit only</option>
            <option value='excel4'>As Excel -top 4 hits</option>
            <option value='excel20'>As Excel -top 20 hits</option>
            <option value='excelAll'>As Excel -all hits</option>
            <option disabled>--------</option>
            <option value='zip'>BLAST Output Files</option>
          </select>
          
        
        </td>
        
        <td>Search Results: <%= numseqs %> sequence(s) searched against target database:<br><%= blastParams.blastdb %></td>
        <!-- <td><span class=''>Elapsed Time:  sec</span></td> -->
        </tr>
      </table>
      <input type='hidden' name='blastID' value='<%= blastID %>'>
      </form>
    </div>
    <div id='sort_radios'>    
      <center><small>
      Sort Table (toggle): &nbsp;&nbsp;&nbsp;&nbsp;
      <!-- file sort is original -->
       
     <button class='button' id='qsort' type='button' onclick="sortBlastTableForm_toggle('<%= blastID %>','query')">By Query</button>
     <button class='button' id='bsort' type='button' onclick="sortBlastTableForm_toggle('<%= blastID %>','bitscore')">By Bit_Score</button>
     <button class='button' id='isort' type='button' onclick="sortBlastTableForm_toggle('<%= blastID %>','identity')">By Identity</button>&nbsp;&nbsp;&nbsp;&nbsp;
     <input  checked id='ssort' type='radio' onclick="sortBlastTableForm_toggle('<%= blastID %>','sequence')">Original Sorting (By Sequence Input)</button>
      </small></center>
    </div>
    <% } %>
    
    
    <div id='blastResultsDiv'>
       <%- html %>
    </div>
    
    
 
    
<% } %>  <!--  End: if(error_obj.code) -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<!-- <script type="text/javascript" src="/js/sorttable.js"></script> --> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/blast.js"></script>
<script>
  mainmenu()
</script>


