<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
#blast-search-info{
  border:1px solid grey;
  padding:2px 10px;
  background: lightgrey;
  height: 60px;
  
}
#blast-search-info  table{
  border-collapse:collapse;
  font-size: small;
  width:100%;
}
#blast-search-info  table td{
  padding:0 2px;
  border:1px solid black;
}
#blastResultsDiv{
  border: 1px solid black;
  padding: 10px;
  font-size: small;
  height: 500px;
  width: auto;
  overflow: auto;
}
#blastResultsDiv table{
  border: 1px solid black;
  font-size: small;
  border-collapse:collapse;
  width: auto;
  overflow: auto;
}
#blastResultsDiv table sup{
  color:red;
}
#blastResultsDiv table th{
  
  background:  var(--table-header-bg);
  color: white;
  padding:5px;
  font-size:12px;
  text-align: center;
  
}
#blastResultsDiv table td{
  border: 1px solid green;
  padding: 1px 3px;
  
}
.blastcol1{
    max-width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.blastcol2{
    max-width: 30px;
   
}
.blastBGodd{
   background: var(--div-bg09)  /* grey */
}
.blastBGeven{
   background: var(--div-bg12)  
}
#blastStats table{
    font-size:small;
    border:1px solid black;
    border-collapse: collapse;
    
}
#blastStats table td{
    border:1px solid black;
    padding: 3px;
}
#blasturl{
   color: blue;
}
</style>
<% blastParams = JSON.parse(blastParams) %>
<% error_obj = JSON.parse(error) %>

<%- include('../../partials/header_html'); %>

<body>
   <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

  <div class='title'><%= blastParams.program.toUpperCase() %> Results (<%= blastParams.blastFxn %>)</div>
    <%- include('../../partials/flash'); %>
    <div id='under-construction'>Page Under Construction</div>
<% if(error_obj.code) { %>
     <div class='error'>
     <%- error_obj.msg %>
     </div>
     <!-- turn off timer -->
     <% timer = 'off' %>
<% }else{ %>
    
    <% if(blastParams.blastFxn === 'refseq') { %>
    <div id='blast-search-info'>
      <form id='blastDownloadForm' name='blastDownloadForm' method='POST' action='blastDownload' >
      <table>
        <tr>
        <td><a href='#blastStats'>View BLAST Stats and Legend</a></td>
        <td>
          <select name='dnldType' id='dnldType' class='dropdown' onchange="blastDownload(this.value,'<%= blastID %>')">
            <option value='0'>Download</option>
            <option value='text1'>As Text -top hit only</option>
            <option value='text4'>As Text -top 4 hits</option>
            <option value='text20'>As Text -top 20 hits</option>
            <option value='textAll'>As Text -all hits</option>
            <option disabled>--------</option>
            <option value='excel1'>As Excel -top hit only</option>
            <option value='excel4'>As Excel -top 4 hits</option>
            <option value='excel20'>As Excel -top 20 hits</option>
            <option value='excelAll'>As Excel -all hits</option>
            <option disabled>--------</option>
            <option value='json'>As JSON Format</option>
          </select>
          <= Use checkboxes in column 1 to limit sequences.
        
        </td>
        </tr>
        <tr>
        <td>Search Results: <%= numseqs %> sequence(s) searched against target database:<br><%= blastParams.blastdb %></td>
        <!-- <td><span class=''>Elapsed Time:  sec</span></td> -->
        </tr>
      </table>
      <input type='hidden' name='blastID' value='<%= blastID %>'>
      </form>
    </div>
    <div>    
      <center><small>
      Sort Table: &nbsp;&nbsp;&nbsp;&nbsp;
      By Query: 
         <input type='checkbox' id='qsort' name='qsort' value='query' onclick="sortBlastTableForm(this,'<%= blastID %>','query')">&nbsp;&nbsp;&nbsp;&nbsp;
       By bit_score: 
         <input type='checkbox' id='ssort' name='ssort' value='score' onclick="sortBlastTableForm(this,'<%= blastID %>','score')">&nbsp;&nbsp;&nbsp;&nbsp;
       By Identity:
         <input type='checkbox' id='isort' name='isort' value='identity' onclick="sortBlastTableForm(this,'<%= blastID %>','identity')">
      
      </small></center>
    </div>
    <% } %>
    
    
    <div id='blastResultsDiv'>
       <%- html %>
    </div>
    
    
    <% if(blastParams.blastFxn === 'refseq') { %>
    <small>
      <div id='blastStats'>
       <table class='table' border='1'>
        <tr>
            <td><strong>1</strong> Check individual or all results to be downloaded.</td>
            <td><strong>4</strong> The table will show the top four hit results for each query sequence.</td>
        </tr>
        <tr>
            <td><strong>2</strong> Click to toggle the sort order of the results by query ID</td>
            <td><strong>5</strong> Total mis-match nt / total match nt</td>
        </tr>
        <tr>
            <td><strong>3</strong> &nbsp;&nbsp;<img  src='/images/tinyseq.gif' height='15'>&nbsp;&nbsp;Links to Sequences<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  src='/images/blastRes.gif' height='15'>&nbsp;&nbsp;Links to JSON Blast Results.</td>
            <td><strong>6</strong></td>
        </tr>
       </table>
      </div>
    </small>
    <% } %>  <!-- End: if blastParams.blastFxn === 'refseq' -->
    
<% } %>  <!--  End: if(error_obj.code) -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<!-- <script type="text/javascript" src="/js/sorttable.js"></script> --> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/blast.js"></script>
<script>
  mainmenu()
</script>


