<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
#blast-search-info{
  border:1px solid grey;
  padding:2px 10px;
  background: lightgrey;
  height: 60px;
  
}
#blast-search-info  table{
  border-collapse:collapse;
  font-size: small;
  width:100%;
}
#blast-search-info  table td{
  padding:0 2px;
  border:1px solid black;
}
#blastResultsDiv{
  border: 1px solid black;
  padding: 10px;
  font-size: small;
  height: 500px;
  width: auto;
  overflow: auto;
}
#blastResultsDiv table{
  border: 1px solid black;
  font-size: small;
  border-collapse:collapse;
  width: auto;
  overflow: auto;
}
#blastResultsDiv table sup{
  color:red;
}
#blastResultsDiv table th{
  
  background:  var(--table-header-bg);
  color: white;
  padding:5px;
  font-size:12px;
  text-align: center;
  
}
#blastResultsDiv table td{
  border: 1px solid green;
  padding: 1px 3px;
  
}
.blastcol1{
    max-width: 300px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
.blastcol2{
    max-width: 30px;
   
}
.blastBGodd{
   background: var(--div-bg09)  /* grey */
}
.blastBGeven{
   background: var(--div-bg12)  
}
</style>
<% blastParams = JSON.parse(blastParams) %>
<% error_obj = JSON.parse(error) %>

<%- include('../../partials/header_html'); %>

<body>
   <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

  <div class='title'><%= blastParams.program %> Results (<%= blastParams.blastFxn %>)</div>
    <%- include('../../partials/flash'); %>
    <div id='under-construction'>Page Under Construction</div>	
<% if(error_obj.code) { %>
     <div class='error'>
     <%- error_obj.msg %>
     </div>
     <!-- turn off timer -->
     <% timer = 'off' %>
<% }else{ %>
    
    <form id='blastDownloadForm' name='blastDownloadForm' method='POST' action='blastDownload' >
    <div id='blast-search-info'>
      <table>
        <tr>
        <td><a href='#blastStats'>View BLAST Stats and Legend</a></td>
        <td>
          <select class='dropdown' onchange="blastDownload(this.value,'<%= blastParams.id %>')">
            <option value='0'>Download</option>
            <option value='text4'>As Text -top 4 matches</option>
            <option value='textAll'>As Text -all</option>
            <option value='excel4'>As Excel -top 4 matches</option>
            <option value='excelAll'>As Excel -all</option>
            <option value='json'>As JSON Format</option>
          </select>
          <= Use checkboxes in column 1 to limit sequences.
        
        </td>
        </tr>
        <tr>
        <td>Search Results: <%= numseqs %> sequence(s) searched against target database:<br><%= blastParams.blastdb %></td>
        <!-- <td><span class=''>Elapsed Time:  sec</span></td> -->
        </tr>
      </table>
    </div>    
    
    
    <div id='blastResultsDiv'>
       <%- html %>
    </div>
    
    <small>
      <div id='blastStats'>
       blast ID: <%= blastID %>
       <table class='table'>
       
       <tr><td>1</td><td></td><td>4</td><td></td></tr>
       <tr><td>2</td><td></td><td>5</td><td></td></tr>
       <tr><td>3</td><td><img  src='/images/tinyseq.gif' height='15'> Link opens the sequence<br><img  src='/images/blastRes.gif' height='15'> Link opens the JSON blast result.</td><td>6</td><td></td></tr>
       </table>
      </div>
    </small>
    </form>
<% } %>   
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/blast.js"></script>
<script>
  mainmenu()
</script>


