


<% blastParams = JSON.parse(blastParams) %>
<% error_obj = JSON.parse(error) %>

<% var cfg = JSON.parse(config) %> 

<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/blast.css" >

<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
pre
{
font-family: 'Courier New', monospace;
font-size:1.0em;
background-color:lightgrey;
padding:5px;
}
#blast-search-info{
   height:65px;
}
.align pre{
   width:900px;
   overflow:auto;
   border:1px solid brown;
}
</style>
<body>
   <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
   
    
    <div class='page-content' >

  <div class='title'><%= blastParams.program.toUpperCase() %> Results (<%= blastParams.blastFxn %>)</div>
    <%- include('../../partials/flash'); %>
     <% if(blastParams.outfmt === "custom"){ %>
     <%-     include('../../partials/under_construction'); %>
     <% } %>
    
<% if(error_obj.code) { %>
     <div class='error'>
     <%- error_obj.msg %>
     </div>
     <!-- turn off timer -->
     <% timer = 'off' %>
<% }else{ %>
    
    
    <div id='blast-search-info'>
      
      
        <table>
        <tr>
        <td>
          
            <form id='blastDownloadForm' name='blastDownloadForm' method='POST' action='blastDownload' >
            <select name='dnldType' id='dnldType' class='dropdown' onchange="blastDownload(this.form)">
            <option value='0'>Download Options</option>
            <option value='text1'>As Text -top hit only</option>
            <option value='text4'>As Text -top 4 hits</option>
            <option value='text20'>As Text -top 20 hits</option>
            <option value='textAll'>As Text -all hits</option>
            <option disabled>--------</option>
            <option value='excel1'>As Excel -top hit only</option>
            <option value='excel4'>As Excel -top 4 hits</option>
            <option value='excel20'>As Excel -top 20 hits</option>
            <option value='excelAll'>As Excel -all hits</option>
            <option disabled>--------</option>
            <option value='zip'>BLAST Output Files</option>
            
            </select>
          
          <input type='hidden' name='blastID' value='<%= blastID %>'>
          <input type='hidden' name='blastFxn' value='<%= blastParams.blastFxn %>'>
          </form>
        </td>
        
        <td>Search Results: <%= numseqs %> sequence(s) searched against target database:
        <br>&nbsp;&nbsp;&nbsp;&nbsp;<b><%= blastParams.blastdb %></b></td>
        <!-- <td><span class=''>Elapsed Time:  sec</span></td> -->
        </tr>
        </table>
        
      
    
    <span style='float:right'><a class='button' href='/refseq/refseq_blastn'>Back</a></span>
    <!-- <span style='float:right'><button onclick="history.back()">Go Back</button></span> -->
    </div>
    
        <div id='sort_radios'>    
          <center><small>
          Output Options: 
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input  checked id='ofull' name='table_opts' type='radio' onclick="opt_toggle('<%= blastID %>','full')"> Full Table</button>&nbsp;&nbsp;
          <input  id='otwo' name='table_opts' type='radio' onclick="opt_toggle('<%= blastID %>','alignments')"> Alignments</button>&nbsp;&nbsp;
          <input  id='oone' name='table_opts' type='radio' onclick="opt_toggle('<%= blastID %>','best')"> Best Hits Only</button>&nbsp;&nbsp;
          <input  id='ostd' name='table_opts' type='radio' onclick="opt_toggle('<%= blastID %>','standard')"> Top 4 Hits</button>
          </small></center>
      </div>
    
    
    <center>
    <small>
    <% this_url = cfg.url +"/blast/blast_results_refseq?id=" +blastID %>
    Copy this link: [ <span id='blasturl'><a href='<%= this_url %>'><%= this_url %></a></span> ] 
    <button onclick="copy_link()" style='padding:1px;border:1px solid brown;'>Copy Link</button>
     <= to come back to these results later (30 days).
    </small></center>
    <% if(blastParams.blastFxn === 'refseq') { %>
      <div id='blastResultsDiv'>
       <%- html %>
      </div>
    <% }else{ %>
      <%= html_files[0] %>
      <%- decodeURI(blastData) %>
  

    <% } %>
    
    
 
    
<% } %>  <!--  End: if(error_obj.code) -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/blast.js"></script>
<script>
  mainmenu()
  
</script>


