<style>

</style>
<%- include('../../partials/header_html'); %>
<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
 -->

<link rel="stylesheet" href="/public/css/bs/bootstrap.css"  />

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>BLAST Output <small>(<a href='https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0205286' target='_blank'>Using BlasterJS</a>)</small></div>
    <div style='float:right;padding:3px;'>
    
      <a href='/blast/blast_results?id=<%= blastID %>' class="button" value="Go back!" >Back</a>
    
    </div>
    <%- decodeURI(blastData) %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/html2canvas.js"></script>
<script type="text/javascript" src="/js/blaster.js"></script>
<script type="text/javascript">
  mainmenu()
  
</script>


