<style>
#svg_div{
   width:100%;
   border:1px solid red;
   padding:10px;
}
textarea{
   border:1px solid red;
   padding:3px;
}
.edge-label{
   visibility:hidden;
}
.inner-label{
   visibility:hidden;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>BLAST Result Phlogenetic Tree</div>
    
  image path testing: <%= svg_path %>
  <div id='download'>
<style>
.button{
    font-size: 13px;
}
</style>
  Download:
  <a class='button' href='download_file?filename=<%= file_dir %>/sequenceserver-xml_report.xml'>BLAST Output File (XML)</a>
  <a class='button' href='download_file?filename=<%= file_dir %>/blastout.fa'>Fasta File</a>
  <a class='button' href='download_file?filename=<%= file_dir %>/newick.tre'>Newick Tree File</a>
  <a class='button' href='download_file?filename=<%= file_dir %>/tree.svg'>Tree as SVG File</a>
  <a class='button' href='download_file?filename=<%= file_dir %>/err.txt'>Script Output</a>
  
  </div>
  <br>
  <% if(error){ %>
      Error Reading SVG Image File (0 length file)
      <a class='button' href='download_file?filename=<%= file_dir %>/err.txt'>Download Error File</a>
      <br><br>
      Newick Tree:
      <br>
      <textarea rows="12" cols="180">
        <%- newick %>
      </textarea>
      <br>Error File:<br><textarea rows="15" cols="180">
        <%= error %>
      </textarea>
  <% }else{ %>
    <div id='svg_div'>
     <!-- <img src="<%- svg_path %>" alt="HOMD Phylogenetic Tree" > -->
     <%- svg %>
    </div>
  <% } %>
  </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


