<style>
iframe{
   width:100%;
   height:80%;
}
</style>
<% var cfg = JSON.parse(config) %> 
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
      <% if(blast_type == 'refseq'){ %>    
         <div class='title' style='background:#CDFFCD;color:black;'>RefSeq BLAST</div>
         <div class='subtitle' style='padding:10px;'>BLAST Against HOMD Reference Sequences
           <small>(BLAST Version <%- cfg.blast_version %>)</small>
         </div>
         <iframe src="https://wiki.homd.info/" title="HOMD BLAST Server"></iframe>
      <% }else{ %>
         <div class='title'style='background:#EE9090;color:black;'>Genome BLAST</div>
         <div class='subtitle' style='padding:10px;'>BLAST Against HOMD Genomes
           <small>(BLAST Version <%- cfg.blast_version %>)</small>
         </div>
         <iframe id='iframe_id' src="https://anviserver.homd.info/" title="HOMD BLAST Server"></iframe>
      <% } %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


