<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

</style>
<link rel="stylesheet" type="text/css" href="/css/phage_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(pdata) %>
<% cols_to_show = JSON.parse(cols) %>


<body>
  <div id="loader" class="center-loader"></div>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
      
		 <div class='title'>Human Oral Phage of Microbial Taxa</div>

         <%- include('../../partials/under_construction'); %> 
		 
		 <div id='download_browser_text_excel'><b>Download this Phage Data (all columns)</b>: 
		   <a href='dld_table/browser/<%= letter %>/<%= rank %>/<%= search_txt %>/<%= search_field %>' >[Browser]</a>
		   <a href='dld_table/text/<%= letter %>/<%= rank %>/<%= search_txt %>/<%= search_field %>' >[Text]</a>
		   <a href='dld_table/excel/<%= letter %>/<%= rank %>/<%= search_txt %>/<%= search_field %>' >[Excel]</a>
		 </div>		 
			 
	 
<small>(HPT = <u>H</u>uman <u>P</u>hage <u>T</u>axon)</small>
<%- include('../../partials/phage_table_filter.ejs') %>
<div id='phage-box' >

	
		 <table id='phage-table' class='table table-hover table-condensed sortable' style=''>
		 <thead>
		  <tr>
		    <% for(n in cols_to_show) { %>
		    <th scope="col" class='<%= cols_to_show[n].width %>'><%= cols_to_show[n].view %></th>
		    <!-- 
<th scope="col" class='col1'>Phage-ID</th>
		    <th scope="col" class='col3'>Family</th>
		    <th scope="col" class='col3'>Genus</th>
		    <th scope="col" class='col3'>Species</th>
		    <th scope="col" class='col1'>Host Taxon-ID</th>
		    <th scope="col" class=''>Host Species</th>
 -->
		    <% } %>
		  </tr>
		 </thead>
		 <tbody>
		 <% if(list.length == 0) { %>
		    
		    <tr>
		    <% if(rank == 'family') { %>
		      <td></td><td>Nothing to show for this search.</td>
		    <% }else{ %>
		      <td></td><td></td><td>Nothing to show for this search.</td>
		    <% } %>
		    </tr>
		 
		 <% }else{ %>
		   <% for(n in list){ %>
			   <tr>
			   <% for(x in cols_to_show){ %>
			     
			     <!-- need links and flesh out otid -->
			     <% if(cols_to_show[x].name == 'pid'){ %>
			        <td nowrap><a href='phagedesc?pid=<%= list[n][cols_to_show[x].name] %>'><%= list[n][cols_to_show[x].name] %></a></td>
			     <% }else if(cols_to_show[x].name == 'host_otid'){ %>
			        <% taxidfullname = 'HMT-'+("000" + list[n][cols_to_show[x].name]).slice(-3); %>
			        <td nowrap><a href='/taxa/tax_description?otid=<%= list[n][cols_to_show[x].name] %>'><%= taxidfullname %></a></td>
			     <% }else{ %>
			        <td nowrap><%= list[n][cols_to_show[x].name] %></td>
			     <% } %>
			   <% } %>
			   
<!--			   
			   <% pid = list[n].pid %>
			   <td nowrap><%= pid %></td>
		   
			   <td nowrap class=''><b><%= list[n].family_ncbi  %></b></td>
			   <td nowrap class=''><i><b><%= list[n].genus_ncbi  %></b></i></td>
			   <td nowrap class=''><a href='phagedesc?pid=<%= pid %>'><i><b><%= list[n].species_ncbi  %></b></i></a></td>
			   <% html="" %>
			   <% if(list[n].host_otid != ''){ %>
				   <% taxidfullname = 'HMT-'+("000" + list[n].host_otid).slice(-3); %>
				   <% html="<a href='/taxa/tax_description?otid="+list[n].host_otid+"'>"+taxidfullname+"</a>" %>
			   <% } %>
			   <td nowrap class=''><%- html %></td>
			   <td nowrap class=''><i><b><%= list[n].host_ncbi  %> </b></i></td>
-->		   
			   
		   <% } %>
		 <% } %>
		 </tbody>
		 </table>
		 
</div>  <!-- end: tax-box -->
	  
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/phage.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){ 
     var cols_showing = <%- cols %>
     
     create_column_choices_dialog(cols_showing) 
     
     var letter = '<%- letter %>'
	if(letter && letter !== 'all'){
		document.getElementById(letter.toUpperCase()).style.color = 'red'
		document.getElementById(letter.toUpperCase()).style.fontSize = 'medium'
	}                  
 
  });    
  $(document).mouseup(function (e) {
		if ($(e.target).closest("#phage-column-choices").length === 0) {
			$("#phage-column-choices").hide();
		}
  });
   
  document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  '#phage-box').style.visibility = "hidden";
                document.querySelector(
                  "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                  "#loader").style.display = "none";
                document.querySelector(
                  '#phage-box').style.visibility = "visible";
            }
        };

</script>



