<% var cfg = JSON.parse(config) %> 
<style>
</style>
<% var datarows = JSON.parse(data) %>

<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
    <p class='h3 title'>Phage hits for <%= gid %></p>
    <div class='xxred-text' align="center" style="color:white;background-color:red;">
       Warning: Phage predictions were made with <a href="https://github.com/mtisza1/Cenote-Taker3" target='_blank'>Cenote-Taker3</a> and 
       <a href="https://github.com/apcamargo/genomad/" target='_blank'>geNomad</a>, and have not been manually curated. Please use caution when interpreting the results.
    </div>
    <table class='table table-hover table-condensed'>
     <tr><th>Prediction<br>Tool</th><th>Phage-ID</th><th>Contig</th><th>Start</th><th>End</th><th>Genome Viewer</th><th>FTP</th></tr>
     <% for(n in datarows){ %>
        <tr>
            <td><%= datarows[n].type %></td>
            <td><%= datarows[n].phage_id %></td>
            <td><%= datarows[n].contig %></td>
            <td><%= datarows[n].start %></td>
            <td><%= datarows[n].end %></td>
            <% loc= datarows[n].contig + ":"+datarows[n].start+".."+ datarows[n].end %>
            <% tracks= "DNA,panggolin,"+datarows[n].type %>
            <td><a href='#' onclick="open_jbrowse('<%= gid %>','phage','','','','<%= loc %>','','<%= tracks %>')">link
            <!-- <td><a href='<%= datarows[n].jbrowse_link %>' target='_blank'>link -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
            </svg>
            </a></td>
            <td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/phages/V1.1/genomes_individual/<%= gid %>/' target='_blank'>link
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
            </svg>
            </a></td>
        </tr>
         
     <% } %>
    </table>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
</script>


