<style>

.table-condensed{
  font-size: 13px;
}
#phage-table
{
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
  width:100%;
}
#phage-table th
{
  color:white;
  background:#006699;
  padding:5px;
  font-size:13px;
  text-align: center;
}
#phage-table td
{
  padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#phage-table tr:nth-child(even) { 
    background-color: #D4EFFF; 
 } 
 #phage-table tr:hover { 
    background-color: #FBF9EA; 
 } 

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }
.col1{
   width: 40px;
}
.center {
    text-align:center;
}
</style>
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(vdata) %>



<body>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
      
		 <div class='title'>Phage Table</div>
		 <br><%= Object.keys(list[0]) %>
		 
		 <div id='download_browser_text_excel'><b>Download Phage Table</b>: 
		   <a href='dld_table?type=browser' >[Browser]</a>
		   <a href='dld_table?type=text' >[Text]</a>
		   <a href='dld_table?type=excel' >[Excel]</a>
		 </div>		 
			 
	

<div id='tax-box' >

	
	 
		 
		 <table id='phage-table' class='table table-hover table-condensed sortable' style=''>
		 <thead>
		  <tr>
		    <th scope="col" class='col1 sorttable_nosort'>No.</th>
		    <th scope="col" class='center'>NCBI Assembly</th>
		    <th scope="col">SRA Accession</th>
		    <th scope="col">Genus</th>
		    <th scope="col">Species</th>
		    <th scope="col">Host Bacteria</th>
		  </tr>
		 </thead>
		 <tbody>
		 <% for(n in list){ %>
		   <tr class="table-primaryX">
		   <% vid = list[n].vid %>
		   
		   <td nowrap><%= vid  %></td>
		   <td nowrap class='center'><a href='https://www.ncbi.nlm.nih.gov/assembly/<%= list[n].assembly_ncbi  %>' target='_blank'><%= list[n].assembly_ncbi  %></a></td>
		   <td nowrap class='center'><a href='https://www.ncbi.nlm.nih.gov/sra/<%= list[n].sra_accession_ncbi  %>' target='_blank'><%= list[n].sra_accession_ncbi  %></a></td>
		   <td nowrap class='center'><i><b><%= list[n].genus_ncbi  %></b></i></td>
		   <td nowrap class='center'><i><b><%= list[n].species_ncbi  %></b></i></td>
		   <td nowrap class='center'><i><b><%= list[n].host_ncbi  %></b></i></td>
		   
		   </tr>
		 <% } %>
		 </tbody>
		 </table>
		 
</div>  <!-- end: tax-box -->
	  
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
 

</script>



