<style>
</style>
<% data = JSON.parse(phage_data) %>

<%- include('../../partials/header_html'); %>

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
		 					
			 <div class='title'>PHAGE DATA: <small>PhageID <%= pid %></small></div>
<div id='under-construction'>Page Under Construction</div>		
	<table>
	
	<tr>	
	  <td nowrap><strong>Family</strong>:</td><td><%= data.family_ncbi  %></td>
	</tr>
	<tr>	
	  <td nowrap><strong>Genus; Species</strong>:</td><td><i><%= data.genus_ncbi  %> <%= data.species_ncbi  %></i></td>
	</tr>
	
	<tr>	
	  <td nowrap><strong>NCBI Assembly</strong>:</td><td><a href='https://www.ncbi.nlm.nih.gov/assembly/<%= list[n].assembly_ncbi  %>' target='_blank' rel="noopener noreferrer"><%= data.assembly_ncbi  %></a></td>
	</tr><tr>
	<% if(data.sra_accession_ncbi != ''){ %>  
	  <td nowrap><strong>NCBI Accession</strong>:</td><td><a href='https://www.ncbi.nlm.nih.gov/sra/<%= list[n].sra_accession_ncbi  %>' target='_blank' rel="noopener noreferrer"><%= data.sra_accession_ncbi  %></a></td>
    <% }else{ %>
      <td nowrap><strong>NCBI Accession</strong>:</td><td>none</td>
    <% } %>
    </tr><tr>
	  <td nowrap><strong>Host Species</strong>:</td><td><a href='' target='_blank'><%= data.host_ncbi  %></a></td>
    </tr><tr>
    <% if(data.otid != ''){ %>
	  <td nowrap><a href='/taxa/tax_description?otid=<%= data.host_otid %>'><strong>Host Oral Taxon-ID</strong>:</td><td><%= data.host_otid %></a></td>
	<% }else{ %>
      <td nowrap><strong>Host Oral Taxon-ID</strong>:</td><td>none found</td>
    <% } %>
    </tr>
    <tr>	
	  <td><strong>Submitters</strong>:</td><td><%= data.submitters_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>release_date_ncbi</strong>:</td><td><%= data.release_date_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>publications_ncbi</strong>:</td><td><%= data.publications_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>molecule_type_ncbi</strong>:</td><td><%= data.molecule_type_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>sequence_type_ncbi</strong>:</td><td><%= data.sequence_type_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>geo_location (USA) ncbi</strong>:</td><td><%= data.geo_location_ncbi  %> (<%= data.usa_ncbi  %>)</td>
	</tr>
	<tr>	
	  <td><strong>isolation_source_ncbi</strong>:</td><td><%= data.isolation_source_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>collection_date_ncbi</strong>:</td><td><%= data.collection_date_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>biosample_ncbi</strong>:</td><td><%= data.biosample_ncbi  %></td>
	</tr>
	<tr>	
	  <td><strong>genbank_title_ncbi</strong>:</td><td><%= data.genbank_title_ncbi  %></td>
	</tr>
	

    </table>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


