<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
.w1{
    width:170px;
    text-align:center;
}
.w2{
    width:50px;
    text-align:center;
}
.w5{
    width:420px;
    text-align:left;
}
</style>
<% var datarows = JSON.parse(data) %>
<link rel="stylesheet" type="text/css" href="/css/phage_pages.css" >
<%- include('../../partials/header_html'); %>




<body>
  <div id="loader" class="center-loader"></div>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
      
         <p class='h3 title'>Genomes with Phage Predictions</p>


<div id='phage-box' >

    
         <table id='phage-table' class='table table-hover table-condensed sortable' >
         <thead>
          <tr>
           <th class='w1'>Genome-ID</th><th class='w1'>Contigs</th><th>HMT-ID</th>
           <th>Body Site</th><th class='w5'>Species</th><th class='w5'>Strain</th>
           <th class='w2'>Cenote-Taker3</th><th class='w2'>geNomad</th>
          </tr>
         </thead>
         <tbody>
         <% for (n in datarows){ %>
             <% taxidfullname = "HMT-"+("000" + datarows[n].otid).slice(-3); %>
             <tr>
             <td class='w1'><a href='/genome/genome_description?gid=<%= datarows[n].gid %>'><%= datarows[n].gid %></a></td>
             <td class='w2'><%= datarows[n].contigs %></td>
             <td class='w1'><a href='/taxa/tax_description?gid=<%= datarows[n].gid %>&otid=<%= datarows[n].otid %>'><%= taxidfullname %></a></td>
             <td class='w1'><%= datarows[n].site %></td>
             <td class='w5' title='<%= datarows[n].genus %> <%= datarows[n].species %>'><%= datarows[n].genus %> <%= datarows[n].species %></td>
             <td class='w5'><%= datarows[n].strain %></td>
             <td class='w2'><%= datarows[n].cenote %></td>
             <td class='w2'><%= datarows[n].genomad %></td>
             
             </tr>
         <% } %>
         </tbody>
         </table>
         
</div>  <!-- end: tax-box -->
      
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/phage.js"></script>
<script>
  mainmenu()

</script>



