<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

</style>
<link rel="stylesheet" type="text/css" href="/css/phage_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(pdata) %>
<% cols_to_show = JSON.parse(cols) %>


<body>
  <div id="loader" class="center-loader"></div>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
      
		 <div class='title'>Human Oral Phage of Microbial Taxa</div>

         <%- include('../../partials/under_construction'); %> 

	 

phage predictions
<div id='phage-box' >

	
		 <table id='phage-table' class='table table-hover table-condensed sortable' style=''>
		 <thead>
		  <tr>
		   
		  </tr>
		 </thead>
		 <tbody>
		 <% if(list.length == 0) { %>
		    
		    <tr>
		    <% if(rank == 'family') { %>
		      <td></td><td>Nothing to show for this search.</td>
		    <% }else{ %>
		      <td></td><td></td><td>Nothing to show for this search.</td>
		    <% } %>
		    </tr>
		 
		 <% }else{ %>
		   <% for(n in list){ %>
			   <tr>
			   <% for(x in cols_to_show){ %>
			     
			     <!-- need links and flesh out otid -->
			     <% if(cols_to_show[x].name == 'pid'){ %>
			        <td nowrap><a href='phagedesc?pid=<%= list[n][cols_to_show[x].name] %>'><%= list[n][cols_to_show[x].name] %></a></td>
			     <% }else if(cols_to_show[x].name == 'host_otid'){ %>
			        <% taxidfullname = 'HMT-'+("000" + list[n][cols_to_show[x].name]).slice(-3); %>
			        <td nowrap><a href='/taxa/tax_description?otid=<%= list[n][cols_to_show[x].name] %>'><%= taxidfullname %></a></td>
			     <% }else{ %>
			        <td nowrap><%= list[n][cols_to_show[x].name] %></td>
			     <% } %>
			   <% } %>
			   

		   <% } %>
		 <% } %>
		 </tbody>
		 </table>
		 
</div>  <!-- end: tax-box -->
	  
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/phage.js"></script>
<script>
  mainmenu()

</script>



