<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	
	
		<div class='wide-content' id="">  					
			 <div class='page-title'>HOMD 16S rRNA Sequence Identification</div>
			 This tool identifies the closest matches of 16S rRNA sequences submitted by users among the HOMD or other 16S rRNA gene sequences. The sequence search is based on the NCBI BLASTN version 2.2.23 [Feb-03-2010] [Detail]
			 
		</div>
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>



