<style>
</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/blast.css" >
<% db_choices = JSON.parse(db_choices) %>
<% blast_max = JSON.parse(blastmax) %>
<body>
    <div id='wrapper'>    
     
      
    <div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

  
  
  
  <%- include('../../partials/navbar'); %>
  
  <div id='' class='page-content'>
    <div class='title'>HOMD 16S rRNA Sequence Identification</div>

      <%- include('../../partials/flash'); %>
         <%- include('../../partials/blast_block_refseq'); %>
       </div>  <!-- End center70pct_div -->
  </center>   
     
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>

<script>
  mainmenu()
  
</script>








