<style>
</style>
<%- include('../../partials/header_html'); %>
<% db_choices = JSON.parse(db_choices) %>
<body>
  <div id='wrapper'>    
     
      
  <div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

  
  
  
  <%- include('../../partials/navbar'); %>
  
  <div id='' class='page-content'>
    

      <div class='title'>HOMD 16S rRNA Sequence Identification</div>
      <%- include('../../partials/flash'); %>
      <div id='under-construction'>Page Under Construction</div>
         <%- include('../../partials/blast_block'); %>
       </div>  <!-- End center70pct_div -->
  </center>   
     
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/blast.js"></script>
<script>
  mainmenu()
  
</script>








