<style>
</style>
<%- include('../../partials/header_html'); %>
<% otids = JSON.parse(otid_list) %>
<% gids = JSON.parse(gid_list) %>

<body>
  		
    <%- include('../../partials/header_img'); %>
    

	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
		 					
			 <h4 class='title text-info'>Search Result: [<small><%= search_text %></small>]</h4>
<!-- 'HMT-'+("000" + otid).slice(-3);	 -->	
		<% for(n in otids){ %>
		   <% otid = otids[n] %>
		   <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
		   <br><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a>
		<% } %>
	<% for(n in gids){ %>
		   <% gid = gids[n] %>
		   <br><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a>
		<% } %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


