<style>
.search-box{
   height:100px;
   overflow:auto;
   margin:5px 0;
   padding:10px;
   background:lightyellow;
   border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>
<% otids = JSON.parse(otid_list) %>
<% gids = JSON.parse(gid_list) %>
<% lineageids = JSON.parse(taxon_otid_obj) %>
<body>
  		
    <%- include('../../partials/header_img'); %>
    

	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
		 					
			 <h4 class='title text-info'>Result [<small>Search Text: <%= search_text %></small>]</h4>
<!-- 'HMT-'+("000" + otid).slice(-3);	 -->	
	<div class='search-box'>
	Matching Taxon Names: (<%= Object.keys(lineageids).length %>)
	<% n = 0 %>
	<% for(otid in lineageids){ %>
		   <% n += 1 %>
		   <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
		   <br><%= parseInt(n) %>) <a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a> 
		   <em><%= lineageids[otid].genus %> <%= lineageids[otid].species %></em>
	<% } %>
	</div>
	<div class='search-box'>
	Matching Taxon-IDs: (<%= otids.length %>)
	<% for(n in otids){ %>
	   <% otid = otids[n] %>
	   <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
	   <br><%= parseInt(n)+1 %>) <a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a>
	<% } %>
	</div>
	<div class='search-box'>
	Matching Seq-IDs: (<%= gids.length %>)
	<% for(n in gids){ %>
		   <% gid = gids[n] %>
		   <br><%= parseInt(n)+1 %>) <a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a>
		<% } %>
    </div>
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


