<style>
td a {
   color:blue;
}
#level-table {
   border-collapse: collapse;
}
#level-table th,td {
   padding: 2px 10px;
   border:1px solid black;
   border-collapse: collapse;
}
.level-button{
     border:2px solid green;
     color: black;
     background: #e9ffdb;
     border-radius:2px;
     padding:2px 5px;
     
}
.level-button a{
     color: white;
}
#level-container{
  padding:20px 0 0 0;
}
#button-group{
   padding:10px 0 0 0;
}
table{
   border-collapse:collapse;
}
.site-table{
   border-collapse:collapse;
   font-size:14px;
}
.site-table td th{
   padding:0 3px;
}

#master td{
  padding:3px;
  vertical-align:top;
}
.header{
   background:lightblue;
   border:1px solid orange;
   width:100%;
   
}

.all-link{
   font-size: 12px;
   float:right;
   color:brown;
   
}

</style>
<% sitedata = JSON.parse(data) %>
<% sitenames = JSON.parse(site_names) %>
<%- include('../../partials/header_html'); %>
<% if(rank == 'klass') { %>
<%  showrank = 'Class' %>
<% }else{ %>
<%  showrank = rank.charAt(0).toUpperCase() + rank.slice(1) %>
<% } %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
     <div class='title'>Abundance by Habitat</div>
     <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a>   
     
      <center>
      <div id='level-container' >
         
        <small>[Select a Rank:]</small> 
        <div id='button-group'> 
        <!-- <a class='level-button' type='button' href='#' id='domain' onclick="change_level('domain')">Domain</a>  -->
        <a  class='level-button' href='/taxa/abundance_by_site/phylum' id='phylum' >Phylum</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/klass' id='klass' >Class</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/order' id='order' ">Order</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/family' id='family' ">Family</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/genus' id='genus' ">Genus</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/species' id='species' ">Species</a>
         </div>
      
      </div>
     
     
      
      </center> 
      <br>
      <center>
      <small><b>Rank Level: <%= showrank %></b>: List of the ten most abundant taxa at each oral site.
      <br>The abundance values are taken by averaging the available relative abundance data from the four
      studies:<br>
      <a href='https://www.pnas.org/content/111/28/E2875.short' target='_blank'>Eren (2014) V1-V3 and V3-V5</a>
      HMP RefSeq (V1-V3 and V3-V5) Data and Dewhirst (unpublished)
    </small>
<table id='master'><tr>
<% for(s in plot_order){ %>
    <% site = plot_order[s] %>
    <% abunddata = sitedata[site] %>
    <% cols = 4 %>
<% if(s % cols == 0){  %><!-- // modulus/modulo-->
        </tr><tr>
<% } %>



  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'><%= sitenames[site] %><span class='all-link'><a href='#' onclick="get_abund_sorted('<%= site %>','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td class='right-justify'>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in abunddata) { %>
      
        <% if(rank === 'species' && abunddata[n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + abunddata[n]['otid'] %>
           <% taxname = '<i>'+abunddata[n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + abunddata[n]['name'] %>
            <% taxname = abunddata[n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td class='right-justify'><%= abunddata[n]['value'] %></td></tr>
        <% sum += parseFloat(abunddata[n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td class='right-justify'><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>


<% } %>
</table>      
</center>    
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
 </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  rank = '<%= rank %>'
  $(document).ready(function(){                    
   var ranks = [ "phylum", "klass", "order", "family", "genus", "species"];
  // for(n in ranks){
//     document.getElementById(ranks[n]).style ='font-weight:normal;color:black;'
//   }
    document.getElementById(rank).style ='font-weight:bold;font-size:18px;color:#cf1020;'
});

</script>

