<style>
td a {
   color:blue;
}
#level-table {
   border-collapse: collapse;
}
#level-table th,td {
   padding: 2px 10px;
   border:1px solid black;
   border-collapse: collapse;
}
.level-button{
     border:2px solid green;
     color: black;
     background: #e9ffdb;
     border-radius:2px;
     padding:2px 5px;
     
}
.level-button a{
     color: white;
}
#level-container{
  padding:20px 0 0 0;
}
#button-group{
   padding:10px 0 0 0;
}
table{
   border-collapse:collapse;
}
.site-table{
   border-collapse:collapse;
   font-size:14px;
}
.site-table th{
   padding:0 3px;
}
#master td{
  padding:3px;
}
.header{
   background:lightblue;
   border:1px solid orange;
   width:100%;
   
}

.all-link{
   font-size: 12px;
   float:right;
   color:brown;
   
}
</style>
<% sitedata = JSON.parse(data) %>
<%- include('../../partials/header_html'); %>
<% if(rank == 'klass') { %>
<%  showrank = 'Class' %>
<% }else{ %>
<%  showrank = rank.charAt(0).toUpperCase() + rank.slice(1) %>
<% } %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
     <div class='title'>Abundance by Oral Habitat</div>
     <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a>   
     
      <center>
      <div id='level-container' >
         
        <small>[Select a Rank:]</small> 
        <div id='button-group'> 
        <!-- <a class='level-button' type='button' href='#' id='domain' onclick="change_level('domain')">Domain</a>  -->
        <a  class='level-button' href='/taxa/abundance_by_site/phylum' id='phylum' >Phylum</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/klass' id='klass' >Class</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/order' id='order' ">Order</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/family' id='family' ">Family</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/genus' id='genus' ">Genus</a> 
        &gt; <a class='level-button' type='button'  href='/taxa/abundance_by_site/species' id='species' ">Species</a>
         </div>
      
      </div>
     
     
      
      </center> 
      <br>
      <center>
      <small><b>Rank Level:<%= showrank %></b>: List of the ten most abundant taxa at each oral site.
      <br>The abundance values are taken by averaging the available relative abundance data from the four
      studies:<br>
      <a href='https://genomebiology.biomedcentral.com/articles/10.1186/gb-2012-13-6-r42' target='_blank'>segata (2012)</a>, 
      <a href='https://www.pnas.org/content/111/28/E2875.short' target='_blank'>Eren (2014) V1-V3 and V3-V5</a>
      and Dewhirst (unpublished)
    </small>
<table id='master'>
<tr>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Buccal Mucosa (BM) <span class='all-link'><a href='#' onclick="get_abund_sorted('BM','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['BM']) { %>
        <% if(rank === 'species' && sitedata['BM'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['BM'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['BM'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['BM'][n]['name'] %>
            <% taxname = sitedata['BM'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['BM'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['BM'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Keratinized Gingiva (KG)<span class='all-link'><a href='#' onclick="get_abund_sorted('KG','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['KG']) { %>
        <% if(rank === 'species' && sitedata['KG'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['KG'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['KG'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['KG'][n]['name'] %>
            <% taxname = sitedata['KG'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['KG'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['KG'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Hard Palate (HP)<span class='all-link'><a href='#' onclick="get_abund_sorted('HP','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['HP']) { %>
        <% if(rank === 'species' && sitedata['HP'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['HP'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['HP'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['HP'][n]['name'] %>
            <% taxname = sitedata['HP'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['HP'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['HP'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  
  </tr><tr>
  
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Tongue Dorsum (TD)<span class='all-link'><a href='#' onclick="get_abund_sorted('TD','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['TD']) { %>
        <% if(rank === 'species' && sitedata['TD'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['TD'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['TD'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['TD'][n]['name'] %>
            <% taxname = sitedata['TD'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['TD'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['TD'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Palatine Tonsils (PT)<span class='all-link'><a href='#' onclick="get_abund_sorted('PT','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['PT']) { %>
        <% if(rank === 'species' && sitedata['PT'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['PT'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['PT'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['PT'][n]['name'] %>
            <% taxname = sitedata['PT'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['PT'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['PT'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Throat (TH)<span class='all-link'><a href='#' onclick="get_abund_sorted('TH','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['TH']) { %>
        <% if(rank === 'species' && sitedata['TH'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['TH'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['TH'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['TH'][n]['name'] %>
            <% taxname = sitedata['TH'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['TH'][n]['value'] %></td></tr>
      <% sum += parseFloat(sitedata['TH'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>

</tr><tr>
  
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Saliva (SV)<span class='all-link'><a href='#' onclick="get_abund_sorted('SV','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['SV']) { %>
        <% if(rank === 'species' && sitedata['SV'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['SV'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['SV'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['SV'][n]['name'] %>
            <% taxname = sitedata['SV'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['SV'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['SV'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Supra-gingival Plaque (SupP)<span class='all-link'><a href='#' onclick="get_abund_sorted('SupP','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['SupP']) { %>
        <% if(rank === 'species' && sitedata['SupP'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['SupP'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['SupP'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['SupP'][n]['name'] %>
            <% taxname = sitedata['SupP'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['SupP'][n]['value'] %></td></tr>
      <% sum += parseFloat(sitedata['SupP'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Sub-gingival Plaque (SubP)<span class='all-link'><a href='#' onclick="SubP">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['SubP']) { %>
        <% if(rank === 'species' && sitedata['SubP'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['SubP'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['SubP'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['SubP'][n]['name'] %>
            <% taxname = sitedata['SubP'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['SubP'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['SubP'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>  
  
  </tr><tr>
  
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Nasal (NS)<span class='all-link'><a href='#' onclick="get_abund_sorted('NS','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['NS']) { %>
        <% if(rank === 'species' && sitedata['NS'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['NS'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['NS'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['NS'][n]['name'] %>
            <% taxname = sitedata['NS'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['NS'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['NS'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  <td align='center'>
    <table class='site-table'>
      <tr class='header'><th colspan='2'>Stool (ST)<span class='all-link'><a href='#' onclick="get_abund_sorted('ST','<%= rank %>')">(all)</a></span></th></tr>
      <tr><td><center><%= showrank %></center></td><td>% Abund</td></tr>
      <% sum = 0 %>
      <% for(n in sitedata['ST']) { %>
        <% if(rank === 'species' && sitedata['ST'][n]['otid']){ %>
           <% link = '/taxa/tax_description?otid=' + sitedata['ST'][n]['otid'] %>
           <% taxname = '<i>'+sitedata['ST'][n]['name'] +'</i>' %>
        <% }else{ %>
            <% link = '/taxa/life?rank=' + rank + '&name=' + sitedata['ST'][n]['name'] %>
            <% taxname = sitedata['ST'][n]['name'] %>
        <% } %>
        <tr><td><a href='<%= link %>'><%- taxname %></a></td><td><%= sitedata['ST'][n]['value'] %></td></tr>
        <% sum += parseFloat(sitedata['ST'][n]['value']) %>
      <% } %>
      <tr><td align='right'>Sum:</td><td><%= sum.toFixed(3) %></td></tr>
    </table>
  </td>
  
</tr>      
</table>      
</center>    
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
 </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  rank = '<%= rank %>'
  $(document).ready(function(){                    
   var ranks = [ "phylum", "klass", "order", "family", "genus", "species"];
  // for(n in ranks){
//     document.getElementById(ranks[n]).style ='font-weight:normal;color:black;'
//   }
    document.getElementById(rank).style ='font-weight:bold;font-size:18px;color:#cf1020;'
});

</script>

