<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }



#main-table {
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
  width:100%;
}
#main-table th{
  color:white;
  background: var(--table-header-bg);
  padding:5px;
  font-size:13px;
  text-align: center;
  
}
#main-table td{
  padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}
#main-box{
   height:700px;
   overflow:auto;
   padding:10px 10px 20px 10px;
   border:1px solid gray;
   margin-top:5px;
}
#main-table .badge{
  
  font-size:0.8em;
  
}


 #main-table tr:hover { 
    background-color: #dce7f5; 
 } 
.col1{
   width: 20px;
}
.col2{
   width: 100px;
}
#main-table.sortable tbody {
    counter-reset: sortabletablescope;
}
#main-table.sortable thead tr::before {
    content: "";
    display: table-cell;
    width:30px;
    /* padding-left:1px; */
    vertical-align: middle;
    color:white;
    padding:5px;
    font-size:10px;
    text-align: center;
}
#main-table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align:center;
    font-size:small;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<% data = JSON.parse(sites) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    
    
    <div class='page-content' >
       
       <p class='title h3'>HOMD Taxa Preferred Body Sites <small>(in Beta)</small></p>
       
       <span class=''>[<a href="javascript:window.history.back();"><-- Back</a>]&nbsp;&nbsp;&nbsp;&nbsp;[<a href='body_sites'>Reload Page</a>]</span>
       <div id='body-sites-div'>
       

       
       
       <table id='main-table' class='table table-hover table-condensed sortable'>
       <thead>
       
        
		<th class="col2" nowrap>Taxon-ID</th>
		<th nowrap>Genus-Species</th>
		<th nowrap>Naming Status</th>
		<th>Cultivation Status</th>
		<th>Primary Body Site</th>
		<th>Other Body Sites</th>
		<th>Notes</th>
		</tr>
		</thead>
        <% for(n in data){ %>
           <% otid = data[n].otid %>
           <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
           <% if(selected == otid){ %>
               <tr id='<%= otid %>' class='selected'>
            <% }else{ %>
                <tr id='<%= otid %>' class=''>
            <% } %>
                 <td nowrap><a href='tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td> 
                 <td nowrap><i><%- data[n]['gsp'] %></i></td> 
                 <td nowrap><%= data[n].naming_status %></td> 
                 <td nowrap><%= data[n].cultivation_status %></td> 
                 <td nowrap><%= data[n]['s1'] %></td>
                 <td nowrap><%= data[n]['s2'] %></td>
                 <td><%= data[n]['note'] %></td>
               </tr>
           
       <% } %>
       </table>
       
       
       </div>
        </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  var div = document.getElementById("body-sites-div")
  var otid = '<%= selected %>'
  //table.scrollToRow({index: 100})
  var $container = $(div),
  
  $scrollTo = $('#'+otid);

  $container.scrollTop(
    $scrollTo.offset().top - $container.offset().top + $container.scrollTop() -100
  );

  // Or you can animate the scrolling:
  //$container.animate({
      //scrollTop: $scrollTo.offset().top - $container.offset().top + $container.scrollTop()
  //});​
</script>


