<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
table th{
   background:#C1E1C1;
   border:1px solid black;
}
table td{
   padding: 2px 5px;
   border:1px solid black;
}

#body-sites-div{
   padding:20px 0;
   height:800px;
   overflow:auto;
}
table {
   border-collapse:collapse;
}
.selected{
   background:#FF7F50;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<% data = JSON.parse(sites) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
       
       <div class='title'>HOMD Taxa Preferred Body Sites</div>
       
       <span class=''>[<a href="javascript:window.history.back();"><-- Back</a>]&nbsp;&nbsp;&nbsp;&nbsp;[<a href='body_sites'>Reload Page</a>]</span>
       <div id='body-sites-div'>
       
       <table id='main-table' class='table table-hover table-condensed sortable'>
       <tr><th>HMT-ID</th><th>Genus Species</th><th>Naming Status</th><th>Cultivation Status</th><th>Primary Body Site</th><th>Other Body Sites</th><th>Notes</th></tr>
       <% for(n in data){ %>
           <% otid = data[n].otid %>
           <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
           <% if(selected == otid){ %>
               <tr id='<%= otid %>' class='selected'>
            <% }else{ %>
                <tr id='<%= otid %>' class=''>
            <% } %>
                 <td nowrap><a href='tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td> 
                 <td nowrap><i><%- data[n]['gsp'] %></i></td> 
                 <td nowrap><%= data[n].naming_status %></td> 
                 <td nowrap><%= data[n].cultivation_status %></td> 
                 <td nowrap><%= data[n]['s1'] %></td>
                 <td nowrap>
                 <% if(data[n]['s2']){%>
                    [<%= data[n]['s2'] %>]
                 <% } %>
                 <% if(data[n]['s3']){%>
                    &nbsp;[<%= data[n]['s3'] %>]
                 <% } %>
                 </td>
                 <td><%= data[n]['note'] %></td>
               </tr>
           
       <% } %>
       </table>
       </div>
        </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  var div = document.getElementById("body-sites-div")
  var otid = '<%= selected %>'
  //table.scrollToRow({index: 100})
  var $container = $(div),
  
  $scrollTo = $('#'+otid);

  $container.scrollTop(
    $scrollTo.offset().top - $container.offset().top + $container.scrollTop() -100
  );

  // Or you can animate the scrolling:
  //$container.animate({
      //scrollTop: $scrollTo.offset().top - $container.offset().top + $container.scrollTop()
  //});​
</script>


