<style>
.warning{
  margin:10px;
  padding:10px;
  background: #FFD580;
}
span{
  color :blue;
}
</style>
<%- include('../../partials/header_html'); %>


<body>
  		
    <%- include('../../partials/header_img'); %>
    

	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
		 					
			 <div class='title'>CONTENT</div>
			 <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
			 <h4 class='warning'>Warning: This TaxonID has been Dropped from HOMD: 
			 <span><%= taxidfullname %></span></h4>
		
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


