<style>
.page-content {
 
  /* background: white; */
  min-height: 500px;
  
}
.plot-td{
   border:2px solid lightgray;
   padding:15px;
}
.abundance-table {
   border-collapse:collapse;
   
}
.abundance-table td,th{
   font-size:small;
   border:1px solid black;
   padding:1px;
   
  }
.plot-title{
   background:lightblue;
   padding:5px 3px;
   border:1px solid grey;
   font-size:x-large;
   
}
#legend-content{
    font-size:12px;
    padding:3px 5px;
    border:1px solid brown;
    width:100%;
    
  }
 .legend_item{
  padding:1px;
  border:1px solid black;
  }
  #legend-table{
   /* width:100%; */
   font-size:15px;
  }
  #legend-table td{
   font-size: 15px;
   text-align: left;
   padding-left:2px;
   
  }
</style>

<% dewhirst_data = JSON.parse(dewhirst) %>
<% erenv1v3_data = JSON.parse(erenv1v3) %>
<% erenv3v5_data = JSON.parse(erenv3v5) %>
<% hmp_metaphlan_data = JSON.parse(hmp_metaphlan) %>
<% hmp_refseqv1v3_data = JSON.parse(hmp_refseqv1v3) %>
<% hmp_refseqv3v5_data = JSON.parse(hmp_refseqv3v5) %>
<% children_lst = JSON.parse(children) %>
<% genera = JSON.parse(genera) %>
<% site_colors_html = JSON.parse(site_colors) %>
<% notes = JSON.parse(notes) %>
<%- include('../../partials/header_html'); %>



<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    
   
    <div class='page-content'>
    <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
     <% if(rank == 'klass' || rank == 'Klass'){  %>
        <% rank_show = 'Class' %>
    <% }else{ %> 
       <% rank_show = rank.charAt(0).toUpperCase() + rank.slice(1) %>
    <% } %>
    
    <p class='title h3'>
      <b><%= rank_show %>:</b> 
      <span class='yellow'>
      <% if(rank=='species') { %>           
         <em><%= tax_name %></em>
      <% }else{ %>
         <%= tax_name %>
      <% } %>
      </span>
      <% if(otid != 0){ %>
       <small>(<%= taxidfullname %>)</small>
      <% } %>
    </p>
    
    <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a>   
    <div id='taxon-page-div'>
        <small>Each rank name is a link to abundance plots at that rank:</small><br>
        <center>Full Lineage: <%- lineage %></center>
        <% if(children_lst.length == 0){ %>
           
        <% }else{ %>
           
           <br><small>Lower rank member(s): 
           <% if(children_lst.length <= 5){ %>
               <% for(n in children_lst){ %>
                 <span >[<%- children_lst[n] %>]</span>
               <% } %>
             
           <% }else{ %>
               <span id='toggle_ranks'><a href='#' onclick='toggle_lower_ranks()'>show[+]</a></span>
        
               <div id='lower-rank-items-div' style='display:none'>
                 <% cols = 5 %>
                 <table id='child-table'><tr>
                 <% for(n in children_lst){ %>
                   <% if(n % cols == 0){  %><!-- // modulus/modulo-->
                     </tr><tr>
                   <% } %>
                   <td>[<%- children_lst[n] %>]</td>
                 <% } %>
                 </tr></table>
               </div>
          <% } %>  <!-- End of if(children_lst.length <5 -->
  
        <% } %>
        
        
        <% if(['phylum','klass','order'].indexOf(rank) != -1){ %>
          <br>Genera:
          <select class='dropdown-homd' onchange="location = this.value;">
          <option value="" disabled selected>Select a genus</option>
          <% for(n in genera){ %>
              <option value='/taxa/ecology?rank=genus&name=<%= genera[n].taxon %>&page=<%= page %>'><%= genera[n].taxon %></option>
          <% } %>
          </select>
        <% } %>
        
        </small>
        
    </div>  <!-- end taxon-page-div -->

<center>
<div class='links'>
     LINKS: <a href='/taxa/ecology_home'>Ecology Home</a>
     <% if(otid != 0){ %>
        <span style=''>
          |&nbsp;<a href='body_sites?otid=<%= otid %>'><%= taxidfullname %>: Body Sites Data</a>
          |&nbsp;<a href='tax_description?otid=<%= otid %>'><%= taxidfullname %>: Taxon Description</a>
        </span>
     <% } %>
     |&nbsp;<a href='/taxa/life?rank=<%= rank %>&name=<%= tax_name %>'>Life Page: <%- tax_name %></a>
</div>
</center> 



<div  class="container-fluid"  > 
  <div class="row justify-content-around">
    <div class="col align-self-start">
      <%- include('./ecology_lollipop_legend'); %>
    </div>
  
    <div  class="col" >

    <center>
    <table class='plot_table' border='1' >
        
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            HMP 16S RefSeq (V1-V3) <small>(not published)</small>
            </small>
            
          </div>
          <% if(notes.hmp_refseqv1v3 == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.hmp_refseqv1v3.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_hmp_refseqv1v3_here"></div> 
          </div>
        
        <br>
        <% if(Object.keys(hmp_refseqv1v3_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- hmp_refseqv1v3_table %></center>
          </div>  
        <% } %>  
        </td>
    </tr>
      
    <!-- END HMP RefSeq V1V3 -->
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            HMP 16S RefSeq (V3-V5) <small>(not published)</small>
            </small>
            
          </div>
          <% if(notes.hmp_refseqv3v5 == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.hmp_refseqv3v5.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_hmp_refseqv3v5_here"></div> 
          </div>
        <br>
        <% if(Object.keys(hmp_refseqv3v5_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- hmp_refseqv3v5_table %></center>
          </div>  
        <% } %>  
        </td>
    </tr>
     
    
    <!-- END HMP RefSeq V3V5 -->
    
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            Dewhirst (35x9) <small>(not published)</small>
            </small>
            
          </div>
          <% if(notes.dewhirst == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.dewhirst.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_dewhirst_here"></div> 
          </div>
        <br>
        <% if(Object.keys(dewhirst_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- dewhirst_table %></center>
          </div>  
        <% } %>  
        </td>
      </tr>
      
    <!-- END Dewhirst -->
    
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            HMP Metaphlan <small>(not published)</small>
            </small>
            
          </div>
          <% if(notes.hmp_metaphlan == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.hmp_metaphlan.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_hmp_metaphlan_here"></div> 
          </div>
        
        <br>
        <% if(Object.keys(hmp_metaphlan_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- hmp_metaphlan_table %></center>
          </div>  
        <% } %>  
        </td>
    </tr>
    
    <!-- END Metaphlan -->
    
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            Eren V1-V3 <small><a href='https://www.pnas.org/doi/abs/10.1073/pnas.1409644111' target='_blank'>www.pnas.org</a></small>
            </small>
            
          </div>
          <% if(notes.erenv1v3 == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.erenv1v3.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_erenv1v3_here"></div> 
          </div>
        
        <br>
        <% if(Object.keys(erenv1v3_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- erenv1v3_table %></center>
          </div>  
        <% } %>  
        </td>
    </tr>
    
    <!-- END Eren v1v3 -->
    <tr>
        <td class='plot-td'>
          <div class='plot-title'>
            <small>
            Eren V3-V5 <small><a href='https://www.pnas.org/doi/abs/10.1073/pnas.1409644111' target='_blank'>www.pnas.org</a></small>
            </small>
            
          </div>
          <% if(notes.erenv3v5 == ''){ %>
            <div class='nonote'>No Notes</div>
          <% }else{ %>
            <% parts = notes.erenv3v5.split(';') %>
            <a class='hover red-text'>** View Notes (mouse over) **</a>
            <div class='note'>
            <b>Notes:</b><br>
            <% for(n in parts){ %>
             <%- parts[n] %><br><br>
            <% } %>
            </div>
          <% } %>
        
          <div class='plot' >
            <div id="plot_log_erenv3v5_here"></div> 
          </div>
        <br>
        <% if(Object.keys(erenv3v5_data).length !== 0){ %>
          <div class='abund-table-div'>
            <center><%- erenv3v5_table %></center>
          </div>  
        <% } %>  
        </td>
      </tr>
    <!-- END Eren v3v5 -->
    
    </table>
    </center>
</div>  <!-- column middle -->

</div>  <!-- end row -->
</div>  <!-- end row -->


    </div> <!-- end: page-content -->
    </div> <!-- end: wrapper -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>

<script>
  mainmenu()
  max       =   JSON.parse('<%- max %>')
  rank      =   '<%- rank %>'
  dewhirst     = JSON.parse('<%- dewhirst %>')
  erenv1v3        = JSON.parse('<%- erenv1v3 %>')
  erenv3v5        = JSON.parse('<%- erenv3v5 %>')
  hmpmetaphlan    = JSON.parse('<%- hmp_metaphlan %>')
  hmprefseqv1v3   = JSON.parse('<%- hmp_refseqv1v3 %>')
  hmprefseqv3v5   = JSON.parse('<%- hmp_refseqv3v5 %>')
  hmpv1v3table    = "<%- hmp_refseqv1v3_table %>"
  lineage         = '<%= lin %>'
  site_colors_js     = JSON.parse('<%- site_colors %>')
  box_width = 445
  gap = 30
  box_height = 580
  
  var margin = {top: 40, right: 20, bottom: 90, left: 60},
    width = (box_width*2) + gap - margin.left - margin.right,
    height = box_height - margin.top - margin.bottom;

    siteLongNames = {
    'AKE': '(AKE) Attached Keratinized Gingiva (oral)', //Attached_Keratinized_gingiva
    'ANA': '(ANA) Anterior Nares (nasal)', //#Anterior_nares
    'BMU': '(BMU) Buccal Mucosa (oral)', //#Buccal_mucosa
    'HPA': '(HPA) Hard Palate (oral)', //#Hard_palate
    'LAF': '(LAF) Left Antecubital Fossa (skin)', //#L_Antecubital_fossa  # not in HMP
    'PERIO': '(PERIO) Periodontal (oral)',  //# ONLY in HMP
    'LRC': '(LRC) Left Retroauricular Crease (skin)',  //#L_Retroauricular_crease
    'MVA': '(MVA) Mid Vagina',  //#Mid_vagina
    'PFO': '(PFO) Posterior Fornix (vaginal)',  //#Posterior_fornix
    'PTO': '(PTO) Palatine Tonsils (oral)',  //#Palatine_Tonsils
    'RAF': '(RAF) Right Antecubital Fossa (skin)',  //#R_Antecubital_fossa
    'RRC': '(RRC) Right Retroauricular Crease (skin)',  //#R_Retroauricular_crease
    'SAL': '(SAL) Saliva (oral)',  //#Saliva
    'STO': '(STO) Stool (gut)',  //#Stool
    'SUBP': '(SUBP) Subgingival Plaque (oral)', //#Subgingival_plaque
    'SUPP': '(SUPP) Supragingival Plaque (oral)', //#Supragingival_plaque
    'THR': '(THR) Throat (oral)',  //#Throat
    'TDO': '(TDO) Tongue Dorsum (oral)',  //#Tongue_dorsum
    'VIN': '(VIN) Vaginal Introitus '   //#Vaginal_introitus
    }
//     site_colors2 = {
//     'AKE': '#3366cc', //Attached_Keratinized_gingiva
//     'ANA': '#0099c6', //#Anterior_nares
//     
//     'BMU':  '#ff9900', //#Buccal_mucosa
//     'HPA':  '#109618', //#Hard_palate
//     'LAF':  '#990099', //#L_Antecubital_fossa  # not in HMP
//     'PERIO': '',  //# ONLY in HMP
//     'LRC': '#dd4477',  //#L_Retroauricular_crease
//     'MVA': '#66aa00',  //#Mid_vagina
//     'PFO': 'yellow',  //#Posterior_fornix
//     'PTO': '#316395',  //#Palatine_Tonsils
//     'RAF': '#994499',  //#R_Antecubital_fossa
//     'RRC': '#22aa99',  //#R_Retroauricular_crease
//     'SAL': '#dc3912',  //#Saliva
//     
//     'STO': 'brown',  //#Stool
//     'SUBP': 'slateblue', //#Subgingival_plaque
//     'SUPP': 'red', //#Supragingival_plaque
//     'THR': 'pink',  //#Throat
//     'TDO': 'black',  //#Tongue_dorsum
//     'VIN':'grey'   //#Vaginal_introitus
//     }

// site_colors3 = {
//     'AKE': '#ff7f0e', //Attached_Keratinized_gingiva
//     'ANA': '#ffbb78', //#Anterior_nares
//     
//     'BMU':  '#2ca02c', //#Buccal_mucosa
//     'HPA':  '#98df8a', //#Hard_palate
//     'LAF':  '#d62728', //#L_Antecubital_fossa  # not in HMP
//     'PERIO': '#aec7e8',  //# ONLY in HMP
//     'LRC': '#ff9896',  //#L_Retroauricular_crease
//     'MVA': '#9467bd',  //#Mid_vagina
//     'PFO': '#c5b0d5',  //#Posterior_fornix
//     'PTO': '#8c564b',  //#Palatine_Tonsils
//     'RAF': '#c49c94',  //#R_Antecubital_fossa
//     'RRC': '#e377c2',  //#R_Retroauricular_crease
//     'SAL': '#f7b6d2',  //#Saliva
//     
//     'STO': '#7f7f7f',  //#Stool
//     'SUBP': '#c7c7c7', //#Subgingival_plaque
//     'SUPP': '#bcbd22', //#Supragingival_plaque
//     'THR': '#dbdb8d',  //#Throat
//     'TDO': '#17becf',  //#Tongue_dorsum
//     'VIN':'#9edae5'   //#Vaginal_introitus
//     }
    // ----------------
    // Create  tooltips
    // ----------------
    var tooltips = {}
    //tooltips.hmprefseqv1v3 = d3.select("#plot_hmp_refseqv1v3_here").append("div").style("position", "absolute").style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    
    tooltips.hmprefseqv1v3_log = d3.select("#plot_log_hmp_refseqv1v3_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.hmprefseqv3v5_log = d3.select("#plot_log_hmp_refseqv3v5_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.dewhirst_log = d3.select("#plot_log_dewhirst_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.erenv1v3_log = d3.select("#plot_log_erenv1v3_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.erenv3v5_log = d3.select("#plot_log_erenv3v5_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.hmpmetaphlan_log = d3.select("#plot_log_hmp_metaphlan_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    
    // Hover Notes
    tooltips.hmprefseqv1v3_notes = d3.select("#show_hmp_refseqv1v3_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.hmprefseqv3v5_notes = d3.select("#show_hmp_refseqv3v5_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.dewhirst_notes = d3.select("#show_dewhirst_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.hmpmetaphlan_notes = d3.select("#show_hmp_metaphlan_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.erenv1v3_notes = d3.select("#show_erenv1v3_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.erenv3v5_notes = d3.select("#show_erenv3v5_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")


function change_view(v,r,t){
    console.log(v,r,t)
    window.open('ecology?rank='+r+'&name='+t+'&page='+v,'_self')
}

</script>
<script type="text/javascript" src="/js/ecology_lollipop.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<!-- 
<script type="text/javascript" src="/js/ecology_lollipop_hmprefseqv1v3.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_hmprefseqv3v5.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_dewhirst.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_metaphlan.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_erenv1v3.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_erenv3v5.js"></script>
 -->