<style>
#info{
   font-size:14px;
   padding:20px 5px;
}
#eco_table{
   font-size:13px;
   width:100%;
}
#eco_table tr,td{
   border:1px solid black;
   border-collapse: collapse;
   padding:3px;
   white-space: nowrap;
}

.rank_div{
   height:300px;
   overflow:auto;
   
}
#top-10-link{
   padding:3px;
   border:1px solid brown;
   float:right;
   
}
</style>
<% sole_arch = JSON.parse(sole_arch) %>
<% phla = JSON.parse(phyla) %>
<% klasses = JSON.parse(klasses) %>
<% orders = JSON.parse(orders) %>
<% families = JSON.parse(families) %>
<% genera = JSON.parse(genera) %>


<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
        <div class='title'>Ecology (Abundance) Pages</div>
        <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a> 

        <div id='info'>
            The following abundance pages show available data with bar charts for the ranks in each taxon name (from domain to species) in the HOMD database.

            <br>Listed on this page are taxonomic names from domain through genus for the taxa in HOMD. Each name below is a link
              to a page showing abundance data from the three sources: 
              <br>
            <a href='https://www.pnas.org/content/111/28/E2875.short'>Eren (2014)</a> ,
            <a href='https://genomebiology.biomedcentral.com/articles/10.1186/gb-2012-13-6-r42'>Segata (2012)</a>,
            and Dewhirst (not published)
       <span id='top-10-link'><a href='abundance_by_site/phylum'>Most abundant taxa for each oral sub-habitat</a>.
       </span> 
        
        </div>
      
  
  <div id='bar-chart' >BarChart</div>
  
  <br>
  <div>
    <center>
            <table id='eco_table' border='1'>
            <tr><th>Domain</th><th>Phylum</th><th>Class</th><th>Order</th><th>Family</th><th>Genus</th></tr>
            <tr>
              <td><a href='ecology/domain/<%= sole_arch.domain %>'><%= sole_arch.domain %></a></td>
              <td><a href='ecology/phylum/<%= sole_arch.phylum %>'><%= sole_arch.phylum %></a></td>
              <td><a href='ecology/klass/<%= sole_arch.klass %>'><%= sole_arch.klass %></a></td>
              <td><a href='ecology/order/<%= sole_arch.order %>'><%= sole_arch.order %></a></td>
              <td><a href='ecology/family/<%= sole_arch.family %>'><%= sole_arch.family %></a></td>
              <td><a href='ecology/genus/<%= sole_arch.genus %>'><%= sole_arch.genus %></a></td>
              
            </tr>
            <tr>
              <td valign="top"><a href='ecology/domain/Bacteria'>Bacteria</a></td>
              <td>
                <% no_data_list = ['Chlamydiae','Chlorobi','Gracilibacteria (GN02)','WPS-2'] %>
                <div class='rank_div'>
                <% for(n in phla){ %>
                    
                       <a href='ecology/phylum/<%= phla[n] %>'><%= phla[n] %></a><br>
                    
                <% } %>
                </div>
              </td>
              <td>
                <div class='rank_div'>
                <% for(n in klasses){ %>
                    <a href='ecology/klass/<%= klasses[n] %>'><%= klasses[n] %></a><br>
                <% } %>
                </div>
              </td>
              <td>
                <div class='rank_div'>
                <% for(n in orders){ %>
                    <a href='ecology/order/<%= orders[n] %>'><%= orders[n] %></a><br>
                <% } %>
                </div>
              </td>
              <td>
                <div class='rank_div'>
                <% for(n in families){ %>
                    <a href='ecology/family/<%= families[n] %>'><%= families[n] %></a><br>
                <% } %>
                </div>
              </td>
              <td>
                <div class='rank_div'>
                <% for(n in genera){ %>
                    <a href='ecology/genus/<%= genera[n] %>'><%= genera[n] %></a><br>
                <% } %>
                </div>
              </td>
            </tr>
            </table>
      <center>
      </div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>

<script src="https://d3js.org/d3.v7.min.js"></script>

<script type="text/javascript" src="/js/d3_barplot.js"></script>
<script>
  mainmenu()
  var sites = JSON.parse('<%- bar_data %>')
  var site_names = sites.map(el => el.site)
  var site_order = ['SubP','SupP','KG','BM','HP','SV','TH','PT','TD','NS'] // per JMW
  xlabel = 'Major Species Abundances for each oral site'
  //console.log('site_names ',site_names)
  var species = Object.keys(sites[0])
  species.shift()  // remove 'site'
  species.sort()
  //console.log('species length ',species.length)
  //console.log('species',species)
  //var ccolors = get_colors(species)
  var ccolors = JSON.parse('<%- constant_colors %>')
  console.log('species colors ',ccolors)
  var site_species = JSON.parse('<%- site_species %>')
  //console.log(site_species[10])
  width=1300
  // Prep the tooltip bits, initial display is hidden



  chart = StackedBarChart(site_species, {
      x: d => d.abundance,
      y: d => d.site,
      z: d => d.species,
      yDomain: d3.groupSort(
        site_species,
        (D) => D[0].abundance / d3.sum(D, d => d.abundance), // proportion of first age group
        d => d.site // sort y by x
      ),
      zDomain: species,
      //colors: d3.schemeSpectral[species.length],
      //colors: colors2,
      width
  })
  var s = new XMLSerializer()
  document.getElementById('bar-chart').innerHTML = s.serializeToString(chart); 
  
  
  
//    var div = d3.select("body").append("div")
//     .attr("class", "tooltip")
//     .style("opacity", 0); 
//   var $liveTip = $('<div id="livetip"></div>').hide().appendTo('body'),
//         $win = $(window),
//         showTip;
//   var tip = {
//       title: '',
//       offset: 12,
//       //delay: 300,
//       position: function(event) {
//         var positions = {x: event.pageX, y: event.pageY};
//         var dimensions = {
//           x: [
//             $win.width(),
//             $liveTip.outerWidth()
//           ],
//           y: [
//             $win.scrollTop() + $win.height(),
//             $liveTip.outerHeight()
//           ]
//         };
// 
//         for ( var axis in dimensions ) {
//           if (dimensions[axis][0] <dimensions[axis][1] + positions[axis] + this.offset) {
//             positions[axis] -= dimensions[axis][1] + this.offset;
//           } else {
//             positions[axis] += this.offset;
//           }
//         }
//         $liveTip.css({
//           top: positions.y,
//           left: positions.x
//         });
// 
//       }
//     };

  
  // states = sites, BM,KG,HP...== bars
  //ages = species many
  //stateages = site_species[] {site:'',species:'',abundance:''}
//     $(document).ready(function() { 
//         $("body").delegate(".tooltip", "mouseover mouseout mousemove", function (event) {
//           var link = this,
//           html = '';
//           $link = $(this);
//      
//           if (event.type == 'mouseover') {
//             tip.id = link.id;
//             //alert(tip.id)
//             link.id = '';
//             id_items = tip.id.split('-|-');
//             html = "<table><tr>";
//                  
//               html += "<td>Site: "+id_items[0]+"</td>";
//               html += "</tr><tr>";
//               html += "<td>Name: "+id_items[1]+"</td>";
//             
//             html += "</tr><table>";
// 
//             showTip = setTimeout(function() {
//      
//               $link.data('tipActive', true);
//           
//               tip.position(event);
//          //alert(event.pageX)
//               $liveTip
//               //.html('<div>' + html  + '</div>')
//               .html('<div>' + html  + '</div>')
//               .fadeOut(0)
//               .fadeIn(200);
//      
//             }, tip.delay);
//           }
//      
//           if (event.type == 'mouseout') {
//             link.id = tip.id || link.id;
//             if ($link.data('tipActive')) {
//               $link.removeData('tipActive');
//               $liveTip.hide();
//             } else {
//               clearTimeout(showTip);
//             }
//           }
//      
//           if (event.type == 'mousemove' && $link.data('tipActive')) {
//             tip.position(event);
//           }
//               
//         });
//     })
    
</script>


