<style>
ul li{
 padding: 5px;
}
#taxon-page-div {
   margin:20px 0;
   padding:10px;
   border:1px solid green;
   
}
.abund-table-div{
   
}
.data{
   
   padding:0 20px 0px 20px
}
.abundance-table {
   border-collapse:collapse;
   
}
.abundance-table td,th{
   font-size:small;
   border:1px solid black;
   padding:1px;
   
  }


.column {
  float: left;
  min-height: 420px;
  min-width: 250px;
}

.left {
  width: 20%;
  font-size:12px;
  height: 200px; /* only to hold column open */
}

.right {
  
  
}
.middle {
  /* width: 54%; */
  width:78%;
  /* border:1px solid red; */
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#legend-links{
  position:fixed;
  width:250px;
}

#legend-content{
  padding:3px 5px;;
  border:1px solid brown;
  
}

.menu-title{
   
   font-size:13px;
   text-align:center;
   background:ivory;
   border:1px solid brown;
   

}
#links-content{
  padding:3px;
  border:1px solid brown;
  width:100%
}

.plot-title{
   background:lightblue;
   padding:5px 3px;
   border:1px solid grey;
   font-size:x-large;
   
}
#plot_table_master td{
   /* text-align: center;  */
    /* vertical-align: middle; */
}
.plot{
   padding:0 10px;
}

.plot_table{
  border-collapse:collapse;
  border:1px solid green;
  /* width:100%; */
}
.plot_table td{
  vertical-align:top;
  /* text-align: center;  */
      
  
}
.plot-td{
   
}
.spacer{
   padding:10px 0;
   background:grey;
}
.notes-td{
   vertical-align:top;
   padding:10px;
}

.nonote{
   font-size:11px;
   /* padding:10px 4px; */
   /* margin-left:250px; */
   text-align: center;
}
.hover{
   font-size:15px;
   /* padding:10px 4px; */
   /* margin-left:250px; */
   
}
.note{
  font-size:13px;
  padding:10px;
  width:940px;
  border:1px solid brown;
  
  position: absolute;
  background:black;
  color:white;
  /* visibility:hidden; */
  display:none;
}
a:hover + .note {
    /* visibility:visible; */
    display:block;
    
}
/* Lineage search stuff */
#fixed-text-box{
    background-color:#ddd;
    position: absolute;
    padding: 1.1em;
    right: 100px;
    width:500px;
    height:250px;
    overflow:auto;
    top: 200px;
    border:1px solid brown;
    /* transform: translateX(-50%); */
    font-size:11px;
  
}
#text{
   border:1px solid brown;
   font-size:12px;
   line-height:150%;
   margin:0 5px;
   padding:10px;

}

#child-table td{
    padding: 0 5px;
    font-size: small;
}
.y {
   font-weight: normal;
   font-size: small;
}
td {
  text-align: center;
  
}
</style>

<% dewhirst_data = JSON.parse(dewhirst) %>
<% erenv1v3_data = JSON.parse(erenv1v3) %>
<% erenv3v5_data = JSON.parse(erenv3v5) %>
<% hmp_metaphlan_data = JSON.parse(hmp_metaphlan) %>
<% hmp_refseqv1v3_data = JSON.parse(hmp_refseqv1v3) %>
<% hmp_refseqv3v5_data = JSON.parse(hmp_refseqv3v5) %>
<% children_lst = JSON.parse(children) %>
<% genera = JSON.parse(genera) %>
<% notes = JSON.parse(notes) %>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <% if(rank == 'klass' || rank == 'Klass'){  %>
        <% rank_show = 'Class' %>
    <% }else{ %> 
       <% rank_show = rank.charAt(0).toUpperCase() + rank.slice(1) %>
    <% } %>
    <div class='page-content' >
    
    
    <% if(rank=='species') { %>           
       <div class='title'><b><%= rank_show %>:</b> <span class='yellow'><em><%= tax_name %></em></span></div>
    <% }else{ %>
         <div class='title'><b><%= rank_show %>:</b> <span class='yellow'><%= tax_name %></span></div>
      <% } %>
      
    <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a>   
    <div id='taxon-page-div'>
        
        Full Lineage: <%- lineage %>
        <% if(children_lst.length == 0){ %>
           
        <% }else{ %>
           
           <br><small>Lower rank member(s): 
           <% if(children_lst.length <= 5){ %>
               <% for(n in children_lst){ %>
                 <span >[<%- children_lst[n] %>]</span>
               <% } %>
             
           <% }else{ %>
            <span id='toggle_ranks'><a href='#' onclick='toggle_lower_ranks()'>show[+]</a></span>
        
            <div id='lower-rank-items-div' style='display:none'>
               <% cols = 5 %>
               <table id='child-table'><tr>
               <% for(n in children_lst){ %>
               <% if(n % cols == 0){  %><!-- // modulus/modulo-->
                </tr><tr>
               <% } %>
               <td>[<%- children_lst[n] %>]</td>
               <% } %>
               </tr></table>
            </div>
          <% } %>  <!-- End of if(children_lst.length <5 -->
  
        <% } %>
        
        
        <% if(['phylum','klass','order'].indexOf(rank) != -1){ %>
          <br>Genera:
          <select class='dropdown' onchange="location = this.value;">
          <option value="" disabled selected>Select a genus</option>
          <% for(n in genera){ %>
              <option value='/taxa/ecology?rank=genus&name=<%= genera[n].taxon %>&page=<%= page %>'><%= genera[n].taxon %></option>
          <% } %>
          </select>
        <% } %>
        
        </small>
        
    </div>  <!-- end taxon-page-div -->

<div class='row'> 
     <div class='column left'>
      <div id='legend-links'>
      <div class='menu-title'>Links:</div>
          <div id='links-content'>
            <ul>
            <% if(children_lst.length == 0){ %>
                <li><a href='/taxa/tax_description?otid=<%= otid %>'>Taxon Description:<br>&nbsp;&nbsp;<small><%= taxidfullname %></small></a></li>
            <% }else{ %>
                <li><a href='/taxa/life?rank=<%= rank %>&name=<%= tax_name %>'>Life Page:<br>&nbsp;&nbsp;<small><%- tax_name.split(' ').join('<br>') %></small></a>
            <% } %>
            
            <li><a href='/taxa/ecology_home'>Ecology Home</a>
            
            
            </ul>
          </div>
      
      <br>
    
        <div id='legend'>
        <div class='menu-title'>Body Site Legend:</div>
            <div id='legend-content'>
            <ol>
              <li><b>Oral:</b>
                <br>&nbsp;SUBP -- Subgingival Plaque
                <br>&nbsp;SUPP -- Supragingival Plaque
                <br>&nbsp;PERIO -- Periodontal
                <br>&nbsp;AKE -- Attached Keratinized Gingiva
                <br>&nbsp;BMU -- Buccal Mucosa
                <br>&nbsp;HPA -- Hard Palate
                <br>&nbsp;SAL -- Saliva
                <br>&nbsp;THR -- Throat
                <br>&nbsp;PTO -- Palatine Tonsils
                <br>&nbsp;TDO -- Tongue Dorsum
              <li><b>Nasal:</b>
                <br>&nbsp;ANA -- Anterior Nares
              <li><b>Skin:</b>
                <br>&nbsp;LRC -- L_Retroauricular Crease
                <br>&nbsp;RRC -- R_Retroauricular Crease
                <br>&nbsp;LAF -- L_Antecubital Fossa
                <br>&nbsp;RAF -- R_Antecubital Fossa
              <li><b>Vaginal:</b>
                <br>&nbsp;VIN -- Vaginal Introitus
                <br>&nbsp;MVA -- Mid Vagina
                <br>&nbsp;PFO -- Posterior Fornix
              <li><b>Gut:</b>
                <br>&nbsp;STO -- Stool
              <hr>
              Prev - Prevalence
              <br>10<sup>th</sup>p - 10<sup>th</sup> percentile
              <br>90<sup>th</sup>p - 90<sup>th</sup> percentile
              <br>ND - less than 0.001%
            </ol>  
            </div>
        </div>
        
      </div>  
    </div>   <!-- end column left -->
   
    

  



  <span>
     <% if(page == 'tables'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% }else if(page == 'plots'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% }else if(page == 'lollipop'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio'  value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
         
     <% }else{ %>
         <input type='radio' checked value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% } %>
     <% if(rank == "species"){ %>
        <span style='margin-left:200px;'><small>[<a href='body_sites?otid=<%= otid %>'>see all body sites</a>]</small></span>
     <% } %>
  </span>
  
  
<div class='column middle'>


    
  <table class='plot_table' border='1'>
    <tr>
    <td class='plot-td'>
      <div class='plot-title'>
        <small>
        HMP 16S RefSeq (V1-V3) <small>(not published)</small>
        </small>
        
      </div>
      <% if(notes.hmp_refseqv1v3 == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.hmp_refseqv1v3.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_hmp_refseqv1v3_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(hmp_refseqv1v3_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- hmp_refseqv1v3_table %>
      </div>  
    <% } %>  
    </td>
  </tr>
  
<!-- END HMP RefSeq V1V3 -->
<tr>
    <td class='plot-td'><hr>
      <div class='plot-title'>
        <small>
        HMP 16S RefSeq (V3-V5) <small>(not published)</small>
        </small>
        
      </div>
      <% if(notes.hmp_refseqv3v5 == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.hmp_refseqv3v5.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_hmp_refseqv3v5_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(hmp_refseqv3v5_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- hmp_refseqv3v5_table %>
      </div>  
    <% } %>  
    </td>
  </tr>
 

<!-- END HMP RefSeq V3V5 -->

<tr>
    <td class='plot-td'><hr>
      <div class='plot-title'>
        <small>
        Dewhirst (35x9) <small>(not published)</small>
        </small>
        
      </div>
      <% if(notes.dewhirst == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.dewhirst.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_dewhirst_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(dewhirst_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- dewhirst_table %>
      </div>  
    <% } %>  
    </td>
  </tr>
  
<!-- END Dewhirst -->

<tr>
    <td class='plot-td'><hr>
      <div class='plot-title'>
        <small>
        HMP Metaphlan <small>(not published)</small>
        </small>
        
      </div>
      <% if(notes.hmp_metaphlan == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.hmp_metaphlan.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_hmp_metaphlan_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(hmp_metaphlan_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- hmp_metaphlan_table %>
      </div>  
    <% } %>  
    </td>
  </tr>

<!-- END Metaphlan -->

<tr>
    <td class='plot-td'><hr>
      <div class='plot-title'>
        <small>
        Eren V1-V3 <small><a href='https://www.pnas.org/doi/abs/10.1073/pnas.1409644111' target='_blank'>www.pnas.org</a></small>
        </small>
        
      </div>
      <% if(notes.erenv1v3 == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.erenv1v3.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_erenv1v3_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(erenv1v3_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- erenv1v3_table %>
      </div>  
    <% } %>  
    </td>
  </tr>

<!-- END Eren v1v3 -->
<tr>
    <td class='plot-td'><hr>
      <div class='plot-title'>
        <small>
        Eren V3-V5 <small><a href='https://www.pnas.org/doi/abs/10.1073/pnas.1409644111' target='_blank'>www.pnas.org</a></small>
        </small>
        
      </div>
      <% if(notes.erenv3v5 == ''){ %>
        <div class='nonote'>No Notes</div>
      <% }else{ %>
        <% parts = notes.erenv3v5.split(';') %>
        <a class='hover red-text'>** View Notes (mouse over) **</a>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
      <% } %>
    
      <div class='plot' >
        <div id="plot_log_erenv3v5_here"></div> 
      </div>
    
    </td>
  
  </tr>
  <tr>
    <td class='data' >
    <% if(Object.keys(erenv3v5_data).length !== 0){ %>
      <div class='abund-table-div'>
        <%- erenv3v5_table %>
      </div>  
    <% } %>  
    </td>
  </tr>
<!-- END Eren v3v5 -->

</table>
</div>  <!-- column middle -->
 <!-- 
<div id='fixed-text-box'>
   <% if(text_file){ %>
     <div id='textX'><%- include('../../partials/static/'+text_file); %></div>
   <% }else if(text_format){ %>
    <div id='textX'><%- text_format %></div>
   <%} %>
</div>
-->
    
</div>  <!-- end row -->



    </div> <!-- end: page-content -->
    </div> <!-- end: wrapper -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>

<script>
  mainmenu()
  max       =   JSON.parse('<%- max %>')
  rank      =   '<%- rank %>'
  dewhirst     = JSON.parse('<%- dewhirst %>')
  erenv1v3        = JSON.parse('<%- erenv1v3 %>')
  erenv3v5        = JSON.parse('<%- erenv3v5 %>')
  hmpmetaphlan    = JSON.parse('<%- hmp_metaphlan %>')
  hmprefseqv1v3   = JSON.parse('<%- hmp_refseqv1v3 %>')
  hmprefseqv3v5   = JSON.parse('<%- hmp_refseqv3v5 %>')
  hmpv1v3table    = "<%- hmp_refseqv1v3_table %>"
  lineage         = '<%= lin %>'
  
  box_width = 445
  gap = 30
  box_height = 580
  
  var margin = {top: 40, right: 20, bottom: 90, left: 60},
    width = (box_width*2) + gap - margin.left - margin.right,
    height = box_height - margin.top - margin.bottom;

    siteLongNames = {
    'AKE': '(AKE) Attached Keratinized Gingiva (oral)', //Attached_Keratinized_gingiva
    'ANA': '(ANA) Anterior Nares (nasal)', //#Anterior_nares
    'BMU': '(BMU) Buccal Mucosa (oral)', //#Buccal_mucosa
    'HPA': '(HPA) Hard Palate (oral)', //#Hard_palate
    'LAF': '(LAF) Left Antecubital Fossa (skin)', //#L_Antecubital_fossa  # not in HMP
    'PERIO': '(PERIO) Periodontal (oral)',  //# ONLY in HMP
    'LRC': '(LRC) Left Retroauricular Crease (skin)',  //#L_Retroauricular_crease
    'MVA': '(MVA) Mid Vagina',  //#Mid_vagina
    'PFO': '(PFO) Posterior Fornix (vaginal)',  //#Posterior_fornix
    'PTO': '(PTO) Palatine Tonsils (oral)',  //#Palatine_Tonsils
    'RAF': '(RAF) Right Antecubital Fossa (skin)',  //#R_Antecubital_fossa
    'RRC': '(RRC) Right Retroauricular Crease (skin)',  //#R_Retroauricular_crease
    'SAL': '(SAL) Saliva (oral)',  //#Saliva
    'STO': '(STO) Stool (gut)',  //#Stool
    'SUBP': '(SUBP) Subgingival Plaque (oral)', //#Subgingival_plaque
    'SUPP': '(SUPP) Supragingival Plaque (oral)', //#Supragingival_plaque
    'THR': '(THR) Throat (oral)',  //#Throat
    'TDO': '(TDO) Tongue Dorsum (oral)',  //#Tongue_dorsum
    'VIN': '(VIN) Vaginal Introitus '   //#Vaginal_introitus
    }
    site_colors2 = {
    'AKE': '#3366cc', //Attached_Keratinized_gingiva
    'ANA': '#0099c6', //#Anterior_nares
    
    'BMU':  '#ff9900', //#Buccal_mucosa
    'HPA':  '#109618', //#Hard_palate
    'LAF':  '#990099', //#L_Antecubital_fossa  # not in HMP
    'PERIO': '',  //# ONLY in HMP
    'LRC': '#dd4477',  //#L_Retroauricular_crease
    'MVA': '#66aa00',  //#Mid_vagina
    'PFO': 'yellow',  //#Posterior_fornix
    'PTO': '#316395',  //#Palatine_Tonsils
    'RAF': '#994499',  //#R_Antecubital_fossa
    'RRC': '#22aa99',  //#R_Retroauricular_crease
    'SAL': '#dc3912',  //#Saliva
    
    'STO': 'brown',  //#Stool
    'SUBP': 'slateblue', //#Subgingival_plaque
    'SUPP': 'red', //#Supragingival_plaque
    'THR': 'pink',  //#Throat
    'TDO': 'black',  //#Tongue_dorsum
    'VIN':'grey'   //#Vaginal_introitus
    }

site_colors3 = {
    'AKE': '#ff7f0e', //Attached_Keratinized_gingiva
    'ANA': '#ffbb78', //#Anterior_nares
    
    'BMU':  '#2ca02c', //#Buccal_mucosa
    'HPA':  '#98df8a', //#Hard_palate
    'LAF':  '#d62728', //#L_Antecubital_fossa  # not in HMP
    'PERIO': '#aec7e8',  //# ONLY in HMP
    'LRC': '#ff9896',  //#L_Retroauricular_crease
    'MVA': '#9467bd',  //#Mid_vagina
    'PFO': '#c5b0d5',  //#Posterior_fornix
    'PTO': '#8c564b',  //#Palatine_Tonsils
    'RAF': '#c49c94',  //#R_Antecubital_fossa
    'RRC': '#e377c2',  //#R_Retroauricular_crease
    'SAL': '#f7b6d2',  //#Saliva
    
    'STO': '#7f7f7f',  //#Stool
    'SUBP': '#c7c7c7', //#Subgingival_plaque
    'SUPP': '#bcbd22', //#Supragingival_plaque
    'THR': '#dbdb8d',  //#Throat
    'TDO': '#17becf',  //#Tongue_dorsum
    'VIN':'#9edae5'   //#Vaginal_introitus
    }
    // ----------------
    // Create  tooltips
    // ----------------
    var tooltips = {}
    //tooltips.hmprefseqv1v3 = d3.select("#plot_hmp_refseqv1v3_here").append("div").style("position", "absolute").style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    
    tooltips.hmprefseqv1v3_log = d3.select("#plot_log_hmp_refseqv1v3_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.hmprefseqv3v5_log = d3.select("#plot_log_hmp_refseqv3v5_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.dewhirst_log = d3.select("#plot_log_dewhirst_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.erenv1v3_log = d3.select("#plot_log_erenv1v3_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.erenv3v5_log = d3.select("#plot_log_erenv3v5_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    tooltips.hmpmetaphlan_log = d3.select("#plot_log_hmp_metaphlan_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px").style("text-align","left")
    
    // Hover Notes
    tooltips.hmprefseqv1v3_notes = d3.select("#show_hmp_refseqv1v3_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.hmprefseqv3v5_notes = d3.select("#show_hmp_refseqv3v5_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.dewhirst_notes = d3.select("#show_dewhirst_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.hmpmetaphlan_notes = d3.select("#show_hmp_metaphlan_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.erenv1v3_notes = d3.select("#show_erenv1v3_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
    tooltips.erenv3v5_notes = d3.select("#show_erenv3v5_notes_here").append("div").style("position", "absolute").style('font-size','12').style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")


function change_view(v,r,t){
    console.log(v,r,t)
    window.open('ecology?rank='+r+'&name='+t+'&page='+v,'_self')
}

</script>
<script type="text/javascript" src="/js/ecology_lollipop.js"></script>
<!-- 
<script type="text/javascript" src="/js/ecology_lollipop_hmprefseqv1v3.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_hmprefseqv3v5.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_dewhirst.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_metaphlan.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_erenv1v3.js"></script>
<script type="text/javascript" src="/js/ecology_lollipop_erenv3v5.js"></script>
 -->