<style>
#info{
   
   padding:20px 5px;
}
#eco_table{
   
}
#eco_table tr,td{
   border:1px solid black;
   border-collapse: collapse;
   padding:3px;
}

#row{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  padding:20px 0;
  border:1px solid black;
  width:100%;
}
#column_left{
  padding:10px;
   
   width:auto;
}
#column_right{
  padding:10px;
  width:70%;
}
</style>
<% phla = JSON.parse(phyla) %>
<%- include('../../partials/header_html'); %>

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
		 					
			 <div class='title'>Ecology/Abundance Pages</div>
			 
	<div id="row">

	<div id='column_left'  >
		<div id='info'>
		These pages show abundance data for each taxon name (from domain to species) in the HOMD database.
		<br><br>Listed here are the two domains, Bacteria and Archaea, and their phyla to get you started. Just follow the links
		to reach the abundance pages (if any). 
		<br><br>The Abundance data comes from three sources: Dewhirst (not published), 
		<a href='https://www.pnas.org/content/111/28/E2875.short'>Eren (2014)</a> and 
		<a href='https://genomebiology.biomedcentral.com/articles/10.1186/gb-2012-13-6-r42'>Segata (2012)</a>
	    </div>
	    
	</div>
	<div id='column_right'  >
		<center>
            <table id='eco_table' border='1'>
            <tr><th>Domain</th><th>Phyla</th></tr>
            <tr><td><a href='ecology/domain/Archaea'>Archaea</a></td><td><a href='ecology/phylum/Euryarchaeota'>Euryarchaeota</a></td></tr>
            <tr><td valign="top"><a href='ecology/domain/Bacteria'>Bacteria</a></td>
            
            
             <td>
				<% no_data_list = ['Chlamydiae','Chlorobi','Gracilibacteria (GN02)','WPS-2'] %>
				<% for(n in phla){ %>
				    <% if(no_data_list.indexOf(phla[n]) == -1){ %>
				       <a href='ecology/phylum/<%= phla[n] %>'><%= phla[n] %></a><br>
				    <% }else{ %>
				       <%= phla[n] %><span style='float:right;'><small>(no abundance data)</small></span><br>
				   
				    <% } %>
				    
				<% } %>
				
             </td></tr>
            </table>
	    <center>
	    </div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


