<style>
ul li{
 padding: 5px;
}
#taxon-page-div {
   margin:20px 0;
   padding:10px;
   border:1px solid green;
   
}
.abund-table-div{
   
}
.data{
   padding-left:20px;
}
.abundance-table {
   border-collapse:collapse;
   
}
.abundance-table td,th{
   font-size:small;
   border:1px solid black;
   padding:1px;
   
  }


.column {
  float: left;
  min-height: 420px;
}

.left {
  width: 16%;
  font-size:12px;
  height: 200px; /* only to hold column open */
}

.right {
  
  
}
.middle {
  /* width: 54%; */
  width:83%;
  border:1px solid black;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#legend-links{
  position:fixed;
  
}

#legend-content{
  padding:3px 5px;;
  border:1px solid brown;
  width:100%;
}

.menu-title{
   
   font-size:13px;
   text-align:center;
   background:ivory;
   border:1px solid brown;
   width:100%;

}
#links-content{
  padding:3px;
  border:1px solid brown;
  width:100%
}

.plot-title{
   background:lightblue;
   padding:0 3px;
   border:1px solid grey;
}
#plot_table_master{
   
}
.plot{
   padding:0 10px;
}

.plot_table{
  border-collapse:collapse;
  
}
.plot_table td{
  vertical-align:top;
  
  
}
.plot-td{
   min-width:350px;
}
.spacer{
   padding:10px 0;
   background:grey;
}
.notes-td{
   vertical-align:top;
   padding:10px;
}
.nonote{
   font-size:11px;
   padding:10px 4px;
   margin-left:250px;
   
}
.note{
  font-size:13px;
  padding:10px 4px;
  width:auto;
  height:auto;
  
  border:1px solid brown;
  overflow: auto;
}
#fixed-text-box{
    background-color:#ddd;
    position: absolute;
    padding: 1.1em;
    right: 100px;
    width:500px;
    height:250px;
    overflow:auto;
    top: 200px;
    border:1px solid brown;
    /* transform: translateX(-50%); */
    font-size:11px;
  
}
#text{
   border:1px solid brown;
   font-size:12px;
   line-height:150%;
   margin:0 5px;
   padding:10px;

}
.nodata{
   padding:10px;
   
}
#child-table td{
    padding: 0 5px;
    font-size: small;
}
.y {
   font-weight: normal;
   font-size: small;
}
</style>

<% dewhirst_data = JSON.parse(dewhirst) %>
<% erenv1v3_data = JSON.parse(erenv1v3) %>
<% erenv3v5_data = JSON.parse(erenv3v5) %>
<% hmp_metaphlan_data = JSON.parse(hmp_metaphlan) %>
<% hmp_refseqv1v3_data = JSON.parse(hmp_refseqv1v3) %>
<% hmp_refseqv3v5_data = JSON.parse(hmp_refseqv3v5) %>
<% children_lst = JSON.parse(children) %>
<% genera = JSON.parse(genera) %>
<% notes = JSON.parse(notes) %>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <% if(rank == 'klass' || rank == 'Klass'){  %>
        <% rank_show = 'Class' %>
    <% }else{ %> 
       <% rank_show = rank.charAt(0).toUpperCase() + rank.slice(1) %>
    <% } %>
    <div class='page-content' >
    
    
    <% if(rank=='species') { %>           
       <div class='title'><b><%= rank_show %>:</b> <span class='yellow'><em><%= tax_name %></em></span></div>
    <% }else{ %>
         <div class='title'><b><%= rank_show %>:</b> <span class='yellow'><%= tax_name %></span></div>
      <% } %>
      
    <a id='download_browser_text_excel'  href='/download#abundance' >Download Options</a>   
    <div id='taxon-page-div'>
        
        Full Lineage: <%- lineage %>
        <% if(children_lst.length == 0){ %>
           
        <% }else{ %>
           
           <br><small>Lower rank member(s): 
           <% if(children_lst.length <= 5){ %>
               <% for(n in children_lst){ %>
                 <span >[<%- children_lst[n] %>]</span>
               <% } %>
             
           <% }else{ %>
            <span id='toggle_ranks'><a href='#' onclick='toggle_lower_ranks()'>show[+]</a></span>
        
            <div id='lower-rank-items-div' style='display:none'>
               <% cols = 5 %>
               <table id='child-table'><tr>
               <% for(n in children_lst){ %>
               <% if(n % cols == 0){  %><!-- // modulus/modulo-->
                </tr><tr>
               <% } %>
               <td>[<%- children_lst[n] %>]</td>
               <% } %>
               </tr></table>
            </div>
          <% } %>  <!-- End of if(children_lst.length <5 -->
  
        <% } %>
        
        
        <% if(['phylum','klass','order'].indexOf(rank) != -1){ %>
          <br>Genera:
          <select class='dropdown' onchange="location = this.value;">
          <option value="" disabled selected>Select a genus</option>
          <% for(n in genera){ %>
              <option value='/taxa/ecology?rank=genus&name=<%= genera[n].taxon %>&page=<%= page %>'><%= genera[n].taxon %></option>
          <% } %>
          </select>
        <% } %>
        
        </small>
        
    </div>  <!-- end taxon-page-div -->

<div class='row'> 
     <div class='column left'>
      <div id='legend-links'>
      <div class='menu-title'>Links:</div>
          <div id='links-content'>
            <ul>
            <% if(children_lst.length == 0){ %>
                <li><a href='/taxa/tax_description?otid=<%= otid %>'>Taxon Description:<br>&nbsp;&nbsp;<small><%= taxidfullname %></small></a></li>
            <% }else{ %>
                <li><a href='/taxa/life?rank=<%= rank %>&name=<%= tax_name %>'>Life Page:<br>&nbsp;&nbsp;<small><%- tax_name.split(' ').join('<br>') %></small></a>
            <% } %>
            
            <li><a href='/taxa/ecology_home'>Ecology Home</a>
            
            
            </ul>
          </div>
      
      <br>
    
        <div id='legend'>
        <div class='menu-title'>Body Site Legend:</div>
            <div id='legend-content'>
            <ol>
              <li><b>Oral:</b>
                <br>&nbsp;SUBP --Subgingival Plaque
                <br>&nbsp;SUPP<br>&nbsp;&nbsp;&nbsp;--Supragingival Plaque
                <br>&nbsp;PERIO --Periodontal
                <br>&nbsp;AKE<br>&nbsp;&nbsp;&nbsp;--Attached Keratinized Gingiva
                <br>&nbsp;BMU --Buccal Mucosa
                <br>&nbsp;HPA --Hard Palate
                <br>&nbsp;SAL --Saliva
                <br>&nbsp;THR --Throat
                <br>&nbsp;PTO --Palatine Tonsils
                <br>&nbsp;TDO --Tongue Dorsum
              <li><b>Nasal:</b>
                <br>&nbsp;ANA --Anterior Nares
              <li><b>Skin:</b>
                <br>&nbsp;LRC<br>&nbsp;&nbsp;&nbsp;--L_Retroauricular Crease
                <br>&nbsp;RRC<br>&nbsp;&nbsp;&nbsp;--R_Retroauricular Crease
                <br>&nbsp;LAF --L_Antecubital Fossa
                <br>&nbsp;RAF --R_Antecubital Fossa
              <li><b>Vaginal:</b>
                <br>&nbsp;VIN --Vaginal Introitus
                <br>&nbsp;MVA --Mid Vagina
                <br>&nbsp;PFO --Posterior Fornix
              <li><b>Gut:</b>
                <br>&nbsp;STO --Stool
              <hr>
              Prev - Prevalence
              <br>10<sup>th</sup>p - 10<sup>th</sup> percentile
              <br>90<sup>th</sup>p - 90<sup>th</sup> percentile
            </ol>  
            </div>
        </div>
        
      </div>  
    </div>   <!-- end column left -->
   
    

  



  <span style='float:right;'>
     <% if(page == 'tables'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% }else if(page == 'plots'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% }else if(page == 'lollipop'){ %>
         <input type='radio' value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio'  value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' checked value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% }else{ %>
         <input type='radio' checked value='all' name='all' onclick="change_view('all','<%= rank %>','<%= tax_name %>')"> BarCharts and Tables&nbsp;&nbsp;&nbsp;
         <input type='radio' value='plots' name='plots' onclick="change_view('plots','<%= rank %>','<%= tax_name %>')"> Bar Charts Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='tables' name='tables' onclick="change_view('tables','<%= rank %>','<%= tax_name %>')"> Data Tables Only&nbsp;&nbsp;&nbsp;
         <input type='radio' value='lollipop' name='lollipop' onclick="change_view('lollipop','<%= rank %>','<%= tax_name %>')"> Log-Lollipops
     <% } %>
  </span>
<div class='column middle'>
<table id='plot_table_master'>
<tr><td>
    
    <table class='plot_table'><tr><td class='plot-td'>
    <div class='plot-title'>
        <small>
        HMP 16S RefSeq (V1-V3) <small>(not published)</small>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_hmp_refseqv1v3_here"></div> 
    </div>
    
  </td><td class='notes-td'>
    <% if(notes.hmp_refseqv1v3 == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.hmp_refseqv1v3.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td>
    
  </td>
  
  </tr>
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(hmp_refseqv1v3_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- hmp_refseqv1v3_table %></div>  
    <% } %>  
    </td></tr></table>


</td>
</tr>
<tr><td class='spacer' colspan='2'></td></tr>
<!-- END HMP RefSeq V1V3 -->
<tr><td>
    
    <table class='plot_table'><tr><td class='plot-td'>
    <div class='plot-title'>
        <small>
        HMP 16S RefSeq (V3-V5) <small>(not published)</small>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_hmp_refseqv3v5_here"></div> 
    </div>
        
  </td><td class='notes-td'>
    
    <% if(notes.hmp_refseqv3v5 == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.hmp_refseqv3v5.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td></tr>
  
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(hmp_refseqv3v5_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- hmp_refseqv3v5_table %></div>  
    <% } %>  
    </td></tr></table>


</td>
</tr>
  <!-- END HMP RefSeq V3V5 -->

<tr><td class='spacer' colspan='2'></td></tr>

<tr><td>
    <table class='plot_table'><tr><td class='plot-td'>
    
    <div class='plot-title'>
        <small>
          From: <a href='https://www.pnas.org/content/111/28/E2875.short' target='_blank'>
            Eren et al.(2014) (V1-V3)</a>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_erenv1v3_here"></div> 
    </div>
        
  </td><td class='notes-td'>
    
    <% if(notes.erenv1v3 == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.erenv1v3.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td></tr>
  
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(erenv1v3_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- erenv1v3_table %></div>  
    <% } %>  
    
    
    </td></tr></table>


</td>
</tr>

<tr><td class='spacer' colspan='2'></td></tr>

<tr><td>
    <table class='plot_table'><tr><td class='plot-td'>
    <div class='plot-title'>
        <small>
          From: <a href='https://www.pnas.org/content/111/28/E2875.short' target='_blank'>
            Eren et al.(2014) (V3-V5)</a>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_erenv3v5_here"></div> 
    </div>
        
  </td><td class='notes-td'>
    
    <% if(notes.erenv3v5 == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.erenv3v5.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td></tr>
  
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(erenv3v5_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- erenv3v5_table %></div>  
    <% } %>  
    
    
    </td></tr></table>
    
    

</td>
</tr>

<tr><td class='spacer'></td></tr>

<tr><td>
    
    <table class='plot_table'><tr><td class='plot-td'>
    <div class='plot-title'>
        <small>
        From: Dewhirst 35x9 data <small>(not published yet)</small>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_dewhirst_here"></div> 
    </div>
        
  </td><td class='notes-td'>
    
    <% if(notes.dewhirst == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.dewhirst.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td></tr>
  
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(dewhirst_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- dewhirst_table %></div>  
    <% } %>  
    </td></tr></table>


</td>
</tr>

<tr><td class='spacer'></td></tr>

<tr><td>
    
    <table class='plot_table'><tr><td class='plot-td'>
    <div class='plot-title'>
        <small>
        From: HMP MetaPhlan Data <small>(not published)</small>
        </small>
    </div>
    <div class='plot' >
        <div id="plot_hmp_metaphlan_here"></div> 
    </div>
        
  </td><td class='notes-td'>
    
    <% if(notes.hmp_metaphlan == ''){ %>
        <div class='nonote'>No Notes</div>
    <% }else{ %>
        <% parts = notes.hmp_metaphlan.split(';') %>
        <div class='note'>
        <b>Notes:</b><br>
        <% for(n in parts){ %>
         <%- parts[n] %><br><br>
        <% } %>
        </div>
    <% } %>
    
  </td></tr>
  
  <tr><td class='data' colspan='2'>
    <% if(Object.keys(hmp_metaphlan_data).length !== 0){ %>
      <small>percent abundance</small>
      <div class='abund-table-div'><%- hmp_metaphlan_table %></div>  
    <% } %>  
    </td></tr></table>


</td>
</tr>
<tr><td class='spacer' colspan='2'></td></tr>
<!-- END HMP MetaPhlan -->


</table>
</div>  <!-- column middle -->
 <!-- 
<div id='fixed-text-box'>
   <% if(text_file){ %>
     <div id='textX'><%- include('../../partials/static/'+text_file); %></div>
   <% }else if(text_format){ %>
    <div id='textX'><%- text_format %></div>
   <%} %>
</div>
-->
    
</div>  <!-- end row -->



    </div> <!-- end: page-content -->
    </div> <!-- end: wrapper -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>

<script>
  mainmenu()
  max       =   JSON.parse('<%- max %>')

  dewhirst     = JSON.parse('<%- dewhirst %>')
  erenv1v3        = JSON.parse('<%- erenv1v3 %>')
  erenv3v5        = JSON.parse('<%- erenv3v5 %>')
  hmpmetaphlan    = JSON.parse('<%- hmp_metaphlan %>')
  hmprefseqv1v3   = JSON.parse('<%- hmp_refseqv1v3 %>')
  hmprefseqv3v5   = JSON.parse('<%- hmp_refseqv3v5 %>')
  hmpv1v3table    = "<%- hmp_refseqv1v3_table %>"
  lineage         = '<%= lin %>'
  
  w = 350
  h = 300
  var margin = {top: 30, right: 30, bottom: 70, left: 60},
      width = w - margin.left - margin.right,
      height = h - margin.top - margin.bottom;

  //hmptablev1v3tt = d3.select("#table-tooltip").append("div").style("position", "absolute").style("z-index", "10").style("visibility", "hidden").style("background-color", "white").style("border", "solid").style("border-width", "1px").style("border-radius", "5px").style("padding", "10px")
  //var svg = d3.select("#table-tooltip")
  
 // var circle = document.querySelector("#table-tooltip");
  //var x = document.getElementById("table-tooltip");
//x.querySelector(".example").innerHTML = "Hello World!";
//  var tooltip = document.querySelector("#tooltip");

// circle.addEventListener("mouseover", function() {
//   tooltip.style.visibility = "visible";
// });
// 
// circle.addEventListener("mouseout", function() {
//   tooltip.style.visibility = "hidden";
// });

</script>
<script type="text/javascript" src="/js/ecology.js"></script>

