<style>
#hierarchy_table_div table{
  width:50%;
}
#hierarchy_table_div table td{
   padding:0 10px;
   border:1px solid brown;
}
#images{
   float:right;
   margin-top:10px;
}
#images div{
   padding:5px;
}
#lineage{
  padding:20px 10px 10px 10px;
  margin-top:20px;
  background: palegoldenrod;
 
  
}
</style>
<% images = JSON.parse(image_array)  %>
<%- include('../../partials/header_html'); %>


<% if(!rank) {  %> 
<%    headline = 'Life:  Cellular Organisms' %>
<% }else if (rank === 'klass'){ %>

<%    headline = 'Class: '+tax_name %>

<% }else{ %>
	<% headline = rank.charAt(0).toUpperCase() + rank.slice(1) + ': '+tax_name %>
<% } %>


	
<body>
  		
    <%- include('../../partials/header_img'); %>
	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
	  			
	  <center><h4 class='title text-info'><%= headline %></h4></center>
	  
	  <div id='lineage'>
	  <% if(lineage){ %>
	    <span>Lineage:</span> <span><small><%= lineage %></small></span>
	  <% } %>
	  </div>
	 
	  <div id='images'> <!-- Up to four images  -->
	    <table border='0'>
	    <tr>
	    <% for(n in images){ %>
	      <% if(n==0 || n===2){ %>
	        <tr><td>
	      <% }else{ %>
	        <td>
	      <% } %>
	      
	       <div>
	       <img id='img' src='/images/life-images/<%= rank %>/<%= images[n].name %>' width='250' alt=''  \><br>
	       <small><%= images[n].text %></small>
	     
	       </div>
	      
	     <% if(n==0 || n===2){ %>
	        </td>
	      <% }else{ %>
	        </td></tr>
	      <% } %>
	    <% } %>
	    
	    </table>
	  </div>
	  
	  <div id='hierarchy_table_div'>
	  <table border='0'>	
		<thead>
		 <tr><th>Taxonomy eHOMD:</th><th></th><tr>
		</thead>
		<tbody>
		 <tr><td>Life</td><td><a href='life'>Cellular Organisms</a></td></tr>
		 <%- html %>
		
		</tbody>
	  </table>
	  </div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


