<style>
#hierarchy_table_div table{
  width:50%;
}
#hierarchy_table_div table td{
   padding:0 10px;
   border:1px solid brown;
}
#images{
   float:right;
   margin-top:10px;
}
#images div{
   padding:5px;
}
#lineage{
  padding:10px 10px 10px 10px;
  margin-top:20px;
  background: palegoldenrod;
  border:1px solid brown;
  color:red;
}
#lineage2{
   color:black;
   font-weight:normal;
   
}
#headline1{
  font-size:20px;
  font-weight:bold;
}
#life-table{
   border-collapse:collapse;
   margin:10px;
   
}
#life-table tr td{
   padding:5px;
   font-size:15px;
   
}
.life-taxa-name{
   background:lightgray;
   vertical-align:top;
}
.life-taxa{
   background:white;
   font-size:20px;
   color:black;
}
.life-taxa a{
   color:blue;
}
.vist-taxon-page{
  float:right;
  font-size:x-small;
}
.vist-taxon-page a{
  color:steelblue;
}
</style>
<% images = JSON.parse(image_array)  %>
<%- include('../../partials/header_html'); %>


<% if(!rank) {  %> 
<%    headline1 = 'Life: ' %>
<%    headline2 = 'Cellular Organisms' %>
<% }else if (rank === 'klass'){ %>

<%    headline1 = 'Class: ' %>
<%    headline2 = tax_name %>

<% }else{ %>
	<% headline1 = rank.charAt(0).toUpperCase() + rank.slice(1) + ': ' %>
	<% headline2 = tax_name %>
<% } %>


	
<body>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
	  			
	  <div class='title'>
	  <% if(rank=='species') { %>
	     <span id='headline1'><%= headline1 %></span> <span id='headline2'><em><%= headline2 %></em></span>
	  <% }else{ %>
	     <span id='headline1'><%= headline1 %></span> <span id='headline2'><%= headline2 %></span>
	  <% } %>
	  
	  </div>
	  
	  
	  <% if(lineage){ %>
	  <div id='lineage'>
	    <span>Lineage:</span> <span id='lineage2'><%- lineage %></span>
	    </div>
	  <% }else{ %>
	  <div id='lineage' style='padding:10px;margin-top:20px;'>Select a domain below to descend the taxonomic lineage of the oral microbiome.</div>
	  <% } %>
	  
	 

	  
	  
<div id='images'> <!-- Up to four images  -->
<% if(images.length === 0 ) { %>
  <style>
    #hierarchy_table_div table{
      width:90%;
    }
  </style>
  <% table_width = '90%' %>
<% }else if(images.length === 1 ) { %>
  <div style='padding-right:200px;'>
    <img id='img' src='/images/life-images/<%= images[0].name %>' width='250' alt='<%= tax_name %> Image'  \><br>
    <small><%= images[0].text %></small>
  </div>

<% }else{ %>
	<table id='image-table'>
		<tr>
		<% for(n in images){ %>
		  <% if(n==0 || n===2){ %>
			<tr><td>
		  <% }else{ %>
			<td>
		  <% } %>

		  <div>
			<img id='img' src='/images/life-images/<%= images[n].name %>' width='250' alt=''  \><br>
			<small><%= images[n].text %></small>
		  </div>
		  <% if(n==0 || n===2){ %>
			</td>
		  <% }else{ %>
			</td></tr>
		  <% } %>
		<% } %>
	</table>
<% } %>

</div>
	  
	  <div id='hierarchy_table_div' width='90%'>
	  <table id='life-table'>	
		<thead>
		 <tr><th></th><th><i>e</i>HOMD Taxonomy</th><tr>
		</thead>
		<tbody>
		 <tr><td class='life-taxa-name'>Life</td><td class='life-taxa'><a href='life'>Cellular Organisms</a></td></tr>
		 <%- html %>
		
		</tbody>
	  </table>
	  </div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
  </div>  <!-- end wrapper    -->  
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


