<style>

#hierarchy_table_div{
   min-height:700px;
}
#hierarchy_table_div table td{
   padding:0 10px;
   border:1px solid brown;
}
#imagesNtext{
    float:right;
   border:1px solid brown;
   width:40%;
   font-size:13px;
   line-height:150%;
   margin-top:25px;
   padding:10px;
   
}
#text{
   float:right;
   border:1px solid brown;
   background-color:lightgrey;
   width:40%;
   font-size:13px;
   line-height:150%;
   margin-top:25px;
   padding:10px;
}
#images{
   float:right;
   width:40%;
   margin-top:25px;
   border:1px solid brown;
}
#image-table{
   padding:2px;
  }
#image-table td{
   padding:2px;
}
#images div{
   padding:5px;
}
#lineage{
  padding:10px 10px 10px 10px;
  margin-top:20px;
  background: palegoldenrod;
  border:1px solid brown;
  color:red;
}
#lineage2{
   color:black;
   font-weight:normal;
   
}
#headline1{
  font-size:20px;
  font-weight:bold;
}
#life-table{
   border-collapse:collapse;
   margin:10px;
   
}
#life-table tr td{
   padding:5px;
   font-size:15px;
   
}
.life-taxa-name{
   background:lightgray;
   vertical-align:top;
}
.life-taxa{
   background:white;
   font-size:20px;
   color:black;
}
.life-taxa a{
   color:blue;
}
.vist-taxon-page{
  float:right;
  font-size:13px;
  text-decoration:underline;
}
.vist-taxon-page a{
  color:black;
  
  
}
#life-table li {
   padding:10px 0;
   /* height:50px; */
   border-bottom:1px solid black;
}
</style>
<% images = JSON.parse(image_array)  %>
<%- include('../../partials/header_html'); %>

<body>
  <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >   
    <div class='title'>
    <% if(!rank) { %>
       <span id='headline1'>Life:</span> <span class='yellow' id='headline2'>Cellular Organisms</span>
    <% }else if (rank === 'klass'){ %>
       <span id='headline1'>Class:</span> <span class='yellow' id='headline2'><%= tax_name %></span>
    <% }else if(rank=='species') { %>
       
       <span id='headline1'>Species:</span> <span class='yellow' id='headline2'><em><%= tax_name %></em></span>
    
    <% }else{ %>
       <% headline1 = rank.charAt(0).toUpperCase() + rank.slice(1) + ': '%>
       <span id='headline1'><%= headline1 %></span> <span class='yellow' id='headline2'><%= tax_name %></span>
    <% } %>
    
    </div>
    
    
    <% if(lineage){ %>
    <div id='lineage'>
      <span>Lineage:</span> <span id='lineage2'><%- lineage %></span>
      </div>
    <% }else{ %>
    <div id='lineage' style='padding:10px;margin-top:20px;'>Select a domain below to descend the taxonomic lineage of the oral microbiome.</div>
    <% } %>
    
<% if(text_file && images.length > 0){ %>
   
   <div id='imagesNtext'>
   <div><%- include("../../partials/static/"+text_file); %></div>
   <br>
   
    <table id='image-table'>
        <tr><td valign='top'><img id='img' src='/images/life-images/<%= images[0].name %>' width='250'  alt='<%= tax_name %> Image'  \><br>
        </td><td valign='top'><small><%- images[0].text %></small>
        </td></tr>
    </table>
   </div>
   
   <style>#life-table{width:58%;}</style>
   
<% }else if(text_file){ %>
    <div id='text'><%- include('../../partials/static/'+text_file); %></div>
    <style>#life-table{width:58%;}</style>
<% }else if(text_format){ %>
   <div id='text'><%- text_format %></div>
   <style>#life-table{width:58%;}</style>
<% }else if(images.length > 0){ %> 
   
    <div id='images'>
    
    <% if(images.length === 1 ) { %>
      <div style=''>
        <table id='image-table'>
        <tr><td valign='top'><img id='img' src='/images/life-images/<%= images[0].name %>' width='250'  alt='<%= tax_name %> Image'  \><br>
        </td><td valign='top'><small><%- images[0].text %></small>
        </td></tr>
        </table>
      </div>
    <% }else{ %>
      <table id='image-table'>
        <tr>
        <% for(n in images){ %>
          <% if(n==0 || n===2){ %>
          <tr><td>
          <% }else{ %>
          <td>
          <% } %>
          <div>
          <img id='img' src='/images/life-images/<%= images[n].name %>' width='250'  alt=''  \><br>
          <small><%- images[n].text %></small>
          </div>
          <% if(n==0 || n===2){ %>
          </td>
          <% }else{ %>
          </td></tr>
          <% } %>
        <% } %>
      </table>
    <% } %>
    </div>
    <style>#life-table{width:58%;}</style>
<% }else{ %> 
    <style>#life-table{width:80%;}</style>
<% } %> 


 

    
    <div id='hierarchy_table_div'>
    <table id='life-table'> 
    <thead>
     <tr><th></th><th><i>e</i>HOMD Taxonomy</th><tr>
    </thead>
    <tbody>
     <tr><td class='life-taxa-name'>Life</td><td class='life-taxa'><a href='life'>Cellular Organisms</a></td>
     
     </tr>
     <%- html %>
    
    </tbody>
    </table>
    </div>
</div> <!-- end: page-content -->

<div id='footer'>
     <%- include('../../partials/footer'); %>
</div>
</div>  <!-- end wrapper    -->  
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


