<%- include('../../partials/header_html'); %>

<style>
</style>
<body>
  <div id='wrapper'>		
	    
	    
	
       <%- include('../../partials/header_img'); %>
    

	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
		  					
	  <center>
	     <h4 class='title text-info'>Rank:  <%= rank %></h4>
	     <div class='sub-title'>
	       <%= tax_name %>
	     </div>
		<ul>
		<li>discription of this rank
		<li>images?
		<li>List of sub-taxa
		<li>Link to parent 
		</ul>	 
	  </center>
			 
			 
	</div>
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


