<style>


.taxon-data{
   /* font-family: "Lucida Console", "Courier New", monospace; */
   font-weight:normal;
   
}
.taxon-data a{
   /* font-family: "Lucida Console", "Courier New", monospace; */
   font-weight:normal;
}
.taxon-bold{
   /* font-family: "Lucida Console", "Courier New", monospace; */
   font-weight:bold;
}
.taxon-bold a{
   /* font-family: "Lucida Console", "Courier New", monospace; */
   font-weight:bold;
}
.desc-box{
  font-size:13px;
  padding:5px;
  /* width:99%; */
  max-height:220px;
  overflow:scroll;
  border:1px solid black;
  
}
#description_tbl{
  width:100%;
  font-size:small;
}

#description_tbl td td{
  padding-left:5px;
}


.tbl-title{
  background:lightblue;
  
}
#left-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#right-tbl td{
  padding:4px 0;
  border-bottom:1px solid darkgrey;
}
#references{
   padding:4px;
   margin:14px;
   border-top:2px dashed #336633;
}

.data{
   width:300px;
   height:200px;
   overflow:auto;
}
#status{
   width:100%;
   padding:10px 0 10px 5px;
   background:orange;
   border:1px solid darkgreen;
}
.td-button{
  background-color: #97B8F7;
  color: black;
  padding:2px 4px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
}
.img {
  height: 190px;
}
.txt{
  padding:2px;
}
.rs-span-2{
  float:right;
}



#myImg0:hover {opacity: 0.7;cursor:pointer;}
#myImg1:hover {opacity: 0.7;cursor:pointer;}
#myImg2:hover {opacity: 0.7;cursor:pointer;}
#myImg3:hover {opacity: 0.7;cursor:pointer;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (for Images) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.tooltip_templates { display: none; }
#tooltip_content ul{
  background:lightgrey;
  padding:8px;
  color:black;
}

#info-table-div{
   padding:20px;
   
   margin-top:10px;
   width:100%;
}
#info-table{
  border-collapse:collapse;
  width:100%;
  
}
#info-table td{
  border:1px solid darkgrey;
  padding:5px;
  
}
.taxon-extra-title{
   width:230px;
}


#pubs-table td{
   border:0;
   padding:5px;
}
#refseq-table{
    border:1px solid darkgrey;
    height:300px;
    width:400px;
    overflow:auto;
}
#refseq-table-no-scroll{
    border:1px solid darkgrey;
}
.link{
   text-decoration: underline;
   background:#EDEADE;
   padding:1px;
   margin:1px;
}

.table-div {
    /* https://dev.to/flippedcoding/how-to-make-a-table-without-using-the-html-table-elements-5e11 */
    display: flex;
}

.column-div {
    margin-bottom: 1em;
    width: 100%;
}

.row-div {
    margin: auto;
    width: 100%;
    padding:10px;
}
</style>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<% data_lookup = JSON.parse(data1) %>
<% data_pubs = JSON.parse(data4) %>
<% data_info = JSON.parse(tinfo) %>
<% data_lineage = JSON.parse(lin) %>
<% data_refseq = JSON.parse(refseq_info) %>
<% links = JSON.parse(links) //refseq  %>
<% sites = JSON.parse(sites) %>

<% taxidfullname = ("000" + otid).slice(-3); %>
<% taxidfullnameplus = 'HMT-'+taxidfullname; %>
<% images = JSON.parse(image_array)  %>
<!-- <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" /> -->
<body>
    <link rel="stylesheet" type="text/css" href="/css/tooltipster.bundle.min.css" />
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    <div class='page-content' >
    <span class='back_btnx' ><a href='/taxa/tax_table'>Back To Tax Table</a></span>   
  
  
  <p class='h3 title'>
    <i><%= data_lineage.species %> <%= data_lineage.subspecies %></i>
    (<%= taxidfullnameplus %>)
  </p>
  


<center><span id='lineage'><%= data_lineage.domain %>;<%= data_lineage.phylum %>;<%= data_lineage.klass %>;<%= data_lineage.order %>;<%= data_lineage.family %>;<%= data_lineage.species %>

  <%= data_lineage.subspecies %>

</span></center>

<div id='tables'>
<br><!-- <div id='status'>Preferred Body Site(s): [<%= data_lookup.sites %>]</div> -->


<div class="table-div">  <!-- https://dev.to/flippedcoding/how-to-make-a-table-without-using-the-html-table-elements-5e11 -->
    <div class="column-div">
         <div class="row-div">





  <table id='left-tbl'>
  <tr><td colspan='2'>
        
        <div class='desc-box'>
          <% if(text_file){ %>
            <%- include("../../partials/static/"+text_file); %>
          <% }else{ %>
            <% if(data_info.notes){ %>
                    <b>Notes</b>: <span class='red-text'><%- data_info.notes %></span><br><br>
            <% } %>
            <b>Taxon Description</b>: <%- data_info.general %><br>
          <% } %>
        </div>

  </td></tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>Classification:</td>
    <td class='taxon-data'>
    <table id='tax_lineage'>
      <tr><td class='taxon-bold'>Domain:</td>
      <td class='taxon-data'><a href='life?rank=domain&name=<%= data_lineage.domain %>'><%= data_lineage.domain %></a></td></tr>
      <tr><td class='taxon-bold'>Phylum:</td>
      <td class='taxon-data'><a href='life?rank=phylum&name=<%= data_lineage.phylum %>'><%= data_lineage.phylum %></a></td></tr>
      <tr><td class='taxon-bold'>Class:</td>
      <td class='taxon-data'>
        <a href='life?rank=klass&name=<%= data_lineage.klass %>'><%= data_lineage.klass %></a>

      </td></tr>
      <tr><td class='taxon-bold'>Order:</td>
      <td class='taxon-data'>
        <a href='life?rank=order&name=<%= data_lineage.order %>'><%= data_lineage.order %></a>

      </td></tr>
      
      
      <tr><td class='taxon-bold'>Family:</td>
      <td class='taxon-data'>
        <a href='life?rank=family&name=<%= data_lineage.family %>'><%= data_lineage.family %></a>

      </td></tr>
      <tr><td class='taxon-bold'>Genus:</td>
      <td class='taxon-data'>
        <a href='life?rank=genus&name=<%= data_lineage.genus %>'><%= data_lookup.genus %></a>
        <% if(data_lineage.genus.includes("[")){ %>
          <span class="tooltip" data-tooltip-content="#tooltip_content">
          <img src="/images/question.png" width='20'>
          </span>
        <% } %>
      </td></tr>
      <div class="tooltip_templates">
           <span id="tooltip_content">
              Bracketed letters indicate 
              <br>that the taxonomic name at this 
              <br>level has not been established.
              <ul>
              <li><small>Examples:</small>
              <li><small>C1 – First Unnamed Class</small>
              <li><small>O1 – First Unnamed Order</small>
              <li><small>F2 – Second Unnamed Family</small>
              <li><small>G3 – Third Unnamed Genus</small>
              </ul>
           </span>
      </div>
      <% if(data_lineage.subspecies){ %>
        <tr><td class='taxon-bold'>Species:</td><td class='taxon-data'> <a href='life?rank=species&name=<%= data_lineage.species %>'><%= data_lookup.species %></a></td></tr>
        <tr><td class='taxon-bold'>Subspecies:<br>or Clade:</td><td class='taxon-data'><%= data_lineage.subspecies %></td></tr>
      <% }else{ %>
         <tr><td class='taxon-bold'>Species:</td><td class='taxon-data'><%= data_lookup.species %></td></tr>
      <% } %>
      </table>
    </td>
  </tr>
  <tr><td class='taxon-bold tbl-title'>Bacterial Name:</td>
        <td class='taxon-data'><i><%= data_lineage.species %></i></td>
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>Naming Status:</td>
    
    <td class='taxon-data'>
        
        <% if(data_lookup.naming_status.substring(data_lookup.naming_status.length-2, data_lookup.naming_status.length) == "**"){ %>
            
            <%= data_lookup.naming_status.substring(0, data_lookup.naming_status.length-2) %><span class='red-text'>**</span>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;<small><span class='red-text'>**</span> See Notes Below</small>
          
            
            
        <% }else{ %>
            <%= data_lookup.naming_status %>
        <% } %>
    </td>
    
  </tr>
  <tr>
    <td class='taxon-bold tbl-title'>Cultivation Status:</td>
    
    <td class='taxon-data'><%= data_lookup.cultivation_status %></td>
  </tr>
  
  <% if(msg){ %>
     <tr><td class='taxon-bold tbl-title'>Notes:</td>
        
        <% pts = msg.split(";;")%>
        <td class='red-text'>
        <small>
          <% for(i in pts){ %>
            <% pts2 = pts[i].split("&&") %>
            <% if(pts2.length == 2){ %>
                <a style="text-decoration-line: underline;" href='<%- pts2[1] %>' target='_blank'>
                    <span class='red-text'><%- pts2[0] %></span><br>
                </a>
            <% }else{ %>
                  <%- pts[i] %><br>
            <% } %>
          <% } %>
        </small>
        </td>
        
     </tr>
  <% } %>
  
  <tr>
    <td class='taxon-bold tbl-title'> Body Site (or Source): <span class='red-text'><small>(in beta)</small></span></td>
    <td class='taxon-data'><%- sites %></td>
    
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title'> Type/Reference Strain:</td>
    <% if(data_lookup.status === 'Named') { %>
        <!-- USE type strains -->
       
        <td class='taxon-data'>
        
        <% if(data_lookup.type_strains.length > 0){ %>
           <%- data_lookup.type_strains.join(', ') %>
        <% } %>
        
        
        <br>[Check <a href='https://lpsn.dsmz.de/<%= links['lpsnlink'] %>' target='_blank' rel="noopener noreferrer">LPSN.dsmz.de</a>]
        <br>[Check <a href='http://gcm.wdcm.org/search?search=<%= links['gcmlink'] %>' target='_blank' rel="noopener noreferrer">GCM (Global Catalogue of Microorganisms)</a>]
        
        
        
    <% }else{ %>                                     <!--  if status is Named - Cultured also -->
        <!-- Use Reference Strains -->
        <td class='taxon-data'>
        <% if(data_lookup.ref_strains.length > 0){ %>
           <%- data_lookup.ref_strains.join(', ') %>
        <% } %>
    <% } %>
        </td>
  </tr>
  <tr>
    <td class='taxon-bold tbl-title'>Former Names or Synonyms:</td>
    <td>
       <table class='' border='0'>
       <% for(n=0;n<data_lookup.synonyms.length;n++){ %>
          <tr><td class='taxon-data' style='border:none;padding:0 1px;'><i><%- data_lookup.synonyms[n] %></i></td></tr>
       <% } %>
       </table>
    
    </td>
  </tr>
  <tr>
    <td class='taxon-bold tbl-title'>16S rRNA Reference Sequences:</td>
    <td class='taxon-data'>
    
      <% if(data_lookup.naming_status != "Dropped"){ %>
        <strong>RefSeq-ID(s)</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <small class='link'>[<a href='/refseq/refseq_tree?otid=<%= otid %>' target='_blank'>View Taxon in RefSeq Tree</a>]</small>

        <!-- OLD: >001A28SC | Bartonella schoenbuchensis | HMT-001 | Strain: A28SC | GB: GQ422708 | Status: Named | Preferred Habitat: Unassigned | Genome: yes -->
        <!-- NEW: >81531021 | Methanobrevibacter oralis | HMT-815 | Strain: DSM 7256 | PROKKA: SEQF3102_01675 | Status: Named | Genomes: 5 -->
        
        <% if(data_refseq.length > 10){ %>
            <div id='refseq-table'>
        <% }else{ %>
            <div id='refseq-table-no-scroll'>
        <% } %>
        <table class='' border='0'>
        <% for(n in data_refseq){ %>
            <% refseqid   = data_refseq[n].refseq_id %>
            <% species    = data_refseq[n].species %>
            <!-- We also have seqids,seqid_count,seq_length -->
            <tr>
               <td class='' style='border:none;padding:0 1px;'>
                 <span class='rs-span-1 taxon-data'><%= refseqid %></span>
               </td><td>
                  <a href='#' class='td-button' onclick="get_refseqV16('<%= taxidfullnameplus %>','<%= refseqid %>','<%= species %>')">
                    Show Sequence
                  </a>
               </td>
            </tr>
        <% } %>
        </table>
        </div>
        <br>
        
    <% } %>
    
    
    <a class='link' href='/download/download/refseq'>Download latest 16S rRNA reference gene sequences.</a>
    
    
    </td>
  </tr>
  </table>
<!-- End Left table -->



</div>  <!-- end row -->
</div>  <!-- end col -->
<div class="column-div">
  <div class="row-div">



</td><td style="width: 500px; vertical-align:top">

<!-- Start Right table -->
  <table id='right-tbl'>
  <tr><td colspan='2'>
  
    <div class='desc-box'>
        <% if(images.length === 0 ) { %>
             <!-- no box -->
             No Images Available
        <% }else if(images.length === 1 ) { %>
             
              <table border='0'>
                <tr><td valign='top'>
                <% im_id = "none" %>
                <% if(images[0].hires){ %>
                <%   im_id = "myImg0" %>
                <% } %>
                <img title='<%= images[0].title %>' id="<%= im_id %>" class='img' src='/images/life-images/<%= images[0].name %>' alt='<%= images[0].name %>'  \>
                </td><td valign='top' class='txt'>
                <small><%- images[0].text %></small>
                </td></tr>
              </table>
        <% }else{ %>
              <table class='image-table' border='0'>
                      <% for(n in images){ %>
                        <% if(n==0 || n==2){ %>
                        <tr><td valign='top'>
                        <% }else{ %>
                        <td valign='top'>
                        <% } %>
                         <div>
                           <% im_id = "none" %>
                            <% if(images[n].hires){ %>
                            <%   im_id = "myImg"+n.toString() %>
                            <% } %>
                            <img  id="<%= im_id %>" class='img' src='/images/life-images/<%= images[n].name %>' alt='<%= images[n].name %>'  \><br>
                        <small class='txt'><%- images[n].text %></small>
                         </div>
                       <% if(n==0 || n==2){ %>
                        </td>
                        <% }else{ %>
                        </td></tr>
                        <% } %>
                      <% } %>
              </table>
        <% } %>
    </div>

  </td></tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>Number of<br>Genome Sequences:</td>
    <td class='taxon-data'>
      
      <% g_length = data_lookup.genomes.length %>
      <% if(g_length === 0){ %>
        <small>No Genomes</small>
      <% }else{ %>
       <%= g_length %> <a class='td-button' href='/genome/genome_table?otid=<%= otid %>'> Open Genomes in Table</a>
      <% } %>
      
    </td>
  </tr>
  
  
  
  <tr>
    <td class='taxon-bold tbl-title'>Pangenome(s):</td>
    <td class='taxon-data'>
    
    <% if(data_lookup.pangenomes.length == 1 && data_lookup.pangenomes[0]){ %>
           View in Anvi`o: <a class='link' href='/genome/anvio?pg=<%= data_lookup.pangenomes[0] %>' target='_blank'>
              <%= data_lookup.pangenomes[0] %></a> (<small>Interactive</small>)
           <br>
           View <a class='link' href='/genome/pangenome_image?pg=<%= data_lookup.pangenomes[0] %>&ext=svg' target='_blank'>
             SVG Image</a>
    
    <% }else if(data_lookup.pangenomes.length > 1 && data_lookup.pangenomes[0]){ %>
    
    <%   for(n in data_lookup.pangenomes){ %>
           <%= parseInt(n)+1 %>) Anvio: <a class='link' href='/genome/anvio?pg=<%= data_lookup.pangenomes[n] %>' target='_blank'>
              <%= data_lookup.pangenomes[n] %></a>
           Image: <a class='link' href='/genome/pangenome_image?pg=<%= data_lookup.pangenomes[n] %>&ext=svg' target='_blank'>
             svg</a>
             <br>
    <%   } %>
    
    <% }else{ %>
       <small>No Pangenomes Available.</small>
    <% } %>
    
    </td>
  </tr>
  <tr>
    <td class='taxon-bold tbl-title'>Microbial Ecology:</td>
    <% if(otid_has_abundance){ %>
       <% if(data_lineage.subspecies){ %>
         <% ss = encodeURIComponent(data_lineage.subspecies) %>
         <% rankname = "subspecies" %>
       <% }else{ %>
         <% ss = encodeURIComponent(data_lineage.species) %>
         <% rankname = "species" %>
       <% } %>
    
       <td class='taxon-data'><a class='link' href='ecology?rank=<%= rankname %>&name=<%= ss %>'>Abundance/Prevalence<br> 
         </a>
       </td>
    <% }else{ %>
         <td><small>No Abundance Data</small></td>
    <% } %>
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>Proteomics:</td>
    <td class='taxon-data'></td>
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>NCBI Taxon ID:</td>
    <td class='taxon-data'>
    <% if(data_lookup.ncbi_taxid === "0"){ %>
        <small>Not Available</small>
    <% }else{ %>
      
        <%= data_lookup.ncbi_taxid %> 
        <span class='link'>
        [<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%= data_lookup.ncbi_taxid %>' target='_blank' rel="noopener noreferrer">Link to NCBI</a>]
        </span>
      
      <% } %>
      </td>
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title' title='List of Prokaryotic names with Standing in Nomenclature'>LPSN.dsmz.de:</td>
    <td class='taxon-data'>
      <% link = "https://lpsn.dsmz.de/"+links["lpsnlink"] %>
      <% show = data_lineage.species %>
      
        <span>
        <a class='link' href='<%- link %>' target='_blank' rel="noopener noreferrer"><em><%- link %></em></a>
        </span>
      
      </td>
  </tr>
  
  
  
  <tr>
    <td class='taxon-bold tbl-title'>PubMed Searches:</td>
    <td class='taxon-data'>
      <% if(data_lookup.naming_status === 'Named') { %>
         
       <table class='' border='0'>
         
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td class='link' style='padding:0 1px;border:none;'><a href='https://pubmed.ncbi.nlm.nih.gov/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI PubMed Link</a></td></tr>
            <!-- nuccore/?term="genus+species"   -->
            <!-- nucleotide?cmd=search&term="data_lookup.genus data_lookup.species" -->
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td class='link' style='padding:0 1px;border:none;'><a href='https://www.ncbi.nlm.nih.gov/nuccore/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI (Entrez) Nucleotide Link</a></td></tr>
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td class='link' style='padding:0 1px;border:none;'><a href='https://www.ncbi.nlm.nih.gov/protein/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI (Entrez) Protein Link</a></td></tr>
         
       </table>
      <% }else{ %>
         Status: <%= data_lookup.naming_status %>
      <% } %>
      
    </td>
  </tr>
  
  <tr>
    <td class='taxon-bold tbl-title'>Phylogenetic Trees:</td>
    <td class='taxon-data'>
    <% if(g_length > 0){ %>
      <table class='' border='0'>
          <tr><td style='border:none;padding:0 1px;'><a class='link' href='/genome/conserved_protein_tree?otid=<%= otid %>' target='_blank'>Genome Tree</a></td></tr>
          <tr><td style='border:none;padding:0 1px;'><a class='link' href='/genome/ribosomal_protein_tree?otid=<%= otid %>' target='_blank'>Ribosome Protein Tree</a></td></tr>
          <tr><td style='border:none;padding:0 1px;'><a class='link' href='/genome/rRNA_gene_tree?otid=<%= otid %>' target='_blank'>16S rRNA Gene Tree</a></td></tr>
      </table>
    <% }else{ %>
      <table class='' border='0'>
          <tr><td style='border:none;padding:0 1px;'>View in genome tree (no genomes)</td></tr>
          <tr><td style='border:none;padding:0 1px;'>View in ribosome protein tree (no genomes)</td></tr>
          <tr><td style='border:none;padding:0 1px;'>View in 16S rRNA gene tree (no genomes)</td></tr>
      </table>
    <% } %>
    </td>
  </tr>
  
  
  </table>


</div>   <!-- end row-div -->
</div>  <!-- end column-div -->
</div>  <!-- end table-div -->



</div>



<center>
<div id='info-table-div'>
<table id='info-table' border='1'>
  <% if(data_info.disease){ %>
    <tr>
    <td class='taxon-extra-title'>Disease Associations:</td>
    <td class='taxon-extra'>
      <small><%- data_info.disease %></small>
    </td>
    </tr>
  <% } %>
  <% if(data_info.prev){ %>
  <tr>
    <td class='taxon-extra-title'>Prevalence and Source:</td>
    <td class='taxon-extra'>
      <small><%- data_info.prev %></small>
    </td>
  </tr>
  <% } %>
  <% if(data_info.geno){ %>
  <tr>
    <td class='taxon-extra-title'>Genotypic Description:</td>
    <td class='taxon-extra'><small></small>
      <small><%- data_info.geno %></small>
    </td>
  </tr>
  <% } %>
  <% if(data_info.pheno){ %>
  <tr>
    <td class='taxon-extra-title'>Phenotypic Characteristics:</td>
    <td class='taxon-extra'>
      <small><%- data_info.pheno %></small>
    </td>
  </tr>
  <% } %>
  <% if( data_info.culta){ %>
  <tr>
    <td class='taxon-extra-title'>Cultivability:</td>
    <td class='taxon-extra'>
      <small><%- data_info.culta %></small>
    </td>
  </tr>
  <% } %>
  <% if(data_pubs.pubs && data_pubs.pubs.length >0){ %>
  <tr>
    <td class='taxon-extra-title'>References:</td>
    <td class='taxon-extra'>
          <table id='pubs-table' border='0'>
          <% for (i in data_pubs.pubs){ %>
            <tr><td>
            [<b><%= parseInt(i)+1 %></b>] <%= data_pubs.pubs[i].authors %> <%= data_pubs.pubs[i].title %> <%= data_pubs.pubs[i].journal %>
            </td></tr>
          <% } %>
          </table>
    </td>
  </tr>
  <% } %>
</table>
</div>
</center>



 
<!-- The Modal Image Enlargement-->
<div id="myModal" class="modal">
  <!-- The Close Button -->
  <span class="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img0" >
  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>


  
</div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
  </div> <!-- end wrapper   -->
  
 

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/tooltipster.bundle.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  //$(document).ready(function() {
    $('.tooltip').tooltipster({
       contentCloning: true, theme: 'tooltipster-noir'
    });
  //}
  mainmenu()
  images = JSON.parse(`<%- image_array %>`)
  //var tooltip = new Tooltip(document.querySelector('.trigger'));
  //$(document).ready(function() {
        // https://calebjacob.github.io/tooltipster/
        
  //});

  //for(x in images){
     //alert(images[x].hires)
  //}
  // Get the modal
// url= /images/life-images/hires/images[n].hires
var modal = document.getElementById("myModal");
// https://www.w3schools.com/howto/howto_css_modal_images.asp
// Get the image and insert it inside the modal - use its "alt" text as a caption
var img0 = document.getElementById("myImg0");
var img1 = document.getElementById("myImg1");
//var img2 = document.getElementById("myImg2");
//var img3 = document.getElementById("myImg3");
var modalImg = document.getElementById("img0");

var captionText = document.getElementById("caption");
if(img0){
    img0.onclick = function(){
      modal.style.display = "block";
      modalImg.src = '/images/life-images/hires/'+images[0].hires;   // this will open the same image- we want another
      captionText.innerHTML = images[0].hires;
    }
}
if(img1){
    img1.onclick = function(){
      modal.style.display = "block";
      modalImg.src = '/images/life-images/hires/'+images[1].hires;   // this will open the same image- we want another
      captionText.innerHTML = images[1].hires;
    }
}
// if(img2){
//  img2.onclick = function(){
//    modal.style.display = "block";
//    modalImg.src = '/images/life-images/hires/'+images[2].hires;   // this will open the same image- we want another
//    captionText.innerHTML = images[2].hires;
//  }
// }
// if(img3){
//  img3.onclick = function(){
//    modal.style.display = "block";
//    modalImg3.src = '/images/life-images/hires/'+images[3].hires;   // this will open the same image- we want another
//    captionText.innerHTML = images[3].hires;
//  }
// }

// Get the <span> element that closes the modal
var closers = document.getElementsByClassName("close");

// When the user clicks on <span> (x), close the modal
//alert(closers)
for(n in closers){
    closers[n].onclick = function() {
      modal.style.display = "none";
    }
}
</script>