<style>
#taxon-desc{
   font-size:20px;
   
}
.outer{
   width:100%;
   min-height:200px;
   
   
}
.float-left{
   float:left;
   border:1px solid pink;
   padding:5px;
   margin:5px;
   width:50%
}
.float-right{
   float:right;
   
   padding:5px;
   margin:5px;
   width:48%
}
.text {
   overflow:auto;
  border:1px solid green;
}
.description{
  font-size:11px;
  padding:0 4px;
  height:200px;
  overflow:auto;
}
#description_tbl{
  width:100%;
  font-size:small;
}
#description_tbl td{
  padding-left:5px;
  
}
#left-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#right-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#references{
   padding:4px;
   margin:4px;
   border-top:2px dashed #336633;
}


.data{
   width:300px;
   height:200px;
   overflow:auto;
}
</style>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<% data1 = JSON.parse(data1) %>
<% data2 = JSON.parse(data2) %>
<% data3 = JSON.parse(data3) %>
<% data4 = JSON.parse(data4) %>
<% data5 = JSON.parse(data5) //refseq  %>
<% taxidfullname = ("000" + otid).slice(-3); %>
<% taxidfullnameplus = 'HMT-'+taxidfullname; %>
<% images = JSON.parse(image_array)  %>



<body>
  		
	
<%- include('../../partials/header_img'); %>
    

<%- include('../../partials/navbar'); %>
	
<div class='page-content'>
	 
	  
<center><div class='title'>
<span id='taxon-desc'>Taxon Description: <i><%= data1.genus %> <%= data1.species %></i></span>	
(HMT-TaxonID: <%= otid %>)
</div></center>			
<div class="outer">
    <div class="float-left">
      Description:
          <div class=" description">
		  <%- data2.general %>
	  <br><%- data2.disease %>
	  <br><%- data2.prev %>
	  <br><%- data2.culta %>
	  <br><%- data2.pheno %>
	  
      </div></div>
     
     
      
<div class='float-right'>
  <% if(images.length === 0 ) { %>
    <div>
		<small>** no images available **</small>
	</div>
  
  <% }else if(images.length === 1 ) { %>
      <div style='margin-left:100px;'>
		<img id='img' src='/images/life-images/<%= images[0].name %>' width='250' alt=''  \><br>
		<small><%= images[0].text %></small>
	  </div>
  
  <% }else{ %>
    <table border='0'>
	<% for(n in images){ %>
	  <% if(n==0 || n==2){ %>
		<tr><td>
	  <% }else{ %>
		<td>
	  <% } %>
	   <div>
		<img id='img' src='/images/life-images/<%= images[n].name %>' width='200' alt=''  \><br>
		<small><%= images[n].text %></small>
	   </div>
	 <% if(n==0 || n==2){ %>
		</td>
	  <% }else{ %>
		</td></tr>
	  <% } %>
	<% } %>
    </table>
  <% } %>
</div>



</div> <!--    End Outer -->



<table id='description_tbl' border='1'>
<tr><td>
	<table id='left-tbl'>
	<tr>
	  <td class='tbl-title'>Classification:</td>
	  <td>
		<table id='tax_lineage'>
		  <tr><td>Domain:</td><td><a href='/taxa/life?rank=domain&name=<%= data3.domain %>'><i><%= data3.domain %></i></a></td></tr>
		  <tr><td>Phylum:</td><td><a href='/taxa/life?rank=phylum&name=<%= data3.phylum %>'><i><%= data3.phylum %></i></a></td></tr>
		  <tr><td>Class:</td><td> <a href='/taxa/life?rank=klass&name=<%= data3.klass %>'><i><%= data3.klass %></i></a></td></tr>
		  <tr><td>Order:</td><td> <a href='/taxa/life?rank=order&name=<%= data3.order %>'><i><%= data3.order %></i></a></td></tr>
		  <tr><td>Family:</td><td><a href='/taxa/life?rank=family&name=<%= data3.family %>'><i><%= data3.family %></i></a></td></tr>
		  <tr><td>Genus:</td><td> <a href='/taxa/life?rank=genus&name=<%= data3.genus %>'><i><%= data1.genus %></i></a></td></tr>
		  <tr><td>Species:</td><td><i><%= data1.genus %> <%= data1.species %></i></td></tr>
		</table>
	  </td>
	</tr>
	<tr>
	  <td class='tbl-title'>NCBI Taxonomy ID:</td>
	  <td><small><%= data1.ncbi_taxid %> [<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%= data1.ncbi_taxid %>' target='_blank'>Link to NCBI</a>]</small></td>
	</tr>
	<tr>
	  <% if(data1.type_strains.length === 0){ %>
		<td class='tbl-title'>Reference Strain:</td>
		<td><small>None, not yet cultivated
	  <% }else{ %>
		<td class='tbl-title'>Strain Information:</td>
		<td><small>[<%- data1.type_strains.join('], [') %>]
		<br>Check <a href='http://gcm.wdcm.org/speciesPage.jsp?strain_name=<%= data1.genus %>+<%= data1.species %>' target='_blank'>Global Catalogue of Microorganisms</a>
	  <% } %>
        </small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Former Names or Synonyms:</td>
	  <td><small><i><%- data1.synonyms.join('<br>') %></i></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phenotypic Characteristics:</td>
	  <td class='data'><small><%- data2.pheno %>
	  </small></td>
	</tr>
	</table>

</td><td>

	<table id='right-tbl'>
	<tr>
	  <td class='tbl-title'>Genotypic Description:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Pangenome:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phylogenetic Trees:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Microbial Ecology:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phage known to infect this species:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Proteomics:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Tools:</td>
	  <td><small>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></small></td>
	</tr>
	<tr>
	  <td class='tbl-title'>PubMed Search:</td>
	  <td><small>[<a href='https://pubmed.ncbi.nlm.nih.gov/?cmd=search&term=%22<%= data1.genus %>%20<%= data1.species %>%22' target='_blank'>PubMed Link</a>]</small></td>
	</tr>
	</table>

</td></tr>
</table>

<div id='references'>References:</div>
<% if(data4){ %>
  <div class='extra'>
  <% for (i in data4){ %>
    <br>[<b><%= parseInt(i)+1 %></b>] <%= data4[i].authors %> <%= data4[i].title %> <%= data4[i].journal %>
  <% } %>
  </div>
<% } %>

	
</div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>