<% taxidfullname = 'HMT-'+("000" + taxonid).slice(-3); %>
<% data1 = JSON.parse(data1) %>
<% data2 = JSON.parse(data2) %>
<% data3 = JSON.parse(data3) %>
<% data4 = JSON.parse(data4) %>
<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<style>
#page-block {
  border: 1px solid black;
  padding:auto;
  margin:auto;
  width: 95%;
}
.description-header {
   text-align: center;
   padding:10px;
   margin: 1px;
   background: gold;
   font-weight:bold;
   font-size:13px;
}
.description-header2 {
  
   padding:10px;
   margin: 1px;
   background: #fed8b1;
   font-weight:bold;
   font-size:13px;
}
.tbl-title{
	padding: 4px 8px;
	font-weight:bold;
	background: #fffdd0;
}
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	
	
		<div class='wide-content' id="">  					
<div class='page-title'>Human Oral Microbiome Taxon Description</div>
<div id='page-block'>
<div id='' class='description-header'><i><%= data1.genus %><%= data1.species %></i></div>
<table border='0'>
<tr><td class='tbl-title'>Human Microbial Taxon ID:</td><td><%= data1.otid %></td><td class='tbl-title'>Body Site:</td><td><%= data1.site %></td></tr>
<tr><td class='tbl-title'>Status:</td><td><%= data1.status %></td><td class='tbl-title' rowspan='2'>Synonym(s):</td><td rowspan='2'><%- data1.synonyms.join('<br>') %></td></tr>
<tr><td class='tbl-title'>Strain Information:</td><td><%= data1.type_strain.join('<br>') %></td></tr>


<tr>
  <td class='tbl-title'>Classification:</td>
  <td>
	<table>
	  <tr><td>Domain:</td><td><%= data3.domain %></td></tr>
	  <tr><td>Phylum:</td><td><%= data3.phylum %></td></tr>
	  <tr><td>Class:</td><td><%= data3.klass %></td></tr>
	  <tr><td>Order:</td><td><%= data3.order %></td></tr>
	  <tr><td>Family:</td><td><%= data3.family %></td></tr>
	  <tr><td>Genus:</td><td><%= data1.genus %></td></tr>
	  <tr><td>Species:</td><td><%= data1.species %></td></tr>
	</table>
  </td>
  <td class='tbl-title'>NCBI Taxonomy ID:</td>
  <td><%= data1.NCBI_taxon_id %> <a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%= data1.NCBI_taxon_id %>' target='_blank'>[NCBI Taxonomy Link]</a></td>
</tr>


<tr>
<td class='tbl-title' rowspan='3'>16S rRNA Reference Sequences:</td><td>HOMD RefSeq ID:</td>
<td class='tbl-title'>PubMed Search:</td><td><a href='https://pubmed.ncbi.nlm.nih.gov/?cmd=search&term=%22<%= data1.genus %>%20<%= data1.species %>%22' target='_blank'>[PubMed Link]</a></td></tr>
<tr><td><a href='#'>View in phylogenetic tree</a></td>
<td class='tbl-title'>Nucleotide Search:</td><td><a href='https://www.ncbi.nlm.nih.gov/nucleotide?cmd=search&term=%22<%= data1.genus %>+<%= data1.species %>%22+%5Borganism%5D' target='_blank'>[Entrez Nucleotide Link]</a></td></tr>
<tr><td><a href='#'>Download latest 16S rRNA reference gene sequences</a></td>
<td class='tbl-title'>Protein Search:</td><td><a href='https://www.ncbi.nlm.nih.gov/protein?cmd=search&term=%22<%= data1.genus %>+<%= data1.species %>%22+%5Borganism%5D' target='_blank'>[Entrez Protein Link]</a></td>
</tr>


<tr>
  <td class='tbl-title'>Abundance:</td><td></td>
  <td class='tbl-title'>Genome Sequence</td>
  <td>
        # <a href='#'>View Genome</a>
    <br><a href='#'>View taxon in genome tree</a>
    <br><a href='#'>View taxon in ribosome protein tree</a>
    <br><a href='#'>View taxon in genomic 16S rRNA gene tree</a>
  </td>
</tr>


<tr><td class='tbl-title'>Hierarchy Structure:</td><td></td><td></td><td></td></tr>

</table>
<div id='' class='description-header2'>General Information:</div>
&nbsp;<%= data2.general %>
<div id='' class='description-header2'>Cultivability:</div>
&nbsp;<%= data2.culta %>
<div id='' class='description-header2'>Phenotypic Characteristics:</div>
&nbsp;<%= data2.pheno %>
<div id='' class='description-header2'>Prevalence and Source:</div>
&nbsp;<%= data2.prev %>
<div id='' class='description-header2'>Disease Associations:</div>
&nbsp;<%= data2.disease %>
<div id='' class='description-header2'>References:</div>
&nbsp;
<% if(data4){ %>
<% for (i in data4){ %>
<br>[<b><%= parseInt(i)+1 %></b>]<%= data4[i].authors %> <%= data4[i].title %> <%= data4[i].journal %>

<% } %>
<% } %>

		
</div> <!-- end: page-block -->
</div> <!-- end: wide-content -->
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>



