<style>



.description{
  font-size:12px;
  padding:5px;
  max-height:200px;
  overflow:auto;
  border:1px solid darkgreen;
}
#description_tbl{
  width:100%;
  font-size:small;
}
#description_tbl td{
  padding-left:5px;
  
  
}
.tbl-title{
  background:lightblue;
}
#left-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#right-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#references{
   padding:4px;
   margin:4px;
   border-top:2px dashed #336633;
}

.data{
   width:300px;
   height:200px;
   overflow:auto;
}
#status{
   width:100%;
   padding:10px 0 10px 5px;
   background:orange;
   border:1px solid darkgreen;
}
.td-button{
  background-color: #97B8F7;
  color: black;
  padding:2px 4px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
}
.img {
  height: 200px;
}
.rs-span-2{
  float:right;
}

.small-tbl{
    border-collapse:collapse;
}
.small-tbl tr{
    font-size:12px;
    border:none;
    border-bottom:none;
    
}
.images{
   float:right;
   border:1px solid black;
   padding:10px;
   width:49%;
   
  
}
</style>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<% data1 = JSON.parse(data1) %>
<% data2 = JSON.parse(data2) %>
<% data3 = JSON.parse(data3) %>
<% data4 = JSON.parse(data4) %>
<% data5 = JSON.parse(data5) //refseq  %>
<% links = JSON.parse(links) //refseq  %>

<% taxidfullname = ("000" + otid).slice(-3); %>
<% taxidfullnameplus = 'HMT-'+taxidfullname; %>
<% images = JSON.parse(image_array)  %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
    
 <span class='back_btn' ><a href='/taxa/tax_table'>Back To Tax Table</a></span>   
<% if(data3.subspecies){ %>    
  <div class='title'><i><%= data1.genus %> <%= data1.species %> <%= data3.subspecies %></i>
   (<%= taxidfullnameplus %>)
  </div>  
<% }else{ %>
  <div class='title'><i><%= data1.genus %> <%= data1.species %></i>
   (<%= taxidfullnameplus %>)
  </div>
<% } %>

    
<% if(images.length > 0 ) { %>    
   <div class='description' style='float:left; width:49%; height:220px;max-height:230px;'>
<% }else{ %>
   <div class='description' style=''>
<% } %>
  <b>Description</b>:
    <% if(Object.keys(data2).length === 0) { %>
      Not Available
    <% }else{ %>
        
          <br><%- data2.general %>
          <b>Disease Associations</b>:<br><%- data2.disease %>
          <br><b>Prevalence and Source</b>:<br><%- data2.prev %>
          <!-- <br><b>Cultivability</b>:<br>&nbsp;&nbsp;<%- data2.culta %> -->
          <!-- <br><b>Phenotypic Characteristics</b>:<br>&nbsp;&nbsp;<%- data2.pheno %> -->
        
    <% } %>
</div>
     
     
      
<div class=''>
  <% if(images.length === 1 ) { %>
      <div class='images'>
        &nbsp;<img class='img' src='/images/life-images/<%= images[0].name %>' title='<%= images[0].text %>' alt='<%= images[0].name %>'  \><br>
        <small><%= images[0].text %></small>
      </div>
  
  <% }else{ %>
      <div class='images'>
      <table class='image-table' border='0'>
              <% for(n in images){ %>
                <% if(n==0 || n==2){ %>
                <tr><td valign='top'>
                <% }else{ %>
                <td valign='top'>
                <% } %>
                 <div>
                <img class='img' src='/images/life-images/<%= images[n].name %>' title='<%= images[n].text %>' alt='<%= images[n].name %>'  \><br>
                <small><%= images[n].text %></small>
                 </div>
               <% if(n==0 || n==2){ %>
                </td>
                <% }else{ %>
                </td></tr>
                <% } %>
              <% } %>
      </table>
      </div>
  <% } %>
</div>




<div id='tables'>
<br><!-- <div id='status'>Preferred Body Site(s): [<%= data1.sites %>]</div> -->
<table id='description_tbl' border='1'>
<tr><td style="width: 500px; vertical-align:top">
  <table id='left-tbl'>
  <tr>
    <td class='tbl-title'>Classification:</td>
    <td>
    <table id='tax_lineage'>
      <tr><td>Domain:</td><td><a href='life?rank=domain&name=<%= data3.domain %>'><%= data3.domain %></a></td></tr>
      <tr><td>Phylum:</td><td><a href='life?rank=phylum&name=<%= data3.phylum %>'><%= data3.phylum %></a></td></tr>
      <tr><td>Class:</td><td> <a href='life?rank=klass&name=<%= data3.klass %>'><%= data3.klass %></a></td></tr>
      <tr><td>Order:</td><td> <a href='life?rank=order&name=<%= data3.order %>'><%= data3.order %></a></td></tr>
      <tr><td>Family:</td><td><a href='life?rank=family&name=<%= data3.family %>'><%= data3.family %></a></td></tr>
      <tr><td>Genus:</td><td> <a href='life?rank=genus&name=<%= data3.genus %>'><%= data1.genus %></a></td></tr>
      
      <% if(data3.subspecies){ %>
        <tr><td>Species:</td><td> <a href='life?rank=species&name=<%= data3.species %>'><i><%= data3.species %></i></a></td></tr>
        <tr><td>Subspecies:</td><td><i><%= data3.subspecies %></i></td></tr>
      <% }else{ %>
         <tr><td>Species:</td><td><i><%= data1.genus %> <%= data1.species %></i></td></tr>
      <% } %>
    </table>
    </td>
  </tr>
  <tr>
    <td class='tbl-title'><strong>Status:</strong></td>
    <% if(data1.status === 'Lost'){ %>
       <% statusWords = 'Unnamed - Culture Lost' %>
    <% }else if(data1.status === 'Named'){ %>
       <% statusWords = 'Named - Cultured' %>
    <% }else if(data1.status === 'Unnamed'){ %>
       <% statusWords = 'Unnamed - Cultured' %>
    <% }else if(data1.status === 'Phylotype'){ %>
       <% statusWords = 'Phylotype - Uncultured' %>
    <% }else if(data1.status === 'NonOralRef'){ %>
       <% statusWords = 'NonOral Reference Taxon' %>
    <% }else{ %> <!-- // error -->
       <% statusWords = data1.status %>
    <% } %>
    <td><small><%= statusWords %> </small></td>
  </tr>
  
  <tr>
    <td class='tbl-title'> Type/Reference Strain:</td>
    <% if(data1.status === 'Named') { %>
        <!-- USE type strains -->
       
        <td><small>
        
        <% if(data1.type_strains.length > 0){ %>
           <%- data1.type_strains.join(', ') %>
        <% } %>
        
        
        <br>[Check <a href='https://lpsn.dsmz.de/<%= links['lpsnlink'] %>' target='_blank' rel="noopener noreferrer">LPSN.dsmz.de</a>]
        <br>[Check <a href='http://gcm.wdcm.org/search?search=<%= links['gcmlink'] %>' target='_blank' rel="noopener noreferrer">Global Catalogue of Microorganisms</a>]
        
        
        
    <% }else{ %>                                     <!--  if status is Named - Cultured also -->
        <!-- Use Reference Strains -->
        <td><small>
        <% if(data1.ref_strains.length > 0){ %>
           <%- data1.ref_strains.join(', ') %>
        <% }else{ %>
           None, not yet cultivated
        <% } %>
    <% } %>
        </small></td>
  </tr>
  <tr>
    <td class='tbl-title'>Former Names or Synonyms:</td>
    <td>
       <table class='small-tbl' border='0'>
       <% for(n=0;n<data1.synonyms.length;n++){ %>
          <tr><td style='border:none;padding:0 1px;'><i><%- data1.synonyms[n] %></i></td></tr>
       <% } %>
       </table>
    
    </td>
  </tr>
  <tr>
    <td class='tbl-title'>16S rRNA Reference Sequences:</td>
    <td><small>
    
      <span class='rs-span-2' style='border:1px solid black;padding:1px;'>
      &nbsp;&nbsp;&nbsp;<a href='/refseq/refseq_tree?otid=<%= otid %>' target='_blank'>view in<br>RefSeq tree</a>
      </span>
      <table class='small-tbl' border='0'>
        <% for( var n in data5){ %>
            <!-- >001A28SC | Bartonella schoenbuchensis | HMT-001 | Strain: A28SC | GB: GQ422708 | Status: Named | Preferred Habitat: Unassigned | Genome: yes -->
            <% refseqid   = data5[n].refseqid %>
            <% refseqname   = data5[n].seqname %>
            <% refstrain  = data5[n].strain %>
            <% refgenbank   = data5[n].genbank %>
            <% refstatus  = data1.status %>
            <% refsite    = data1.site %>
            <% refflag    = data1.genomes === [] ? 'Genome:No' : 'Genome:Yes' %>
            <tr><td style='border:none;padding:0 1px;'>
               <span class='rs-span-1'>
              RefSeq ID:<a href='#' onclick="get_refseq('<%= taxidfullnameplus %>','<%= refseqid %>','<%= data1.genus %>','<%= refseqname %>','<%= refstrain %>','<%= refgenbank %>','<%= refstatus %>','<%= refsite %>','<%= refflag %>')">
              <%= refseqid %></a>
               </span>
            </td></tr>
      
        <% } %>
      </table>
    <br><br><a href='/download/#refseq'>Download latest 16S rRNA reference gene sequences.</a>
    
    </small>
    </td>
  </tr>
  <tr>
    <td class='tbl-title'>Genotypic Description:</td>
    <td><small></small></td>
  </tr>
  
  <tr>
    <td class='tbl-title'>Phenotypic Characteristics:</td>
    <td>
    <% if(data2.pheno !==''){ %>
      <small><%- data2.pheno %></small>
    <% } %>
    </td>
  </tr>
  
  </table>

</td><td style="width: 500px; vertical-align:top">

  <table id='right-tbl'>
  
  <tr>
    <td class='tbl-title'>Cultivability:</td>
    <td>
    <% if(data2.culta !==''){ %>
      <small><%- data2.culta %></small>
    <% } %>
    </td>
  </tr>
  
  <tr>
    <td class='tbl-title'>Pangenome:</td>
    <td><small>(not implemented yet) https://anviserver.homd.info/</small></td>
  </tr>
  <tr>
    <td class='tbl-title'>Microbial Ecology<br><small>(Abundance/Prevalence)</small>:</td>
    <% if(data3.subspecies){ %>
      <td><small>[<a href='ecology/subspecies/<%= data3.subspecies %>'>Open Abundance/Prevalence Page for <i><%= data3.subspecies %></i></a>]</small></td>
    <% }else{ %>
      <td><small>[<a href='ecology/species/<%= data3.species %>'>Open Abundance/Prevalence Page for <i><%= data3.species %></i></a>]</small></td>
    <% } %>
  
  </tr>
  
<!-- 
  <tr>
    <td class='tbl-title'>Number of Phage<br>Known to Infect this Species:</td>
    <td><%= pids.length %>
    <% if(pids.length > 0){ %>
       <a class='td-button' href='/phage/phage_table?host_otid=<%= otid %>'> See List </a>
    <% } %>
    </td>
  </tr>
 -->
  
  <tr>
    <td class='tbl-title'>Proteomics:</td>
    <td><small></small></td>
  </tr>
  <tr>
    <td class='tbl-title'>Tools:</td>
    <td><small>JBrowse; Anvi`o [Links not active yet]</small></td>
  </tr>
  <tr>
    <td class='tbl-title'>NCBI Taxonomy ID:</td>
    <td><small><%= data1.ncbi_taxid %> <span>[<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%= data1.ncbi_taxid %>' target='_blank' rel="noopener noreferrer">Link to NCBI</a>]</span></small></td>
  </tr>
  <tr>
    <td class='tbl-title'>PubMed Searches:</td>
    <td><small>
      <% if(data1.status === 'Named') { %>
         
       <table class='small-tbl' border='0'>
         
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td style='padding:0 1px;border:none;'>[<a href='https://pubmed.ncbi.nlm.nih.gov/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI PubMed Link</a>]</td></tr>
            <!-- nuccore/?term="genus+species"   -->
            <!-- nucleotide?cmd=search&term="data1.genus data1.species" -->
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td style='padding:0 1px;border:none;'>[<a href='https://www.ncbi.nlm.nih.gov/nuccore/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI (Entrez) Nucleotide Link</a>]</td></tr>
            <tr><td style='text-align:right;border:none;padding:0 1px;'></td><td style='padding:0 1px;border:none;'>[<a href='https://www.ncbi.nlm.nih.gov/protein/?term=%22<%= links['ncbilink'] %>%22' target='_blank' rel="noopener noreferrer">NCBI (Entrez) Protein Link</a>]</td></tr>
         
       </table>
      <% }else{ %>
         Status:<%= data1.status %>
      <% } %>
      </small>
    </td>
  </tr>
  <tr>
    <td class='tbl-title'>Number of<br>Genome Sequences:</td>
    <td>
      <small>
      <% g_length = data1.genomes.length %>
      <% if(g_length === 0){ %>
       No Genomes
      <% }else{ %>
       <%= g_length %> <a class='td-button' href='/genome/genome_table?otid=<%= otid %>'> See List </a>
      <% } %>
      </small>
    </td>
  </tr>
  <tr>
    <td class='tbl-title'>Phylogenetic Trees:</td>
    <td>
    <% if(g_length > 0){ %>
      <table class='small-tbl' border='0'>
          <tr><td style='border:none;padding:0 1px;'><a href='/genome/conserved_protein_tree?otid=<%= otid %>' target='_blank'>View in genome tree</a></td></tr>
          <tr><td style='border:none;padding:0 1px;'><a href='/genome/ribosomal_protein_tree?otid=<%= otid %>' target='_blank'>View in ribosome protein tree</a></td></tr>
          <tr><td style='border:none;padding:0 1px;'><a href='/genome/rRNA_gene_tree?otid=<%= otid %>' target='_blank'>View in 16S rRNA gene tree</a></td></tr>
      </table>
    <% }else{ %>
      <table class='small-tbl' border='0'>
          <tr><td style='border:none;padding:0 1px;'>View in genome tree (no genomes)</td></tr>
          <tr><td style='border:none;padding:0 1px;'>View in ribosome protein tree (no genomes)</td></tr>
          <tr><td style='border:none;padding:0 1px;'>View in 16S rRNA gene tree (no genomes)</td></tr>
      </table>
    <% } %>
    </td>
  </tr>
  
  
  </table>

</td></tr>
</table>
</div>

<div id='references'>References:</div>
<% if(data4.pubs){ %>
  <div class='extra'>
  <% for (i in data4.pubs){ %>
    <br>[<b><%= parseInt(i)+1 %></b>] <%= data4.pubs[i].authors %> <%= data4.pubs[i].title %> <%= data4.pubs[i].journal %>
  <% } %>
  </div>
<% } %>

  
</div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
  </div> <!-- end wrapper   -->   
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>