<style>
#taxon-desc{
   font-size:20px;
   
}
.outer{
   width:100%;
   min-height:200px;
   
   border-bottom:2px dashed #336633;
}
.float-left{
   float:left;
   border:1px solid pink;
   padding:5px;
   margin:5px;
   width:50%
}
.float-right{
   float:right;
   border:1px solid red;
   padding:5px;
   margin:5px;
   width:30%
}
.text {
   overflow:auto;
  border:1px solid green;
}
.description{
  font-size:11px;
  padding:4px;
}
#description_tbl{
  width:100%;
  font-size:small;
}
#description_tbl td{
  padding-left:5px;
  
}
#left-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#right-tbl td{
  padding:4px;
  border-bottom:1px solid darkgrey;
}
#references{
   padding:4px;
   margin:4px;
   border-top:2px dashed #336633;
}
#images{
   float:right;
   margin-top:10px;
}#images div{
   padding:5px;
}
</style>
<%- include('../../partials/header_html'); %>
<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
<% data1 = JSON.parse(data1) %>
<% data2 = JSON.parse(data2) %>
<% data3 = JSON.parse(data3) %>
<% data4 = JSON.parse(data4) %>
<% data5 = JSON.parse(data5) //refseq  %>
<% taxidfullname = ("000" + otid).slice(-3); %>
<% taxidfullnameplus = 'HMT-'+taxidfullname; %>
<% images = JSON.parse(image_array)  %>



<body>
  		
	
<%- include('../../partials/header_img'); %>
    

<%- include('../../partials/navbar'); %>
	
<div class='page-content'>
	 
	  
<center><span id='taxon-desc'>Taxon Description: <i><%= data1.genus %> <%= data1.species %></i></span>	
(HMT-TaxonID: <%= otid %>)
</center>			
<div class="outer">
    <div class="float-left">
      Description:
          <div class=" description">
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
          The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with a class of float is floated left and so the text in the div which comes after it wraps around the float.
		  The item with
      </div></div>
     
     
      
      <div id='images'>
      
      <table border='0'>
	    <tr>
	    <% for(n in images){ %>
	      <% if(n==0 || n===2){ %>
	        <tr><td>
	      <% }else{ %>
	        <td>
	      <% } %>
	      
	       <div>
	       <img id='img' src='/images/life-images/genus/<%= images[n].name %>' height='100' alt=''  \><br>
	       <small><%= images[n].text %></small>
	     
	       </div>
	      
	     <% if(n==0 || n===2){ %>
	        </td>
	      <% }else{ %>
	        </td></tr>
	      <% } %>
	    <% } %>
	    
	    </table>
      
      
      
      </div>



</div>




<table id='description_tbl' border='0'>
<tr><td>
	<table id='left-tbl'>
	<tr>
	  <td class='tbl-title'>Classification:</td>
	  <td>
		<table id='tax_lineage'>
		  <tr><td>Domain:</td><td><a href='/taxa/life?rank=domain&name=<%= data3.domain %>'><i><%= data3.domain %></i></a></td></tr>
		  <tr><td>Phylum:</td><td><a href='/taxa/life?rank=phylum&name=<%= data3.phylum %>'><i><%= data3.phylum %></i></a></td></tr>
		  <tr><td>Class:</td><td><a href='/taxa/life?rank=klass&name=<%= data3.klass %>'><i><%= data3.klass %></i></a></td></tr>
		  <tr><td>Order:</td><td><a href='/taxa/life?order&name=<%= data3.order %>'><i><%= data3.order %></i></a></td></tr>
		  <tr><td>Family:</td><td><a href='/taxa/life?rank=family&name=<%= data3.family %>'><i><%= data3.family %></i></a></td></tr>
		  <tr><td>Genus:</td><td><a href='/taxa/life?rank=genus&name=<%= data3.genus %>'><i><%= data1.genus %></i></a></td></tr>
		  <tr><td>Species:</td><td><i><%= data1.genus %> <%= data1.species %></i></td></tr>
		</table>
	  </td>
	</tr>
	<tr>
	  <td class='tbl-title'>NCBI Taxonomy ID:</td>
	  <td><%= data1.ncbi_taxid %> [<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=<%= data1.ncbi_taxid %>' target='_blank'>Link to NCBI</a>]</td>
	</tr>
	<tr>
	  <% if(data1.type_strains.length === 0){ %>
		<td class='tbl-title'>Reference Strain:</td>
		<td>None, not yet cultivated
	  <% }else{ %>
		<td class='tbl-title'>Strain Information:</td>
		<td>[<%- data1.type_strains.join('], [') %>]
		<br>Check <a href='http://gcm.wdcm.org/speciesPage.jsp?strain_name=<%= data1.genus %>+<%= data1.species %>' target='_blank'>Global Catalogue of Microorganisms</a>
	  <% } %>
        </td>
	</tr>
	<tr>
	  <td class='tbl-title'>Former Names or Synonyms:</td>
	  <td><i><%- data1.synonyms.join('<br>') %></i></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phenotypic Characteristics:</td>
	  <td></td>
	</tr>
	</table>

</td><td>

	<table id='right-tbl'>
	<tr>
	  <td class='tbl-title'>Genotypic Description:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Pangenome:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phylogenetic Trees:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Microbial Ecology:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Phage known to infect this species:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Proteomics:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>Tools:</td>
	  <td>>>>>>>>>>><<<<<<<<<<>>>>>>>>>></td>
	</tr>
	<tr>
	  <td class='tbl-title'>PubMed Search:</td>
	  <td>[<a href='https://pubmed.ncbi.nlm.nih.gov/?cmd=search&term=%22<%= data1.genus %>%20<%= data1.species %>%22' target='_blank'>PubMed Link</a>]</td>
	</tr>
	</table>

</td></tr>
</table>

<div id='references'>References:</div>
<% if(data4){ %>
  <div class='extra'>
  <% for (i in data4){ %>
    <br>[<b><%= parseInt(i)+1 %></b>] <%= data4[i].authors %> <%= data4[i].title %> <%= data4[i].journal %>
  <% } %>
  </div>
<% } %>

	
</div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  
</body>

</html>

<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>