<style>
  /* tree.min.css screws up body position so add back here: */

.containerTableStyle {
    padding:0;
   
}
.standartTreeImage {
  padding:0;
  
  margin: auto;
  width:10px;
  background: #fdffca;
}
.standartTreeRow {
   margin: auto;
   background: #fdffca;
   padding-left:0;
   
   margin:0;
   text-align:left;
   
}
.dhx_bg_img_fix {
    width:10px;
    background: #fdffca;
    margin: auto;
    
}
.dhx_tooltip{
    
    font-size:8pt;
    background-color:white;
    padding:2px 2px 2px 2px;
    border:1px solid #A4BED4;
}
#count_info{
   font-size:x-small;
   
}
#custom_tax_div{
  width:550px;
  border:1px solid black
}
#change_base_counts{
   font-size:small;
   float:left;
}
</style>
<%- include('../../partials/header_html'); %>

<!-- <link rel="stylesheet" href="/css/tree.min.css" > -->
<link rel="stylesheet" href="/css/dhtmlxtree.css">

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
       <h4 class='title text-info'>Human Oral Microbiome Taxonomic Hierarchy</h4>
           
        <div id='change_base_counts'>
       Default Counts Exclude Dropped and NonOralRef Taxons
        <br>Include:&nbsp;&nbsp;
        <input type='checkbox' name='countcb' value='' onChange="load_dhtmlx()" > Dropped
        &nbsp;&nbsp;&nbsp;&nbsp;<input type='checkbox' name='countcb' value='' onChange="load_dhtmlx()" > NonOralRef    
        <!--  <input type='hidden' name='rank' value='domain' > -->
       </div>
		   <a id='download_browser_text_excel'  href='/download#taxon' >Download Options</a>
	   
	
	 					
	   <center> 
            <br><br><br>
            <input type='button' class='pill pill-brown' name='' value='Reset Tree' onclick='reset_tree_dhtmlx()'> ||
             <input type='button' class='pill pill-brown' name='' value='Open Next Level' onclick='open_tree_dhtmlx()'>
            <br><small>(double-click taxon names to expand deeper levels.)</small>
		 
		   <br><br>
		   <span id='count_info'>Numbers indicated in brackets at each level: 
            <br>[ <span class='red-text'>Number of Taxa</span>, <span class='green-text'>Number of Genomes</span>, <span class='blue-text'>Number of 16S rRNA RefSeqs</span> ]</span>
           </span> 
		 
		  
		    <table id='custom_tax_div' class="text-center" >
             <tr><td>
              <div id="custom_treebox" class="text-center" style='padding:10px;background:#fdffca;'></div>
             </td></tr>
            </table>
    </center> 
	 
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   </div>
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 

<script type="text/javascript" src="/js/dhtmlxtree.js" ></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){                    
    //load_dhtmlx(<%- data %>)
    load_dhtmlx()
});

</script>

