<style>

.tax-item{
   margin: 10px;

}
.box{
   background:lightgrey;
   padding:40px 0;
   margin-top:20px;
   border:2px solid grey;
   height:800px;
   overflow:auto;
}
.otid-link-sp{
   color:gold;
   background:purple;
   padding:5px;
   border:1px solid black;
}

.otid-link-sp a{
   color:ivory;
}
.otid-link-ssp{
   color:black;
   background:#CF9FFF;
   padding:5px;
   border:1px solid black;
}

.otid-link-ssp a{
   color:black;
}
#rank-choice-radios{
    width:50%;
    
}
.pill{
   color:black;
}
.fixed{
    position: fixed;
  top: 350px;
  right:15%;
  /* Optional: Add width, background-color, etc. */
  width: 100px;
  background-color: lightblue;
  padding:5px;
}
</style>

<% bac_counts = JSON.parse(bcounts) %>
<% arc_counts = JSON.parse(acounts) %>

 <%- include('../../partials/header_html'); %>   


<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>

    <div class='page-content' >
       <p class='h3 title'>Dynamic Taxonomic Hierarchy</p>
  <center><div id='rank-choice-radios'>
        <h5>Open Tree to a Specific Rank:</h5>&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="phylum"  onclick="open_full_rank(this.value)"> Phylum&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="klass"  onclick="open_full_rank(this.value)"> Class&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="order"  onclick="open_full_rank(this.value)"> Order&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="family"  onclick="open_full_rank(this.value)"> Family&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="genus"  onclick="open_full_rank(this.value)"> Genus&nbsp;&nbsp;
        <input type="radio"  name = 'tax_radio' value="species"  onclick="open_full_rank(this.value)"> Species
  </div></center>
  <div class='container box'>
    <div class="row">
      <div class="col">
            
            <ul>
            <li class='tax-item'>
              
              <a 
                onclick=get_leaf('Archaea','domain') 
                role='button' 
                type="button" 
                style='background:#78AE99;'
                class="btn btn-sm"
                >
                  <small>Domain:</small> Archaea
                <span title='Taxon Count' class='pill pill-indigo'><%= arc_counts.tax_counts %></span>
                <span title='Genome Count' class='pill pill-orange'><%= arc_counts.genome_counts %></span>
                <span title='RefSeq Count' class='pill pill-khaki'><%= arc_counts.refseq_counts %></span>
              </a>
              <span id='Archaea_domain_span' class='fa_widget'><i class="fa-solid fa-angle-right"></i></span>
              <div id='Archaea_domain_div'></div>
            </li>
            <li class='tax-item'>
              <a 
                onclick=get_leaf('Bacteria','domain') 
                role='button' 
                type="button"
                style='background:#78AE99;'
                class="btn btn-sm"
                >
                <small>Domain:</small> Bacteria
                <span title='Taxon Count' class='pill pill-indigo'><%= bac_counts.tax_counts %></span>
                <span title='Genome Count' class='pill pill-orange'><%= bac_counts.genome_counts %></span>
                <span title='RefSeq Count' class='pill pill-khaki'><%= bac_counts.refseq_counts %></span>
              </a>
                <span id='Bacteria_domain_span' class='fa_widget'><i class="fa-solid fa-angle-right"></i></span>
              <div id='Bacteria_domain_div'></div>
            </li>
            </ul>
      </div>
      <div class="fixed col-3">
        <a href='tax_hierarchy' role='button' class='btn btn-success' style='border:1px solid red;margin-bottom:1px;'>Reset Tree</a>
        <a href='#' role='button' class='btn btn-success' style='border:1px solid red;margin-top:1px;' onclick="open_full_rank('subspecies')">Expand All</a>
        <div style="margin-top:20px;padding:5px;border:1px solid black;">
          <li><span class="pill pill-indigo">&nbsp;&nbsp;</span> Taxa Counts</li>
          <li><span class="pill pill-orange">&nbsp;&nbsp;</span> Genome Counts</li>
          <li><span class="pill pill-khaki">&nbsp;&nbsp;</span> 16S RefSeq Counts</li>
          <li><hr></li>
          <li><small> &nbsp;&nbsp;To expand the tree to a specific rank: choose a rank name from the
             choices at the top of the page.</small>
          </li>
          <li><hr></li>
          <li><small>&nbsp;&nbsp;At the Species and Suspecies levels the Genome and RefSeq Counts buttons become 
             links to the Genome Table and RefSeq Tree respectively.</small>
          </li>
        </div>
      </div>
      
    </div>
  </div>
    

    </div> <!-- end: page-content -->
</div>  <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/dhtmlxtree.js" ></script>
<!-- <script type="text/javascript" src="/js/tree.js" ></script> -->
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script>
  mainmenu()
  
  function get_leaf(name,rank){
    //console.log('in getleaf',name,rank)
    
    var args = {}
    args.name = decodeURIComponent(name)
    //console.log('decoded name',args.name)
    args.rank = rank
    target_div = document.getElementById(args.name+'_'+rank+'_div')
    target_span = document.getElementById(args.name+'_'+rank+'_span')
    
    if(target_div.innerHTML !== ''){
       // close
       target_div.innerHTML = ''
       target_span.innerHTML = '<i class="fa-solid fa-angle-right"></i>'
    }else{
        target_span.innerHTML = '<i class="fa-solid fa-angle-down"></i>'
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/taxa/tax_hierarchy", true);
        xmlhttp.setRequestHeader("Content-type","application/json");
        xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var resp = xmlhttp.responseText;
            
            //console.log('gitit',resp)
            target_div.innerHTML = resp
            
          }
        }
        xmlhttp.send(JSON.stringify(args));
    }
  }
  function open_full_rank(rank){
    //console.log('in open_rank',rank)
    var target_bdiv = document.getElementById('Bacteria_domain_div')
    var target_adiv = document.getElementById('Archaea_domain_div')
    document.getElementById('Bacteria_domain_span').innerHTML = '<i class="fa-solid fa-angle-down"></i>'
    document.getElementById('Archaea_domain_span').innerHTML = '<i class="fa-solid fa-angle-down"></i>'
    args = {}
    args.rank = rank
    //console.log('rank',rank)
    
    //target_span.innerHTML = '<i class="fa-solid fa-angle-down"></i>'
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "/taxa/tax_hierarchy_level", true);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var resp = JSON.parse(xmlhttp.responseText);
        
        //console.log('gitit',resp)
        target_adiv.innerHTML = resp.ahtml
        target_bdiv.innerHTML = resp.bhtml
        
      }
    }
    xmlhttp.send(JSON.stringify(args));
    }
  
</script>

