<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

#taxlevel_box{
   height:700px;
   overflow:auto;
}
td a {
   color:blue;
}
#level-table {
   border-collapse: collapse;
}
#level-table th {
  background: darkgrey;
  
}
#level-table th,td {
   padding: 2px 10px;
   border:1px solid black;
   border-collapse: collapse;
   
}
.level-button{
     border:2px solid green;
     color: white;
     background: #e9ffdb;
     border-radius:2px;
     padding:2px 5px;
     
}
.level-button a{
     color: white;
}
#level-container{
  padding:20px 0 0 0;
}
#button-group{
   padding:10px 0 0 0;
}
#change_base_counts{
   font-size:small;
   float:left;
}
</style>
<%- include('../../partials/header_html'); %>
<% cnt_type = 'default' %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    <div class='page-content' >
     <p class='title h3'>Human Oral Microbiome Taxonomic Level and Counts List</p>
     <div id='change_base_counts'>
       Default Counts Exclude Dropped Taxa
        <br>Include:&nbsp;&nbsp;
        <input type='checkbox' name='countcb' value='' onChange="change_level('domain')" > Dropped
       
     </div>
     

 <!-- 

     <div id='change_base_counts'>
       Default Counts Exclude Dropped Taxa
        <br>Include:&nbsp;&nbsp;
        <input type='checkbox' name='countcb' value='' onChange="change_level('domain')" > Dropped
     </div>
 -->

     
     <a id='download_browser_text_excel'  href='/download/download#taxon' >Download Options</a>   
     <br>
      <center>
      <div id='level-container' >
      <h4 >Taxonomic Level</h4>
         <br>
        <small>[Select a Rank:]</small> 
        <div id='button-group'> 
        <a class='level-button' type='button' href='#' id='domain' onclick="change_level('domain')">Domain</a> 
        &gt; <a class='level-button' type='button'  href='#' id='phylum' onclick="change_level('phylum')">Phylum</a> 
        &gt; <a class='level-button' type='button'  href='#' id='klass' onclick="change_level('klass')">Class</a> 
        &gt; <a class='level-button' type='button'  href='#' id='order' onclick="change_level('order')">Order</a> 
        &gt; <a class='level-button' type='button'  href='#' id='family' onclick="change_level('family')">Family</a> 
        &gt; <a class='level-button' type='button'  href='#' id='genus' onclick="change_level('genus')">Genus</a> 
        &gt; <a class='level-button' type='button'  href='#' id='species' onclick="change_level('species')">Species</a>
        &gt; <a class='level-button' type='button'  href='#' id='subspecies' onclick="change_level('subspecies')">Subspecies</a>
         </div>
      
      </div>
     
     
      <br>
      <span id='rank_count'></span>
      <div id='taxlevel_box'>
        
        <div id='taxlevel_div'></div>
      <div>
      </center> 
    
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
 </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  cnt_type = '<%= cnt_type %>'
  //alert(cnt_type)
  $(document).ready(function(){                    
    change_level('domain')
});

</script>

