<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
#tax-table td a{
   text-decoration: none;
}
#tax-table th{
   border-right:1px solid ivory;
}
/* Tools Menu  */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: -1;
}

/* The container <div> - needed to position the dropdown content */
.dd-menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:lightblue;
  width:175px;  /* This sets the box width to allow cursor contact */
  padding:10px;
  margin:0px;
  border:1px solid black;
  left:-160px;
  top:-50px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size:13px;
  margin:5px 0;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    border:1px solid tomato;
    color:black;
    
}

/* Show the dropdown menu on hover */
.dd-menu:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dd-menu:hover .dropbtn {background-color: #3e8e41;}
</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% statusfltr = JSON.parse(filter) %>
<% letter = statusfltr.letter %>
<% filterotid = statusfltr.otid %>
<% phyla = JSON.parse(phyla) %>


<body>
    <div id="loader" class="center-loader" style='z-index:1'></div>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    
     <p class='title h3'><%= pgtitle %></p>
     <small>(HMT = <u>H</u>uman <u>M</u>icrobial <u>T</u>axon)</small>
     <div class='download_browser_text_excel'>
       <b>Download This Table Data</b>: 
       <a href='/download/dld_taxtable/browser %>' >[Browser]</a>
       <a href='/download/dld_taxtable/text %>' >[Text]</a>
       <a href='/download/dld_taxtable/excel %>' >[Excel]</a>
       <b>OR</b> <a href='/download/download/taxon'>Batch Taxonomy Data</a>
     </div>

   
    <%- include("../../partials/tax_table_basic_filter.ejs") %>
      <!-- A button to open the popup form -->
    <!-- 
<button style='float:right;border:1px solid grey;' class="open-button" onclick="openAdvancedForm()">Advanced Filter
    
    </button>
 -->
   
     
     <br><span><%= count_txt %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     Sorted By: <span id='sortby_notice'><%= statusfltr.sort_col %></span>
<div id='tax-box' >

     <table id='tax-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        
        <th class="col1"><span onclick="change_sortby_notice()">Taxon-ID</span></th>
        <th class='col2'><span onclick="change_sortby_notice()">Genus</span></th>
        <th class='col3'><span onclick="change_sortby_notice()">Species</span></th>
        <th class="col4"><span onclick="change_sortby_notice()">Subspecies</span></th>
        <th class="col5"><span onclick="change_sortby_notice()">Naming<br>Status</span></th>
        <th class="col6"><span onclick="change_sortby_notice()">Cultivation<br>Status</span></th>
        <th class="col7"><span id='' onclick="change_sortby_notice()">Primary Body Site <small>(<span class='red-text'>in Beta</span>)</small></span></th>
        <th class="col11 sorttable_nosort">Genome Size</th>
        <th class="col1">Genome<br>Count</th>
        <th class="col1 sorttable_nosort" >More<br>Information</th>
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
       <% otid = list[n].otid %>
       <tr id='<%= otid %>'>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <td class="col1" nowrap ><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname  %></a></td>
       <td class="col2 ellipsis" nowrap title='<%= list[n].genus  %>'><i><b><a href='life?rank=genus&name=<%= list[n].genus %>&otid=<%= otid %>'><%= list[n].genus  %></a></b></i></td>
       <td class="col3 ellipsis" nowrap title='<%= list[n].species  %>'><i><b><a href='tax_description?otid=<%= otid %>'><%= list[n].species  %></a></b></i></td>
       <td class="col4 ellipsis" nowrap title='<%= list[n].subsp  %>'><%= list[n].subsp  %></td>
       
       <td class="col5 ellipsis" title='<%= list[n].naming_status  %>'><%= list[n].naming_status  %></td>
       <td class="col6 ellipsis" title='<%= list[n].cultivation_status  %>'><%= list[n].cultivation_status  %></td>
           
       <td class="col7 ellipsis" title='Body Site: <%= list[n].site  %>'><a href='body_sites?otid=<%= otid %>'><%= list[n].site  %></a></small></span></td>
       <td class="col11" title='<%= list[n].tlength_str  %>' nowrap><%= list[n].tlength_str  %>
       
       <td class="col1" title=''><%= list[n].genomes.length %></td>
       
       <td class="col1 center">
       
           <span class="dd-menu">
                <button class="dropbtn pill pill-aqua">Hover Menu</button>
                <div class="dropdown-content">
                    <li><%= taxidfullname %></li>
                    <li><a class="pill pill-colorkit10" href="tax_description?otid=<%= otid %>" >Taxon Description</a></li>
                    <% if(list[n].ecology === 1){ %>
                       <li><a class="pill pill-colorkit11" href="ecology?rank=species&name=<%= list[n].genus %>%20<%= list[n].species %>&otid=<%= otid %>"  >Ecology</a></li>
                    <% }else{ %>
                       <li><span class="pill pill-grayed" >Ecology (not available)</span></li>
                    <% } %>
                    
                    <% if(list[n].genomes.length === 0){ %>
                       <li><span class="pill pill-grayed" >no genomes</span></li>
                    <% }else{ %>
                      <li><a class="pill pill-colorkit12" href="/genome/genome_table?otid=<%= otid %>"  >Genome Table (<%= list[n].genomes.length %>)</a></li>
                    <% } %>
                    <li><a class="pill pill-colorkit13" href="/taxa/tax_hierarchy?otid=<%= otid %>">Taxon Tree</a></li>
                    
                    
                    <li><a class="pill pill-colorkit14 icon-link" href="/genome/conserved_protein_tree?otid=<%= otid %>" target='_blank'>Genome Tree
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                     <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                    </svg></a>
                    </li>
                   
                </div>
           </span>

      </td>

      
       </tr>
     <% } %>
     </tbody>
     </table>
  


</div>


  
     
</div>  <!-- end: tax-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->

<div class="form-popup" id="myAdvancedForm">
  <%- include("../../partials/tax_table_advanced_filter.ejs") %>
  
</div>
  
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
 
$(document).ready(function(){                    
    
    var letter = '<%- letter %>'
    var otid = '<%- filterotid %>'
    var filter_on = '<%- filter_on %>'
    
    if(letter){
      document.getElementById(letter).style.color = 'red'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'black'
       document.getElementById('reset').style.background = 'orange'
       document.getElementById('reset').style.cursor = 'pointer'
       document.getElementById('reset').style.display = 'block'
       document.getElementById("reset").disabled = false;
       
    }
    //scrollto
    table = $('tax-table')
    tableContainer = $('#tax-box')
    //console.log('otid',otid)
    if(otid){
       row = $('#'+otid.toString())
       //     // scroll 2 more rows == 41 x2 ==164
       //     extra = 82
       if(row.length) {
         //console.log(row.offset().top);
         //console.log(tableContainer.height()/2);
         tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
       }
    }
// $('#tax-table td').mouseover(function() {
//     let titleText = $(this).attr('title');
//     if (titleText) {
//       $('<div class="tooltip"></div>')
//         .text(titleText)
//         .appendTo('body')
//         .css({
//           position: 'absolute',
//           left: $(this).offset().left,
//           top: $(this).offset().top - $(this).outerHeight() -10,
//           'background-color': 'lightyellow',
//           'border': '1px solid black',
//           'padding': '5px',
//           'z-index': '1000'
//         });
//     }
//   }).delay().mouseout(function() {
//     $('.tooltip').remove();
//   });

  
});

document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
                '#tax-box').style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                '#tax-box').style.visibility = "visible";
        }
};
function openAdvancedForm() {
    var form = document.getElementById("myAdvancedForm") //.style.display// = "block";
    $(form).fadeIn();
}

function closeAdvancedForm() {
    document.getElementById("myAdvancedForm").style.display = "none";
}
</script>



