<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
#tax-table td a{
   text-decoration: none;
}
#tax-table th{
   border-right:1px solid ivory;
}
/* Tools Menu  */



/* Popup Background Overlay */
    .popup-overlay {
      display: none; 
      position: fixed; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      background-color: rgba(0, 0, 0, 0.3); 
      z-index: 1000;
    }

    /* Popup Content Box */
    .popup-content {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      min-width: 300px;
      
      /* text-align:center; */
    }
    .popup-content a{
      display:flex;
      text-align:center;
      margin: 10px 0;
      font-size:15px;
    }
    
    .dd-image{
      cursor:pointer;
    }
    .dd-head{
       font-size:18px;
       font-weight:bold;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% statusfltr = JSON.parse(filter) %>
<% letter = statusfltr.letter %>
<% filterotid = statusfltr.otid %>
<% phyla = JSON.parse(phyla) %>


<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    
     <p class='title h3'><%= pgtitle %></p>
     <small>(HMT = <u>H</u>uman <u>M</u>icrobial <u>T</u>axon)</small>
     <div class='download_browser_text_excel'>
       <b>Download This Table Data</b>: 
       <a href='/download/dld_taxtable/browser %>' >[Browser]</a>
       <a href='/download/dld_taxtable/text %>' >[Text]</a>
       <a href='/download/dld_taxtable/excel %>' >[Excel]</a>
       <b>OR</b> <a href='/download/download/taxon'>Batch Taxonomy Data</a>
     </div>

   
    <%- include("../../partials/tax_table_basic_filter.ejs") %>
      <!-- A button to open the popup form -->
    <!-- 
<button style='float:right;border:1px solid grey;' class="open-button" onclick="openAdvancedForm()">Advanced Filter
    
    </button>
 -->
   
     
     <br><span><%= count_txt %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     Sorted By: <span id='sortby_notice'><%= statusfltr.sort_col %></span>
<div id='tax-box' >

     <table id='tax-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        
        <th class="col1"><span onclick="change_sortby_notice()">Taxon-ID</span></th>
        <th class='col2'><span onclick="change_sortby_notice()">Genus</span></th>
        <th class='col3'><span onclick="change_sortby_notice()">Species</span></th>
        <th class="col4"><span onclick="change_sortby_notice()">Subspecies</span></th>
        <th class="col5"><span onclick="change_sortby_notice()">Naming<br>Status</span></th>
        <th class="col6"><span onclick="change_sortby_notice()">Cultivation<br>Status</span></th>
        <th class="col7"><span id='' onclick="change_sortby_notice()">Primary Body Site <small>(<span class='red-text'>in Beta</span>)</small></span></th>
        <th class="col11 sorttable_nosort">Genome Size</th>
        <th class="col1">Genome<br>Count</th>
        
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
       <% otid = list[n].otid %>
       <tr id='<%= otid %>'>
       <% taxidfullname = 'HMT-'+("0000" + otid).slice(-4); %>
       <td class="col1" nowrap ><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname  %></a>
         &nbsp;&nbsp;<img title='more...' id='<%= otid %>-image' class='dd-image' src="/images/drop-down-menu-comments-icon2.png" width='23' height='18' alt="dropmenu-icon" 
         onclick="openPopup('<%= otid %>', '<%= list[n].genus %>', '<%= list[n].species %>', '<%= list[n].genomes.length %>', '<%= list[n].ecology %>')" ">
       </td>
       <td class="col2 ellipsis" nowrap title='<%= list[n].genus  %>'><i><b><a href='life?rank=genus&name=<%= list[n].genus %>&otid=<%= otid %>'><%= list[n].genus  %></a></b></i></td>
       <td class="col3 ellipsis" nowrap title='<%= list[n].species  %>'><i><b><a href='tax_description?otid=<%= otid %>'><%= list[n].species  %></a></b></i></td>
       <td class="col4 ellipsis" nowrap title='<%= list[n].subsp  %>'><%= list[n].subsp  %></td>
       
       <td class="col5 ellipsis" title='<%= list[n].naming_status  %>'><%= list[n].naming_status  %></td>
       <td class="col6 ellipsis" title='<%= list[n].cultivation_status  %>'><%= list[n].cultivation_status  %></td>
           
       <td class="col7 ellipsis" title='Body Site: <%= list[n].site  %>'><a href='body_sites?otid=<%= otid %>'><%= list[n].site  %></a></small></span></td>
       <td class="col11" title='<%= list[n].tlength_str  %>' nowrap><%= list[n].tlength_str  %>
       
       <td class="col1" title=''><%= list[n].genomes.length %></td>
       
       

      
       </tr>
     <% } %>
     </tbody>
     </table>
  


</div>

<!-- Popup Structure -->
  <div id="popupOverlay" class="popup-overlay" onclick="closePopup(event)">
    <div class="popup-content" onclick="event.stopPropagation()">
      <p id="popupBody" style='text-align:center;'></p>
    </div>
  </div>
  
     
</div>  <!-- end: tax-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->

<div class="form-popup" id="myAdvancedForm">
  <%- include("../../partials/tax_table_advanced_filter.ejs") %>
</div>
  
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
 
$(document).ready(function(){                    
    
    var letter = '<%- letter %>'
    var otid = '<%- filterotid %>'
    var filter_on = '<%- filter_on %>'
    
    if(letter){
      document.getElementById(letter).style.color = 'red'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'black'
       document.getElementById('reset').style.background = 'orange'
       document.getElementById('reset').style.cursor = 'pointer'
       document.getElementById('reset').style.display = 'block'
       document.getElementById("reset").disabled = false;
       
    }
    //scrollto
    table = $('tax-table')
    tableContainer = $('#tax-box')
    //console.log('otid',otid)
    if(otid){
       row = $('#'+otid.toString())
       //     // scroll 2 more rows == 41 x2 ==164
       //     extra = 82
       if(row.length) {
         //console.log(row.offset().top);
         //console.log(tableContainer.height()/2);
         tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
       }
    }

  
});
function openAdvancedForm() {
    var form = document.getElementById("myAdvancedForm") //.style.display// = "block";
    $(form).fadeIn();
}

function closeAdvancedForm() {
    document.getElementById("myAdvancedForm").style.display = "none";
}
///////////////////////////
    const overlay = document.getElementById('popupOverlay');
    //const title = document.getElementById('popupTitle');
    const pubody = document.getElementById('popupBody');

    // Open popup and populate with row data
    function openPopup(otid, genus, species, glength, ecology) {
        console.log('eco',ecology)
        var taxidfullname = 'HMT-'+("0000" + otid).slice(-4);
        pubody.innerHTML ="<div id='${otid}-menu' class='dropdown-content'>"
        pubody.innerHTML +=  `<span class='dd-head'>${taxidfullname}</span>`

        pubody.innerHTML +=  `<li><a class="pill pill-colorkit10" href="tax_description?otid=${otid}" >Description</a></li>`
        if(ecology == 1){
            pubody.innerHTML +=  `<li><a class="pill pill-colorkit11" href="ecology?rank=species&name=${genus}%20${species}&otid=${otid}">Ecology</a></li>`
        }else{
            pubody.innerHTML +=  `<li><span class="pill pill-grayed" style='display:flex;text-align:center;margin:10px 0;font-size:15px;'>Ecology not available</span></li>`
        }
        if(glength == 0){
            pubody.innerHTML +=  `<li><span class="pill pill-grayed na" style='display:flex;text-align:center;margin:10px 0;font-size:15px;'>No Genomes</span></li>`
        }else{
            pubody.innerHTML +=  `<li><a class="pill pill-colorkit12" href="/genome/genome_table?otid=${otid}"  >Genome Table (${glength})</a></li>`
        }
        pubody.innerHTML +=  `<li><a class="pill pill-colorkit13" href="/taxa/tax_hierarchy?otid=${otid}">Taxon Tree</a></li>`
        pubody.innerHTML +=  `<li><a class="pill pill-colorkit14 icon-link" href="/genome/conserved_protein_tree?otid=${otid}" target='_blank'>Genome Tree</a></li>`
        pubody.innerHTML +=  `</div>`
      
      //title.innerText = `Details for ${genus} ${species}`;
      //pubody.innerText = `ID: ${otid}\nLength: ${glength}`;
      overlay.style.display = 'inline-block';
    }

    // Close popup only when clicking the overlay container background
    function closePopup(event) {
      if (event.target === overlay) {
        overlay.style.display = 'none';
      }
    }
</script>



