<% list = JSON.parse(res) %>
<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/taxa_pages.css" >
<style>
.button {
   font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 <div class='page-title'>List of Human Microbial Taxa</div>
		 
		 <div id='outer-content'>
			 <div id='taxa-search'>
		      <br>
			   <form id='' name='' method='POST' action=''>
				  Search:
				  <input type='text' maxlength='18' size='20'>
				  <select id='' name='field'>
					<option value="all">All Fields</option>
					<option value="taxid">Taxon ID</option>
					<option value="genus">Genus</option>
					<option value="species">Species</option>
					<option value="synonyms">Synonyms</option>
					<option value="type">Type Strains</option>
					<option value="rrna">16S rRNA ID</option>
				  </select>
				  Matching:
				  <select id='' name='match'>
					<option value="all">ALL words</option>
					<option value="any">ANY words</option>
					<option value="exact">Exact phrase</option>
				  </select>
				  <select id='' name='sub'>
					<option value="partial">Partial field</option>
					<option value="whole">Whole field</option>
				  </select>
				  <input type='submit' value=' Go '>
			   </form>
			 </div>
			 <div id='navigate-alpha'>
		 
			  Navigate Taxa by Alphabet: <%= letter %><br>
			  <pre>
<a href='taxTable?k=A'>A</a>|<a href='taxTable?k=B'>B</a>|<a href='taxTable?k=C'>C</a>|<a href='taxTable?k=D'>D</a>|<a href='taxTable?k=E'>E</a>|<a href='taxTable?k=F'>F</a>|<a href='taxTable?k=G'>G</a>|<a href='taxTable?k=H'>H</a>|<a href='taxTable?k=I'>I</a>|<a href='taxTable?k=J'>J</a>|<a href='taxTable?k=K'>K</a>|<a href='taxTable?k=L'>L</a>|<a href='taxTable?k=M'>M</a>|<a href='taxTable?k=N'>N</a>|<a href='taxTable?k=O'>O</a>|<a href='taxTable?k=P'>P</a>|<a href='taxTable?k=Q'>Q</a>|<a href='taxTable?k=R'>R</a>|<a href='taxTable?k=S'>S</a>|<a href='taxTable?k=T'>T</a>|<a href='taxTable?k=U'>U</a>|<a href='taxTable?k=V'>V</a>|<a href='taxTable?k=W'>W</a>|<a href='taxTable?k=X'>X</a>|<a href='taxTable?k=Y'>Y</a>|<a href='taxTable?k=Z'>Z</a>|<a href='taxTable?k='>All Entries</a>|
</pre>
			 </div>
		 </div>  <!-- end outer-content -->
		 
		 <div id='tax-box' >
		 
		 <div id='inner-content'>
		   <div id='taxa-count'>
		     <div id='total-count'>Total: <%= tcount %></div>
		     
		     <div id='showing-count'>Showing <%= count %></div>
		   </div>
		   <div id='taxa-filter'>
		     <form id='' name='' method='POST' action=''>
		     <table>
		     <tr><td>
		     <div id='status-div' style=''>
		     Status: <input type='checkbox' checked name='' \> Named&nbsp;
		     <input type='checkbox' checked name='' \> Unnamed&nbsp;
		     <input type='checkbox' checked name='' \> Phylotypes&nbsp;
		     <input type='checkbox' checked name='' \> Lost&nbsp;
		     <input type='checkbox' name='' \> Dropped&nbsp;
		     </div>
		     </td><td>
		     <input type='radio' checked name='' \> All Valid&nbsp;
		     <input type='radio' name='' \> All&nbsp;
		     </td></tr>
		     <tr><td>
		     <div id='bodysite-div' style=''>
		     Body Site: <input type='checkbox' checked name='' \> Oral&nbsp;
		     <input type='checkbox' checked name='' \> Nasal&nbsp;
		     <input type='checkbox' checked name='' \> Skin&nbsp;
		     <input type='checkbox' checked name='' \> Vaginal&nbsp;
		     <input type='checkbox' checked name='' \> Unassigned&nbsp;
		     <input type='checkbox' name='' \> NonOralRef&nbsp;
		     </div>
		     </td><td>
		     <input type='submit' value=' Show '>
		     <input type='button' value=' Clear '>
		     </td></tr>
		     </table>
		     </form>
		   </div>
		 
		 </div>  <!-- end inner-content -->
		 <table id='tax-table' class='table'><thead>
		 <tr><th>Taxon ID</th><th>Genus</th><th>Species</th>
		     <th>Status</th><th>Body Site</th><th>Flag</th>
		     <th>Taxon Link</th><th>Genome Link</th><th>Genome Size</th>
		 </tr>
		 </thead>
		 <tbody>
		 <% for(n in list){ %>
		   <tr>
		   <% taxonid= list[n].otid %>
		   <% taxidfullname = 'HMT-'+("000" + taxonid).slice(-3); %>
		   <td><%= taxidfullname  %></td>
		   <td><i><%= list[n].genus  %></i></td>
		   <td><i><%= list[n].species  %></i></td>
		   <td><%= list[n].status  %></td>
		   <td><%= list[n].site  %></td>
		   <td><%= list[n].warning  %></td>
		   <td style='text-align:center'><a href="/taxa/taxDescription?oraltaxonid=<%= taxonid %>" class="button" style='color:blue;'>Taxon Description</a></td>
		   <td style='text-align:center'><a href="#" class="button" style='color:green;'># of Genomes</a></td>
		   <td></td>
		   </tr>
		 <% } %>
		 </tbody>
		 </table>
		 
		 </div>  <!-- end: tax-box -->
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  $(document).ready(function(){                    
    mainmenu();
});

</script>



