<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% statusfltr = JSON.parse(filter) %>
<% letter = statusfltr.letter %>
<% filterotid = statusfltr.otid %>
<% phyla = JSON.parse(phyla) %>


<body>
    <div id="loader" class="center-loader" style='z-index:1'></div>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    
     <div class='title'><%= pgtitle %></div>
     <small>(HMT = <u>H</u>uman <u>M</u>icrobial <u>T</u>axon)</small>
     <div id='download_browser_text_excel'>
     
     <b>Download This Table Data</b>: 
       <a href='/download/dld_taxtable/browser %>' >[Browser]</a>
       <a href='/download/dld_taxtable/text %>' >[Text]</a>
       <a href='/download/dld_taxtable/excel %>' >[Excel]</a>
       <b>OR</b> <a href='/download#taxon'>Batch Taxonomy Data</a>
     </div>  

   
    <%- include("../../partials/tax_table_basic_filter.ejs") %>
      <!-- A button to open the popup form -->
    <button style='float:right' class="open-button" onclick="openForm()">Advanced Filter</button>
      <!--   <a href='advanced_taxtable_search'>Advanced Search</a> -->
     <br><%= count_txt %>
<div id='tax-box' >

     <table id='tax-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        <th class="col1" ><span onclick="('otid')">Taxon-ID</span></th>
        <th class='col2' scope="col"><span onclick="('genus')">Genus</span></th>
        <th class='col3' scope="col"><span onclick="('species')">Species</span></th>
        <th class="col4"><span onclick="('strain')">Subspecies</span></th>
        <th class="col5"><span onclick="('naming_status')">Naming<br>Status</span></th>
        <th class="col6"><span onclick="('cult_status')">Cultivation<br>Status</span></th>
        
        <th class="col7"><span id='' ">Primary Body<br>Site</span></th>
        
        <th class="col8" class="sorttable_nosort">Ecology<br>Link</th>
        <th class="col9" class="sorttable_nosort" nowrap>Taxon<br>Link</th>
        <th class="col10" class="sorttable_nosort" nowrap>Genome<br>Link</th>
        <th class="col11" class="sorttable_nosort">Genome Size</th>
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
       <% otid = list[n].otid %>
       <tr id='<%= otid %>'>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <td class="col1" nowrap ><%= taxidfullname  %></td>
       <td class="col2" nowrap title='<%= list[n].genus  %>'><i><b><a href='life?rank=genus&name=<%= list[n].genus %>&otid=<%= otid %>'><%= list[n].genus  %></a></b></i></td>
       <td class="col3" nowrap title='<%= list[n].species  %>'><i><b><a href='tax_description?otid=<%= otid %>'><%= list[n].species  %></a></b></i></td>
       <td class="col4" nowrap title='<%= list[n].subsp  %>'><%= list[n].subsp  %></td>
       
       <td class="col5" title='<%= list[n].naming_status  %>'><%= list[n].naming_status  %></td>
       <td class="col6" title='<%= list[n].cultivation_status  %>'><%= list[n].cultivation_status  %></td>
           
       <td class="col7" title='Body Site: <%= list[n].site  %>'><%= list[n].site  %> <span style='float:right'><small>[<a href='body_sites?otid=<%= otid %>'>see all sites</a>]</small></span></td>
       
     <!--   <td><%= list[n].sites  %></td> -->
       <% if(list[n].ecology === 1){ %>
         <td class="col8"  nowrap><a href="ecology?rank=species&name=<%= list[n].genus %>%20<%= list[n].species %>&otid=<%= otid %>" class="pill pill-green" >Ecology</a></td>
       <% }else{ %>
         <td class="col8"  nowrap</td>
       <% } %>
       <td class="col9"  nowrap><a href="tax_description?otid=<%= otid %>" class="pill pill-orange" >Taxon Description</a></td>
       <td class="col10"  nowrap>
       <% num_genomes = list[n].genomes.length %>
       <% if(num_genomes === 0){ %>
         
       <% }else if(num_genomes === 1){ %> 
        <a href="/genome/genome_table?otid=<%= otid %>" class="pill pill-aqua" >1 Genome</a>
       <% }else{ %>
         
         <a href="/genome/genome_table?otid=<%= otid %>" class="pill pill-aqua" ><%= num_genomes %> Genomes</a>
         
       <% } %>
       </td>
       <td class="col11"  nowrap><%= list[n].tlength_str  %></td>
       </tr>
     <% } %>
     </tbody>
     </table>
  


</div>


  
     
</div>  <!-- end: tax-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->

<div class="form-popup" id="myForm">
  <%- include("../../partials/tax_table_advanced_filter.ejs") %>
  <!-- include("../partials/tax_table_advanced_filter.ejs" -->
  <!-- include("../partials/tax_table_TEST_filter.ejs" -->
</div>
  
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){                    
    
    var letter = '<%- letter %>'
    var otid = '<%- filterotid %>'
    var filter_on = '<%- filter_on %>'
    
    if(letter){
      document.getElementById(letter).style.color = 'red'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'orange'
       document.getElementById('reset').style.background = 'black'
       document.getElementById('reset').style.cursor = 'pointer'
    }
    //scrollto
    table = $('tax-table')
    tableContainer = $('#tax-box')
    //otid = '325'
    row = $('#'+otid)
    // scroll 2 more rows == 41 x2 ==164
    extra = 82
    if(row.length) {
      //console.log(row.offset().top);
      //console.log(tableContainer.height()/2);
      tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
    }

  
  
  });

  document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  '#tax-box').style.visibility = "hidden";
                document.querySelector(
                  "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                  "#loader").style.display = "none";
                document.querySelector(
                  '#tax-box').style.visibility = "visible";
            }
        };
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>



