<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }


</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% statusfltr = JSON.parse(filter) %>
<% letter = statusfltr.letter %>
<% filterotid = statusfltr.otid %>
<% phyla = JSON.parse(phyla) %>


<body>
    <div id="loader" class="center-loader" style='z-index:1'></div>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    
    
    <div class='page-content' >
    
     <div class='title'><%= pgtitle %></div>
     <small>(HMT = <u>H</u>uman <u>M</u>icrobial <u>T</u>axon)</small>
     <div id='download_browser_text_excel'>
     
     <b>Download This Table Data</b>: 
       <a href='/download/dld_taxtable/browser %>' >[Browser]</a>
       <a href='/download/dld_taxtable/text %>' >[Text]</a>
       <a href='/download/dld_taxtable/excel %>' >[Excel]</a>
       <b>OR</b> <a href='/download#taxon'>Batch Taxonomy Data</a>
     </div>  

   
    <%- include("../../partials/tax_table_basic_filter.ejs") %>
      <!-- A button to open the popup form -->
    <!-- 
<button style='float:right;border:1px solid grey;' class="open-button" onclick="openAdvancedForm()">Advanced Filter
    
    </button>
 -->
   
     
     <br><span><%= count_txt %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
     Sorted By: <span id='sortby_notice'><%= statusfltr.sort_col %></span>
<div id='tax-box' >

     <table id='tax-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        
        <th class="col1"><span onclick="change_sortby_notice()">Taxon-ID</span></th>
        <th class='col2'><span onclick="change_sortby_notice()">Genus</span></th>
        <th class='col3'><span onclick="change_sortby_notice()">Species</span></th>
        <th class="col4"><span onclick="change_sortby_notice()">Subspecies</span></th>
        <th class="col5"><span onclick="change_sortby_notice()">Naming<br>Status</span></th>
        <th class="col6"><span onclick="change_sortby_notice()">Cultivation<br>Status</span></th>
        
        <th class="col7"><span id='' onclick="change_sortby_notice()">Primary Body Site <small>(in Beta)</small></span></th>
        
        <!-- 
<th class="col8 sorttable_nosort"></th>
        <th class="col9 sorttable_nosort" nowrap></th>
        <th class="col10 sorttable_nosort" nowrap></th>
 -->
        <th class="col8head sorttable_nosort" >More Information</th>
        
        <th class="col11 sorttable_nosort">Genome Size</th>
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
       <% otid = list[n].otid %>
       <tr id='<%= otid %>'>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <td class="col1" nowrap ><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname  %></a></td>
       <td class="col2" nowrap title='<%= list[n].genus  %>'><i><b><a href='life?rank=genus&name=<%= list[n].genus %>&otid=<%= otid %>'><%= list[n].genus  %></a></b></i></td>
       <td class="col3" nowrap title='<%= list[n].species  %>'><i><b><a href='tax_description?otid=<%= otid %>'><%= list[n].species  %></a></b></i></td>
       <td class="col4" nowrap title='<%= list[n].subsp  %>'><%= list[n].subsp  %></td>
       
       <td class="col5" title='<%= list[n].naming_status  %>'><%= list[n].naming_status  %></td>
       <td class="col6" title='<%= list[n].cultivation_status  %>'><%= list[n].cultivation_status  %></td>
           
       <td class="col7" title='Body Site: <%= list[n].site  %>'><a href='body_sites?otid=<%= otid %>'><%= list[n].site  %></a></small></span></td>
       
     <!--   <td><%= list[n].sites  %></td> -->
      <td class="col8head" nowrap>
       <center>
       <% if(list[n].ecology === 1){ %>
             <a href="ecology?rank=species&name=<%= list[n].genus %>%20<%= list[n].species %>&otid=<%= otid %>" class="pill pill-green" >Ecology</a>
       <% }else{ %>
             <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
             <a href="#" class="pill pill-grayed" >Ecology</a>  <!-- visibility:hidden will maintain space -->
       <% } %>
       &nbsp;&nbsp;<a href="tax_description?otid=<%= otid %>" class="pill pill-orange" >Description</a>
       
       <% num_genomes = list[n].genomes.length %>
       
       <% if(num_genomes === 0){ %>
              &nbsp;&nbsp;<a href="#" class="pill pill-grayed" >Genomes</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
       <% }else{ %>
              &nbsp;&nbsp;<a href="/genome/genome_table?otid=<%= otid %>" class="pill pill-aqua" >Genomes</a>
              <%= num_genomes %>
       <% } %>
       
       </center>
       
      </td>

      <td class="col11" title='<%= list[n].tlength_str  %>' nowrap><%= list[n].tlength_str  %></td>
       </tr>
     <% } %>
     </tbody>
     </table>
  


</div>


  
     
</div>  <!-- end: tax-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->

<div class="form-popup" id="myAdvancedForm">
  <%- include("../../partials/tax_table_advanced_filter.ejs") %>
  <!-- include("../../partials/tax_table_advanced_filter.ejs") -->
  <!-- include("../partials/tax_table_TEST_filter.ejs") -->
</div>
  
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
 
$(document).ready(function(){                    
    
    var letter = '<%- letter %>'
    var otid = '<%- filterotid %>'
    var filter_on = '<%- filter_on %>'
    
    if(letter){
      document.getElementById(letter).style.color = 'red'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'orange'
       document.getElementById('reset').style.background = 'black'
       document.getElementById('reset').style.cursor = 'pointer'
    }
    //scrollto
    table = $('tax-table')
    tableContainer = $('#tax-box')
    //console.log('otid',otid)
    if(otid){
       row = $('#'+otid.toString())
       //     // scroll 2 more rows == 41 x2 ==164
       //     extra = 82
       if(row.length) {
         //console.log(row.offset().top);
         //console.log(tableContainer.height()/2);
         tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
       }
    }
// $('#tax-table td').mouseover(function() {
//     let titleText = $(this).attr('title');
//     if (titleText) {
//       $('<div class="tooltip"></div>')
//         .text(titleText)
//         .appendTo('body')
//         .css({
//           position: 'absolute',
//           left: $(this).offset().left,
//           top: $(this).offset().top - $(this).outerHeight() -10,
//           'background-color': 'lightyellow',
//           'border': '1px solid black',
//           'padding': '5px',
//           'z-index': '1000'
//         });
//     }
//   }).delay().mouseout(function() {
//     $('.tooltip').remove();
//   });

  
});

document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
                '#tax-box').style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                '#tax-box').style.visibility = "visible";
        }
};
function openAdvancedForm() {
    var form = document.getElementById("myAdvancedForm") //.style.display// = "block";
    $(form).fadeIn();
}

function closeAdvancedForm() {
    document.getElementById("myAdvancedForm").style.display = "none";
}
</script>



