<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

</style>
<link rel="stylesheet" type="text/css" href="/css/taxa_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% statusfltr = JSON.parse(filter) %>
<% letter = statusfltr.letter %>
<% filterotid = statusfltr.otid %>

<body>
    <div id="loader" class="center-loader" style='z-index:1'></div>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    
  
  
     <div class='title'><%= pgtitle %></div>
     <small>(HMT = <u>H</u>uman <u>M</u>icrobial <u>T</u>axon)</small>
     <div id='download_browser_text_excel'><b>Download this Taxon Data</b>: 
       <a href='dld_table/browser %>' >[Browser]</a>
       <a href='dld_table/text %>' >[Text]</a>
       <a href='dld_table/excel %>' >[Excel]</a>
     </div>  
    <!-- 
 
     <div id='download_browser_text_excel'><b>Download this Taxon Data</b>: 
       <a href='dld_table/browser/<%= letter %>/[<%= Object.keys(statusfltr.status) %>]/<%= statusfltr.text.txt_srch %> /<%= statusfltr.text.field %>' >[Browser]</a>
       <a href='dld_table/text/<%= letter %>/<%= Object.keys(statusfltr.status) %>/<%= statusfltr.text.txt_srch %> /<%= statusfltr.text.field %>' >[Text]</a>
       <a href='dld_table/excel/<%= letter %>/<%= Object.keys(statusfltr.status) %>/<%= statusfltr.text.txt_srch %> /<%= statusfltr.text.field %>' >[Excel]</a>
     </div>  
       
 -->
    <%- include('../../partials/tax_table_filter.ejs') %>
     <br><%= count_txt %>
<div id='tax-box' >

     <table id='tax-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        <th scope="col" nowrap><span onclick="('otid')">Taxon-ID</span></th>
        <th scope="col"><span onclick="('genus')">Genus</span></th>
        <th scope="col"><span onclick="('species')">Species</span></th>
        <th scope="col"><span onclick="('strain')">Subspecies</span></th>
        <th scope="col"><span onclick="('status')">Status</span></th>
        <th scope="col"><span onclick="('site')">Body<br>Site(s)</span></th>
       <!--  <th scope="col" nowrap>Body Site</th> -->
        <th scope="col" class="sorttable_nosort">Ecology<br>Link</th>
        <th scope="col" class="sorttable_nosort" nowrap>Taxon<br>Link</th>
        <th scope="col" class="sorttable_nosort" nowrap>Genome<br>Link</th>
        <th scope="col" nowrap class="sorttable_nosort">Genome Size</th>
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
       <% otid = list[n].otid %>
       <tr id='<%= otid %>'>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <td nowrap class='col1' ><%= taxidfullname  %></td>
       <td nowrap class='col2' title='<%= list[n].genus  %>'><i><b><a href='life?rank=genus&name=<%= list[n].genus %>&otid=<%= otid %>'><%= list[n].genus  %></a></b></i></td>
       <td nowrap class='col3' title='<%= list[n].species  %>'><i><b><a href='tax_description?otid=<%= otid %>'><%= list[n].species  %></a></b></i></td>
       <td nowrap class='col4' title='<%= list[n].subsp  %>'><%= list[n].subsp  %></td>
       
       <td class='col5'><%= list[n].status  %></td>
       <% if(list[n].sites.length > 0){ %>
           <% sites = list[n].sites.join(",") %>
           <td class='col5'><%= sites  %></td>
       <% }else{ %>
           <td class='col5'></td>
       <% } %>
     <!--   <td><%= list[n].sites  %></td> -->
       <% if(list[n].ecology === 1){ %>
         <td class='col6' nowrap><a href="ecology?rank=species&name=<%= list[n].genus %>%20<%= list[n].species %>&otid=<%= otid %>" class="pill pill-green" >Ecology</a></td>
       <% }else{ %>
         <td class='col6' nowrap</td>
       <% } %>
       <td class='col7' nowrap><a href="tax_description?otid=<%= otid %>" class="pill pill-orange" >Taxon Description</a></td>
       <td class='col8' nowrap>
       <% num_genomes = list[n].genomes.length %>
       <% if(num_genomes === 0){ %>
         
       <% }else if(num_genomes === 1){ %> 
        <a href="/genome/genome_table?otid=<%= otid %>" class="pill pill-lightseagreen" >1 Genome</a>
       <% }else{ %>
         
         <a href="/genome/genome_table?otid=<%= otid %>" class="pill pill-lightseagreen" ><%= num_genomes %> Genomes</a>
         
       <% } %>
       </td>
       <td class='col9' nowrap><%= list[n].tlength_str  %></td>
       </tr>
     <% } %>
     </tbody>
     </table>
     
</div>  <!-- end: tax-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){                    
    
    var letter = '<%- letter %>'
    var otid = '<%- filterotid %>'
    var filter_on = '<%- filter_on %>'
    
    if(letter){
      document.getElementById(letter).style.color = 'red'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'orange'
       document.getElementById('reset').style.background = 'black'
       document.getElementById('reset').style.cursor = 'pointer'
    }
    //scrollto
    table = $('tax-table')
    tableContainer = $('#tax-box')
    //otid = '325'
    row = $('#'+otid)
    // scroll 2 more rows == 41 x2 ==164
    extra = 82
    if(row.length) {
      //console.log(row.offset().top);
      //console.log(tableContainer.height()/2);
      tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
    }

  
  
  });

  document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  '#tax-box').style.visibility = "hidden";
                document.querySelector(
                  "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                  "#loader").style.display = "none";
                document.querySelector(
                  '#tax-box').style.visibility = "visible";
            }
        };
</script>



