<% list = JSON.parse(res) %>
<% statusfltrX = statusfltr %>

<script>
	var letter = '<%- letter %>'
	var statusfltr= JSON.parse('<%- statusfltr %>')
	var sitefltr= JSON.parse('<%- sitefltr %>')
</script>
<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/taxa_pages.css" >
<style>
    .button {
       font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;

    }
    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }
    #navigate-alpha a {
       color:#006699;
    }
    #radio_btns {
        font-size:11px;
    }
</style>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 <div class='page-title'>List of Human Microbial Taxa</div>
		 		 
			 
	<%- include('../../partials/tax_table_filter_pt1.ejs') %>

<div id='tax-box' >

	<%- include('../../partials/tax_table_filter_pt2.ejs') %> 
	 
		 
		 <table id='tax-table' class='table sortable'><thead>
		 <tr><th>Taxon ID</th><th>Genus</th><th>Species</th>
		     <th>Status</th><th>Body Site</th><th>Flag</th>
		     <th class="sorttable_nosort">Taxon Link</th><th class="sorttable_nosort">Genome Link</th><th>Genome Size</th>
		 </tr>
		 </thead>
		 <tbody>
		 <% for(n in list){ %>
		   <tr>
		   <% otid= list[n].otid %>
		   <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
		   <td><%= taxidfullname  %></td>
		   <td><i><b><%= list[n].genus  %></b></i></td>
		   <td><i><b><%= list[n].species  %></b></i></td>
		   <td><%= list[n].status  %></td>
		   <td><%= list[n].site  %></td>
		   <td><%= list[n].warning  %></td>
		   <td style='text-align:center' nowrap><a href="tax_description?otid=<%= otid %>" class="button" style='color:blue;'>Taxon Description</a></td>
		   <td style='text-align:center' nowrap>
		   <% num_genomes = list[n].genomes.length %>
		   <% if(num_genomes == 0){ %>
		     <span class="button" style='color:grey;'><%= num_genomes %> Genomes</span>
		     
		   <% }else{ %>
		     
		     <a href="/genome/genome_table?otid=<%= otid %>" class="button" style='color:green;'><%= num_genomes %> Genomes</a>
		     
		   <% } %>
		   </td>
		   <td></td>
		   </tr>
		 <% } %>
		 </tbody>
		 </table>
		 
</div>  <!-- end: tax-box -->
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script>
  $(document).ready(function(){                    
    mainmenu();
    
    // lets set check here
    // uncheck all
    var els = document.getElementsByClassName('filter_ckbx')
    var all_on = statusfltr.concat(sitefltr)
    for (n in els){
		if(all_on.indexOf(els[n].name) != -1){
		  els[n].checked = true
		}
	} 
	if(letter){
		document.getElementById(letter).style.color = 'red'
		document.getElementById(letter).style.fontSize = 'medium'
	}else{
		document.getElementById('all').style.color = 'red'
	}
});

</script>



