<style>

#help-menu-header1 {
   text-align:center;
   
   color:black;
   font-size:15px;
   font-weight:bold;
}
.help-menu-header2 {
   text-align:center;
   background:#006699;
   color:white;
   font-size:14px;
}

</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/help_pages.css" \>

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">



<body>
  	
    <%- include('../../partials/header_img'); %>
	<%- include('../../partials/navbar'); %>
	
		
	<div id='' class='page-content'>
	   <!-- <button id='trigger' style='float:left;'> Hide Help Menu <<< </button> -->
		
		<center><h4 class='title text-info'>HOMD User Documentation</h4></center> 					
			
			<div id='accordion_div' >
			 	<%- include('../../partials/user_doc_menu-ul'); %>
			</div>
			
			<div id='content_div'>
				
		    </div>  <!-- end: content_div -->
			
		
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>


<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/help_pages.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()

  var page = '<%- page; %>'
  var menu = '<%- menu; %>'
  console.log('menu',menu)

$(document).ready(function(){                    
    
    ///* https://www.jqueryscript.net/demo/Super-Smooth-Accordion-Dropdown-Menu-with-jQuery-CSS3/ */
    userdocs_side_menu();
    // on page load:
    //openslider:
    jQuery("#"+menu).slideDown()
    // then colorize link
    var help_page_link = document.getElementById(menu+'--'+page)
    help_page_link.style.color = "red";
    // load page
    ajax(help_page_link, false)  // set_session==true
    //load_text(help_page_link)
    
    
});

</script>

