<style>
#search-help-link{
   float:right;
   font-size:12px;
   
}
#search-help-link a{
   
   color:white;
}
#search-help{
   background:darkgrey;
   border:1px solid black;
   color:black;
   padding:6px;
   margin-top:10px;
   width:100%;
   height:40px;
   
}

#search-help form {
   /* position:relative; */
   
   height:20px;
   
   font-size:12px;
}
#search-help input {
   
   height:25px;
   
   font-size:13px;

   
}
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >
              
       <div class='title'>HELP CONTENT</div>
      <%- include('../../partials/under_construction'); %>
<center>
<div id='search-help'> 
    <center>
    <form name='search-help-form' method='POST' action='help_search_result'>Search Help Pages:
         <input type='text' name='input_string' size='30' maxlength='150'>
         <input type='submit' class='button' value='Go'>
    </form>
    </center>
</div>
</center>

<table id='over-table'> 
  <tr><td valign='top'> 
    <table class='help-table' id='help-left-table'>
        <tr><th>General</th></tr>
        <tr><td><a href='help-page?pagecode=cite'>How to Cite HOMD</a></td></tr>
        <tr><td><a href='help-page?pagecode=description'>Project Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=strains'>Strains and DNA Availability</a></td></tr>
        <tr><td><a href='help-page?pagecode=team'>Our Team</a></td></tr>
        <tr><td><a href='help-page?pagecode=publications'>Publications</a></td></tr>
        <tr><td><a href='help-page?pagecode=contact'>Contact US</a></td></tr>
        <tr><td><a href='help-page?pagecode=mailing'>Mailing List</a></td></tr>
        <tr><td><a href='help-page?pagecode=download'>Downloads</a></td></tr>
        <tr><td><a href='help-page?pagecode=announcement'>Announcements</a></td></tr>
        <tr><td><a href='help-page?pagecode=blast/blast'>Blast</a></td></tr>
        
    </table>
    
  </td><td valign='top'> 
    
    <table class='help-table' id='help-middle-table'>
        <tr><th colspan='2'>Specific Page Help</th></tr>
        <tr><td rowspan='6'>Taxonomy:</td>
            <td><a href='help-page?pagecode=taxon/tax_table'>Taxon Table</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=taxon/description'>Taxon Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/level'>Taxon Rank Level</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/hierarchy'>Taxon Dynamic Hierarchy</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/life'>Taxon Life Pages</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/ecology'>Ecology (Abundance) Pages</a></td></tr>
        <tr><td rowspan='2' class=''>16S rRNA RefSeq:</td>
            <td class=''><a href='help-page?pagecode=refseq/blastn'>BLASTN</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=refseq/trees'>Phylogenetic Trees</a></td></tr>
        
        <tr><td rowspan='4' class=''>Genomic:</td>
            <td class=''><a href='help-page?pagecode=genome/genome_table'>Genome Table</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=genome/description'>Genome Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/jbrowse'>JBrowse</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/explorer'>Genome Explorer and Annotations</a></td></tr>
        
        
    </table>
    
  </td><td valign='top'> 
   
    <table class='help-table' id='help-right-table'>
        <tr><th>Versioning History</th></tr>
        
        <tr><td><a href='help-page?pagecode=refseq/refseq_version'>16S rRNA RefSeq Version History</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/genome_version'>Reference Genome Version History</a></td></tr>
        <tr><td><a href='help-page?pagecode=database_update'>Database Updates</a></td></tr>
    </table>
    
  </td></tr>  
    </table>
    
    
    
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


