<style>
</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/help_pages.css" \>

<body>
  		
	    
	    
	
       <%- include('../../partials/header_img'); %>
   

	
	
	
		<%- include('../../partials/navbar'); %>
	
	<div id='' class='page-content'>
	   
		<%- include('../../partials/user_doc_menu'); %>
		
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 

<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
  function helpmenu(){
    console.log('in helpmenu')
    $('#user_help_nav > li > a').click(function(){
		console.log('in helpmenu click')
		if ($(this).attr('class') != 'active'){
		  $('#user_help_nav li ul').slideUp();
		  $(this).next().slideToggle();
		  $('#user_help_nav li a').removeClass('active');
		  $(this).addClass('active');
		}
	});
  }
 
$(document).ready(function(){                    
    
   
});

</script>

