<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/help_pages.css" \>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	  
		<div class='wide-content' id="">  					
			 
			 <%- include('../../partials/user_doc_menu'); %>
		</div>
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.js"></script>
<script>
  
  function helpmenu(){
    console.log('in helpmenu')
    $('#user_help_nav > li > a').click(function(){
		console.log('in helpmenu click')
		if ($(this).attr('class') != 'active'){
		  $('#user_help_nav li ul').slideUp();
		  $(this).next().slideToggle();
		  $('#user_help_nav li a').removeClass('active');
		  $(this).addClass('active');
		}
	});
  }
 
$(document).ready(function(){                    
    
   
});

</script>

