<%- include('../../partials/header_html'); %>

<style>
</style>
<body>
  		
    <%- include('../../partials/header_img'); %>
    
	<%- include('../../partials/navbar'); %>
	
	<div id='' class='page-content'>
							
			 ANNOTATIONS for <%= gid %>
		
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>

