<style>
#orf_table_div{
   max-height:400px;
   overflow:auto;
   overflow-y: scroll;
   border:1px solid gray;
   padding:10px;
   
   width: 80%;
}
table{
  font-size:12px;
}
table td{
   border-top:1px solid grey;
}
#anno-pre-table{
  width:100%;
}
#anno-pre-table td{
   padding: 0 10px;
}
.gid_col{
   width:30px;
}
.hits_col{
   width: 40px;
}
.view_col{
   width:150px;
}
.full_col{
   width:120px;
}
#annotation-table{
  width:100%;
  margin:0px 0;
  
  background:lightgray;
  
}
#annotation-table th{
  padding:5px;
  background:#6bb6ff;
}
#annotation-table td{
  padding:2px 8px;
  font-size:small;
  
}
#annotation-table tr:nth-child(even) { 
    background-color: #ffb46b; 
 } 
 #annotation-table tr:hover { 
    background-color: #FBF9EA; 
 } 

button {
    cursor:pointer;
    color:blue;
}
.highlight{
   background: #7AC97A;
}

.button{
   cursor:pointer;
}

</style>
<% cfg = JSON.parse(config) %> 
<% data = JSON.parse(data) %>

<% org_sorted_gids = JSON.parse(sorted_gids) %>

<% orgs = JSON.parse(org_obj) %>
<%- include('../../partials/header_html'); %>
<script type="text/javascript" src="/js/genomes.js"></script>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    <div class='title'>Annotation Search Text: "<%= search_text %>"</div>
    <!-- <a href='/get_annotations_counts?txt=<%= search_text %>&ret=1'>Return to search results</a> -->
    <div id="srch">
<% if(!show_table){ %>
    Switch Search Results:
    <table><tr><td>
   <form  method='POST' action='orf_search_sql'>
      <input type='hidden' name='anno' value='prokka'>
      <input type='hidden' name='search_text' value='<%= search_text %>'>
      <input type='hidden' name='dirname' value='<%= dirname %>'>
      <input class='button' type='submit' name='submit' value='PROKKA'>
   </form>
   </td><td>
   <form  method='POST' action='orf_search_sql'>
      <input type='hidden' name='anno' value='ncbi'>
      <input type='hidden' name='search_text' value='<%= search_text %>'>
      <input type='hidden' name='dirname' value='<%= dirname %>'>
      <input class='button' type='submit' name='submit' value='NCBI'>
   </form>
   </td></tr>
   </table>
<% } %>
    </div>    
    <center>

    <div id='orf_table_div'>
    Viewing <span style='background:darkgrey;color:green;padding:3px;'><%= anno.toUpperCase() %></span> Annotations
    <table id="anno-pre-table">
    <tr>
      <th class='gid_col'>SEQ-ID</th>
      <th class='org_col'>Organism</th>
      <th class='hits_col'># Hits</th>
      <th class='center view_col'></th>
      <th class='full_col'>Full Annotation</th>
    </tr>
    <% for(i in org_sorted_gids){ %>
    <%    gid = org_sorted_gids[i] %>
          <tr id="<%= gid %>"><td><a href='genome_description?gid=<%= gid %>'><%= gid %></a></td>
          <td><%= orgs[gid] %></td>
          
          
          <td class='center'><%= data[gid].length %></td>
          <td>
          <% if(!show_table){ %>
            <button onclick="view_anno_items('<%= gid %>','<%= anno %>','<%= search_text %>','<%= dirname %>')">View item(s) in table</button>
          <% } %>
          </td>
            <td>
            <a class='pill pill-mediumorchid' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
            <a class='pill pill-slateblue' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
          </td>
          </tr>
    <% } %>
    </table>
    </div>
    </center>
    <div id='anno_result_div'>
    <% if(show_table){ %>
      
      <table id='annotation-table'>
        <tr><td>Accession</td>
        <td>Protein_id</td>
        <td>Genome<br>Viewer</td>
        <td>NA<br><small>(Length)(Seq)</small></td>
        <td>AA<br><small>(Length)(Seq)</small></td>
        <td>Range</td><td>Gene</td>
        <td>Gene Product</td>
        </tr>
      <% for(gid in data){ %>
         <% for(n in data[gid]){ %>
            <tr><td><%= data[gid][n].accession %></td>
            <td><%= data[gid][n].protein_id %></td>
            
            
            <%   // opening tag
            if(data[gid][n].start[0] === "<" ){
              start = parseInt(data[gid][n].start.substring(1))
            }else{
              start = parseInt(data[gid][n].start)
            }
            if(data[gid][n].stop[0] === ">" ){ 
              stop = parseInt(data[gid][n].stop.substring(1))
            }else{ 
              stop = parseInt(data[gid][n].stop)
            }
            if(start > stop){ 
             tmp = stop 
             stop = start 
             start = tmp 
            }
            locstart = start - 500 
            locstop = stop + 500 
            if(locstart < 1){ 
              locstart = 1 
            } 
            let db = anno+"_"+gid
            
            seqacc = gid +"|"+ data[gid][n].accession
        
            let loc = seqacc+":"+locstart.toString()+".."+locstop.toString()
            let highlight = seqacc+":"+start.toString()+".."+stop.toString()
            %>   <!-- closing tag -->

            <td><a title="JBrowse/Genome Viewer" href="#" onclick="open_jbrowse('<%= gid %>','anno_table','','','<%= anno %>','<%= loc %>','<%= highlight %>')">open</a></td>
            <!-- <a title='JBrowse/Genome Viewer' href='#' onclick="open_jbrowse('"+gid+"','anno_table','','','"+anno+"','"+loc+"','"+highlight+"')">open</a> -->
            <td><%= data[gid][n].length_na %>
            [<a title="Nucleic Acid" href="#" onclick="get_NN_NA_seq('na','<%= data[gid][n].protein_id %>','<%= db %>','<% data[gid][n].accession %>','<%= orgs[gid] %>','<%= data[gid][n].product %>','<% gid %>')"><b>NA</b></a>]
            </td>
            <td><%= data[gid][n].length_aa %>
            [<a title="Amino Acid" href="#" onclick="get_NN_NA_seq('aa','<%= data[gid][n].protein_id %>','<%= db %>','<% data[gid][n].accession %>','<%= orgs[gid] %>','<%= data[gid][n].product %>','<% gid %>')"><b>AA</b></a>]
            </td>
            <td><%= data[gid][n].start %>-<%= data[gid][n].stop %></td>
            <td><%= data[gid][n].gene %></td>
            <td><%= data[gid][n].product %></td>
            </tr>
         <% } %>
         
      <% } %>
      </table>
    <% }else{ %>
    
      <table id='annotation-table'>
        <tr><td>Molecule</td>
        <td>PID</td>
        <td>Genome<br>Viewer</td>
        <td>NA<br><small>(Length)(Seq)</small></td>
        <td>AA<br><small>(Length)(Seq)</small></td>
        <td>Range</td><td>Gene</td>
        <td>Gene Product</td></tr>
      </table>
    
    <% } %>
    </div>
    
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>

<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
</script>


