<style>
#orf_table_div{
   height:200px;
   overflow:auto;
   overflow-y: scroll;
   border:1px solid black;
   padding:3px;
   width: 80%;
}
table{
  font-size:12px;
}
table td{
   border-top:1px solid grey;
}
#annotation-table{
  width:100%;
  margin:0px 0;
  
  background:lightgray;
  
}
#annotation-table th{
  padding:5px;
  background:#6bb6ff;
}
#annotation-table td{
  padding:2px 8px;
  font-size:small;
  
}
#annotation-table tr:nth-child(even) { 
    background-color: #ffb46b; 
 } 
 #annotation-table tr:hover { 
    background-color: #FBF9EA; 
 } 
#anno-pre-table td{
   padding: 0 10px;
}
button {
    cursor:pointer;
    color:blue;
}
</style>
<% cfg = JSON.parse(config) %> 

<% lendata = JSON.parse(lendata) %>
<% pgids_sorted = JSON.parse(psorted) %>
<% ngids_sorted = JSON.parse(nsorted) %>
<% orgs = JSON.parse(org_obj) %>
<%- include('../../partials/header_html'); %>
<script type="text/javascript" src="/js/genomes.js"></script>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    <div class='title'>Annotation Search Text: <%= search_text %></div>
    <!-- <a href='/get_annotations_counts?txt=<%= search_text %>&ret=1'>Return to search results</a> -->
    <div id="srch">
    Search Results:
    <table>
      <tr><td>NCBI</td><td><%= ngids_sorted.length %>Genomes</td><td><a href='#' onclick="select_anno('ncbi','<%= search_text %>')">Select</a></td></tr>
      <tr><td>PROKKA</td><td><%= pgids_sorted.length %>Genomes</td><td><a href='#' onclick="select_anno('prokka','<%= search_text %>')">Select</a></td></tr>
    </table>
    </div>    
    <center>
    <% if(anno==="ncbi"){ %>
    
    <%   gids = ngids_sorted %>
    <% }else{ %>
    
    <%   gids = pgids_sorted %>
    <% } %>
    <div id='orf_table_div'>
    <%= anno.toUpperCase() %>
    <table id="anno-pre-table">
    <tr><th>SEQ-ID</th><th>Organism</th><th># Hits</th><th class='center'></th><th>Full annotation</th></tr>
    <% for(i in gids){ %>
    <%    gid = gids[i] %>
          <tr id="<%= gid %>"><td><a href='genome_description?gid=<%= gid %>'><%= gid %></a></td>
          <td><%= orgs[gid] %></td>
          
          
          <td class='center'><%= lendata[gid].length %></td>
          <td><button onclick="view_anno_items('<%= gid %>','<%= anno %>','<%= search_text %>')">View item(s) in table</button></td>
          <td>
            <a class='pill pill-mediumorchid' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
            <a class='pill pill-slateblue' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
          </td>
          </tr>
    <% } %>
    </table>
    </div>
    </center>
    
    Viewing <%= anno.toUpperCase() %>
    <div id='anno_result_div'>
      <table>
        <tr><td>Molecule</td><td>PID</td><td>NA<br><small>(Length)(Seq)</small></td><td>AA<br><small>(Length)(Seq)</small></td><td>Range</td><td>Gene Product</td></tr>
      </table>
    </div>
    
    
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>

<script>
  mainmenu()
</script>


