<style>
#genome-explorer{
  width:60%;
  height:100px;
  border:1px solid black;
  
}
#annotation-table{
  width:100%;
  margin:30px 0;
  border:1px solid silver;
  
}
</style>
<%- include('../../partials/header_html'); %>
<% info_data = JSON.parse(info_data) %>
<% all_annos = JSON.parse(all_annos) %>
<!-- 1595 -->
<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		
		<center>
		<div id='genome-explorer'>					
			 <div class='title'><%= type %> Annotation for Genome: <span id='headline2'><%= info_data.organism %></span></div>
			 <li>Choose another SeqID
			 
			 <select>
			 <% for(n in all_annos){ %>
			 <option><%= all_annos[n][0] %>: <%= all_annos[n][1] %></option>
			 <% } %>
			 
			 </select>
			 <li>Buttons for JBrowse,PROKKA,NCBI,BLAST,GenomeDesc,TaxonDesc
			  <li><%= type %> ANNOTATIONS for <%= gid %>
			    
		</div>
		</center>
	    <div id='annotation-table'>					
			 Annotation Table
			    
		</div>
		
		<!-- https://vicbioinformatics.com/software.prokka.shtml -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>

