<style>
#genome-explorer{
  width:70%;
  height:auto;
  border:1px solid black;
  
}

#header_buttons{
   padding:5px 0;
}
.an-button{
  background-color: lightgreen;
  color: black;
  padding:3px 3px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
}
.active{
  background:#6b2f55;
  color:white;
}
#annotation-info{
  
  height: auto;
  padding:10px;
  margin-top:10px;
  font-size:small;
}
#anno-title2 {
   font-size:18px;
   
}
#info-table, #info-table td,th {
  border: 1px solid green;   
  border-collapse: collapse;
  padding:2px 10px;
}
#annotation-table-div{
 
  margin:30px 0;
  border:1px solid silver;
  
}
#annotation-table{
  width:100%;
  margin:30px 0;
  
  background:lightgray;
  
}
#annotation-table th{
  padding:5px;
  background:#6bb6ff;
}
#annotation-table td{
  padding:2px 8px;
  font-size:small;
  
}
#annotation-table tr:nth-child(even) { 
    background-color: #ffb46b; 
 } 
 #annotation-table tr:hover { 
    background-color: #FBF9EA; 
 } 

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }
#no-data{
    padding:10px;
    background:orange
}
.col5{
   width:150px;
}
</style>
<%- include('../../partials/header_html'); %>
<% info_data = JSON.parse(info_data) %>
<% all_annos = JSON.parse(all_annos) %>
<% mole = JSON.parse(pid_list) %>
<% db = anno_type+'_'+gid %>

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		
		<center>
		<div id='genome-explorer'>					
			 <div class='title'><%= anno_type.toUpperCase() %> Annotation for Genome: <span id='headline'><%= info_data.organism %></span></div>
			 
			 <div style='padding:5px 0;'>
			 Choose Another Genome:
			 <select class='dropdown' onchange="if (this.value) window.location.href='/genome/annotation/'+this.value+'/<%= anno_type %>'  ">
			 <option>Choose...</option>
			 <% for(n in all_annos){ %>
			   <% if(all_annos[n][0] == gid){ %>
			     <option selected value='<%= all_annos[n][0] %>'><%= all_annos[n][0] %>: <%= all_annos[n][1] %></option>
			   <% }else{ %>
			     <option value='<%= all_annos[n][0] %>'><%= all_annos[n][0] %>: <%= all_annos[n][1] %></option>
			   <% } %>
			 <% } %>
			 </select>
			 </div>
			 <!-- http://www.homd.org/jbrowse/index.html
			 ?data=homd%2FSEQF1595
			 &loc=SEQF1595%7CKI535342.1%3A6149..8582
			 &highlight=SEQF1595%7CKI535342.1%3A6757..7974
			 &tracks=DNA%2Cprokka%2Cncbi -->
			 <div id='header_buttons' >
			  <% if(anno_type == 'prokka'){ %>
			    <span class='an-button active' href=''>PROKKA</span>
			    <a class='an-button' href='/genome/annotation/<%= gid %>/ncbi'>NCBI</a>
			  <% }else{ %>
			    <a class='an-button' href='/genome/annotation/<%= gid %>/prokka'>PROKKA</a>
			    <span class='an-button active' href=''>NCBI</span>
			  <% } %>
			  <a class='an-button' href='http://www.homd.org/jbrowse/index.html?data=homd/<%= gid %>' target='_blank' rel="noopener noreferrer">Genome Viewer</a>
			  <a class='an-button' href='/genome/blast?gid=<%= gid %>'>BLAST</a>
			  <a class='an-button' href='/genome/genome_description?gid=<%= gid %>'>Genome Desc.</a>
			  <a class='an-button' href='/taxa/tax_description?otid=<%= otid %>'>Taxon Desc.</a>
			 </div>
			  
			    
		</div>
		</center>
		
		<div id='annotation-info'>
		  <span id='anno-title2'><%= anno_type.toUpperCase() %> Annotation for <%= gid %></span>
		
		  <br>
			<table id='info-table' >
			 <tr><th colspan='4'>Genome selected: <%= info_data.organism %> </th></tr>
			 <tr>
			   <td>Contigs:</td><td><%= info_data.contigs %>	</td>
			   <td>Bases:</td><td><%= info_data.bases %> bps</td>	
			 </tr>
		
			<tr><td>CDS:</td><td><%= info_data.CDS %>	</td>
				 <td>rRNA:</td><td><%= info_data.rRNA %></td>
			</tr>
		
			<tr><td>tmRNA:</td><td><%= info_data.tmRNA %>	</td>
				<td>tRNA:</td><td><%= info_data.tRNA %>	</td>
				
			</tr>
		
		
			
			</table>
		
		</div>
		
		
	    <div id='annotation-table-div'>					
			 <% if(mole.length === 0){ %>
			     <div id='no-data'>There is no annotation data available for <%= anno_type.toUpperCase() %> <%= gid %></div>
			 <% }else{ %>
			 
			 Annotation Table [page:<%= show_page %>]
			 <% next_page = parseInt(show_page)+1 %>
			 <% prev_page = parseInt(show_page)-1 %>
			 <br>Number of Records Found: <%= trecords %> <small>[<%= number_of_pages %> Pages]
			 <a href='/genome/annotation/<%= gid %>/<%= anno_type %>?page=<%= next_page %>'>Next Page</a>
			 <==>
			 <a href='/genome/annotation/<%= gid %>/<%= anno_type %>?page=<%= prev_page %>'>Previous Page</a>
			 </small>
			 
			 
			 
			 <table id='annotation-table' class='sortable'>
			 <thead>
			  <tr>
			   <th class='sorttable_nosortX'></th>
			   <th class='col1'>Molecule</th>
			   <th class='col2'>PID</th>
			   <th class='col3 sorttable_nosort'>Sequences</th>
			   <th class='col4' nowrap>Size (<small>NA/AA</small>)</th>
			   <th class='col5'>Range</th>
			   <th class='col6'>Gene Product Name</th>
			  </tr>
			 </thead>
			 <tbody>
			 <% cnt = start_count %>
			 <% for(n in mole){ %>
			 <tr>
			   <td><%= cnt %></td>
			   <td><%= mole[n].accession %></td>
			   <td nowrap><%= mole[n].PID %> <a href='http://www.homd.org/jbrowse/index.html?data=homd/<%= gid %>&highlight=<%= mole[n].accession %>:<%= mole[n].start %>..<%= mole[n].stop %>' target='_blank' rel="noopener noreferrer">jb</a></td>
			   <td nowrap>
			       [<a title='Nucleic Acid' href='#' onclick="get_NN_NA_seq('na','<%= mole[n].PID %>','<%= db %>')"><b>NA</b></a>] 
			       [<a title='Amino Acid' href='#' onclick="get_NN_NA_seq('aa','<%= mole[n].PID %>','<%= db %>')"><b>AA</b></a>]
			   </td>
			   <td><%= mole[n].len_na %>/<%= mole[n].len_aa %></td>
			   <td><%= mole[n].start %>-<%= mole[n].stop %></td>			   
			   <td><%= mole[n].product %></td>
			 </tr>
			 <% cnt += 1 %>
			 <% } %>
			 </tbody>
			 </table>
			 <% } %>  
		</div>
		
		<!-- https://vicbioinformatics.com/software.prokka.shtml -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>

<script>
  mainmenu()
</script>

