<style>
#genome_explorer{
  
  height:100px;
  border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>
<% info_data = JSON.parse(info_data) %>
<!-- 1595 -->
<body>
  		
    <%- include('../../partials/header_img'); %>
    
	<%- include('../../partials/navbar'); %>
	
	<div  class='page-content'>
		
		<div id='genome_explorer'>					
			 <div class='title'>Genome Explorer: <span id='headline2'><%= info_data.organism %></span></div>
			 <li>Choose another SeqID
			 <li>Buttons for JBrowse,PROKKA,NCBI,BLAST,GenomeDesc,TaxonDesc
			  <li><%= type %> ANNOTATIONS for <%= gid %>
			    
		</div>
		
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>

