
<style>
table{
  border-collapse:collapse;
}
#pgtable{
   
   padding:0 20px;
}
#pgtable td,th{
   padding: 5px 10px;
   border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>
<% pgs = JSON.parse(pangenomes) %>
<% cfg = JSON.parse(config) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >

    <div class='title'>HOMD Available Pangenomes</div>
    <br>
    <center>
         Anvi`o (<a href='https://anvio.org/' target='_blank'>https://anvio.org</a>) is used to display pangenomes. Anvi`o is a visualization platform for microbial 'omics.
    </center>
<!-- iFrame or New_Window? -->
<% mode = "iframe"  // 'new_window'  'iframe' %>

<div id='pgtable'>
<center>
<table class='sortable' border='1'>
<tr>
  <td nowrap><b>Pangenome Name</b><br><small>(Link opens pangenome in Anvi`o)<br>Click to Sort</small></td>
  
  <th class="sorttable_nosort">HOMD Genome Version</th>
  <th class="sorttable_nosort">Interactive</th>
  <th class="sorttable_nosort">Image</th>
  <th class="sorttable_nosort">Description</th>
  
</tr>

<% for(i in pgs){ %>

   <tr>
    <td nowrap><%- pgs[i].pangenome_name %></td>
    <td nowrap  class='center'><%- pgs[i].homd_genome_version %></td>
    
    
    <% if(mode == "new_window"){ %>
      <td nowrap >
        <small><a href='#' class='pg' onclick="find_anvio('<%= pgs[i].pangenome_name %>','homd')">Open Anvi'o</a></small>
      </td>
   <% }else{ %>
      <td nowrap >
        <small><a href='anvio?pg=<%= pgs[i].pangenome_name %>' target='_blank' class='pg'>Open Anvi'o</a></small>
      </td>
    <% } %>
    <td nowrap >
       <small><a href='pangenome_image?pg=<%= pgs[i].pangenome_name %>&ext=svg' target='_blank'>Open SVG</a></small>
    </td>
    
    <td><%- pgs[i].description %></td>
 
  
 </tr>

<% } %>

</table>
</center>
</div>

<br><br><span id='message'></span>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
  anvio_path = '<%- cfg.ANVIO_URL %>'
function find_anvio(pg,source){
    // called on click of pg link
    //loader.showLoader();
    var xmlhttp = new XMLHttpRequest();
    document.getElementById('message').innerHTML = ''
    //console.log(pg)
    target = 'anvio_post'
    //target = 'anvio_iframe'
    args = {}
    args.pg = pg;
    console.log('anvio_path',anvio_path)
    window.open(anvio_path + '/' + pg,'_blank')
    return
    
  }
// function find_anvio2(pg){
//     // called on click of pg link
//     //loader.showLoader();
//     var xmlhttp = new XMLHttpRequest();
//     document.getElementById('message').innerHTML = ''
//     //console.log(pg)
//     target = 'anvio_post2'
//     args = {}
//     args.pg = pg;
//     let url = 'https://bioinformatics.forsyth.org/anvio' + '?pg=' + pg
//     console.log('opening',url)
//     window.open(prelimurl,'_blank')
    // xmlhttp.open("POST", target, false);
//     xmlhttp.setRequestHeader("Content-type","application/json");
//     xmlhttp.onreadystatechange = function() {
//       if (xmlhttp.readyState == 4 ) {
//          var prelimurl = xmlhttp.responseText;
//          // port will be '0' if no ports left
//          //var url = parseInt(result)
//          console.log('Return url',prelimurl)
//          
//             //url = 'http://localhost:3010?pg=Prochlorococcus_31'
//             //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
//             //delay(result)
//             window.open(prelimurl,'_blank')
//           
//          // }else{
// //             loader.hideLoader();
// //             text = "No Ports available to open Anvio`"
// //             document.getElementById('message').innerHTML = result
// //          }
//          
//       }
//     };
//     xmlhttp.send(JSON.stringify(args));
//  }
</script>

