
<style>
table{
  border-collapse:collapse;
}
#pgtable{
   
   padding:20px;
}
#pgtable td,th{
   padding: 5px 10px;
   border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>
<% pgs = JSON.parse(pangenomes) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >

    <div class='title'>HOMD Pangenome Selection</div>

<div id='pgtable'>
<center>
<table border='1'>
<tr><td><b>Available Pangenomes</b><br><small>(Link opens pangenome in Anvio`)</small></td><th>Size<br>(MB)</th><th>Description</th>
<th>Download<br>Files v7</th><th>Download<br>Files v8</th></tr>

<% for(i in pgs){ %>
 <tr>
  <td nowrap><a href='#' class='pg' onclick="find_anvio('<%= pgs[i].name %>')"><%- pgs[i].show %></a></td>
  
  <td><%= pgs[i].file_size %></td>
  <td><%- pgs[i].description %></td>
  <% if(pgs[i].dnld_v7) { %>
     <td class='center'><a href="dnld_pg?pg=<%= pgs[i].name %>&V=7"><i class="fa fa-download" aria-hidden="true"></i></a></td>
  <% }else{ %>
     <td class='center'></td>
  <% } %>
  <% if(pgs[i].dnld_v8) { %>
  <td class='center'><a href="dnld_pg?pg=<%= pgs[i].name %>&V=8"><i class="fa fa-download" aria-hidden="true"></i></a></td>
  <% }else{ %>
     <td class='center'></td>
  <% } %>
 </tr>
<% } %>

</table>
</center>
</div>

<br><br><span id='message'></span>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()


function find_anvio(pg){
    // called on click of pg link
    //loader.showLoader();
    var xmlhttp = new XMLHttpRequest();
    document.getElementById('message').innerHTML = ''
    //console.log(pg)
    target = 'anvio_post'
    args = {}
    args.pg = pg;

    xmlhttp.open("POST", target, false);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 ) {
         var prelimurl = xmlhttp.responseText;
         // port will be '0' if no ports left
         //var url = parseInt(result)
         console.log('Return url',prelimurl)
         
            //url = 'http://localhost:3010?pg=Prochlorococcus_31'
            //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
            //delay(result)
            window.open(prelimurl,'_blank')
          
         // }else{
//             loader.hideLoader();
//             text = "No Ports available to open Anvio`"
//             document.getElementById('message').innerHTML = result
//          }
         
      }
    };
    xmlhttp.send(JSON.stringify(args));
  }
// function find_anvio2(pg){
//     // called on click of pg link
//     //loader.showLoader();
//     var xmlhttp = new XMLHttpRequest();
//     document.getElementById('message').innerHTML = ''
//     //console.log(pg)
//     target = 'anvio_post2'
//     args = {}
//     args.pg = pg;
//     let url = 'https://bioinformatics.forsyth.org/anvio' + '?pg=' + pg
//     console.log('opening',url)
//     window.open(prelimurl,'_blank')
    // xmlhttp.open("POST", target, false);
//     xmlhttp.setRequestHeader("Content-type","application/json");
//     xmlhttp.onreadystatechange = function() {
//       if (xmlhttp.readyState == 4 ) {
//          var prelimurl = xmlhttp.responseText;
//          // port will be '0' if no ports left
//          //var url = parseInt(result)
//          console.log('Return url',prelimurl)
//          
//             //url = 'http://localhost:3010?pg=Prochlorococcus_31'
//             //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
//             //delay(result)
//             window.open(prelimurl,'_blank')
//           
//          // }else{
// //             loader.hideLoader();
// //             text = "No Ports available to open Anvio`"
// //             document.getElementById('message').innerHTML = result
// //          }
//          
//       }
//     };
//     xmlhttp.send(JSON.stringify(args));
//  }
</script>

