
<style>
table{
  border-collapse:collapse;
}
#pgtable{
   
   padding:20px;
}
#pgtable td,th{
   padding: 5px 10px;
   border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>
<% pgs = JSON.parse(pangenomes) %>
<% cfg = JSON.parse(config) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >

    <div class='title'>HOMD Pangenome Selection</div>

<div id='pgtable'>
<center>
<table border='1'>
<tr>
  <td><b>Available Pangenomes</b><br><small>(Link opens pangenome in Anvio`)</small></td>
  <th>HOMD Genome Version</th>
  <th>Size<br>(MB)</th><th>Description</th>
  <th>Download<br>Files v7</th>
  <th>Download<br>Files v8</th>
</tr>

<% for(i in pgs){ %>
 <% if(pgs[i].on_vamps){ %>
   <% url = pgs[i].pangenome_name + pgs[i].homd_genome_version.replace('.','_') %>
   <% url_aws = pgs[i].pangenome_name %>
   <tr>
   <td nowrap>
     
     <a href='#' class='pg' onclick="find_anvio('<%= url %>','vamps')">
        <%- pgs[i].pangenome_name %></a>
         <small>(VAMPS)</small>
     <% if(pgs[i].pangenome_name == 'Mitis_Group'){ %>
        <br><a href='#' class='pg' onclick="find_anvio('<%= url_aws %>','homd')">Mitis_Group</a> <small>(AWS testing)</small>
     <% } %>
     <% if(pgs[i].pangenome_name == 'Prochlorococcus_31'){ %>
        <br><a href='#' class='pg' onclick="find_anvio('<%= url_aws %>','homd')">Prochlorococcus_31</a> <small>(AWS testing)</small>
     <% } %>
  
  </td>
  <td nowrap  class='center'>
    <%- pgs[i].homd_genome_version %>
  </td>
  <td><%= pgs[i].file_size %></td>
  <td><%- pgs[i].description %></td>
  
  <% if(cfg.PANGENOME_DOWNLOAD_FILES.hasOwnProperty(url) && cfg.PANGENOME_DOWNLOAD_FILES[url].hasOwnProperty("dnld_v7")){ %>
  
     <td class='center'><a href="/download/dld_static_file/<%= cfg.PANGENOME_DOWNLOAD_FILES[url]['dnld_v7'] %>"><i class="fa fa-download" aria-hidden="true"></i></a></td>
  <% }else{ %>
     <td class='center'></td>
  <% } %>
  <% if(cfg.PANGENOME_DOWNLOAD_FILES.hasOwnProperty(url) && cfg.PANGENOME_DOWNLOAD_FILES[url].hasOwnProperty("dnld_v8")){ %>
     <td class='center'><a href="/download/dld_static_file/<%= cfg.PANGENOME_DOWNLOAD_FILES[url]['dnld_v8'] %>"><i class="fa fa-download" aria-hidden="true"></i></a></td>
  <% }else{ %>
     <td class='center'></td>
  <% } %>
  
 </tr>
<% } %>
<% } %>

</table>
</center>
</div>

<br><br><span id='message'></span>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()


function find_anvio(pg,source){
    // called on click of pg link
    //loader.showLoader();
    var xmlhttp = new XMLHttpRequest();
    document.getElementById('message').innerHTML = ''
    //console.log(pg)
    target = 'anvio_post'
    args = {}
    args.pg = pg;
    args.source = source

    xmlhttp.open("POST", target, false);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 ) {
         var prelimurl = xmlhttp.responseText;
         // port will be '0' if no ports left
         //var url = parseInt(result)
         console.log('Return url',prelimurl)
         
            //url = 'http://localhost:3010?pg=Prochlorococcus_31'
            //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
            //delay(result)
            window.open(prelimurl,'_blank')
          
         // }else{
//             loader.hideLoader();
//             text = "No Ports available to open Anvio`"
//             document.getElementById('message').innerHTML = result
//          }
         
      }
    };
    xmlhttp.send(JSON.stringify(args));
  }
// function find_anvio2(pg){
//     // called on click of pg link
//     //loader.showLoader();
//     var xmlhttp = new XMLHttpRequest();
//     document.getElementById('message').innerHTML = ''
//     //console.log(pg)
//     target = 'anvio_post2'
//     args = {}
//     args.pg = pg;
//     let url = 'https://bioinformatics.forsyth.org/anvio' + '?pg=' + pg
//     console.log('opening',url)
//     window.open(prelimurl,'_blank')
    // xmlhttp.open("POST", target, false);
//     xmlhttp.setRequestHeader("Content-type","application/json");
//     xmlhttp.onreadystatechange = function() {
//       if (xmlhttp.readyState == 4 ) {
//          var prelimurl = xmlhttp.responseText;
//          // port will be '0' if no ports left
//          //var url = parseInt(result)
//          console.log('Return url',prelimurl)
//          
//             //url = 'http://localhost:3010?pg=Prochlorococcus_31'
//             //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
//             //delay(result)
//             window.open(prelimurl,'_blank')
//           
//          // }else{
// //             loader.hideLoader();
// //             text = "No Ports available to open Anvio`"
// //             document.getElementById('message').innerHTML = result
// //          }
//          
//       }
//     };
//     xmlhttp.send(JSON.stringify(args));
//  }
</script>

