
<style>
thead th { position: sticky; top: 0; }

#pgtable-div{
   width:auto;
   padding:0;
   height:600px;
   overflow:auto;
   border:1px solid grey;
}
#pgtable{
   
}
 #pgtable tr:hover td{ 
     background: lightgrey; /* Change to your desired color */
    cursor: pointer; /* Optional: changes cursor to a hand icon */
 } 
#pgtable td{
   padding: 5px 10px;
   border:1px solid black;
}
#pgtable th{
   padding: 5px 10px;
   border:1px solid black;
   background:royalblue;
   color:ivory;
   z-index: 1;
}



/* The container <div> - needed to position the dropdown content */
.dd-menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:lightblue;
  font-size:11px;
  width:400px;  /* This sets the box width to allow cursor contact */
  padding:10px;
  margin:0px;
  border:1px solid black;
  left:-450px;
  top:-50px;
  z-index: 2;
  
}

/* Links inside the dropdown */
/* 
.dropdown-content a {
  font-size:13px;
  margin:5px 0;
  display: block;
}
 */

/* Change color of dropdown links on hover */
/* 
.dropdown-content a:hover {
    background-color: white;
    border:1px solid tomato;
    color:black;
    
}
 */

/* Show the dropdown menu on hover */
.dd-menu:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dd-menu:hover .dropbtn {background-color: #3e8e41;}

.project_decription{
    border:1px solid black;
    background:lightgrey;
    text-align:left;
    font-size:12px;
    padding:5px;
}
</style>
<%- include('../../partials/header_html'); %>
<% pgs = JSON.parse(pangenomes) %>
<% cfg = JSON.parse(config) %>
<% sorted = JSON.parse(sorted_pg) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >

    <p class='title h3'>HOMD Pangenomes</p>
    <br>
    <center>
    <div class='project_decription'>
        <b>Description</b>
        <br>
        Pangenomes summarize gene content diversity across oral microbial taxa. By default, they are defined at the Human Microbial Taxon (HMT) level with genomes as rows and gene clusters as columns; black marks indicate gene cluster presence. Interactive views and downloadable files support comparative genomics, functional exploration, and reuse.
 
        <br>Anvi`o (<a href='https://anvio.org/' target='_blank'>https://anvio.org</a>) is a visualization platform for microbial 'omics and is used here to display pangenomes.
    </div>
    </center>
<!-- iFrame or New_Window? -->

<center>Search Names:
<input id='pg_search_input' style='border:1px solid gray;padding:5px;' type='text' \>
<a href='anvio_pangenomes'>Reload Page</a>
</center>

<span id=''>Available Pangenomes Count: <b><%- sorted.length %></b></span>



<div id='pgtable-div' style=''>



<table id='pgtable' class='table sortable' border='1'>

<tr>
  <th nowrap>Pangenome<small><br>&nbsp;&nbsp;&nbsp;Click to Sort</small></th>
  
  <th class="sorttable_nosort">Interactive</th>
  <th class="sorttable_nosort">Static Image</th>
  <th class="">Scope</th>
  <th class="">Genome Count</th>
  <th class="sorttable_nosort">Notes</th>
  <th class="sorttable_nosort"></th>
  
</tr>

    <% for(i in sorted){ %>
       <% pg = sorted[i] %>
       <tr>
        <td nowrap><%- pg %></td>
        
        
        <td nowrap  class='center'>
        <small><a href='anvio?pg=<%= pg %>' target='_blank' class='pg'>OpenAnvi`o</a></small>
        </td>
        
        <td nowrap class='center'>
           <small><a href='pangenome_image?pg=<%= pg %>&ext=svg' target='_blank'>Preview</a></small>
        </td>
        
        <td nowrap  class='center'>
           <%= pgs[pg].scope %>
        </td>
        <td nowrap  class='center'>
           <%= pgs[pg].gids.length %>
        </td>
        
        <td class='center'>
           <span class="dd-menu">
             <span class='pill pill-aqua'>hover</span>
        
            <div class="dropdown-content">
              <%- pgs[pg].description %>
            </div>
          </span>
        </td>
        
        <td class='center'>
          download <small>(<a href='/download/pg/targz/<%= pg %>'>tar.gz</a>)&nbsp;&nbsp;(<a href='/download/pg/sha256/<%= pg %>'>sha256</a>)</small>
        </td>
     
      
     </tr>
    
    <% } %>

</table>


</div>

<div class='project_decription'>
        <b>Citations</b>
<br>
Pangenome resource: Torres-Morales et al. Pangenomes of the Human Oral Microbiome. (manuscript in preparation)
<br>
Primary reference: Human Oral Microbiome Database (HOMD): Chen et al., 2010; Dewhirst et al., 2010
    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
  anvio_path = '<%- cfg.ANVIO_URL %>'
  var input = document.getElementById("pg_search_input");
  var main_table_body = document.getElementById("pgtable-div");
  
  input.addEventListener("input", ()=>{
    var args = {}
    args.val = input.value
    //console.log(input.value)
    var xmlhttp = new XMLHttpRequest();
    
    xmlhttp.open("POST", 'anvio_pangenomes', false);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 ) {
            var response = xmlhttp.responseText;
            //console.log(response)
            main_table_body.innerHTML = response
            var pgtable = document.getElementById("pgtable");
            sorttable.makeSortable(pgtable);
        }
    }
    xmlhttp.send(JSON.stringify(args));
    
  });
  function find_anvio(pg,source){
    // called on click of pg link
    //loader.showLoader();
    var xmlhttp = new XMLHttpRequest();
    document.getElementById('message').innerHTML = ''
    //console.log(pg)
    target = 'anvio_post'
    //target = 'anvio_iframe'
    args = {}
    args.pg = pg;
    //console.log('anvio_path',anvio_path)
    window.open(anvio_path + '/' + pg,'_blank')
    return
    
  }
// function find_anvio2(pg){
//     // called on click of pg link
//     //loader.showLoader();
//     var xmlhttp = new XMLHttpRequest();
//     document.getElementById('message').innerHTML = ''
//     //console.log(pg)
//     target = 'anvio_post2'
//     args = {}
//     args.pg = pg;
//     let url = 'https://bioinformatics.forsyth.org/anvio' + '?pg=' + pg
//     console.log('opening',url)
//     window.open(prelimurl,'_blank')
    // xmlhttp.open("POST", target, false);
//     xmlhttp.setRequestHeader("Content-type","application/json");
//     xmlhttp.onreadystatechange = function() {
//       if (xmlhttp.readyState == 4 ) {
//          var prelimurl = xmlhttp.responseText;
//          // port will be '0' if no ports left
//          //var url = parseInt(result)
//          console.log('Return url',prelimurl)
//          
//             //url = 'http://localhost:3010?pg=Prochlorococcus_31'
//             //url = 'http://anvio.homd.org/anvio?pg=Prochlorococcus_31'
//             //delay(result)
//             window.open(prelimurl,'_blank')
//           
//          // }else{
// //             loader.hideLoader();
// //             text = "No Ports available to open Anvio`"
// //             document.getElementById('message').innerHTML = result
// //          }
//          
//       }
//     };
//     xmlhttp.send(JSON.stringify(args));
//  }
</script>

