<% var cfg = JSON.parse(config) %> 
<style>
iframe{
   width:100%;
   height:90%;
   border:1px solid black
}
.button{
   cursor:pointer;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'style='background:lightgrey;color:black;'><%= ptitle %></div>
       <div class='subtitle' style='padding:10px;'>BLAST Against HOMD Genomes
       
       <span style='float:right;'>
       <table><tr><td>
       <a class='button' href="/genome/blast_per_genome"     >New BLAST Job</a>
       </td><td>
       <form name='' method='POST' action='blast_ss_single'>
         <input type='hidden' name='gid' value='<%= gid %>'>
         <input type='submit' class='button' value='Edit BLAST Job'>
       </form>
       </td></tr></table>
       </span>
       </div>
       XXX<%= cfg.BLAST_URL_BASE %>
       <% if(annotation == "ncbi"){ %>
         <iframe id='iframe_id' src="<%= cfg.BLAST_URL_BASE %>/genome_blast_all_ncbi?gid=<%= gid %>" title="HOMD BLAST Server"></iframe>
       <% }else if(annotation == "prokka"){ %>
         <iframe id='iframe_id' src="<%= cfg.BLAST_URL_BASE %>/genome_blast_all_prokka?gid=<%= gid %>" title="HOMD BLAST Server"></iframe>
       <% }else{ %>
          <% if(db_type == 'refseq'){ %>
            <iframe id='iframe_id' src="<%= cfg.BLAST_URL_BASE %>/refseq_blast %>" title="HOMD BLAST Server"></iframe>
          <% }else{ %>
            <iframe id='iframe_id' src="<%= cfg.BLAST_URL_BASE %>/genome_blast %>" title="HOMD BLAST Server"></iframe>
          <% } %>
       <% } %>
       
       
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


