<style>
</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/blast.css" >
<link rel="stylesheet" href="/css/select2.min.css" /> 
<% db_choices = JSON.parse(db_choices) %>
<% blast_prg = JSON.parse(blast_prg) %>
<% blast_max = JSON.parse(blastmax) %>
<% all_annos = JSON.parse(all_annos) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>BLAST Against HOMD Genomes</div>
       <div style='padding:5px 0;'>
        
        
      </div>
      
    <%- include('../../partials/blast_block_genome'); %>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/menu.js"></script>

<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){
    // Initialize select2
    $("#choose_genome_select").select2(); 
  });
</script>


