<% var cfg = JSON.parse(config) %> 
<style>
iframe{
   position: relative; 
   width:100%;
   height:100%;
   border:1px solid black;

   top: -50px;
   
 /* 
  position: relative; 
   left: -100px; 
   top: -100px
 */
}
button{
  cursor:pointer;
  background: gold;
   padding:10px;
   border:1px solid black;
}
.button{
   cursor:pointer;
   
   
}
</style>
<% no_ncbi_blast_dbs = JSON.parse(no_ncbi_blast) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'style='background:lightgrey;color:black;'><%= ptitle %></div>
        
       
       <% if(annotation == "ncbi"){ %>
         <!-- <div class='subtitle' style='padding:10px;'>BLAST Against HOMD NCBI Genome -->
         &nbsp;&nbsp;&nbsp;<small><a href='/genome/blast_sserver?type=genome'>BLAST against All HOMD genomes instead.</a></small>
       <% }else if(annotation == "prokka"){ %>
         <!-- <div class='subtitle' style='padding:10px;'>BLAST Against HOMD PROKKA Genome -->
         &nbsp;&nbsp;&nbsp;<small><a href='/genome/blast_sserver?type=genome'>BLAST against All HOMD genomes instead.</a></small>
       <% }else{ %>
          <% if(db_type == "refseq"){ %>
            <div class='subtitle' style='padding:10px;'>
          <% }else{ %>
            <!-- <div class='subtitle' style='padding:10px;'>BLAST Against All HOMD Genomes -->
            &nbsp;&nbsp;&nbsp;<small><a href='/genome/blast_select_genome'>BLAST against a single genome instead.</a></small>
          <% } %>
       <% } %>
       
       <% if(gid != ""){ %>
         <center>
         Switch Databases:&nbsp;&nbsp;
         <form name='' class="form-inline" id='switch_dbs_form' method='POST' action='blast_ss_single'>
         <% if(annotation == "ncbi"){ %>
             <input type='radio'  name='annotation'  value='prokka'       onclick="switch_dbs()" /> PROKKA&nbsp;&nbsp;
             <% if(no_ncbi_blast_dbs.indexOf(gid) != -1){ %>
               <input type='radio' disabled  name='annotation' value='ncbi'  onclick="switch_dbs()" /> NCBI -Not Available
             <% }else{ %>
                <input type='radio' checked  name='annotation' value='ncbi'  onclick="switch_dbs()" /> NCBI
             <% } %>
        
         <% }else{ %>
             <input type='radio' checked  name='annotation' value='prokka' onclick="switch_dbs()" /> PROKKA&nbsp;&nbsp;
             
             <% if(no_ncbi_blast_dbs.indexOf(gid) != -1){ %>
               <input type='radio' disabled  name='annotation' value='ncbi'  onclick="switch_dbs()" /> NCBI -Not Available
             <% }else{ %>
                <input type='radio' name='annotation' value='ncbi'  onclick="switch_dbs()" /> NCBI
             <% } %>
             
        <% } %>
        <input type='hidden' name='gid' value='<%= gid %>'>
        </form>
        </center>
       <% } %>
      
       
       <!-- </div> -->
       
       <% if(annotation == "ncbi"){ %>
         <span style='float:right;'>
           <table><tr><td>
           <a class='button' href="/genome/blast_select_genome"     >Select A Different Genome</a>
           </td><td>
           <form name='' method='POST' action='blast_ss_single'>
             <input type='hidden' name='gid' value='<%= gid %>'>
             <input type='hidden' name='annotation' value='<%= annotation %>'>
             <input type='submit' class='button' value='Edit BLAST Job'>
           </form>
           </td></tr></table>
         </span>
         <div style="width: 100%; height: 850px; overflow: hidden">
           <iframe id='iframe_id' src="https://devel.homd.org/genome_blast_single_ncbi/?gid=<%= gid %>" title="HOMD BLAST Server"></iframe>
         </div>
       <% }else if(annotation == "prokka"){ %>
         <span style='float:right;'>
           <table><tr><td>
           <a class='button' href="/genome/blast_select_genome"     >Select A Different Genome</a>
           </td><td>
           <form name='' method='POST' action='blast_ss_single'>
             <input type='hidden' name='gid' value='<%= gid %>'>
             <input type='hidden' name='annotation' value='<%= annotation %>'>
             <input type='submit' class='button' value='Edit BLAST Job'>
           </form>
           </td></tr></table>
         </span>
         
         <div style="width: 100%; height: 850px; overflow: hidden">
         <!-- https://devel.homd.org/genome_blast_single_prokka?gid=GCA_900105505.1 -->
         <!-- https://devel.homd.org/refseq_blast -->
         <!-- https://devel.homd.org/genome_blast_single_prokka/?gid=GCA_900105505.1 -->
         
           <iframe id='iframe_id' src="https://devel.homd.org/genome_blast_single_prokka/?gid=<%= gid %>" title="HOMD BLAST Server"></iframe>         
         </div>
         
       <% }else{ %>
          <div style="width: 100%; height: 850px; overflow: hidden">
          <% if(db_type == "refseq"){ %>
            <iframe id='iframe_id' src="https://devel.homd.org/refseq_blast/" title="HOMD BLAST Server"></iframe>
          <% }else{ %>
            <iframe id='iframe_id' src="https://devel.homd.org/genome_blast/" title="HOMD BLAST Server"></iframe>
          <% } %>
          </div>
       <% } %>
       
       
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  // function single(gid) {
//     //window.open('https://devel.homd.org/genome_blast_single_prokka/?gid=GCA_900105505.1','_blank');
//     window.open('https://devel.homd.org/genome_blast_single_prokka/?gid='+gid);
//   }
//   function refseq() {
//     //window.open('https://devel.homd.org/refseq_blast','_blank');
//     window.open('https://devel.homd.org/refseq_blast/');
//   }
//   function genome() {
//     //window.open('https://devel.homd.org/genome_blast','_blank');
//     window.open('https://devel.homd.org/genome_blast/');
//   }
  function switch_dbs(){
     console.log('in switch dbs')
     form = document.getElementById("switch_dbs_form")
     console.log(form)
     form.submit()
  }
</script>


