<style>
</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" type="text/css" href="/css/blast.css" >
<% db_choices = JSON.parse(db_choices) %>
<% blast_prg = JSON.parse(blast_prg) %>
<% blast_max = JSON.parse(blastmax) %>
<% all_annos = JSON.parse(all_annos) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>BLAST Against HOMD Genomes</div>
       <div style='padding:5px 0;'>
        
        
      </div>
      <%- include('../../partials/flash'); %>
    <%- include('../../partials/blast_block_genome'); %>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script>
  mainmenu()
</script>


