<style>
thead th { position: sticky; top: 0; }
#crispr-table-div{
   padding:20px;
}
#crispr-table{
   padding:20px;
   border-collapse:collapse;
}
th, td {
  border: 1px solid black;
  padding:1px 3px;
}
#crispr-table tr:nth-child(even) { 
    background-color: #c6ffc4; 
} 
#crispr-table tr:hover { 
    background-color: #dce7f5; 
 } 
/* code to add un-sortable numbers to left side */
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
</style>
<% var cfg = JSON.parse(config) %> 
<% var genomelist = JSON.parse(gid_list) %>
<% var cdata = JSON.parse(crispr_data) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>CRISPR-Cas systems detected in <%= full_count %> HOMD genomes</div>
       
       <div id='crispr-table-div'>
       
       <span class=''>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Show:
            <% if(show === "a"){ %>
            <input id='all_cb' type='radio' name='show' value='all' onclick="show_hide_cc('all')">
            All&nbsp;&nbsp;
            <input  id='nambi_rb' type='radio' name='show' value='na' onclick="show_hide_cc('na')">
            Non-Ambiguous only&nbsp;&nbsp;
            <input checked id='ambi_rb' type='radio' name='show' value='a' onclick="show_hide_cc('a')">
            Ambiguous only
            
            <% }else if(show === "na"){ %>
            <input id='all_cb' type='radio' name='show' value='all' onclick="show_hide_cc('all')">
            All&nbsp;&nbsp;
            <input checked id='nambi_rb' type='radio' name='show' value='na' onclick="show_hide_cc('na')">
            Non-Ambiguous only&nbsp;&nbsp;
            <input  id='ambi_rb' type='radio' name='show' value='a' onclick="show_hide_cc('a')">
            Ambiguous only
            
            <% }else{ %>
            <input checked id='all_cb' type='radio' name='show' value='all' onclick="show_hide_cc('all')">
            All&nbsp;&nbsp;
            <input  id='nambi_rb' type='radio' name='show' value='na' onclick="show_hide_cc('na')">
            Non-Ambiguous only&nbsp;&nbsp;
            <input  id='ambi_rb' type='radio' name='show' value='a' onclick="show_hide_cc('a')">
            Ambiguous only
            
            <% } %>
            &nbsp;&nbsp;&nbsp;&nbsp;<b>[Showing: <%= genomelist.length %>]</b>
       </span>
       <table id='crispr-table' class='table sortable'>
       <thead>
       <tr><th>SEQ-ID</th><th>TaxID</th><th>Genus</th><th>Species</th><th>Strain/Culture</th><th>Contigs</th><th>Combined Length</th><th nowrap>CRISPR-Cas</th></tr>
       </thead>
       <tbody>
       <% for(i in genomelist){ %>
       <% g = genomelist[i] %>
       <% taxidfullname = 'HMT-'+("000" + g.otid).slice(-3); %>
       
       <tr>
       <td><a href='genome_description?gid=<%= g.gid %>'><%= g.gid %></a></td>
       <td nowrap><a href='/taxa/tax_description?otid=<%= g.otid %>'><%= taxidfullname %></a></td>
       <td><%= g.genus %></td>
       <td><%= g.species %></td>
       <td><%= g.strain %></td>
       <td class='right-justify'><%= g.ncontigs %></td>
       <td class='center'><%= g.tlength %></td>
       
       
       <% if(cdata[g.gid] === "A"){ %>
             <td class='center left-justify' title='Ambiguous'>
              <%= cdata[g.gid] %>
             [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= g.gid %>" target='_blank'>ftp</a>]
           </td>
       <% }else{ %>
           <td class='center left-justify'>
              <%= cdata[g.gid] %>
             [<a href='crispr_cas_data?gid=<%= g.gid %>'>view</a>]
             [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= g.gid %>" target='_blank'>ftp</a>]
           </td>
       
       <% } %>
       </tr>
       <% } %>
       </tbody>
       </table>
       
       </div>
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script>
  mainmenu()
</script>


