<style>
#crispr-table-div{
   padding:20px;
}
th, td {
  border: 1px solid black;
  padding:3px 3px;
}
</style>

<% var cdata = JSON.parse(crispr_data) %>
<% var cfg = JSON.parse(config) %> 
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>CRISPR-Cas for Genome <%= gid %></div>
       
       <div id='crispr-table-div'>
       [<a href='#' class='' onclick="history.back()">Back</a>] |
       [<a href='<%= cfg.HOMD_URL_BASE %>/ftp/genomes/CRISPR_Cas/CCTyper/<%= gid %>'>HOMD FTP Site</a>]
       <table id='crispr-table' class='table'>
       <tr>
       <th>Contig</th>
       <th>Operon<br><small>(link to GenomeViewer)</small></th>
       <th>Operon Position</th>
       <th>Prediction</th>
       <th>CRISPRs</th>
       <th>Distances</th>
       <th>Prediction-Cas</th>
       <th>Prediction-CRISPRS</th>
       </tr>
       <% for(i in cdata){ %>
       <% op = cdata[i] %>
       <tr>
         <td><%= op.contig %></td>
         <% loc = op.contig+":"+(parseInt(op.op_pos1)-500).toString()+".."+(parseInt(op.op_pos2)+500).toString() %>
         <% highlight = op.contig+":"+op.op_pos1+".."+op.op_pos2 %>
         <td>
         <a href="https://www.homd.org/jbrowse/?data=homd_V10.1/<%= gid %>&loc=<%= loc %>&highlight=<%= highlight %>&tracks=crispr" target='_blank' rel="noopener noreferrer"><%= op.operon %></a></td>
         
        <!--  <a title='JBrowse/Genome Viewer' href='#' onclick="open_jbrowse('<%= gid %>','crispr','','','','<%= loc %>','<%= highlight %>')"><%= op.operon %></a> -->
        
         <td><%= op.op_pos1 %>, <%= op.op_pos2 %></td>
         <td><%= op.prediction %></td>
         <td>
         <% for(i in op.crisprs){ %>
           <%= op.crisprs[i] %><br>
         <% } %>
         </td>
         <td>
         <% for(i in op.distances){ %>
           <%= op.distances[i] %><br>
         <% } %>
         </td>
         <td><%= op.prediction_cas %></td>
         <td>
         <% for(i in op.prediction_crisprs){ %>
           <%= op.prediction_crisprs[i] %><br>
         <% } %>
         </td>
       </tr>
       <% } %>
       </table>
       
       </div>
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
</script>


