<style>
#crisper-table-div{
   padding:20px;
}
th, td {
  border: 1px solid black;
  padding:1px 3px;
}
</style>

<% var cdata = JSON.parse(crisper_data) %>
<% var cfg = JSON.parse(config) %> 
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>CRISPR-Cas for Genome <%= gid %></div>
       
       <div id='crisper-table-div'>
       <table id='crisper-table' class='table'>
       <tr>
       <th>Contig</th>
       <th>Operon</th>
       <th>Operon Position</th>
       <th>Prediction</th>
       <th>CRISPERs</th>
       <th>Distances</th>
       <th>Prediction-Cas</th>
       <th>Prediction-CRISPERS</th>
       </tr>
       <% for(i in cdata){ %>
       <% op = cdata[i] %>
       <tr>
         <td><%= op.contig %></td>
         <td><a href="<%= cfg.JBROWSE_URL %>/<%= gid %>&tracks=crispr" target='_blank' rel="noopener noreferrer"><%= op.operon %></a></td>
         <td><%= op.operon_pos %></td>
         <td><%= op.prediction %></td>
         <td><%= op.crispers %></td>
         <td><%= op.distances %></td>
         <td><%= op.prediction_cas %></td>
         <td><%= op.prediction_crispers %></td>
       </tr>
       <% } %>
       </table>
       
       </div>
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


