<style>
#crisper-table-div{
   padding:20px;
}
#crisper-table{
   padding:20px;
}
th, td {
  border: 1px solid black;
  padding:1px 3px;
}

</style>
<% var genomelist = JSON.parse(gid_list) %>
<% var cdata = JSON.parse(crisper_data) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>CRISPR-Cas systems in HOMD genomes</div>
       
       <div id='crisper-table-div'>
       <table id='crisper-table' class='table'>
       <tr><th>SEQ-ID</th><th>TaxID</th><th>Genus</th><th>Species</th><th>Strain/Culture</th><th>Contigs</th><th>Combined Length</th><th nowrap>CRISPR-Cas</th></tr>
       <% for(i in genomelist){ %>
       <% g = genomelist[i] %>
       <% taxidfullname = 'HMT-'+("000" + g.otid).slice(-3); %>
       
       <tr>
       <td><a href='genome_description?gid=<%= g.gid %>'><%= g.gid %></a></td>
       <td nowrap><a href='/taxa/tax_description?otid=<%= g.otid %>'><%= taxidfullname %></a></td>
       <td><%= g.genus %></td>
       <td><%= g.species %></td>
       <td><%= g.ccolct %></td>
       <td class='right-justify'><%= g.ncontigs %></td>
       <td class='center'><%= g.tlength %></td>
       <td class='center'><%= cdata[g.gid] %> [<a href='crisper_cas_data?gid=<%= g.gid %>'>view</a>]</td>
       </tr>
       <% } %>
       </table>
       
       </div>
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


