<style>
#genome-explorer{
  width:70%;
  height:auto;
  border:1px solid black;
  
}

#header_buttons{
   padding:5px 0;
}
.an-button{
  background-color: lightgreen;
  color: black;
  padding:3px 3px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
}
.active{
  background:#6b2f55;
  color:white;
}
#annotation-info{
  
  height: auto;
  padding:10px;
  margin-top:10px;
  font-size:small;
}
#anno-title2 {
   font-size:18px;
   
}
#info-table, #info-table td,th {
  border: 1px solid green;   
  border-collapse: collapse;
  padding:2px 10px;
}
#annotation-table-div{
 
  margin:30px 0;
  border:1px solid silver;
  
}
#annotation-table{
  width:100%;
  margin:30px 0;
  
  background:lightgray;
  
}
#annotation-table th{
  padding:5px;
  background:#6bb6ff;
}
#annotation-table td{
  padding:2px 8px;
  font-size:small;
  
}
#annotation-table tr:nth-child(even) { 
    background-color: #ffb46b; 
 } 
 #annotation-table tr:hover { 
    background-color: #FBF9EA; 
 } 

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }
#no-data{
    padding:10px;
    background:orange
}
.col5{
   width:150px;
}
</style>
<%- include('../../partials/header_html'); %>
<% info_data = JSON.parse(info_data) %>
<% all_annos = JSON.parse(all_annos) %>
<% page_data = JSON.parse(page_data) %>
<% mole = JSON.parse(pid_list) %>
<% db = anno_type+'_'+gid %>

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		
		
		
		<center>
		<div id='genome-explorer'>					
			<% if(blast == '1'){ %>
			    <div class='title'>BLAST Against Genome: <span id='headline'><%= organism %></span> [<%= gid %>]</div>
			<% }else{ %>
			    <div class='title'><%= anno_type.toUpperCase() %> Annotation for Genome: <span id='headline'><%= organism %></span> [<%= gid %>]</div>
			<% } %> 
			<div style='padding:5px 0;'>
			<% if(!gid){ %>
			   Choose a Genome:
			<% }else{ %>
			   Choose Another Genome:
			<% } %>
			
			<% if(blast == '1'){ %>
			     <select class='dropdown' onchange="if (this.value) window.location.href='explorer?gid='+this.value+'&blast=1'  ">
			<% }else{ %>
			     <select class='dropdown' onchange="if (this.value) window.location.href='explorer?gid='+this.value+'&anno=<%= anno_type %>'  ">
			<% } %> 
			<option value='0' >Choose...</option>
			<% for(n in all_annos){ %>
			   <% if(all_annos[n][0] == gid){ %>
			     <option selected value='<%= all_annos[n][0] %>'><%= all_annos[n][0] %>: <%= all_annos[n][1] %></option>
			   <% }else{ %>
			     <option value='<%= all_annos[n][0] %>'><%= all_annos[n][0] %>: <%= all_annos[n][1] %></option>
			   <% } %>
			 <% } %>
			 </select>
			 </div>
			 <!-- http://www.homd.org/jbrowse/index.html
			 ?data=homd%2FSEQF1595
			 &loc=SEQF1595%7CKI535342.1%3A6149..8582
			 &highlight=SEQF1595%7CKI535342.1%3A6757..7974
			 &tracks=DNA%2Cprokka%2Cncbi -->
			 <% if(gid){ %>
                 <div id='header_buttons' >
                  <% if(anno_type == 'prokka'){ %>
                    <span class='an-button active' href=''>PROKKA</span>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <a class='an-button' href='explorer?gid=<%= gid %>&blast=1'>BLAST</a>
                  <% }else if(anno_type == 'ncbi'){ %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <span class='an-button active' href=''>NCBI</span>
                    <a class='an-button' href='explorer?gid=<%= gid %>&blast=1'>BLAST</a>
                  <% }else if(blast == '1'){ %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <span class='an-button active' href=''>BLAST</span>
                  <% }else{ %>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                    <a class='an-button' href='explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                    <span class='an-button' href='explorer?gid=<%= gid %>&blast=1'>BLAST</span>
                  <% } %>
                  <a class='an-button' href='http://www.homd.org/jbrowse/index.html?data=homd/<%= gid %>&tracks=DNA,ncbi,prokka' target='_blank' rel="noopener noreferrer">Genome Viewer</a>
                  <a class='an-button' href='/genome/genome_description?gid=<%= gid %>'>Genome Desc.</a>
                  <a class='an-button' href='/taxa/tax_description?otid=<%= otid %>'>Taxon Desc.</a>
                 </div>
			 <% }else{ %>
			   <div id='header_buttons' >
                    <span class='an-button active greyed' href='#'>PROKKA</span>
                    <a class='an-button greyed' href='#'>NCBI</a>
                    <a class='an-button greyed' href='#'>BLAST</a>
                  
                    <a class='an-button greyed' href='#'>Genome Viewer</a>
                    <a class='an-button greyed' href='#'>Genome Desc.</a>
                    <a class='an-button greyed' href='#'>Taxon Desc.</a>
                 </div>
			<% } %>
			 
			  
			    
		</div>
		</center>
		<% if(gid){ %>
            <% if(anno_type == 'prokka' || anno_type == 'ncbi'){ %>
                <%- include('../../partials/annotation'); %>
            <% }else if(blast == 1){  %>
                <%- include('../../partials/blast'); %>
            <% } %>
		<% } %>
		
		
		<!-- https://vicbioinformatics.com/software.prokka.shtml -->
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>

<script>
  mainmenu()
</script>

