<% ginfo = JSON.parse(seqid_list) %>


<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<style>
#gnom-table {
  padding:5px;
}
#gnom-table th{
  color:white;
  background:#006699;
  padding:10px;
  font-size:10px;
}
.gbutton {
  font: bold 11px Arial;
  text-decoration: none;
  text-align:center;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	
	
		<div class='wide-content' id="">  					
			 <div class='page-title'>Human Microbial Genomes</div>
<table id='gnom-table' class='table sorttable' border='1'><thead>
<tr><th >Taxon ID</th><th>Genus</th><th>Species</th>
<th>Strain/Culture<br>Collection</th><th>SEQ ID</th><th>No. of contigs<br>and<br>plasmids</th>
<th class=''>Combined<br>Length (bp)</th><th class=''>GC<br>(%)</th><th colspan='4'>Genome Info and Tools</th><th colspan='3'>Available Annotations</th>
</tr>
</thead>
<tbody>

<% for(n in ginfo){ %>
	<% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
	<tr>
		<td><a href='tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td><td><%= ginfo[n].genus %></td><td><%= ginfo[n].species %></td><td><%= ginfo[n].ccolct %></td>
		<td><a href="genome_description?gid=<%= ginfo[n].gid %>"> <%= ginfo[n].gid %></a></td><td><%= ginfo[n].ncontigs %></td><td><%= ginfo[n].tlength %></td><td><%= ginfo[n].gc %></td>
	<td class='gbutton'>Taxon Desc</td><td class='gbutton'>Genome Info</td><td class='gbutton'>Genome Viewer</td><td class='gbutton'>BLAST</td>
	<td class='gbutton'>PROKKA</td><td class='gbutton'>NCBI</td><td class='gbutton'>HOMD</td>
	</tr>
<% } %>

</tbody>
</table>
		</div>  <!-- end wide -->
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script>
</script>

