<style>



.form-group {
  width:400px;
display:inline-block;
}
.span_lnk {
  color:blue;
  cursor: pointer;
}
.pill {
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  font-size:11px;
  border-radius: 16px;
}
.pill-indigo {
  background-color: indigo;
  border: 1px solid black;
  color: white;
}

.pill-khaki {
  background-color: khaki;
  border:  1px solid black;;
  color: black;
  
}
.pill-lightseagreen {
  background-color: lightseagreen;
  border:  1px solid black;;
  color: black;
  
}
.pill-mediumorchid {
  background-color: MediumOrchid;
  border:  1px solid black;;
  color: white;
  
}
.pill-midnightblue {
  background-color: midnightblue;
  border:  1px solid black;;
  color: white;
  
}
.pill-slateblue {
  background-color: SlateBlue;
  border:  1px solid black;;
  color: white;
  
}
</style>

<%- include('../../partials/header_html'); %>
<% ginfo = JSON.parse(seqid_list) %>

<link rel="stylesheet" type="text/css" href="/css/genome_pages.css" >


<body>
  <div id='wrapper'>		
	     
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>
	
	<%- include('../../partials/navbar'); %>
	
	
	<div  class='page-content' >
						
		<center><h4 class='title text-info'>Human Microbial Genomes</h4></center>
        
        <div id='download_browser_text_excel'><b>Download Genome Table</b>: 
		   <a href='dld_table?type=browser' >[Browser]</a>
		   <a href='dld_table?type=text' >[Text]</a>
		   <a href='dld_table?type=excel' >[Excel]</a>
		 </div>		 

 <%- include('../../partials/genome_table_filter.ejs') %> 

<div id='table_div'>
<span id='count_info'><%- count_text %></span>
<%- page_text %>

<table id='gnom-table' class='table table-hover table-condensed sortable' style='background: lightgrey;'>
<thead>
<tr>
<th class='col2' scope="col" >SEQ-ID</th>
<th class='col2' >TaxID</th>
<th class='col3' scope="col" >Genus</th>
<th class='col3' scope="col" >Species</th>
<th class='' scope="col" >Strain/Culture Collection</th>

<th class='col1' scope="col" >Contigs</th>
<th class='col2' scope="col" >Combined<br>Length</th>
<th class='col1' scope="col" >GC(%)</th>
<th class="col9 sorttable_nosort"  >Genome Info and Tools</th>
<th class="col10 sorttable_nosort" >Annotations</th>
</tr>
</thead>
<tbody>

<% for(n in ginfo){ %>
	<% taxidfullname = 'HMT-'+("000" + ginfo[n].otid).slice(-3); %>
	<tr class="">
		<td class='linkout center'><a href="genome_description?gid=<%= ginfo[n].gid %>"> <%= ginfo[n].gid %></a></td>
		<td class='linkout center' nowrap ><a href='/taxa/tax_description?otid=<%= ginfo[n].otid %>'><%= taxidfullname %></a></td>
		<td class='tax_name'><em><%= ginfo[n].genus %></em></td>
		<td class='tax_name'><em><%= ginfo[n].species %></em></td>
		<td ><%= ginfo[n].ccolct %></td>
		
		<td class='center'><%= ginfo[n].ncontigs %></td>
		<td class='center'><%= ginfo[n].tlength %></td>
		<td class='center'><%= ginfo[n].gc %></td>
		
        <td class='center' nowrap><a class='pill pill-indigo' href='/taxa/tax_description?otid=<%= ginfo[n].otid %>'>Taxon Info</a>
        <a class='pill pill-khaki' href='genome_description?gid=<%= ginfo[n].gid %>'>Genome Info</a>
        <a class='pill pill-lightseagreen' href=''>Genome Viewer</a>
        <a class='pill pill-midnightblue' href=''>BLAST</a></td>
        
        
        <td class='center'><a class='pill pill-mediumorchid'  href='annotation/<%= ginfo[n].gid %>/prokka'>PROKKA</a>
        <a class='pill pill-slateblue' href='annotation/<%= ginfo[n].gid %>/ncbi'>NCBI</a>
        <!-- <span class="badge badge-light">HOMD</span></td> -->
	</tr>
<% } %>

</tbody>
</table>
  </div>  <!-- end table_div -->
		
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>

<script src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
	var letter = '<%- letter %>'
	if(letter){
		document.getElementById(letter).style.color = 'red'
		document.getElementById(letter).style.fontSize = 'medium'
	}else{
		document.getElementById('all').style.color = 'red'
	}
</script>

