<style>

#table_div {
  
  border:1px solid grey;
  padding:10px 100px
}
#gnomdesc-table{
  width:80%;
  border:1px solid black;
  background:lightgrey;
}
#gnomdesc-table td{
  padding:3px;
}
#gnomdesc-table tr:nth-child(even) { 
    background-color: #D79A9A; 
 } 
.gd-button{
  background-color: lightgrey;
  color: black;
  padding:3px 5px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
}
#header_buttons{
   padding:5px 0;
}
</style>
<%- include('../../partials/header_html'); %>
<% ginfo = JSON.parse(data1) %>
<% contigs = JSON.parse(contigs) %>
<link rel="stylesheet" href="/css/genome_pages.css" >
<link href="/css/select2.min.css" rel="stylesheet" /> 
<% taxidfullname = ("000" + ginfo.otid).slice(-3); %>
<% taxidfullnameplus = 'HMT-'+taxidfullname; %>
<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
<span class='back_btn' ><a href='/genome/genome_table'>Back To Genome Table</a></span>     
<center>	
		
		<div class='title'>Sequence Meta Information: 
		<small><i><%= ginfo.genus %> <%= ginfo.species %></i> <%= ginfo.ccolct %></small></div>

<% if(Object.keys(ginfo).length ==0 ) { %>
    <br><br>No Data Found for Genome: <%= gid %>		
<% }else{ %>
	<div id='header_buttons' >
	 <a class='gd-button' href='/taxa/tax_description?otid=<%= ginfo.otid %>'>Taxon Page: (<%= taxidfullnameplus %>)</a>
	 <a class='gd-button' href="/jbrowse/index.html?data=homd/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GCContent" target='_blank' rel="noopener noreferrer">Genome Viewer</a>
	 <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&blast=1'>BLAST Against this Genome</a>
	 <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=prokka'>PROKKA Annotation</a>
	 <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=ncbi'>NCBI Annotation</a>
	</div>
    <div id='table_div' >						


     <table id='gnomdesc-table' class="table table-hover" border='0' >
     <tr class="table-active"><td>1</td><td>HOMD Sequence ID</td><td><%= ginfo.gid %></td></tr>
     <tr class="table-light"><td>2</td><td>Oral Taxon ID</td><td><a href='/taxa/tax_description?otid=<%= ginfo.otid %>'><%= ginfo.otid %></a></td></tr>
 
     <tr class="table-active"><td>3</td><td>HOMD Name (Genus, Species)</td><td><a href='/taxa/tax_description?otid=<%= ginfo.otid %>'><i><%= ginfo.genus %> <%= ginfo.species %></i></a></td></tr>
     <tr class="table-light"><td>4</td><td>Genome Sequence Name</td><td></td></tr>
     <tr class="table-active"><td>5</td><td>Comments on Name</td><td></td></tr>
     <tr class="table-light"><td>6</td><td>Culture Collection Entry Number</td><td><%= ginfo.ccolct %></td></tr>
     <tr class="table-active"><td>7</td><td>Isolate Origin</td><td><%= ginfo.io %></td></tr>
     <tr class="table-light"><td>8</td><td>Sequencing Status</td><td><%= ginfo.status %></td></tr>
     <tr class="table-active"><td>9</td><td>NCBI Taxon ID (Strain Level)</td><td><a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=<%= ginfo.ncbi_genomeid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_genomeid %></a></td></tr>
     <tr class="table-light"><td>10</td><td>NCBI Genome BioProject ID</td><td><a href='https://www.ncbi.nlm.nih.gov/bioproject/?term=<%= ginfo.ncbi_bpid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_bpid %></a></td></tr>
     <tr class="table-active"><td>11</td><td>NCBI Genome BioSample ID</td><td><a href='https://www.ncbi.nlm.nih.gov/biosample/<%= ginfo.ncbi_bsid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_bsid %></a></td></tr>
     <tr class="table-light"><td>12</td><td>GenBank Accession ID</td>
       <td>
       <% acc_pts = ginfo.gb_acc.split(',') %>
       <% for(n in acc_pts){ %>
       <%   acc =  acc_pts[n] %>
         <a href='https://www.ncbi.nlm.nih.gov/nuccore/<%= acc %>' target='_blank' rel="noopener noreferrer"><%= acc %></a>
       <% } %>
       </td>
      </tr>
     
     <tr class="table-active"><td>13</td><td>Genbank Assembly ID</td><td><a href='https://www.ncbi.nlm.nih.gov/assembly/<%= ginfo.gb_asmbly %>' target='_blank' rel="noopener noreferrer"><%= ginfo.gb_asmbly %></a></td></tr>
     <tr class="table-light"><td>14</td><td>Contigs and Singlets</td>
     <td><%= ginfo.ncontigs %>
       <select id='selContig' style='width: 200px;' onchange="offer_jbrowse('<%= ginfo.gid %>',this.value)">
       <% for(n in contigs){ %>
          <option><%= contigs[n] %></option>
       <% } %>
       </select>
       <span id='jbrowse_offer'>
       <a href='/jbrowse/index.html?data=homd/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GCContent&loc=<%= ginfo.gid %>|<%= contigs[0] %>' target='_blank'>Open in Genome Viewer</a>
       </span>
     </td></tr>
     <tr class="table-active"><td>15</td><td>Combined Length (bps)</td><td><%= ginfo.tlength %></td></tr>
     <tr class="table-light"><td>16</td><td>GC Percentage</td><td><%= ginfo.gc %></td></tr>
     <tr class="table-active"><td>17</td><td>Sequencing Center</td><td><%= ginfo.seq_center %></td></tr>
     <tr class="table-light"><td>18</td><td>ATCC Medium Number</td><td><%= ginfo.atcc_mn %></td></tr>
     <tr class="table-active"><td>19</td><td>Non-ATCC Medium</td><td><%= ginfo.non_atcc_mn %></td></tr>
     <tr class="table-light">
       <td>20</td><td>16S rRNA Gene Sequence</td>
       <% if(ginfo['16s_rrna_flag'] === '1'){ %>
        <td><a href='#' onclick="get_16s_seq('<%= ginfo.gid %>')">View Sequence</a></td>
       <% }else{ %>
        <td>N/A</td>
       <% } %>
     </tr>
     <tr class="table-active"><td>21</td><td>Comments for 16s rRNA Gene Sequence</td><td></td></tr>
     </table>
<% } %>		 
</div>			 
</center>			 
			 	 
	
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){
 
    // Initialize select2
    $("#selContig").select2();

  });
</script>

