<style>
            
#genome_choices{
  text-align:center;
  padding:40px 0;
  margin-top:50px;
  border:1px solid grey;
  background:lightgrey;  /* #ffc0cb; */
}

	
</style>
<%- include('../../partials/header_html'); %>
<% gn = JSON.parse(genomes) %>
<% var cfg = JSON.parse(config) %> 
<% %>
<link href="/css/select2.min.css" rel="stylesheet" /> 
<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		<div class='title'><%= page_type %> (Select a Genome)</div>
			 
		   

		 	
<div id='genome_choices'>
<span nowrap>Search and Select a Genome from a Total of <%= tgenomes %> (<%= page_type %> Server opens in a New Window)
<br><small>Search by Seq-ID, Organism Name or Strain</small><br><br>
</span>

<% if(page_type == "JBrowse"){ %>

  <select id='selGenome' style='width: 800px;' onchange='open_jbrowse_in_new_window(this.value)'>
     <option id='' name='none' value='0'>Search & Select...</option>
     <% for(i in gn){ %>
        <% gc2 = (parseFloat(gn[i].gc)/100).toFixed(2) %>
		<option id='' name='gnom' value='<%= gn[i].gid %>|<%= gc2 %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
	<% } %>
  </select>
  
<% }else{ %>
 
  <select id='selGenome' style='width: 800px;' onchange='open_blast_in_new_window(this.value)'>
     <option id='' name='none' value='0'>Search & Select...</option>
     <% for(i in gn){ %>
        <option id='' name='gnom' value='<%= gn[i].gid %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
	<% } %>
  </select>
  
  <br><br>TESTING Choose a genome blast database.
  <br>
  <select id='selGenome' style='width: 800px;' onchange='window_open_blast_test(this.value)')>
     <option id='' name='none' value='0'>Search & Select...</option>
     <% for(i in gn){ %>
        <option id='' name='gnom' value='<%= gn[i].gid %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
	<% } %>
    </select>
    

   
	
  
<% } %>

<br/>
<div id='result'></div>
</div>
		
    </div> <!-- end: page-content -->
     
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  var gid = '<%- gid; %>'
  var gc = '<%- gc; %>'
  var jb_path = '<%- cfg.jb_path %>'
  if(gid){
     
     open_jbrowse_in_new_window(gid+'|'+gc)
  }
  
  function window_open_blast_test(val){
    urlString = 'blast_test'
    //document.getElementById("button_click").href= 'blast_test?gid='+val;
    //window.location = urlString + '?gid=' + val;
    window.open(urlString + '?gid=' + val, '_blank');
  }



  $(document).ready(function(){
 
  // Initialize select2
  $("#selGenome").select2();

  
});
</script>


