<style>
  .form-inline {
    display: inline;

  }



  #gnomdesc-table-chars {
    width: 100%;
    /* padding-right:10px; */
    border: 1px solid black;
    background: lightgrey;
    border-collapse: collapse;
  }

  #gnomdesc-table-chars td {
    padding: 5px 8px;
    border: 1px solid darkgreen;
    width: 50%;

  }

  #gnomdesc-table-chars th {
    padding: 15px;
    background: white;
    border: 1px solid darkgreen;
  }

  #gnomdesc-table-ncbi {
    width: 100%;
    /* padding:10px; */
    border: 1px solid black;
    background: lightgrey;
    border-collapse: collapse;
  }

  #gnomdesc-table-ncbi td {
    padding: 5px 8px;
    border: 1px solid darkgreen;
    width: 50%;
  }

  #gnomdesc-table-ncbi th {
    padding: 15px;
    background: white;
    border: 1px solid darkgreen;
  }

  .field {
    vertical-align: center;
    background: #959FAC;
    /* 9ca590; */
    font-weight: bold;


  }

  .value {
    /* background: #ACA195; */
    /*  #d0edef;  */
  }

  .gd-button {
    background-color: lightgrey;
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    font-size: small;
    border-radius: 3px;
    border: 1px solid darkgreen;
    cursor: pointer;
  }

  #header_buttons {
    padding: 5px 0;
  }

  .contig-table td {
    border: 0px solid black;
  }

  .contig-table td li {
    padding: 2px;
  }

  .contig-span {
    margin-top: 2px;
  }

  .link {
    text-decoration: underline;
    
    border:1px solid lightgrey;
    padding:1px 4px;
    
  }

  .table-div {
    display: flex;
  }

  .column-div {
    margin-bottom: 1em;
    width: 100%;
  }

  .row-div {
    border: 1px black solid;
    margin: auto;
    width: 70%;
  }

</style>
<%- include('../../partials/header_html'); %>
<% ginfo=JSON.parse(data1) %>
<% contigs=JSON.parse(contigs) %>
<% checkm_obj=JSON.parse(checkm) %>
<link rel="stylesheet" href="/css/genome_pages.css">
<link href="/css/select2.min.css" rel="stylesheet" />
<% taxidfullname=("000" + ginfo.otid).slice(-3); %>
<% taxidfullnameplus="HMT-" +taxidfullname; %>
<% gc2=(parseFloat(ginfo.gc)/100).toFixed(2) %>
<% var cfg=JSON.parse(config) %>
<% var version_info=JSON.parse(ver_info) %>

<body>
<div id='wrapper'>
<%- include('../../partials/header_img'); %>
<%- include('../../partials/navbar'); %>
<div class='page-content'>
  <span class='back_btn'><a href='/genome/genome_table'>Back To Genome Table</a></span>
  <center>

    <p class='title h3'>Genome Meta Information:
      <i>
        <%= ginfo.genus %>
          <%= ginfo.species %>
      </i>
      <%= ginfo.strain %> (<%= ginfo.gid %>)
    </p>

    <% if(Object.keys(ginfo).length==0 ) { %>
      <br><br>No Data Found for Genome: <%= gid %>
        <% }else{ %>

          <div id='header_buttons'>
            <a class='gd-button' href='/taxa/tax_description?otid=<%= ginfo.otid %>'>Taxon Page:
              (<%= taxidfullnameplus %>)</a>
            <!-- <a class='gd-button' href="<%= cfg.JBROWSE_URL %>/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc2 %>),GC Skew" target='_blank' rel="noopener noreferrer">Genome Viewer</a> -->
            <a class='gd-button' href='#'
              onclick="open_jbrowse('<%= ginfo.gid %>','explorer','<%= gc2 %>')">Genome
              Viewer</a>

            <form name='' class="form-inline" method='POST' action='blast_ss_single'>
              <input type='hidden' name='gid' value='<%= ginfo.gid %>'>
              <input type='hidden' name='annotation' value='prokka'>
              <input type='submit' class='gd-button' value='BLAST'>
            </form>
            <!-- <a class='gd-button' href='/genome_blast_single?gid=<%= ginfo.gid %>' target='_blank'>BLAST</a> -->

            <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=prokka'>PROKKA
              Annotation</a>
            <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=ncbi'>NCBI
              Annotation</a>
          </div>



                  <div class="table-div">
                    <!-- https://dev.to/flippedcoding/how-to-make-a-table-without-using-the-html-table-elements-5e11 -->
                    <div class="column-div">
                      <div class="row-div">

                        <table id='gnomdesc-table-chars' class="table gnomdesc-table">
                          <tr class="header">
                            <th style='background:#9fbfb3;' colspan='2'>Genome Characteristics</th>
                          </tr>
                          <tr class="header">
                            <th class="gt-header">Fields</th>
                            <th>Values</th>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>HOMD Genome-ID</td>
                            <td class='value inner-value'>
                                <%= ginfo.gid %>
                              </td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>HOMD Taxon-ID</td>
                            <td class='value'><span class='inner-value'>
                                <a class='link' href='/taxa/tax_description?otid=<%= ginfo.otid %>'>
                                  <%= taxidfullnameplus %>
                                </a>
                              </span>
                            </td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>Species Name (in use by HOMD)</td>
                            <td class='value'><span class='inner-value'><i>
                                  <%= ginfo.genus %> <%= ginfo.species %>
                                </i></span>
                            </td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Organism Name (as deposited)</td>
                            <td class='value'><span class='inner-value'><i>
                                  <%= ginfo.organism %>
                                </i></span>
                            </td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Strain or Isolate</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.strain %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>GTDB <small>(V<%= version_info.gtdb_ver %>)</small><br>Taxonomy </td>
                            <td class='value'><span class='inner-value'><%- ginfo.GTDB_taxonomy
                                  %></span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Sequencing Technology</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.seqtech %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Genome Coverage</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.coverage %>
                              </span></td>
                          </tr>
                          
                          <tr>
                            <td valign="center" class='field'>Contigs</td>
                            <td class='value'><span class='inner-value'>
                                <% if(contigs.length==0){ %>
                                  <%= ginfo.contigs %> No Contigs Found
                                    (localhost?)<!-- localhost only -->
                                    <% } else if(contigs.length==1){ %>
                                      
                                      
                                      <table class='contig-table' border='0'>
                                        <tr>
                                          <td>
                                            One Contig Found<br>
                                            <span class='contig-span link' id='select-contig' value='<%= contigs[0].contig %>'>
                                              <%= contigs[0].contig %>
                                            </span>
                                          </td>
                                          <td>
                                            <small>
                                              <li><span class='link'>[<a href='#'
                                                    onclick="open_jbrowse('<%= ginfo.gid %>','genome_desc_single')">Open
                                                    in Genome Viewer</a>]</span></li>
                                              <li><span class='link'>[<a href='#'
                                                    onclick="get_contig_seq('<%= ginfo.gid %>','<%= contigs[0].contig %>','single')">Show
                                                    Sequence</a>]</span></li>
                                              <li><span class='link'>[<a href='#'
                                                    onclick="open_ncbi('single')">Linkout to
                                                    NCBI</a>]</span></li>
                                            </small>
                                          </td>
                                        </tr>
                                      </table>
                                      
                                      
                                      
                                      <% }else{ %>

                                        <table class='contig-table' border='0'>
                                          <tr>
                                            <td>
                                              <small>Number of Contigs: <%= ginfo.contigs %>
                                              </small><br>
                                              <select class='contig-span link' id='select-contig'>
                                                <% for(n in contigs){ %>
                                                  <option
                                                    value='<%= contigs[n].contig %>|<%= contigs[n].gc %>'>
                                                    <%= contigs[n].contig %>
                                                  </option>
                                                  <% } %>
                                              </select>
                                            </td>
                                            <td>
                                              <small>
                                                <li><span class='link'>[<a href='#'
                                                      onclick="open_jbrowse('<%= ginfo.gid %>','genome_desc')">Open
                                                      in Genome Viewer</a>]</span></li>
                                                <li><span class='link'>[<a href='#'
                                                      onclick="get_contig_seq('<%= ginfo.gid %>','<%= contigs[0].contig %>','select')">Show
                                                      Sequence</a>]</span></li>
                                                <li><span class='link'>[<a href='#'
                                                      onclick="open_ncbi('select')">Linkout to
                                                      NCBI</a>]</span></li>
                                              </small>
                                            </td>
                                          </tr>
                                        </table>

                                        <% } %>
                              </span>
                              </td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>Total Sequence Length</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.combined_size %> (bp)</span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>GC Percentage</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.GC %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>MAG</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.MAG %>
                              </span></td>
                          </tr>

                          <tr>
                            <% url_sub=ginfo.url.replace('ftp','https') %>
                              <td class='field'>NCBI FTP URL</td>
                              <td class='value'><span class='inner-value'>
                                  <a class='link' href='<%= url_sub %>' target='_blank'>
                                    <%= ginfo.url %>
                                  </a></span>
                              </td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>CDS</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_CDS %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Genes</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_gene %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>mRNA</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_mRNA %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>misc RNA</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_misc_RNA %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>rRNA</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_rRNA %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>tRNA</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_tRNA %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>tmRNA</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.prokka_tmRNA %>
                              </span></td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>ANI (Average Nucluotide Identity)</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.ANI %> %
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>CheckM Completeness</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.checkM_completeness %> %
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>CheckM Contamination</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.checkM_contamination %> %
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>CheckM2 Completeness</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.checkM2_completeness %> %
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>CheckM2 Contamination</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.checkM2_contamination %> %
                              </span></td>
                          </tr>
                          <% if(checkm_obj.comp_dif>= 20){ %>
                            <tr>
                              <td valign="center" class='field' style='color:red;'>Difference
                                between<br>CheckM and CheckM2<br>Completeness</td>
                              <td class='value'><span class='inner-value' style='color:red;'>
                                  <%= checkm_obj.comp_dif.toFixed(1) %> %
                                </span></td>
                            </tr>
                            <% } %>


                              <tr>
                                <td valign="center" class='field'>CRISPR-cas</td>
                                <% if(crispr===0){ %>
                                  <td class='value'><span class='inner-value'><small>No Available
                                        Data</small></span></td>
                                  <% }else{ %>
                                    <td class='value link'><span class='inner-value'>
                                        <% if(crispr==="A" ){ %>
                                          Ambiguous
                                          <span class='link'>[<a
                                              href="<%= cfg.HOMD_URL_BASE %><%= cfg.CRISPR_PATH %><%= ginfo.gid %>/"
                                              target='_blank'>HOMD FTP</a>]</span>
                                          <% }else{ %>
                                            <% if(crispr===1){ %>
                                              <%= crispr %> Contig
                                                <% }else{ %>
                                                  <%= crispr %> Contigs
                                                    <% } %>
                                                      <span class='link'>[<a
                                                          href='crispr_cas_data?gid=<%= ginfo.gid %>'>View</a>]</span>
                                                      <span class='link'> [<a
                                                          href="<%= cfg.HOMD_URL_BASE %><%= cfg.CRISPR_PATH %><%= ginfo.gid %>/"
                                                          target='_blank'>HOMD FTP</a>]</span>
                                                      <% } %>
                                      </span></td>
                                    <% } %>
                              </tr>
                              <tr>
                                <td valign="center" class='field'>Pangenomes</td>
                                <td class='value'>
                                  <% if(ginfo.pangenomes.length==1 && ginfo.pangenomes[0]){ %>
                                    1)
                                    <span title='PangenomeName:&nbsp;<%= ginfo.pangenomes[0] %>'>
                                      <a class='link'
                                        href='anvio?pg=<%= ginfo.pangenomes[0] %>' target='_blank'
                                        class='pg'>
                                        OpenAnvi`o</a> <small>(Interactive)</small>
                                      
                                      <a class='link'
                                        href='pangenome_image2?pg=<%= ginfo.pangenomes[0] %>&ext=svg'
                                        target='_blank'>Preview</a> <small>(SVGImage)</small>
                                    </span>
                                    <% }else if(ginfo.pangenomes.length > 1 && ginfo.pangenomes[0]){ %>
                                      <% for(n in ginfo.pangenomes){ %>
                                        <%= parseInt(n)+1 %>) 
                                           <span title='PangenomeName: <%= ginfo.pangenomes[n] %>'>
                                            <a class='link'
                                               href='/genome/anvio?pg=<%= ginfo.pangenomes[n] %>'
                                               target='_blank'>
                                               OpenAnvi`o</a> <small>(Interactive)</small>
                                            <a class='link'
                                               href='/genome/pangenome_image2?pg=<%= ginfo.pangenomes[n] %>&ext=svg'
                                               target='_blank'>
                                               Preview</a> <small>(SVGImage)</small>
                                            </span>
                                          <br>
                                          <% } %>
                                            <% }else{ %>
                                              <small>No Pangenomes Available.</small>
                                              <% } %>
                                </td>
                              </tr>

                        </table>

                      </div>
                      <div class="row-div">


                        <table id='gnomdesc-table-ncbi' class="table gnomdesc-table" border='0'>

                          <tr class="header">
                            <th style='background:#9fbfb3;' colspan='2'>NCBI Genome Metadata</th>
                          </tr>
                          <tr class="header">
                            <th>Fields</th>
                            <th>Values</th>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Genome Assembly Name</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.assembly_name %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>GenBank Assembly Accession</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.gid %>
                                  &nbsp;&nbsp;<span class='link'>[<a
                                      title='National Center for Biotechnology Information'
                                      href='https://www.ncbi.nlm.nih.gov/datasets/genome/<%= ginfo.gid %>'
                                      target='_blank' rel="noopener noreferrer">NCBI</a>]</span>
                                  &nbsp;&nbsp;<span class='link'>[<a title='Genome Taxonomy Database'
                                      href='https://gtdb.ecogenomic.org/genome?gid=<%= ginfo.gid %>'
                                      target='_blank' rel="noopener noreferrer">GTDB</a>]</span>
                              </span></td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>RefSeq Assembly Accession</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.refseq_assembly %>
                                  &nbsp;&nbsp;<span class='link'>[<a
                                      title='National Center for Biotechnology Information'
                                      href='https://www.ncbi.nlm.nih.gov/datasets/genome/<%= ginfo.refseq_assembly %>'
                                      target='_blank' rel="noopener noreferrer">NCBI</a>]</span>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>BioSample</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.biosample %>
                                  &nbsp;&nbsp;<span class='link'>[<a
                                      href='https://www.ncbi.nlm.nih.gov/biosample/<%= ginfo.biosample %>'
                                      target='_blank' rel="noopener noreferrer">NCBI</a>]</span>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>BioProject</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.bioproject %>
                                  &nbsp;&nbsp;<span class='link'>[<a
                                      href='https://www.ncbi.nlm.nih.gov/bioproject/?term=<%= ginfo.bioproject %>'
                                      target='_blank' rel="noopener noreferrer">NCBI</a>]</span>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Submitter</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.submitter %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Submission Date</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.submission_date %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Assembly Method</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.method %>
                              </span></td>
                          </tr>
                          <tr>
                            <td valign="center" class='field'>Assembly Level</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.assembly_level %>
                              </span></td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>Sequencing Status</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.status %>
                              </span></td>
                          </tr>

                          <tr>
                            <td valign="center" class='field' title='Whole Genome Sequence'>WGS
                              Project</td>
                            <td class='value'><span class='inner-value'>
                                <a class='link'
                                  href='https://www.ncbi.nlm.nih.gov/Traces/wgs/?page=1&view=all&search=<%= ginfo.WGS %>'
                                  target='_blank' rel="noopener noreferrer">
                                  <%= ginfo.WGS %></a></span>
                            </td>
                          </tr>
                          
                          
                          <tr>
                            <td valign="center" class='field'>NCBI TaxID</td>
                            <td class='value'>
                              <% if(ginfo.taxid){ %>
                                <span class='inner-value'>
                                  <a class='link'
                                    href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=<%= ginfo.taxid %>'
                                    target='_blank' rel="noopener noreferrer">
                                    <%= ginfo.taxid %>
                                  </a>
                                </span>
                                <% }else{ %>
                                  <% } %>
                            </td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>Isolation Source</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.isolation_source %>
                              </span></td>
                          </tr>

                          <tr>
                            <td valign="center" class='field'>Geo Location</td>
                            <td class='value'><span class='inner-value'>
                                <%= ginfo.geo_loc_name %>
                              </span></td>
                          </tr>


                        </table>


                      </div> <!-- End Row -->
                    </div> <!-- End Column -->
                  </div> <!-- Outer table-div -->

                  <% } %>

          </center>

        </div> <!-- end: page-content -->

    <div id='footer'>
      <%- include('../../partials/footer'); %>
    </div>


</div> <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
mainmenu()
var jb_path = '<%- cfg.JBROWSE_URL %>'
$(document).ready(function () {

// Initialize select2
$("#selContig").select2();

});
// $("tr:odd").css({ "background-color":"red", "color":"#fff"});
</script>