<style>
.form-inline {
  display: inline;
  
}
#table_div {
  
  border:1px solid grey;
  padding:10px 100px
}
#gnomdesc-table{
  width:80%;
  border:1px solid black;
  background:lightgrey;
}
#gnomdesc-table td{
  padding:3px;
}
#gnomdesc-table tr:nth-child(even) { 
    background-color: #D79A9A; 
 } 
.gd-button{
  background-color: lightgrey;
  color: black;
  padding:3px 5px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
  cursor:pointer;
}
#header_buttons{
   padding:5px 0;
}
</style>
<%- include('../../partials/header_html'); %>
<% ginfo = JSON.parse(data1) %>
<% contigs = JSON.parse(contigs) %>
<link rel="stylesheet" href="/css/genome_pages.css" >
<link href="/css/select2.min.css" rel="stylesheet" /> 
<% taxidfullname = ("000" + ginfo.otid).slice(-3); %>
<% taxidfullnameplus = "HMT-"+taxidfullname; %>
<% gc2 = (parseFloat(ginfo.gc)/100).toFixed(2) %>
<% var cfg = JSON.parse(config) %> 
<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
<span class='back_btn' ><a href='/genome/genome_table'>Back To Genome Table</a></span>     
<center>	
		
		<div class='title'>Sequence Meta Information: 
		<small><i><%= ginfo.genus %> <%= ginfo.species %></i> <%= ginfo.ccolct %></small></div>

<% if(Object.keys(ginfo).length ==0 ) { %>
    <br><br>No Data Found for Genome: <%= gid %>		
<% }else{ %>
    
	<div id='header_buttons' >
	 <a class='gd-button' href='/taxa/tax_description?otid=<%= ginfo.otid %>'>Taxon Page: (<%= taxidfullnameplus %>)</a>
	 <a class='gd-button' href="<%= cfg.JBROWSE_URL %>/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc2 %>),GC Skew" target='_blank' rel="noopener noreferrer">Genome Viewer</a>
	 
	 <form name='' class="form-inline" method='POST' action='blast_ss_single'>
         <input type='hidden' name='gid' value='<%= ginfo.gid %>'>
         <input type='hidden' name='annotation' value='prokka'>
         <input type='submit' class='gd-button' value='BLAST'>
     </form>
	 <!-- <a class='gd-button' href='/genome_blast_single?gid=<%= ginfo.gid %>' target='_blank'>BLAST</a> -->
	 
	 <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=prokka'>PROKKA Annotation</a>
	 <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=ncbi'>NCBI Annotation</a>
	</div>
    <div id='table_div' >						


     <table id='gnomdesc-table' class="table table-hover" border='0' >
     <tr class="table-active"><td>1</td><td>HOMD Sequence ID</td><td><%= ginfo.gid %></td></tr>
     <tr class="table-light"><td>2</td><td>Oral Taxon ID</td><td><a href='/taxa/tax_description?otid=<%= ginfo.otid %>'><%= taxidfullnameplus %></a></td></tr>
 
     <tr class="table-active"><td>3</td><td>Organism</td><td><a href='/taxa/tax_description?otid=<%= ginfo.otid %>'><i><%= ginfo.organism %></i></a></td></tr>
     
     <tr class="table-light"><td>4</td><td>Culture Collection or Strain</td><td><%= ginfo.ccolct %></td></tr>
     <tr class="table-active"><td>5</td><td>Isolate Origin</td><td><%= ginfo.io %></td></tr>
     <tr class="table-light"><td>6</td><td>Sequencing Status</td><td><%= ginfo.status %></td></tr>
     <tr class="table-active"><td>7</td><td>NCBI TaxonID</td><td><a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=<%= ginfo.ncbi_taxonid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_taxonid %></a></td></tr>
     <tr class="table-light"><td>8</td><td>NCBI Genome BioProject ID</td><td><a href='https://www.ncbi.nlm.nih.gov/bioproject/?term=<%= ginfo.ncbi_bpid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_bpid %></a></td></tr>
     <tr class="table-active"><td>9</td><td>NCBI Genome BioSample ID</td><td><a href='https://www.ncbi.nlm.nih.gov/biosample/<%= ginfo.ncbi_bsid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_bsid %></a></td></tr>
     <tr class="table-light"><td>10</td><td>Assembly Name</td><td><%= ginfo.asmbly_name %></td></tr>
     
     
     <tr class="table-light"><td>11</td><td>GenBank Assembly ID</td>
       <td>
         <a href='https://www.ncbi.nlm.nih.gov/data-hub/genome/<%= ginfo.gb_asmbly %>' target='_blank' rel="noopener noreferrer"><%= ginfo.gb_asmbly %></a>
       </td>
      </tr>
     
     <tr class="table-active"><td>12</td><td>RefSeq Assembly ID</td><td><a href='https://www.ncbi.nlm.nih.gov/data-hub/genome/<%= ginfo.rs_asmbly %>' target='_blank' rel="noopener noreferrer"><%= ginfo.rs_asmbly %></a></td></tr>
     <tr class="table-light"><td>13</td><td>Contigs and Singlets</td>
     <td><%= ginfo.ncontigs %>
       <select id='select-contig' style='width: 200px;'>
       <% for(n in contigs){ %>
          <option value='<%= contigs[n].contig %>'><%= contigs[n].contig %></option>
       <% } %>
       </select>
        <!-- <a href="<%= cfg.JBROWSE_URL %>/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna&loc=<%= ginfo.gid %>|<%= contigs[0].contig %>" target='_blank'>Open in Genome Viewer</a> -->
        <a href='#' onclick="open_jbrowse('<%= ginfo.gid %>','genome_desc')">Open in Genome Viewer</a>
       
     </td></tr>
     <tr class="table-active"><td>14</td><td>Combined Length (bps)</td><td><%= ginfo.tlength %></td></tr>
     <tr class="table-light"><td>15</td><td>GC Percentage</td><td><%= ginfo.gc %></td></tr>
     <tr class="table-active"><td>16</td><td>Submitter or Sequencing Center</td><td><%= ginfo.seq_center %></td></tr>
     
     
     <tr class="table-active"><td>17</td>
     <td class=''>Pangenome(s): (<a href='https://vamps.mbl.edu/anviserver' target='_blank'>Anvi`o-server</a> <small>hosted on <a href='https://vamps2.mbl.edu/' title='Visualization and Analysis of Microbial Population Structures' target='_blank'>VAMPS</a>)</small></td>
     <td>
       
       <% if(ginfo.pangenomes.length > 0){ %>
       <%   for(n in ginfo.pangenomes){ %>
             <a href='<%= anviserver_link %>/<%= ginfo.pangenomes[n] %>'  target='_blank'><%- ginfo.pangenomes[n] %></a>
       <%   } %>
       <% }else{ %>
            <small>No Pangenome Assembly Available yet.</small>
       <% } %>
    </td>
     </tr>
     <tr class="table-active">
       <td>18</td><td>CRISPR-cas</td>
       <% if(crispr === 0){ %>
           <td><small>No Available Data</small></td>
       <% }else{ %>
          <td class=''>
              <% if(crispr === "A"){ %>
                 Ambiguous
                 [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= ginfo.gid %>" target='_blank'>HOMD FTP Site</a>]
              <% }else{ %>
                 <% if(crispr === 1){ %>
                    <%= crispr %> Contig
                 <% }else{ %>
                    <%= crispr %> Contigs
                 <% } %>
                 [<a href='crispr_cas_data?gid=<%= ginfo.gid %>'>View</a>]
                 [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= ginfo.gid %>" target='_blank'>HOMD FTP Site</a>]
              <% } %>
             
             
           </td>
          
       
       <% } %>
     </tr>
     </table>
<% } %>
</div>
</center>

    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
  $(document).ready(function(){
 
    // Initialize select2
    $("#selContig").select2();

  });
</script>

