<style>
.form-inline {
  display: inline;
}
.span_lnk {
  color:blue;
  cursor: pointer;
}
/* Fix the tax table header */
thead th { position: sticky; top: 0; }
</style>
<link rel="stylesheet" type="text/css" href="/css/genome_pages.css" >
<%- include('../../partials/header_html'); %>
<% ginfo = JSON.parse(data) %>
<% fltr = JSON.parse(filter) %>
<% phyla = JSON.parse(phyla) %>
<% pgdata = JSON.parse(pd) %>
<% filtergid = fltr.gid %>
<% var cfg = JSON.parse(config) %> 

<!-- 
pagedata {
  rows_per_page: 500,
  page: 2,
  trecords: 8622,
  number_of_pages: 18,
  show_page: 2,
  start_count: 501
}
 -->


<body>
 <div id="loader" class="center-loader" style='z-index:1'></div>

  <div id='wrapper'>    
       
  <div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>
  
  <%- include('../../partials/navbar'); %>
  
  
  <div  class='page-content' >
<div class='title'><%= pgtitle %></div>

<span><small>There are <%= gcount %> genomes representing <%= tcount %> taxa (Including 'NonOralRef' and 'Dropped' Taxa).</small></span>


<div id='download_browser_text_excel'><b>Download this Genome Data</b>: 
       <a href='/download/dld_genome_table/browser' >[Browser]</a>
       <a href='/download/dld_genome_table/text' >[Text]</a>
       <a href='/download/dld_genome_table/excel' >[Excel]</a>
       <b>OR</b> <a href='/download#genome'>Batch Genomic Data</a>
</div> 

 <%- include('../../partials/genome_table_filter.ejs') %> 
<br><%- count_txt %>
   

  
<div id='genome-box'>
    <table id='gnom-table' class='table table-hover table-condensed ' style='background: lightgrey;'>
    <thead>
    <tr><th class='col0' ></th>
    <th class='col1' scope='col' >GenBank<br>Assembly ID</th>
    <th class='col2' scope='col' nowrap>Taxon-ID</th>
    <th class='col3' scope='col' >Genus</th>
    <th class='col4' scope='col' >Species</th>
    <th class='col5' scope='col' >Strain or Isolate</th>
    <th class='col6' title='MAG: Metagenome-Assembled Genome' scope='col' >MAG</th>
    <th class='col7' scope='col' >Contigs</th>
    <th class='col8' scope='col' >Combined<br>Length</th>
    <th class='col9' scope='col' >GC(%)</th>
    <th class="col10 sorttable_nosort" scope='col' >Genome Info and Tools</th>
    <th class="col11 sorttable_nosort" scope='col' >Annotations</th>
    </tr>
    </thead>
    
    <% if(ginfo.length === 0){ %>
       <tr><td>None Found</td></tr>
    <% }else{ %>
    
    <tbody>
    <% rowcount = pgdata.start_count %>
    
    <% for(n in ginfo){ %>
      
      <% taxidfullname = 'HMT-'+("000" + ginfo[n].otid).slice(-3); %>
      <% rowid =  ginfo[n].gid.split('.')[0]; %>
      <tr id='<%= rowid %>' >
         <% if(filter_on == 'off'){  %>
            <td class='right'><%= rowcount %></td>
        <% }else{ %>
            <td class='right'><%= parseInt(n) + 1 %></td>
      <% } %>
        <td class='linkout center'><a href="genome_description?gid=<%= ginfo[n].gid %>"> <%= ginfo[n].gb_asmbly %></a></td>
        <td class='linkout center' nowrap ><a href='/taxa/tax_description?gid=<%= ginfo[n].gid %>&otid=<%= ginfo[n].otid %>'><%= taxidfullname %></a></td>
        <td class='tax_name' title='<%= ginfo[n].genus %>'><a href='/taxa/life?rank=genus&name=<%= ginfo[n].genus %>&gid=<%= ginfo[n].gid %>'><em><%= ginfo[n].genus %></em></a></td>
        
        <td class='tax_name' title="<%- ginfo[n].species %> <%- ginfo[n].subspecies %>"><a href='/taxa/tax_description?otid=<%= ginfo[n].otid %>&gid=<%= ginfo[n].gid %>'><em><%- ginfo[n].species %></em>
        <%- ginfo[n].subspecies %></a></td>
        
        <td class='tax_name'><em><%= ginfo[n].strain %></em></td>
        <td class='tax_name'></td>
        <td class='center'><%= ginfo[n].ncontigs %></td>
        <td class='center'><%= ginfo[n].tlength %></td>
    
        <td class='center'><%= ginfo[n].gc %></td>
        <% gc2 = (parseFloat(ginfo[n].gc)/100).toFixed(2) %>
        <td class='center' nowrap><a class='pill pill-indigo' href='/taxa/tax_description?gid=<%= ginfo[n].gid %>&otid=<%= ginfo[n].otid %>'>Taxon Info</a>
            <a class='pill pill-khaki' href='genome_description?gid=<%= ginfo[n].gid %>&otid=<%= ginfo[n].otid %>'>Genome Info</a>
            <!-- <a class='pill pill-lightseagreen' href='<%= cfg.JBROWSE_URL %>/<%= ginfo[n].gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,homd,GCContent,GCSkew' target='_blank' rel="noopener noreferrer">Genome ViewerO</a> -->
          <!-- <a class='pill pill-lightseagreen' href='#' onclick="open_jbrowse_in_new_window('<%= ginfo[n].gid %>|<%= ginfo[n].gc %>')">Genome Viewer</a> -->
        <a class='pill pill-lightseagreen' href='#' onclick="open_jbrowse('<%= ginfo[n].gid %>','genome_table','<%= ginfo[n].gc %>')">Genome Viewer</a>
        
           <form name='' class="form-inline" method='POST' action='blast_ss_single'>
             <input type='hidden' name='gid' value='<%= ginfo[n].gid %>'>
             <input type='hidden' name='annotation' value='prokka'>
             <input type='submit' class='pill pill-midnightblue' value='BLAST'>
           </form>
       
          <!--  <a class='pill pill-midnightblue' href='/genome_blast_single?gid=<%= ginfo[n].gid %>' target='_blank'>BLAST</a> -->
       
            </td>
        
            <td class='center'>
            <a class='pill pill-mediumorchid' href='explorer?gid=<%= ginfo[n].gid %>&anno=prokka'>PROKKA</a>
            <a class='pill pill-slateblue' href='explorer?gid=<%= ginfo[n].gid %>&anno=ncbi'>NCBI</a>
            <!-- <span class="badge badge-light">HOMD</span></td> -->
      </tr>
      <% rowcount = rowcount + 1 %>
    <% } %>

    </tbody>
    <% } %>
    </table>
</div>  <!-- end genome-box -->
    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>

<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
    mainmenu()  // function in public/js/menu.js
    var letter = '<%- fltr.letter %>'
    var gid = '<%- filtergid %>'
    var filter_on = '<%- filter_on %>'
    var jb_path = '<%- cfg.JBROWSE_URL %>'
    if(letter){
      document.getElementById(letter).style.color = 'red'
      document.getElementById(letter).style.fontSize = 'medium'
      document.getElementById(letter).style.textDecoration = 'underline'
    }
    if(filter_on === 'on'){
       document.getElementById('reset').style.color = 'orange'
       document.getElementById('reset').style.background = 'black'
       document.getElementById('reset').style.cursor = 'pointer'
    }
    //scrollto
    table = $('gnom-table')
    tableContainer = $('#genome-box')
    //otid = '325'
    row = $('#'+gid.split('.')[0])  // MUST remove the '.' for id
    // scroll 2 more rows == 41 x2 ==164
    extra = 60
    if(row.length) {
      //console.log(row.offset().top);
      ///console.log(tableContainer.height()/2);
      tableContainer.scrollTop(row.offset().top - (tableContainer.height()/2) - extra)
    }

//console.log('gid',gid)
   document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  '#genome-box').style.visibility = "hidden";
                document.querySelector(
                  "#loader").style.visibility = "visible";
                
            } else {
                document.querySelector(
                  "#loader").style.display = "none";
                document.querySelector(
                  '#genome-box').style.visibility = "visible";
                
                  
            }
        };
</script>

