<style>
.form-inline {
  display: inline;
  
}
#table_div {
  
  border:1px solid grey;
  padding:10px 10px;
}
#outer_genome_table{
    width:100%;
    /* border:1px solid red; */
}
#outer_genome_table td{
    
    vertical-align:top;
    padding:10px 40px;
}
#gnomdesc-table-chars{
  width:100%;
  /* padding-right:10px; */
  border:1px solid black;
  background:lightgrey;
  border-collapse:collapse;
}
#gnomdesc-table-chars td{
  padding:5px 3px;
  border:1px solid darkgreen;
  width:50%;
}
#gnomdesc-table-chars th{
  padding:15px;
  background:white;
  border:1px solid darkgreen;
}
#gnomdesc-table-ncbi{
  width:100%;
  /* padding:10px; */
  border:1px solid black;
  background:lightgrey;
  border-collapse:collapse;
}
#gnomdesc-table-ncbi td{
  padding:5px 3px;
  border:1px solid darkgreen;
  width:50%;
}
#gnomdesc-table-ncbi th{
  padding:15px;
  background:white;
  border:1px solid darkgreen;
}
.field{
  background:#f3d17c;  /* 9ca590; */
}
.value{
  background:#d0edef; 
  }
.inner-value{
   
}
.gd-button{
  background-color: lightgrey;
  color: black;
  padding:3px 5px;
  text-decoration: none;
  font-size:small;
  border-radius:3px;
  border:1px solid darkgreen;
  cursor:pointer;
}
#header_buttons{
   padding:5px 0;
}
</style>
<%- include('../../partials/header_html'); %>
<% ginfo = JSON.parse(data1) %>
<% contigs = JSON.parse(contigs) %>
<link rel="stylesheet" href="/css/genome_pages.css" >
<link href="/css/select2.min.css" rel="stylesheet" /> 
<% taxidfullname = ("000" + ginfo.otid).slice(-3); %>
<% taxidfullnameplus = "HMT-"+taxidfullname; %>
<% gc2 = (parseFloat(ginfo.gc)/100).toFixed(2) %>
<% var cfg = JSON.parse(config) %> 
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
<span class='back_btn' ><a href='/genome/genome_table'>Back To Genome Table</a></span>     
<center>    
        
        <div class='title'>Genome Meta Information: 
        <i><%= ginfo.genus %> <%= ginfo.species %></i> <%= ginfo.strain_or_isolate %> (<%= ginfo.gb_assembly %>)</div>

<% if(Object.keys(ginfo).length ==0 ) { %>
    <br><br>No Data Found for Genome: <%= gid %>        
<% }else{ %>
    
    <div id='header_buttons' >
     <a class='gd-button' href='/taxa/tax_description?otid=<%= ginfo.otid %>'>Taxon Page: (<%= taxidfullnameplus %>)</a>
     <!-- <a class='gd-button' href="<%= cfg.JBROWSE_URL %>/<%= ginfo.gid %>&tracks=DNA,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GC Content (pivot at <%= gc2 %>),GC Skew" target='_blank' rel="noopener noreferrer">Genome Viewer</a> -->
     <a class='gd-button' href='#' onclick="open_jbrowse('<%= ginfo.gid %>','explorer','<%= gc2 %>')">Genome Viewer</a>
        
     <form name='' class="form-inline" method='POST' action='blast_ss_single'>
         <input type='hidden' name='gid' value='<%= ginfo.gid %>'>
         <input type='hidden' name='annotation' value='prokka'>
         <input type='submit' class='gd-button' value='BLAST'>
     </form>
     <!-- <a class='gd-button' href='/genome_blast_single?gid=<%= ginfo.gid %>' target='_blank'>BLAST</a> -->
     
     <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=prokka'>PROKKA Annotation</a>
     <a class='gd-button' href='explorer?gid=<%= ginfo.gid %>&anno=ncbi'>NCBI Annotation</a>
    </div>
    <div id='table_div' >                       

<table id='outer_genome_table' >
<tr><td>
<table id='gnomdesc-table-chars' class="table gnomdesc-table" border='0' >
    <tr class="header" ><th colspan='2'>Genome Characteristics</th></tr>
    <tr class="header" ><th>Fields</th><th>Values</th></tr>
    <tr class=""><td class='field'>HOMD Genome-ID</td><td class='value'><span class='inner-value'><%= ginfo.gb_assembly %></span></td></tr>
    <tr class=""><td class='field'>HOMD Taxon-ID</td><td class='value'><span class='inner-value'><a href='/taxa/tax_description?otid=<%= ginfo.otid %>'><%= taxidfullnameplus %></a></span></td></tr>
    <tr class=""><td class='field'>Organism Name (as deposited)</td><td class='value'><span class='inner-value'><i><%= ginfo.organism %></i></span></td></tr>
    <tr class=""><td class='field'>Organism Name (in use)</td><td class='value'><span class='inner-value'><i><%= ginfo.genus %> <%= ginfo.species %></i></span></td></tr>
    <tr class=""><td class='field'>Strain or Isolate</td><td class='value'><span class='inner-value'><%= ginfo.strain_or_isolate %></span></td></tr>
     
    <tr class=""><td class='field'>Sequencing Technology</td><td class='value'><span class='inner-value'><%= ginfo.seqtech %></span></td></tr>
    <tr class=""><td class='field'>Genome Coverage</td><td class='value'><span class='inner-value'><%= ginfo.coverage %></span></td></tr>
    <tr class=""><td class='field'>Contigs and Singlets</td>
    <td class='value'><span class='inner-value'>
       <% if(contigs.length == 0){ %>
          no contigs found (localhost only) <!-- localhost only -->
       <% } else if(contigs.length == 1){ %>
          <span id='select-contig'><%= contigs[0].contig %></span>
          <small>
          [<a href='#' onclick="open_jbrowse('<%= ginfo.gid %>','genome_desc_single')">Open in Genome Viewer</a>]
          &nbsp;&nbsp;[<a href='#' onclick="open_ncbi('single')">Linkout to NCBI</a>]
          </small>
       <% }else{ %>
          <%= ginfo.ncontigs %>
          <select id='select-contig' style='width: 200px;'>
          <% for(n in contigs){ %>
             <option value='<%= contigs[n].contig %>|<%= contigs[n].gc %>'><%= contigs[n].contig %></option>
          <% } %>
          </select>
          <small>
          [<a href='#' onclick="open_jbrowse('<%= ginfo.gid %>','genome_desc')">Open in Genome Viewer</a>]
          &nbsp;&nbsp;[<a href='#' onclick="open_ncbi('select')">Linkout to NCBI</a>]
          </small>
       <% } %>
    </span></td></tr>
    
    <tr class=""><td class='field'>Total Sequence Length</td><td class='value'><span class='inner-value'><%= ginfo.tlength %> (bp)</td></tr>
    <tr class=""><td class='field'>GC Percentage</td><td class='value'><span class='inner-value'><%= ginfo.gc %></span></td></tr>
    <tr class=""><td class='field'>CheckM</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>CheckM2</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>MAG (Metagenome-Assembled Genome)</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>5S Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>16S Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>23S Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>tRNA Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class="">
      <td class='field'>CRISPR-cas</td>
       <% if(crispr === 0){ %>
           <td class='value'><span class='inner-value'><small>No Available Data</small></span></td>
       <% }else{ %>
          <td  class='value'><span class='inner-value'>
              <% if(crispr === "A"){ %>
                 Ambiguous
                 [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= ginfo.gid %>" target='_blank'>HOMD FTP Site</a>]
              <% }else{ %>
                 <% if(crispr === 1){ %>
                    <%= crispr %> Contig
                 <% }else{ %>
                    <%= crispr %> Contigs
                 <% } %>
                 [<a href='crispr_cas_data?gid=<%= ginfo.gid %>'>View</a>]
                 [<a href="<%= cfg.FTP_URL %>/genomes/CRISPR_Cas/CCTyper/<%= ginfo.gid %>" target='_blank'>HOMD FTP Site</a>]
              <% } %>
             
             
           </span></td>
       <% } %>
    </tr>
</table>
</td>  </tr><tr>  <td>
<table id='gnomdesc-table-ncbi' class="table gnomdesc-table" border='0' >

    <tr class="header" ><th colspan='2'>NCBI Genome Metadata</th class='value'></tr>
    <tr class="header" ><th>Fields</th><th>Values</th></tr>
    <tr class=""><td class='field'>Genome Assembly Name</td><td class='value'><span class='inner-value'><%= ginfo.ncbi_assembly_name %></span></td></tr>
    <tr class=""><td class='field'>GenBank Assembly Accession</td>
       <td class='value'><span class='inner-value'><%= ginfo.gb_assembly %>
         &nbsp;&nbsp;[<a title='National Center for Biotechnology Information' href='https://www.ncbi.nlm.nih.gov/datasets/genome/<%= ginfo.gb_assembly %>' target='_blank' rel="noopener noreferrer">NCBI</a>]
         &nbsp;&nbsp;[<a title='Genome Taxonomy Database' href='https://gtdb.ecogenomic.org/genome?gid=<%= ginfo.gb_assembly %>' target='_blank' rel="noopener noreferrer">GTDB</a>]
       </span></td>
    </tr>
    
    <tr class=""><td class='field'>RefSeq Assembly Accession</td>
       <td class='value'><span class='inner-value'><%= ginfo.refseq_assembly %>
         &nbsp;&nbsp;[<a title='National Center for Biotechnology Information' href='https://www.ncbi.nlm.nih.gov/datasets/genome/<%= ginfo.refseq_assembly %>' target='_blank' rel="noopener noreferrer">NCBI</a>]
       </span></td>
    </tr>
    <tr class=""><td class='field'>BioSample</td>
      <td class='value'><span class='inner-value'><%= ginfo.ncbi_biosample %>
        &nbsp;&nbsp;[<a href='https://www.ncbi.nlm.nih.gov/biosample/<%= ginfo.ncbi_biosample %>' target='_blank' rel="noopener noreferrer">NCBI</a>]
      </span></td>
    </tr>
    <tr class=""><td class='field'>BioProject</td>
      <td class='value'><span class='inner-value'><%= ginfo.ncbi_bioproject %>
        &nbsp;&nbsp;[<a href='https://www.ncbi.nlm.nih.gov/bioproject/?term=<%= ginfo.ncbi_bioproject %>' target='_blank' rel="noopener noreferrer">NCBI</a>]
      </span></td>
    </tr>
    <tr class=""><td class='field'>Submitter</td><td class='value'><span class='inner-value'><%= ginfo.submitter %></span></td></tr>
    <tr class=""><td class='field'>Date Submitted</td><td class='value'><span class='inner-value'><%= ginfo.date %></span></td></tr>
    <tr class=""><td class='field'>Assembly Type</td><td class='value'><span class='inner-value'><%= ginfo.assembly_type %></span></td></tr>
    <tr class=""><td class='field'>Assembly Method</td><td class='value'><span class='inner-value'><%= ginfo.method %></span></td></tr>
    <tr class=""><td class='field'>Assembly Level</td><td class='value'><span class='inner-value'><%= ginfo.assembly_level %></span></td></tr>
    
    <tr class=""><td class='field'>Sequencing Status</td><td class='value'><span class='inner-value'><%= ginfo.status %></span></td></tr>
    
    <tr class=""><td class='field' title='Whole Genome Sequence'>WGS Project</td><td class='value'><span class='inner-value'><a href='https://www.ncbi.nlm.nih.gov/Traces/wgs/<%= ginfo.wgs %>' target='_blank' rel="noopener noreferrer"><%= ginfo.wgs %></span></a></td></tr>
    <tr class=""><td class='field'>NCBI TaxID</td><td class='value'><span class='inner-value'><a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=<%= ginfo.ncbi_taxonid %>' target='_blank' rel="noopener noreferrer"><%= ginfo.ncbi_taxonid %></a></span></td></tr>
    <tr class=""><td class='field'>Version Status</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Isolation Source</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>CDS Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Country</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Isolate</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Isolation Source</td><td class='value'><span class='inner-value'><%= ginfo.isolate_origin %></span></td></tr>
    <tr class=""><td class='field'>Latitude / Longitude</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Molecule Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Refseq Category</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Sequence Release Date</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Spanned Gaps</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Species Taxid</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>SSU Count</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Total Gap Length</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>translation_table</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>tRNA Count (total)</td><td class='value'><span class='inner-value'></span></td></tr>
    <tr class=""><td class='field'>Genome Representation</td><td class='value'><span class='inner-value'><%= ginfo.genome_rep %></span></td></tr>
     
</table>
</td></tr>
</table>  <!-- Outer table -->

<% } %>
</div>
</center>

    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
  $(document).ready(function(){
 
    // Initialize select2
    $("#selContig").select2();

  });
</script>

