<%- include('../../partials/header_html'); %>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	
	    
		<div class='wide-content' id="">  					
			  <br>
			  <!-- <a href='#' onclick='open_jbrowse()'>JBrowse CONTENT</a> -->
			  
			
			<div id='genome_choices'>
			<select onchange='change_genome(this.value)'>
			 <option>Choose...</option>
			 <option id='' value='SL4.0'>SL4.0</option>
			 <option id='' value='GRCh38'>GRCh38</option>
			</select>
			
			</div>
			
			<div id="jbrowse_linear_view"></div>
			
			<script  type="module">
			  import assembly from '/jbrowse/js/assembly_<%- gnom %>.js';
			  import tracks from '/jbrowse/js/tracks_<%- gnom %>.js';
			  const genomeView = new JBrowseLinearView({
				container: document.getElementById('jbrowse_linear_view'),
				assembly,
				tracks,
				
			  });
			 const textArea = document.getElementById('viewstate')
			  document.getElementById('showviewstate').addEventListener('click', () => {
				textArea.innerHTML = JSON.stringify(genomeView.view, undefined, 2)
			  })

			</script>
			<button id="showviewstate">Show view state</button>
    		<textarea id="viewstate" name="viewstate" rows="20" cols="80"></textarea>
			<!-- <script type="text/javascript" src="/jbrowse/js/jbrowse-linear-view.js"</script> -->
		</div> <!-- end: wide-content -->
		
    </div> <!-- end: page-content -->
     
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script src="//s3.amazonaws.com/jbrowse.org/jb2_releases/jbrowse-linear-view/jbrowse-linear-view@v0.0.1-beta.0/umd/jbrowse-linear-view.js"></script>



