<style>
            
#genome_choices{
  padding:20px 0 20px 50px;
  margin-top:100px;
  border:1px solid grey;
  background:#C1E1C1;  /* #ffc0cb; */
}
#iframe_div{

}	
</style>
<%- include('../../partials/header_html'); %>
<% gn = JSON.parse(genomes) %>

<% %>
<link href="/css/select2.min.css" rel="stylesheet" /> 
<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		
			 
		   

		 	
<div id='genome_choices'>
<span nowrap>Search and Select a Genome from a Total of <%= tgenomes %> (JBrowse opens in a New Window)</span>
<select id='selGenome' style='width: 800px;' onchange='open_jbrowse_in_new_window(this.value)'>
     <option id='' name='none' value='0'>Choose...</option>
     <% for(i in gn){ %>
		<option id='' name='gnom' value='<%= gn[i].gid %>|<%= gn[i].gc %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
	<% } %>
</select>


<br/>
<div id='result'></div>
</div>
		
    </div> <!-- end: page-content -->
     
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>
<script>
  mainmenu()
  var gid = '<%- gid; %>'
  var gc = '<%- gc; %>'
  if(gid){
     
     open_jbrowse_in_new_window(gid+'|'+gc)
  }
  $(document).ready(function(){
 
  // Initialize select2
  $("#selGenome").select2();

  
});
</script>


