<style>
            
#genome_choices{
  padding:10px 0 10px 50px;
  border:1px solid grey;
}
#iframe_div{

}	
</style>
<%- include('../../partials/header_html'); %>
<% gn = JSON.parse(genomes) %>

<% %>

<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		
			 
		   
		  <div id='genome_choices'>
		    <span nowrap>Select a Genome: 
			<select id='gnom_select' class='dropdown' name='gnom_select' onchange='change_genome_4_jbrowse(this.value)'>
			 Select a Genome:
			 <option id='' name='none' value='none'>Choose...</option>
			 <% for(i in gn){ %>
			 	<option id='' name='gnom' value='<%= gn[i].gid %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
			 <% } %>
			</select> from a total of <%= tgenomes %>
		   </span>
		  </div>
		 	
		  
           <div id='iframe_div' >
			   <center><h3>JBrowse <span id='gid-label'></span>
			   
			   </h3></center><span id='open_new_window'></span>
				<iframe id='genome_iframe' width='100%' height=20
				></iframe>
           </div>
			
		
		
    </div> <!-- end: page-content -->
     
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  var gid = '<%- gid; %>'
  if(gid){
     change_genome_4_jbrowse(gid)
  }
</script>


