<%- include('../../partials/header_html'); %>
<% gn = JSON.parse(genomes) %>

<style>
            
#genome_choices{
  padding:10px 0 10px 100px;
}
	
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
		<%- include('../../partials/navbar'); %>
	</div>
	<div id='' class='page-content'>
	
	    
		<div class='wide-content' id="">  					
		  <br>
			 
		  <span>Select a Genome:</span>	  
		  <!-- <form id='load_genome_form' name='' action='/genomes/jbrowse' method='POST'>	 -->
		  <div id='genome_choices'>
			<select id='gnom_select' name='gnom_select' onchange='change_genome2(this.value)'>
			 Select a Genome:
			 <option id='' name='none' value='none'>Choose...</option>
			 <% for(i in gn){ %>
			 	<option id='' name='gnom' value='<%= gn[i].gid %>'><%= gn[i].gid %> <%= gn[i].genus %> <%= gn[i].species %> <%= gn[i].ccolct %></option>
			 <% } %>
			</select> from a total of <%= tgenomes %>
		  <!-- </form> -->	
		  </div>
		  
		  
           <div id='iframe_div' style="width: 100%; margin: 0 auto;">
			   <center><h2>Embedded JBrowse2</h2></center>
				<iframe id='genome_iframe' width='100%' height=0
				></iframe>
           </div>
			
		</div> <!-- end: wide-content -->
		
    </div> <!-- end: page-content -->
     
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>



