<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

#peptide-table{
   border-collapse:collapse;
}
#peptide-table td{
   border:1px solid black;
   padding:0 2px;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/genome_pages.css" >
<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>


<body>
    
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    
  
  
     
<div id='table-box' >

     <table id='peptide-table' class='table table-hover table-condensed sortable' >
     <thead>
      <tr>
        <th scope="colx" nowrap>PID</th>
        <th scope="colx" nowrap>Taxon-ID</th>
        <th scope="colx" nowrap>Organism</th>
        <th nowrap>Peptide</th>
        <th nowrap>Gene Product</th>
        
       
      </tr>
     </thead>
     <tbody>
     <% for(n in list){ %>
     <% taxidfullname = 'HMT-'+("000" + list[n]['otid']).slice(-3); %>
       <tr>
       <td><%= list[n]['pid'] %></td>
       <td><a href='/taxa/tax_description?gid=<%= list[n]['sid'] %>&otid=<%= list[n]['otid'] %>'><%= taxidfullname %></a></td>
       <td><%= list[n]['organism'] %></td>
       <td><%= list[n]['peptide'] %></td>
       <td><%= list[n]['product'] %></td>
       </tr>
     <% } %>
     </tbody>
     </table>
     
</div>  <!-- end: table-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
</script>



