<link rel="stylesheet" type="text/css" href="/css/genome_pages.css" >
<style>
/* Fix the tax table header */
thead th { position: sticky; top: 0; }

/* 
table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}
 */

#peptide-table {
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
  width:100%;
}
#peptide-table th{
  color:white;
  background: var(--table-header-bg);
  padding:5px;
  font-size:13px;
  text-align: center;
  
}
#peptide-table td{
  padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}
#peptide-box{
   height:700px;
   overflow:auto;
   padding:10px 10px 20px 10px;
   border:1px solid gray;
   margin-top:5px;
}
#peptide-table .badge{
  
  font-size:0.8em;
  
}

#peptide-table tr:nth-child(even) { 
    background-color: #bccd9c; 
 } 
 #peptide-table tr:hover { 
    background-color: #dce7f5; 
 } 
.col1{
   width: 130px;
}
.col2{
   width: 100px;
}
</style>

<%- include('../../partials/header_html'); %>

<% list = JSON.parse(data) %>
<% var cfg = JSON.parse(config) %> 

<body>
    
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    <div class='title'>Genomes with proteins/peptides detected in human salivary proteome</div>
  
 
     
<div id='peptide-box' >
     <small>row count: <%= row_count %></small> <small style='float:right;'>* HSP: Human Salivary Proteome <a href='https://salivaryproteome.org' target='_blank'>https://salivaryproteome.org/</a></small>
     <table id='peptide-table' class='table table-hover table-condensed sortable' style='background: lightgrey;'>
     <thead>
      <tr>
        <th class="col1" title='GenomeID' nowrap>HOMD<br>Sequence ID</th>
        <th class="col1" title='GenomeID' nowrap>Link to<br>Peptides Table</th>
        <th class="col2" nowrap>Taxon-ID</th>
        <th scope="colx" nowrap>Organism</th>
        <th nowrap>Studies</th>
        <th nowrap>Number of Proteins<br>Detected in HSP*</th> 
        <th nowrap>Number of Peptides<br>Detected in HSP*</th>
        
       
      </tr>
     </thead>
     <tbody>
     
     <% for(n in list){ %>
       <% gid = list[n].gid %>
       <% otid = list[n].otid %>
       <% org = list[n].org %>
       <% taxidfullname = 'HMT-'+("000" + list[n]['otid']).slice(-3); %>
       
       
       <tr>
       <td><a href='genome_description?gid=<%= gid %>'><%= gid %></td>
       <td><a href='peptide_table3?gid=<%= gid %>'>open</td>
       <td class='center'><a href='/taxa/tax_description?gid=<%= gid %>&otid=<%= otid %>'><%= taxidfullname %></a></td>
       <td title='<%= org %>'><a href='genome_description?gid=<%= gid %>'><%= org %></a></td>
       <td class='center'><%= list[n].studies %></td>
       <td class='center'><%= list[n].prot_count %></td>
       <td class='center'><%= list[n].pep_count %></td>
       </tr>
     <% } %>
     </tbody>
     </table>
     
</div>  <!-- end: table-box -->
   
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script>
  mainmenu()
  var jb_path = '<%- cfg.JBROWSE_URL %>'
</script>



