<style>
</style>
<link rel="stylesheet" href="/css/admin.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Login</div>
       <%- include('../../partials/flash'); %>
       <%- include('../../partials/under_construction'); %>
       <%- include('../../partials/account_info'); %>
       
       
       <div id='form_div' class='form_div table' >All fields are required
       <br>
       <form action="/admin/login" method="POST">   
       
          <p>
              <label>Username:</label>
              <input type="text" id='username' name="username"/>
          </p>
          
          <p>
              <label>Password:</label>
              <input type="password" id='password' name="password"/>
          </p>
          <p>
              <input type="submit" value="Log In"/> <!-- <small><a href="forgot">Forgot Password?</a></small> -->
          </p>
          <input type='hidden' name='return_to_url' value=''/>
      </form>
      
      </div>
      <br>
      <p>Need an account? <a href="/user/signup">Signup</a></p>
      

      <p>Reset/change password or username: Email us with request: avoorhis@mbl.edu
      </p>
  
      

    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


