<style>
</style>
<link rel="stylesheet" href="/css/admin.css">
<% u = JSON.parse(user) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    <div class='page-content' >
              
       <div class='title'>User Profile (ID: <%- u.user_id %>)</div>
       <%- include('../../partials/flash'); %>
       <%- include('../../partials/under_construction'); %>
       <%- include('../../partials/account_info'); %>
       
       
    <div class='form_div'>
    <table id='admin-table' border='1'>
    <% for(i in u){ %>
       <% if(["encrypted_password","current_sign_in_at","active"].indexOf(i) === -1){ %>
       <tr><td><%= i %></td><td><%= u[i] %></td></tr>
    <% } %> <% } %> 
    </table>
    <br>
    
    
    <br>Reset or change password or username:
    Email us with request: avoorhis@mbl.edu
     
    <br>
    
    <a href='/admin/update_account_info'>To change your name, email, or institution with HOMD</a></li>
    
    
    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


