<style>
</style>
<link rel="stylesheet" href="/css/admin.css">
<% u = JSON.parse(user) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Update Account Information</div>
    <%- include('../../partials/flash'); %>
    <form id='updateuser_form' name='updateuser_form' method='POST' action='/admin/update_account_info' >
    <div id='form_div' class='form_div table' >
      <br><br>
      <ul>
      <li> <input id='username'  maxlength='20'  readonly="readonly"  style='background:lightgrey;'    name='username'   type="text"   value='<%= u.username %>'  \> Username 
           <span class='small'>(Not Editable)</span>
      </li>
      
      <li> <input id='firstname' maxlength='30'    name='firstname'  type="text"  value='<%= u.first_name %>'   \> First Name (30 chars max)</li>
      <li> <input id='lastname'  maxlength='30'    name='lastname'   type="text"  value='<%= u.last_name %>'   \> Last Name (30 chars max)</li>
      <li> <input id='email'   maxlength='50'      name='email'      type="text"  value='<%= u.email %>'   \> Email <span class='tiny_font'>(must be correct email format; 50 chars max)</span></li>
      <li> <input id='institution' maxlength='50'  name='institution'type="text"  value='<%= u.institution %>'   \> Institution (50 chars max)</li>
      <br>
      </ul>
      <input    type="submit" value='Update' \>
      <input id='user_id' name='user_id' type='hidden' value='<%= u.user_id %>' \>
    </form>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


