<style>
thead th { position: sticky; top: 0; }
body {
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
}
html, body { min-height: 100%; }
table{
   border-collapse:collapse;
   margin:5px 0;
   width:90%;
}
table th{
   border:1px solid black;
   padding:3px 4px;
}
table td{
   border:1px solid black;
   padding:1px 4px;
}

.result-table.sortable tbody {
    counter-reset: sortabletablescope;
}
.result-table.sortable thead tr::before {
    content: "row#";
    display: table-cell;
    width:30px;
    /* padding-left:1px; */
    vertical-align: middle;
    
    
    padding:5px;
    font-size:13px;
    text-align: center;
}
.result-table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align:right;
    font-size:small;
}

.search-box{
   height:900px;
   width:100%;
   overflow:auto;
   margin:0px 0px;
   padding:10px 10px;
   background:lightgreen;
   border:1px solid black;
   
}
.outlier-max{
    padding:20px;
    width:450px;
    background:brown;
    color:ivory;
}
.outlier-zero{
    padding:20px;
    width:450px;
    background:orange;
    color:black;
}

#srch_txt{
   color:purple;
}

.search_link{
   color:blue;
}
.search_link:hover{
   color:maroon;
   cursor:pointer;
}
.search-text-div{
    padding:8px;
    font-size:18px;
    
}
#anno-result{
   display:none;
   margin-top:10px;
   padding:20px;
   text-align:center;
   position:absolute;
   top:280px;
   width:84%;
   
   background:gold;
   border:1px solid grey;
   
}
#phage-result{
   display:none;
   margin-top:10px;
   padding:20px;
   text-align:center;
   position:absolute;
   top:280px;
   width:84%;
   
   background:gold;
   border:1px solid grey;
   
}
#phage-table2{
    table-layout: fixed;
    width:100%;
}
#phage-table2 th{
   background:#eee;
}
#phage-table2 td {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#phage-hit-results-div{
    height:720px;
    overflow:auto;
}
#close_btn{
   color:red;
   background:ivory;
   padding:5px;
   border:1px solid grey;
   text-decoration:underline;
   letter-spacing: 1px; 
}
#anno-result{
   display:none;
   margin-top:10px;
}
.center{
   text-align:center;
}
.c1{
    width:90px;
    text-align:center;
}
.c2x{
    max-width:50px;
    text-align:center;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
#show-all-form{
   display:inline;
}
#loader {
    background: url('/images/loading.gif') no-repeat center center;
    position: absolute;
    background-size: 100px 100px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.search-box-loading{
    display:none;
}
</style>
<%- include('../partials/header_html'); %>
<% var otids = JSON.parse(otid_list) %>

<% var gids = JSON.parse(gid_list) %>
<% var lineageids = JSON.parse(taxon_otid_obj) %>
<% anno_sort_lst = JSON.parse(anno_sort_list)  %>
<% no_ncbi_annotation = JSON.parse(no_ncbi_annot) %>
<% anno_list2 = JSON.parse(annotationList2)  %>

<% phage_sort_lst = JSON.parse(phage_sort_list)  %>
<% phage_list = JSON.parse(phageList)  %>
<% plookup = JSON.parse(phage_lookup)  %>
<% phageid_list = JSON.parse(phage_id_list) %>

<% var cfg = JSON.parse(config) %> 
<% var search_type  = JSON.parse(form_type) %>  <!-- array of taxonomy, genomes or annotation and phage -->

<body>

   <div id="loader" class="center-loader" style='z-index:1'></div>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' > 
       <% if(search_type.length == 1){ %>
         <p class='title h3'><%= anno.toUpperCase() %> <%= search_type[0][0].toUpperCase() + search_type[0].slice(1).toLowerCase(); %> Search Result  </p>
       <% }else{ %>
         <% 
           show = ''
           for(i in search_type){
             show += search_type[i][0].toUpperCase() + search_type[i].slice(1).toLowerCase() + ', '
           }
           show = show.slice(0,-2)
         %>
         <div class='title'> <%= show %> Search Result  </div>
       <% } %>
<!-- 'HMT-'+("000" + otid).slice(-3);  -->
     <span style='float:right;'><a href='advanced_site_search'>Search Again</a></span> 
     <center>
       <div class='search-text-div'>
         Search String: <span id='srch_txt'>"<%= search_text %>"</span> <small>(case insensitive)</small>
       </div>
     </center>
     
<% if(search_type.indexOf("taxonomy") != -1){ %>
        <br>xHits from Bacterial Taxon Names: <%= Object.keys(lineageids).length %> <span class='float-right small'></span>
        <% if( Object.keys(lineageids).length > 0 ){ %>
        <div class='search-box'>
        <% n = 0 %>
        <center><table class='result-table sortable'>
        <tr><th nowrap>HMT-ID</th><th>Species (click to sort)</th></tr>
        <% for(otid in lineageids){ %>
           <tr>
           <% n += 1 %>
           <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
           
           <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td> 
           <td><a href='/taxa/tax_description?otid=<%= otid %>'><%= lineageids[otid] %></a></td>
           </tr>
        <% } %>
        </table>
        </center>
        </div>
        <% } %>
        <hr> 
    
    
        Hits from Oral Taxon-ID Metadata: <%= otids.length %> <span class='float-right small'></span> 
        <% if( otids.length > 0 ){ %>
        <div class='search-box'>
        <center><table class='result-table sortable'>
        <tr><th nowrap>HMT-ID</th><th>Species (click to sort)</th></tr>
        <% for(n in otids){ %>
         <% otid = otids[n].otid %>
         <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
         <tr>
         
         <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
         <td><a href='/taxa/tax_description?otid=<%= otid %>'><%- otids[n].species %></a></td>
         </tr>
        <% } %>
        </table>
        </center>
        </div>
        <% } %>
        <hr>
        
        
        
        
<% } %>
  
<!-- Not Used: Uses basic instead -->
<% if(search_type.indexOf("genomes") != -1){ %> 
    Hits from Genome Metadata: <%= gids.length %> <span class='float-right small'></span>
    <% if( gids.length > 0 ){ %>
    <div class='search-box'>
    <center><table class='result-table sortable'>
    <tr><th nowrap>HMT-ID</th><th nowrap>Genome-ID</th><th>Species (click to sort)</th></tr>
    <% for(n in gids){ %>
       <% gid  = gids[n].gid %>
       <% otid = gids[n].otid %>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <tr>
       <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%- gids[n].species %></a></td>
       </tr>
    <% } %>
    </table>
    </center>
    </div>
    <% } %>
    <hr> 
<% } %>

    <!-- ANNOTATIONS ANNOTATIONS ANNOTATIONS ANNOTATIONS -->
<% if(search_type.indexOf("annotations") != -1){ %> 
    <div class='search-box-loading'>
    <%= anno.toUpperCase() %> Annotations 
    <% if(anno.toUpperCase() == 'BAKTA'){ %>
        <small>(Searches only Genome-IDs, Accessions(Contigs), Gene, Gene Product, bakta_EC, bakta_GO and bakta_COG):</small>
    <% }else{ %>
       <small>(Searches only Genome-IDs, Accessions(Molecule), Protein-IDs, Gene and Gene Product):</small>
    <% } %>
     <% if(anno_list2.hasOwnProperty("too_long")){  %>
        <br>Hits: ><%= max %>
    <% }else{ %>
        <br>Total Hits: <%= total_hits %>
        <br>Total Genomes: <%= anno_sort_lst.length %>
    <% } %>
    <br>
     
         <% if(anno_list2.hasOwnProperty("too_long")){  %>
               <center><div class='outlier-max'>Too Many Hits (><%= max %>). Try to refine your search. (Selected Annotation: <%= anno.toUpperCase() %>)</div></center>
         <% }else if(total_hits == 0){ %>
               <center><div class='outlier-zero'>Zero Hits (Selected Annotation: <%= anno.toUpperCase() %>)</div></center>
         <% }else{ %>
            <div style='float:right;font-size:12px;'>
                  <form name='' method='POST' action='/download/anno_search_data'>
                  <input type="hidden" id="anno_ids" name="anno_ids" value='<%= annotationList2 %>'>
                  <input type="hidden" id="anno" name="anno" value='<%= anno %>'>
                  <input type='hidden' name='search_text' value='<%= search_text %>' \>
                  
                  <input type="radio" checked name="format" value='csv'> [Table]&nbsp;&nbsp;
                  <% if(anno != 'bakta'){ %>
                    <input type="radio"         name="format" value='fasta_na'> [NA Fasta]&nbsp;&nbsp;
                  <% } %>
                  <input type="radio"         name="format" value='fasta_aa'> [AA Fasta]&nbsp;&nbsp;
                  <input class='pill pill-brown' type="submit" id="submit" name="submit" value='Download all Hits' >&nbsp;&nbsp;
                  <input type="radio" checked name="type" value='browser'> [Browser]&nbsp;&nbsp;
                  <input type="radio"         name="type" value='text'> [Text]&nbsp;&nbsp;
                  <input type="radio"         name="type" value='excel'> [Excel]&nbsp;&nbsp;
                  
                  </form>
            </div>
             <div id='anno-div' class='search-box'>
             <span class='search-text-div'>Selected Annotation: <%= anno.toUpperCase() %></span>
             
               
               <table id='anno-table' class='result-table sortable'>
               <tr>
                 <th>Genome-ID</th><th>Species (strain)</th>
                 
                 <th class='sorttable_nosort'># Hits</th>
                 <th class='sorttable_nosort'>Full Annotations</th>
               </tr>
        <% for(i in anno_sort_lst){ %>
            <% gid = anno_sort_lst[i].gid %>
            <tr id='<%= gid %>' class='anno-row'>
                <td nowrap class='center'><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a></td>
                <td><i><%= anno_list2[gid][0].species %></i> <%= anno_list2[gid][0].strain %></td>
                   
                <td nowrap class='center'>
                       <%= anno_list2[gid].length %>
                       <% data = JSON.stringify(anno_list2[gid]) %>
                       <!-- in search.js -->
                       <small>(<a href='#' onclick="show_anno_hits('<%= data %>','<%= anno %>','<%= gid %>')">view hits</a>)</small>
                </td>
                
                <td nowrap class='center'>
                  <a class='pill pill-mediumorchid' href='/genome/explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
                  <% if(no_ncbi_annotation.indexOf(gid) == -1 ){ %>
                    <a class='pill pill-slateblue' href='/genome/explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
                  <% }else{ %>
                    <span class='pill pill-grayed' title='NCBI Annotation Not Available' href=''>NCBI</span>
                  <% } %>
                </td>
            </tr>
        <% } %>
               </table>

             </div>
             <div id='anno-result'>hidden</div>
         <% } %>
     </div>
<% } %>


   <!--  PHAGE  PHAGE    PHAGE  PHAGE    PHAGE  PHAGE -->
<% if(search_type.indexOf("phage") != -1){ %> 
    <div class='search-box-loading'>
    <small>Searches only these fields:
             <li>contig, accession, description</li>
    </small>
    
     <% if(phage_list.hasOwnProperty("too_long")){  %>
        <br>Hits: ><%= max %>
    <% }else{ %>
        <br>Total Hits: <%= total_hits %>&nbsp;&nbsp;&nbsp;
        <form id='show-all-form' method='POST' action='show_all_phage_hits'>
        <input type="hidden" id="ids" name="big_list" value='<%= phage_sort_list %>' \>
        <input type='hidden' name='search_text' value='<%= search_text %>' \>
        <input type='hidden' name='total_hits' value='<%= total_hits %>' \>
        <% if(total_hits > 0 && total_hits < 5000 ){ %>
           <input type='submit' value='View All Hits in one Table' style='background:tan;text-decoration:underline;padding:0 5px;' \>
        <% } %>
        </form>
        <br>Total Genomes: <%= gid_count %>
    <% } %>
    <br>
    <% if(phage_list.hasOwnProperty("too_long")){  %>
               <center><div class='outlier-max'>Too Many Hits (><%= max %>). Try to refine your search.</div></center>
    <% }else if(total_hits == 0){ %>
               <center><div class='outlier-zero'>Zero Hits</div></center>
    <% }else{ %>
        <br>
        <div style='float:right;font-size:12px;'>
          <form name='' method='POST' action='/download/phage_search_data'>
          <input type="hidden" id="ids" name="ids" value='<%= phageid_list %>'>
          <input type='hidden' name='search_text' value='<%= search_text %>' \>
          
          
          <input type="radio" checked name="format" value='csv'> [Table]&nbsp;&nbsp;
          <input type="radio"         name="format" value='fasta'> [Fasta]&nbsp;&nbsp;
          <input class='pill pill-brown' type="submit" id="submit" name="submit" value='Download all Hits' >&nbsp;&nbsp;
          <input type="radio" checked name="type" value='browser'> [Browser]&nbsp;&nbsp;
          <input type="radio"         name="type" value='text'> [Text]&nbsp;&nbsp;
          <input type="radio"         name="type" value='excel'> [Excel]&nbsp;&nbsp;
          
          </form>
        </div>
        
        
        <div id='anno-div' class='search-box'>
           
                 
            <table id='phage-table' class='result-table sortable'>
            <tr>
                     <th>Genome-ID</th><th>Accession (contig)</th><th>Predictor</th><th>Species (strain)</th>
                     <th class='sorttable_nosort'>Hits</th>
                     
                     
            </tr>
            <% for(i in phage_sort_lst){ %>
                <% gid = phage_sort_lst[i].gid %>
                
                <% contig = phage_sort_lst[i].contig %>
                <% predictor = phage_sort_lst[i].predictor %>
                <tr><td><%= gid %></td><td><%= contig %></td><td><%= predictor %></td><td><%= phage_sort_lst[i].species %> (<%= phage_sort_lst[i].strain %>)</td>
                <td><a href='#' onclick="show_phage_hits('<%= gid %>','<%= contig %>','<%= phage_sort_lst[i].species %>','<%= predictor %>','<%= JSON.stringify(phage_sort_lst[i].hitlist) %>')">see <%= phage_sort_lst[i].hitlist.length %> hits</a></td>
                
                </tr>
            <% } %>
                   </table>
    
        </div>
        <div id='phage-result' >hidden</div>
    <% } %>
    </div>
<% } %>

    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
  </div>     
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/genomes.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->

<script>
  mainmenu()
  intext = '<%= search_text %>'
  var jb_path = '<%- cfg.JBROWSE_URL %>'
  var min_size = 3
  $(document).ready(function(){
      if(intext.length >= min_size){
         //get_annotations_counts_full(intext)    // sql from orf
         //get_annotations_counts_partial(intext)  // grep from files
      }else{
          document.getElementById('ncbi_count_div').innerHTML = 'word too small: < '+min_size.toString()+' chars.'
          document.getElementById('prokka_count_div').innerHTML = 'word too small: < '+min_size.toString()+' chars.'
      }
  });
   
   document.onreadystatechange = function() {
        // just three els to loader: this(js);css;html
        if (document.readyState !== "complete") {
            document.querySelector(
                '.search-box-loading').style.display = "none";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                '.search-box-loading').style.display = "block";
            document.querySelector(
                "#loader").style.visibility = "hidden";
            
        }
  };

  
  function close_anno_info(){
     
      document.getElementById('anno-result').style.display = 'none'
  };
  function close_phage_info(){
      
      document.getElementById('phage-result').style.display = 'none'
  }
  function open_genome_viewer(search_id){
    var args = {}
    args.search_id = search_id
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "submit_phage_data", true);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var response = xmlhttp.responseText;
            resp = JSON.parse(response)
            console.log('resp',resp[0])
            //https://www.homd.org/jbrowse/?data=homd_V11.02_phage_1.1/GCA_000008925.1&loc=GCA_000008925.1|CP000233.1:289940..329542&tracks=DNA,panggolin,cenote
            //https://www.homd.org/jbrowse/?data=homd_V11.02_phage_1.1/GCA_000008805.1&loc=GCA_000008805.1|AE002098.2:1099110..1136674&tracks=DNA,panggolin,genomad
            gid = resp[0].genome_id.toUpperCase()
            predictor = resp[0].predictor
            contig = resp[0].contig.toUpperCase()
            start = resp[0].start
            end = resp[0].end
            var jb = jb_path+'/'+gid+'&loc='+gid+'|'+contig+':'+start+'..'+end+'&tracks=DNA,panggolin,cenote,genomad'
            console.log(jb)
            window.open(jb, '_blank')
        }
    }
    xmlhttp.send(JSON.stringify(args));
    
  }
  function open_phage_sequence(search_id){
    var args = {}
    args.search_id = search_id
    var win = window.open("about:blank", null, "menubar=no,status=no,toolbar=no,location=no,width=900,height=300,scrollbars=yes");
    var doc = win.document;
    doc.open("text/html");
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", "open_phage_sequence", true);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var response = xmlhttp.responseText;
            resp = JSON.parse(response)
            console.log('resp',resp)
            text = '<pre>'
            text += '>' + resp.gid +' | Contig: ' + resp.contig +' | ' + resp.predictor + ' | ' + resp.org + ' | Seq Length:'+resp.length + 'bp\n'
            text += resp.html
            text += '</pre>'
            
            doc.write("<title>Phage Amino Acid Sequence</title><body><div style='overflow:auto; height:100%;'>"+text+"</div></body>");
            doc.close();
            
        }
    }
    xmlhttp.send(JSON.stringify(args));
    
  }
</script>
