<style>
body {
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
}
html, body { min-height: 100%; }
.result-table.sortable tbody {
    counter-reset: sortabletablescope;
}
.result-table.sortable thead tr::before {
    content: "row#";
    display: table-cell;
    width:30px;
    /* padding-left:1px; */
    vertical-align: middle;
    
    
    padding:5px;
    font-size:13px;
    text-align: center;
}
.result-table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
    text-align:right;
    font-size:small;
}
.search-box{
   height:250px;
   width:100%;
   overflow:auto;
   margin:0px 0px;
   padding:0px 10px;
   background:lightgreen;
   border:1px solid black;
}
.search-box-anno{
   height:600px;
   width:100%;
   overflow:auto;
   margin:0px 0px;
   padding:10px 10px;
   background:lightgreen;
   border:1px solid black;
   
}
.outlier-max{
    padding:20px;
    background:brown;
    color:ivory;
}
.outlier-zero{
    padding:20px;
    background:lightgreen;
    color:brown;
}
.loader-gif{
  height:20px;
  width:90px;
}
#srch_txt{
   color:purple;
}
table{
   /* font-size:small; */
   border-collapse:collapse;
   margin:5px 0;
   width:90%;
}
table th{
   border:1px solid black;
   padding:3px 4px;
}
table td{
   border:1px solid black;
   padding:1px 4px;
}
.search_link{
   color:blue;
}
.search_link:hover{
   color:maroon;
   cursor:pointer;
}
.search-text-div{
    padding:8px;
    font-size:18px;
    
}
#anno-result{
   display:none;
   margin-top:10px;
}
.center{
   text-align:center;
}
</style>
<%- include('../partials/header_html'); %>
<% var otids = JSON.parse(otid_list) %>
<% var gids = JSON.parse(gid_list) %>
<% var lineageids = JSON.parse(taxon_otid_obj) %>
<% anno_sort_lst = JSON.parse(sort_list)  %>
<% no_ncbi_annotation = JSON.parse(no_ncbi_annot) %>
<% anno_list2 = JSON.parse(annotationList2)  %>
<% var search_type  = JSON.parse(form_type) %>  <!-- array of taxonomy, genomes or annotation -->

<body>
   <!-- <div id="loader" class="center-loader" style='z-index:1'></div> -->
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' > 
       <% if(search_type.length == 1){ %>
         <div class='title'><%= search_type[0][0].toUpperCase() + search_type[0].slice(1).toLowerCase(); %> Search Result  </div>
       <% }else{ %>
         <% 
           show = ''
           for(i in search_type){
             show += search_type[i][0].toUpperCase() + search_type[i].slice(1).toLowerCase() + ', '
           }
           show = show.slice(0,-2)
         %>
         <div class='title'><%= show %> Search Result  </div>
       <% } %>
<!-- 'HMT-'+("000" + otid).slice(-3);  -->
     <span style='float:right;'><a href='advanced_site_search'>Search Again</a></span> 
     <center>
       <div class='search-text-div'>
         Search String: <span id='srch_txt'>"<%= search_text %>"</span> <small>(case insensitive)</small>
       </div>
     </center>
     
<% if(search_type.indexOf("taxonomy") != -1){ %>
        <br>Hits from Bacterial Taxon Names: <%= Object.keys(lineageids).length %> <span class='float-right small'></span>
        <% if( Object.keys(lineageids).length > 0 ){ %>
        <div class='search-box'>
        <% n = 0 %>
        <center><table class='result-table sortable'>
        <tr><th nowrap>HMT-ID</th><th>Species (click to sort)</th></tr>
        <% for(otid in lineageids){ %>
           <tr>
           <% n += 1 %>
           <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
           
           <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td> 
           <td><a href='/taxa/tax_description?otid=<%= otid %>'><%= lineageids[otid] %></a></td>
           </tr>
        <% } %>
        </table>
        </center>
        </div>
        <% } %>
        <hr> 
    
    
        Hits from Oral Taxon-ID Metadata: <%= otids.length %> <span class='float-right small'></span> 
        <% if( otids.length > 0 ){ %>
        <div class='search-box'>
        <center><table class='result-table sortable'>
        <tr><th nowrap>HMT-ID</th><th>Species (click to sort)</th></tr>
        <% for(n in otids){ %>
         <% otid = otids[n].otid %>
         <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
         <tr>
         
         <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
         <td><a href='/taxa/tax_description?otid=<%= otid %>'><%- otids[n].species %></a></td>
         </tr>
        <% } %>
        </table>
        </center>
        </div>
        <% } %>
        <hr> 
<% } %>
  
    
<% if(search_type.indexOf("genomes") != -1){ %> 
    Hits from Genome Metadata: <%= gids.length %> <span class='float-right small'></span>
    <% if( gids.length > 0 ){ %>
    <div class='search-box'>
    <center><table class='result-table sortable'>
    <tr><th nowrap>HMT-ID</th><th nowrap>Genome-ID</th><th>Species (click to sort)</th></tr>
    <% for(n in gids){ %>
       <% gid  = gids[n].gid %>
       <% otid = gids[n].otid %>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <tr>
       <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%- gids[n].species %></a></td>
       </tr>
    <% } %>
    </table>
    </center>
    </div>
    <% } %>
    <hr> 
<% } %>

<% if(search_type.indexOf("annotations") != -1){ %> 
    
    
    Annotations <small>(Searches only Genome-IDs, Accessions(Molecule), Protein-IDs, Gene and Gene Product (~20M records)):<span class='small'></span></small>
     <% if(anno_list2.hasOwnProperty("too_long")){  %>
        <br>Hits: ><%= max %>
    <% }else{ %>
        <br>Total Hits: <%= total_hits %>
        <br>Total Genomes: <%= anno_sort_lst.length %>
    <% } %>
    <br>
     
         <% if(anno_list2.hasOwnProperty("too_long")){  %>
               <center><div class='outlier-max'>Too Many Hits (><%= max %>). Try to refine your search. (Selected Annotation: <%= anno.toUpperCase() %>)</div></center>
         <% }else if(total_hits == 0){ %>
               <center><div class='outlier-zero'>Zero Hits (Selected Annotation: <%= anno.toUpperCase() %>)</div></center>
         <% }else{ %>
             <div id='anno-div' class='search-box-anno'>
             <span class='search-text-div'>Selected Annotation: <%= anno.toUpperCase() %></span>
             
               
               <table id='anno-table' class='result-table2 sortable'>
               <tr><th>Genome-ID</th><th>Species (strain)</th><th class='sorttable_nosort'># Hits</th><th class='sorttable_nosort'>Full Annotations</th></tr>
        <% for(i in anno_sort_lst){ %>
                <% gid = anno_sort_lst[i].gid %>
                <tr id='<%= gid %>' class='anno-row'>
                   <td nowrap class='center'><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a></td>
                   <td><i><%= anno_list2[gid][0].species %></i> <%= anno_list2[gid][0].strain %></td>
                   
                   <td nowrap class='center'>
                       <%= anno_list2[gid].length %>
                       <% data = JSON.stringify(anno_list2[gid]) %>
                       <small>(<a href='#' onclick="show_table('<%= data %>','<%= gid %>')">view hits</a>)</small>
                    </td>
                   <td nowrap class='center'>
            <a class='pill pill-mediumorchid' href='/genome/explorer?gid=<%= gid %>&anno=prokka'>PROKKA</a>
            <% if(no_ncbi_annotation.indexOf(gid) == -1 ){ %>
                <a class='pill pill-slateblue' href='/genome/explorer?gid=<%= gid %>&anno=ncbi'>NCBI</a>
            <% }else{ %>
                <span class='pill pill-grayed' title='NCBI Annotation Not Available' href=''>NCBI</span>
            <% } %>
                   </td>
                </tr>
        <% } %>
               </table>

             </div>
             <div id='anno-result'>hidden</div>
         <% } %>
     
<% } %>
    

    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
  </div>     
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->

<script>
  mainmenu()
  intext = '<%= search_text %>'
  var min_size = 3
  $(document).ready(function(){
      if(intext.length >= min_size){
         //get_annotations_counts_full(intext)    // sql from orf
         //get_annotations_counts_partial(intext)  // grep from files

      }else{
          document.getElementById('ncbi_count_div').innerHTML = 'word too small: < '+min_size.toString()+' chars.'
          document.getElementById('prokka_count_div').innerHTML = 'word too small: < '+min_size.toString()+' chars.'
      }
      
      
  });
  function close_anno(){
      //console.log('inclose')
      newbox = document.getElementById('anno-result')
      newbox.style.display = 'none'
      annobox.style.height = "800px"
  };
  
  function show_table(obj,gid){
     var data = JSON.parse(obj)
     //console.log('obj',data)
     //console.log('data[gid]',data[0])
     var html = '<center>'+gid+' | <i>'+data[0].species+'</i> | '+data[0].strain+'</center>'
     html += "<span style='float:right;'><a href='#' onclick=\"close_anno()\">close</a></span>"
     html += "<br><table>"
     html += "<tr><th>Accession</th><th>Protein-ID</th><th>Gene</th><th>Gene Product</th></tr>"
     annobox = document.getElementById('anno-div')
     selected_row = document.getElementById(gid)
     //console.log('selectedrow',selected_row)
     allrows = document.getElementsByClassName('anno-row')
     tblrows = document.getElementById("anno-table").rows
     //console.log('rowcount-tblrows',tblrows.length)
     //console.log('rowcount-allrows',allrows.length)
     //for(let i = 0; i < total_hits-1; i++){
     for(n in allrows){
         //console.log('allrows[n]',n,allrows[n])
        if(n <= allrows.length){
            allrows[n].style.background = "lightgreen";
        }
     }
     
     selected_row.style.background = "white";
     
     
     annobox.style.padding = "10px";
     annobox.style.height = "400px"
     
     //newbox = document.getElementById(gid+'-result')
     newbox = document.getElementById('anno-result')
     newbox.style.display = 'block'
     newbox.style.background = "lightblue";
     newbox.style.padding = "10px";
     for(n in data){
        html += "<tr>"
        html += "<td>"+data[n].acc+"</td>"
        html += "<td>"+data[n].pid+"</td>"
        html += "<td>"+data[n].gene+"</td>"
        html += "<td>"+data[n].prod+"</td>"
        html += "</tr>"
     }
     html += "</table>"
     newbox.innerHTML = html
  }
// document.onreadystatechange = function() {
//         if (document.readyState !== "complete") {
//             document.querySelector(
//                 '#genome-box').style.visibility = "hidden";
//             document.querySelector(
//                 "#loader").style.visibility = "visible";
//         } else {
//             document.querySelector(
//                 "#loader").style.display = "none";
//             document.querySelector(
//                 '#genome-box').style.visibility = "visible";
//         }
// };
</script>
