<style>
body {
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
}
html, body { min-height: 100%; }

.search-box{
   height:200px;
   width:100%;
   overflow:auto;
   margin:0px 0px;
   padding:0px 10px;
   background:lightyellow;
   border:1px solid black;
}
.search-box-small{
   height:100px;
   width:100%;
   margin:0px 0px;
   padding:0px 10px;
   background:lightyellow;
   border:1px solid black;
}
.loader-gif{
  height:20px;
  width:90px;
}
#srch_txt{
   color:orange;
}
table{
   /* font-size:small; */
   border-collapse:collapse;
   margin:5px 0;
   width:90%;
}
table th{
   border:1px solid black;
   padding:3px 4px;
}
table td{
   border:1px solid black;
   padding:1px 4px;
}
.search_link{
   color:blue;
}
.search_link:hover{
   color:maroon;
   cursor:pointer;
}
</style>
<%- include('../partials/header_html'); %>
<% var otids = JSON.parse(otid_list) %>
<% var gids = JSON.parse(gid_list) %>
<% var lineageids = JSON.parse(taxon_otid_obj) %>
<% //var phage_id_list = JSON.parse(phage_id_list) %>
<% var contig_list = JSON.parse(contig_list) %>
<% var help_list = JSON.parse(help_pages) %>

<body>
  
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' > 
       <p class='h3 title'>Search Result [<small>Search String: <span id='srch_txt'>"<%= search_text %>"</span> (Case Insensitive)</small>]
       </p>
<!-- 'HMT-'+("000" + otid).slice(-3);  -->
<span style='float:right;'><a href='advanced_site_search'>Search Again</a></span> 
    <br>
    <center><a href='advanced_site_search'>Search Genome Annotations</a></center>
    <br>Matches from <strong>Bacterial Taxon Names</strong>: (<%= Object.keys(lineageids).length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
  <% if( Object.keys(lineageids).length > 0 ){ %>
  <div class='search-box'>
    <% n = 0 %>
    <center><table class='sortable'>
    <tr><th nowrap>HMT-ID</th><th>Taxonomy (click to sort)</th></tr>
    <% for(otid in lineageids){ %>
       <tr>
       <% n += 1 %>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       
       <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td> 
       <td><a href='/taxa/tax_description?otid=<%= otid %>'><%= lineageids[otid] %></a></td>
       </tr>
    <% } %>
    </table>
    </center>
  </div>
  <% } %>
  
  
    <hr> 
    
    
    Matches from <strong>Taxon-ID Metadata</strong>: (<%= otids.length %> hits) <span class='float-right small'>Your Search String: "<%= search_text %>"</span> 
    <% if( otids.length > 0 ){ %>
    <div class='search-box'>
    <center><table class='sortable'>
    <tr><th nowrap>HMT-ID</th><th>Taxonomy (click to sort)</th></tr>
    <% for(n in otids){ %>
     <% otid = otids[n].otid %>
     <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
     <tr>
     
     <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
     <td><a href='/taxa/tax_description?otid=<%= otid %>'><%- otids[n].species %></a></td>
     </tr>
  <% } %>
    </table>
    </center>
  </div>
  <% } %>
    <!-- Genomes -->
    <hr>  
    Matches from <strong>Genome Metadata</strong>: (<%= gids.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( gids.length > 0 ){ %>
    <div class='search-box'>
    <center><table class='sortable'>
    <tr><th nowrap>HMT-ID</th><th nowrap>Genome-ID</th><th>Species (click to sort)</th></tr>
    <% for(n in gids){ %>
       <% gid = gids[n].gid %>
       <% otid = gids[n].otid %>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <tr>
       <td nowrap><a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%= gid %></a></td>
       <td><a href='/genome/genome_description?gid=<%= gid %>'><%- gids[n].species %> <%- gids[n].strain %></a></td>
       </tr>
    <% } %>
    </table>
    </center>
    </div>
    <% } %>
    

     
    <hr>  

    Matches from <strong>Contig Names</strong>: (<%= contig_list.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( contig_list.length > 0 ){ %>
    <div class='search-box'>
    <center><table class='sortable'>
    <tr><th nowrap>Contig</th><th>Genome-ID (click to sort)</th></tr>
    <% for(n in contig_list){ %>
       <tr>
       <td><%= contig_list[n].contig %></td>
       <td>
       <% for(i in contig_list[n].gids){ %>
       <%   gid =  contig_list[n].gids[i] %>
             <a href='/genome/genome_description?gid=<%= gid %>'><%- gid %></a>&nbsp;
       <% } %>
       </td>
       </tr>
    <% } %>
    </table>
    </center>
    </div>
    <% } %>
    
    
     

    
    <hr>
    Matches from <strong>Help Pages</strong>: (<%= help_list.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( help_list.length > 0 ){ %>
    <div class='search-box'>
    <% for(n in help_list){ %>
       <br><%= parseInt(n)+1 %>) <a href='/help/help-page?pagecode=<%= help_list[n] %>'><%= help_list[n] %></a>
    <% } %>
    </div>
    <% } %>
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
  </div>     
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->

<script>
  mainmenu()
  intext = '<%= search_text %>'
  var min_size = 3
  

</script>
