<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header_html'); %>
<title><%= title %></title>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../partials/header_img'); %>
    </div>
    <div id="navbar">
            <%- include('../partials/navbar'); %>
    </div>
    
    <div id='' class='page-content'>
	
		<div id='left-sidebar'>
		  <%- include('../partials/sidebar'); %>
		</div>
		<div id='right-sidebar'>
		  
			<div class='title'>Meta-Database Search</div>
			<div class='title'>Announcement</div>
			<div class='title'>Database Update</div>
		  
		</div>
	
		<div class='home-content' id="">  					
			 <%- include('../partials/home_content'); %>
		</div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- <script src="https://code.jquery.com/ui/3.5.1/jquery-ui.js"></script> -->
<!-- <script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>	 -->
<!-- <script type="text/javascript" language="javascript" src="/js/jquery.dropdownPlain.js"></script> -->
<script>
  function mainmenu(){
	$(" #nav ul ").css({display: "none"}); // Opera Fix
	$(" #nav li").hover(function(){
        $(this).find('ul:first').css({visibility: "visible",display: "none"}).show(400);
        },function(){
        $(this).find('ul:first').css({visibility: "hidden"});
        });
}

 
 
 $(document).ready(function(){                    
    mainmenu();
});

function expandcontent_simple(curobj, cid){
	document.getElementById(cid).style.display=(document.getElementById(cid).style.display!="none")? "none" : "";
}
</script>

