<style>
 /* Increase the header for this page only */
#masthead {
  width:100%;
  background:black;
  background-image: url("/images/grid.png");
  background-repeat:repeat-x;
  background-size: 6%;
  height:80px;
  
}
#masthead span a img {
  height:80px;
  padding:0;
  margin:0;
} 

</style>

<%- include('../partials/header_html'); %>



<body>
  	<div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' >
    
        <div class='title'>Welcome to <em>e</em>HOMD</div>
		<%- include('../partials/home_content'); %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
   
   </div> <!--  end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
 
 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
// this should run on every page for main menu open speed
mainmenu()

</script>

