<style>
</style>
<%- include('../partials/header_html'); %>
<style>   /* Must be after header */
#masthead {
   /* Increase the header for this page only */
  width:100%;
  background:black;
  background-image: url("/images/grid.png");
  background-repeat:repeat-x;
  background-size: 6%;
  height:80px;
}



#masthead span a img {
  height:80px;
  padding:0;
  margin:0;
} 
.text-info {
  font-weight:bold;
}
#version-info{
  top:-64px;
}
#info {
  padding:15px 15px;
  margin:20px;
  background: orange;
  font-size: large;
  border:1px solid black;
}
</style>


<body>
  	<div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' >
    
        <div class='title'>Welcome to The Expanded Human Oral Microbiome Database</div>
		
<div id='info'>
		This site (https://node.homd.info/) will be the new home of the Human Oral Microbiome Database but it is still 
		under construction so please be patient while we get it ready for use.
		<br> The original site (<a href="http://www.homd.org/index.php">http://www.homd.org</a>) is still up and 
		will continue to be updated until this new site is completed.<br>-- Thanks for using HOMD.
</div>
		
		<%- include('../partials/home_content'); %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
   </div> <!--  end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
 
 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
// this should run on every page for main menu open speed
mainmenu()

</script>

