<% var cfg = JSON.parse(config) %> 
<style>
#update{
  color:purple;
}
#update a{
  color:red;
}
</style>
<link rel="stylesheet" type="text/css" href="/css/home.css" >
<% var version_info = JSON.parse(ver_info) %> 
<%- include('../partials/header_html'); %>
    <title>HOMD Home Page</title>
    
    <body>
        <div class='body-div' align="center">
        <table width="1250px" cellspacing="5" >
            <tr><td width="100%" style="background-color:#003366">
            <img src="/images/newbanner_demo/homd_banner_v31.png"></td></tr>
            <tr><td align="left">
                
                <%- include('../partials/navbar'); %>

            </td></tr>
            <tr><td align="center">
                <span id='update'><i>e</i>HOMD has been updated to version 3.1 (<a href='/help/help-page?pagecode=announcement'>Update Detail</a>)</span>
                <table class="introduction" width="1100px" cellpadding="20px">
                    <tr><td class="round bggray">
                    <tspan style="font-size:1.5em;font-weight:normal;color:rgb(150, 35, 44);font-style:italic">
                    e</tspan><tspan style="font-size:2em;font-weight:bold;color:steelblue">H</tspan>OMD provides comprehensive curated information on bacteria in the human mouth and aerodigestive tract, 
                    including the pharynx, nasal passages, sinuses and esophagus. There are 774 oral bacterial species. 58% are officially 
                    named, 16% unnamed but cultivated and 26% are known only as uncultivated phylotypes. <i>e</i>HOMD taxonomy provides a provisional naming 
                    scheme for the currently unnamed taxa, based on the 16S rRNA sequence phylogeny, so that strain, clone and probe data 
                    from any laboratory can be directly linked to a stably named reference scheme.<br>

                    </td></tr>

                </table>
            </td></tr>
            <tr><td align="center">
            
            
                <table class="maintab hide-for-mobile" width="1080px" cellspacing="10px">
                    <tr><td colspan="3" style="font-weight: normal;color:rgb(58, 58, 58)">Click on the menu items above or the tabs below for more resources:</td></tr>                 
                    <tr>
                        <td width="360px" align="center">
                            <table class="taxonomy round">
                                <tr><td>Taxonomy</td></tr>
                                <tr><td>
                                    <table class="tabeffect bgnavy">
                                        <tr><td><a href='taxa/tax_table'>Taxon Table</a></td></tr>
                                        <tr><td><a href='taxa/tax_table'><img src="/images/image-TaxonTable50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgnavy">
                                        <tr><td><a href='taxa/tax_description?otid=666'>Taxon Description</a></td></tr>
                                        <tr><td><a href='taxa/tax_description?otid=666'><img src="/images/image-TaxonDesc50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgnavy">
                                        <tr><td><a href='taxa/ecology_home'>Ecology</a></td></tr>
                                        <tr><td><a href='taxa/ecology_home'><img src="/images/image-Ecology50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgnavy">
                                        <tr><td><a href='taxa/tax_hierarchy'>Dynamic Taxon Hierarchy</a></td></tr>
                                        <tr><td><a href='taxa/tax_hierarchy'><img src="/images/image-Dynamic50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                            </table>
                        </td>


                        <td width="360px" align="center">
                            <table class="genomic round">
                                <tr><td>Genomic</td></tr>
                                <tr><td>
                                    <table class="tabeffect bgpink">
                                        <tr><td><a href='genome/genome_table'>Genome Table</a></td></tr>
                                        <tr><td><a href='genome/genome_table'><img src="/images/image-GenomeTable50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgpink">
                                        <tr><td><a href='genome/jbrowse'>JBrowse Genome Viewer</a></td></tr>
                                        <tr><td><a href='genome/jbrowse'><img src="/images/image-JBrowse50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgpink">
                                        <tr><td><a href='<%= cfg.FTP_URL %>/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg' target='_blank'>Genomic Trees</a></td></tr>
                                        <tr><td><a href='<%= cfg.FTP_URL %>/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg' target='_blank'><img src="/images/image-Trees50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bgpink">
                                        <tr><td><a href='genome/blast'>Genomic BLAST</a></td></tr>
                                        <tr><td><a href='genome/blast'><img src="/images/image-BLAST-genome50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                            </table>
                        </td>


                        <td width="360px" align="center">
                            <table class="refseq round">
                                <tr><td>16S rRNA RefSeq</td></tr>
                                <tr><td>
                                    <table class="tabeffect bggreen">
                                        <tr><td><a href='refseq/refseq_blastn'>BLAST</a></td></tr>
                                        <tr><td><a href='refseq/refseq_blastn'><img src="/images/image-BLAST-refseq50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bggreen">
                                        <tr><td><a href='<%= cfg.FTP_URL %>/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg' target='_blank'>16S rRNA RefSeq Tree</a></td></tr>
                                        <tr><td><a href='<%= cfg.FTP_URL %>/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg' target='_blank'><img src="/images/image-Trees-refseq50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table class="tabeffect bggreen">
                                        <tr><td><a href='download#refseq'>Download 16S rRNA RefSeq</a></td></tr>
                                        <tr><td><a href='download#refseq'><img src="/images/image-Download-refseq50pct.png" width="320"></a></td></tr>
                                    </table>
                                </td></tr>
                            </table>
                        </td>

    
                    </tr>
                </table>
            </td></tr>


            <tr><td align="center">
                <br>
                <hr>
                <%- include('../partials/contributors'); %>
                <br>
                <%- include('../partials/supportedby'); %>
            </td></tr>  


            <tr><td>
                <hr>
            </td></tr>

            <tr><td align="center">
                <table cellspacing="10px" cellpadding="0px">
                    <tr class='home-footer-image'>
                        <td><a href="https://www.nidcr.nih.gov" target="_blank" ><img src="images/nidcr.png" height="50px"></a></td>
                        <td><a href="https://forsyth.org" target="_blank" ><img src="images/forsyth.png" height="50px"></a></td>
                        <td><a href="https://mbl.edu" target="_blank" ><img src="images/mbl.png" height="50px"></a></td>
                        <td><a href="https://dental.buffalo.edu" target="_blank" ><img src="images/ub.png" height="50px"></a></td>
                        <td><a href="https://cloud.nih.gov" target="_blank" ><img src="images/strides.png" height="50px"></a></td>
                    </tr>
                </table>
            </td></tr>          

            <tr><td align="center">
                <table style="font-size:0.8em; font-style:italic; color:gray;text-align:center">
                    <tr><td colspan="2">Copyright 2007-2022, The Forsyth Institute</td></tr>
                    <tr><td align="right" valign="top">Hosted on Amazon AWS EC2 </td><td align="left" valign="middle"> <img src="/images/newbanner_demo/aws.png"></td></tr>
                </table>
            </td></tr>


            
        </table>
        </div>
    </body>
</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
// this should run on every page for main menu open speed
mainmenu()

</script>