
<style>
#masthead {
   /* Increase the header for this page only */
  width:100%;
  background:black;
  background-image: url("/images/grid.png");
  background-repeat:repeat-x;
  background-size: 6%;
  height:80px;
}



#masthead span a img {
  height:80px;
  padding:0;
  margin:0;
} 
.text-info {
  font-weight:bold;
}
#version-info{
  top:-64px;
}
#info {
  padding:15px 15px;
  margin:20px;
  background: orange;
  font-size: large;
  border:1px solid black;
}

#welcome{
   text-align:center;
   padding:30px 0;
}

#contributors,#supportedby{
   font-size:small;
}
i {
   font-weight:normal;
   color:orange;
}


#homd_banner{
text-align:center;
}
#homd_logo_img{
  border:1px solid black;
}
.content ul{
 line-height:1.6em;
}
.content li{
padding:.2em;
}
.content ul ul li{
   margin-left:25px;
}
.content{
   /* padding:20px 40px; */
}
#homd-main-image{
   padding:20px 0;
   
}
#homd-main-image img{
  border:1px solid blue;
}
body{
  background-image: url("images/fade-bbridge.png");
}

</style>


<%- include('../partials/header_html'); %>
<body>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    
    <div class='page-content' >
    <br><span id='welcome'><h1>Welcome to the <i>expanded</i> Human Oral Microbiome Database!
    </h1></span>
    



<div class='content'>
<ul>
<li>We provide:</li>  
<li>- comprehensive curated information o足n bacteria in the human mouth and aerodigestive tract, including the pharynx, nasal passages, sinuses and esophagus.</li>   
<li>- information on 775 bacterial species. 57% are officially named, 13% unnamed but cultivated and 30% are known o足nly as uncultivated phylotypes. </li> 
<li>- a provisional naming scheme for the currently unnamed taxa, based o足n the 16S rRNA sequence phylogeny, so that strain, clone and probe data from any laboratory can be directly linked to a stably named reference scheme.</li>  
<li>- ecology/abundance information on bacteria at 10 sites in the mouth, nose, and throat </li> 
<li>- a mouse oral microbiome database (MOMD) patterned on the eHOMD. </li> 
<li>- Bacterial genome sequences are being added to the eHOMD as they become available.  
  <ul>
  <li>- A total of 2074 oral/nasal genomes, representing 529 taxa are currently available o足n eHOMD with annotations and can be viewed in a genome browser software. </li> 
  <li>- Genomes for 14 non-oral/non-nasal taxa are also included in phyla with no or few sequenced oral representatives (Chlorobi, Chloroflexi, GN02, TM7, SR1, WPPS-2), to capture reads from related oral taxa. </li> 
  </ul>
</li> 
<li>Coming soon:  database of bacteriophage sequences from the oral microbiome! </li>
</ul>
 


<br>


<br>
<hr>
<%- include('../partials/contributors'); %>
<br>
<%- include('../partials/supportedby'); %>
</div>
 <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
   
</div>
</div>
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
// this should run on every page for main menu open speed
mainmenu()

</script>
