
<style>
#masthead {
   /* Increase the header for this page only */
  width:100%;
  background:black;
  background-image: url("/images/grid.png");
  background-repeat:repeat-x;
  background-size: 6%;
  height:80px;
}



#masthead span a img {
  height:80px;
  padding:0;
  margin:0;
} 
.text-info {
  font-weight:bold;
}
#version-info{
  top:-64px;
}
#info {
  padding:15px 15px;
  margin:20px;
  background: orange;
  font-size: large;
  border:1px solid black;
}

#welcome{
   text-align:center;
   padding:30px 0;
}

#contributors,#supportedby{
   font-size:small;
}
i {
   font-weight:normal;
   color:orange;
}


#homd_banner{
text-align:center;
}
#homd_logo_img{
  border:1px solid black;
}
.content ul{
 line-height:1.6em;
}
.content li{
padding:.2em;
}
.content ul ul li{
   margin-left:25px;
}
.content{
   padding:20px 40px;
   margin-top:30px;
   background:lightgrey;
   border:1px solid grey;
}
#homd-main-image{
   padding:20px 0;
   
}
#homd-main-image img{
  border:1px solid blue;
}
#txt{
   line-height:2.2em;
}

#column_left2{
  float: left; 
  width: 33%;
}
#column_middle2{
  float: left; 
  width: 33%;
}
#column_right2{
  float: left; 
  width: 33%;
}
.main-page-image{
   width: 90%;
}
.table-title  {
   background:#cdf0ea;
   padding:2px 30px;
   
   
}
#main-images-table td {
   padding:10px;
   vertical-align:top;
   text-align:center;
   
}
#main-images-table td img{
   border:1px solid brown;
   width:360px;
   height:200px;
   
}

</style>


<%- include('../partials/header_html'); %>
<body>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    
    <div class='page-content' >
    <br>
    <span id='welcome'>
      <h1>Welcome to the <i>expanded</i> Human Oral Microbiome Database!</h1>
    </span>
    



<div class='content'>
<div id='txt'>
    We provide comprehensive curated information on bacteria in the human mouth and aerodigestive tract, 
    including the pharynx, nasal passages, sinuses and esophagus.
    There are 775 oral bacterial species. 
    57% are officially named, 13% unnamed but cultivated and 30% are known only as uncultivated phylotypes. 
    <i>e</i>HOMD provides a provisional naming scheme for the currently unnamed taxa, based on the 
    16S rRNA sequence phylogeny, so that strain, clone and probe data from any laboratory can 
    be directly linked to a stably named reference scheme. 
</div>


<br>Click on the menu items above or on the images below for more resources:


<br><br>
<center>
<div style="width:100%;">
<table id='main-images-table'>
 <tr>
   <thead>
   <th><span class='col-head'>Taxonomy</span></th>
   <th><span class='col-head'>Genomic</span></th>
   <th><span class='col-head'>16S rRNA Gene</span></th>
   </thead>
   <tbody>
    <tr>
        <td>
        <a href='taxa/tax_table'>
          <span class='table-title'>Taxon Table</span><br>
          <img class='main-page-image' src='/images/image-TaxonTable.png' alt='TaxTable'  \>
        </a>
        </td>
        <td>
        <a href='genome/genome_table'>
          <span class='table-title'>Genome Table</span><br>
          <img class='main-page-image' src='/images/image-GenomeTable.png' alt='genomic'  \>
        </a>
        </td>
        <td>
        <a href='refseq/refseq_blastn'>
        <span class='table-title'>BLAST</span><br>
        <img class='main-page-image' src='/images/image-BLAST-refseq.png' alt='blast'  \>
        </td>
        
    </tr>
    <tr>
        <td>
        <a href='taxa/tax_description?otid=1'>
        <span class='table-title'>Taxon Description</span><br>
       <img class='main-page-image'  src='/images/image-TaxonDesc.png' alt='ecology'  \>
        </a>
        </td>
        <td>
        <a href='http://www.homd.org/jbrowse/index.html?data=homd/SEQF1595&tracks=DNA,homd,prokka,prokka_ncrna,ncbi,ncbi_ncrna,GCContent,GCSkew&loc=SEQF1595|KI535342.1:169176..169852' target='_blank'>
        <span class='table-title'>JBrowse Genome Viewer</span><br>
        <img class='main-page-image'  src='/images/image-JBrowse.png' alt='jbrowse'  \>
        </a>
        </td>
        <td>
        <a href='http://www.homd.org/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg' target='_blank'>
        <span class='table-title'>16S RefSeq Tree</span><br>
        <img class='main-page-image'  src='/images/image-Trees-refseq.png' alt='trees'  \>
        </a>
        </td>
    </tr>
    
    <tr>
        <td>
        <a href='taxa/ecology'>
        <span class='table-title'>Ecology</span><br>
       <img class='main-page-image' src='/images/image-Ecology.png' alt='dynamic'  \>
        </a>
        </td>
        <td>
        <a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg' target='_blank'>
        <span class='table-title'>Genomic Trees</span><br>
        <img class='main-page-image' src='/images/image-Trees.png' alt='trees'  \>
        </a>
        </td>
        <td>
        <a href='download#refseq'>
        <span class='table-title'>Download 16S rRNA RefSeq Data</span><br>
        <img class='main-page-image' src='/images/image-Download-refseq.png' alt='blast'  \>
        </a>
        </td>
    </tr>
    
    <tr>
        <td>
        <a href='taxa/tax_hierarchy'>
        <span class='table-title'>Dynamic Taxon Hierarchy</span><br>
       <img class='main-page-image' src='/images/image-Dynamic.png' alt='dynamic'  \>
        </a>
        </td>
        <td>
        <a href='genome/blast'>
        <span class='table-title'>Genomic BLAST</span><br>
        <img class='main-page-image' src='/images/image-BLAST-genome.png' alt='trees'  \>
        </a>
        </td>
        <td>
    
        </td>
    </tr>
    
   </tbody>
   </table>
   
   
   
 </div>
 <br style="clear: left;" />
 </center>
</div>

<br>
<hr>
<%- include('../partials/contributors'); %>
<br>
<%- include('../partials/supportedby'); %>
</div>
  <div id='footer'>
         <%- include('../partials/footer'); %>
  </div>
   
</div>
</div>
</body>

</html>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
 
 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
// this should run on every page for main menu open speed
mainmenu()

</script>
