<% var cfg = JSON.parse(config) %>
<style>
#trace{
   padding:20px;
   background: lightgrey;
   width:100%;
}
</style>
<% // trace = JSON.parse(trace) %>
<%- include('../partials/header_html'); %>
<!-- This page will be displayed whenever a link is accessed with no route. -->
<body>
  <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar2'); %>
    <div class='page-content' >
      <center>
         
         <br><div id='msg'><%- msg %></div>
      
      
        <% if(trace){ %>
           <br><div id='trace'><pre><%- trace %></pre></div>
        <% } %>
        <br><br>Use the browser's back arrow or select another page from the main menu.
     </center>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>