<% var cfg = JSON.parse(config) %>
<style>
#trace{
   padding:20px;
   background: lightgrey;
   width:100%;
}
</style>
<% // trace = JSON.parse(trace) %>
<%- include('../partials/header_html'); %>
<!-- This page will be displayed whenever a link is accessed with no route. -->
<body>
  <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' >
      <center>
         
         <br><div id='msg'><%- msg %></div>
      
      
        <% if(trace){ %>
           <br><div id='trace'><pre><%- trace %></pre></div>
        <% } %>
        <br><br>Use the browser's back arrow or select another page from the main menu.
     </center>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>