<% var cfg = JSON.parse(config) %>
<style>
table{
   border-collapse:collapse;
   width:60%;
}
table td{
   border:1px solid black;
   padding:8px;
}
</style>
<%- include('../partials/header_html'); %>

<body>
  	<div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    
    
    <div class='page-content' >
		 					
			 <div class='title'>Posters Related to HOMD Available for Download</div></center>
<br>
<center>
<table border='1'>
<tr><th>Year</th><th>Meeting</th><th>Title</th><th>Author</th></tr>
<!-- https://www.geeksforgeeks.org/how-to-send-pdf-in-express-route-response-and-force-browser-download/ -->
<tr><td>2014</td><td>AADR</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/poster/2014-AADR-DEWHIRST.pdf'>Prevalence of Uncultivated Oral Taxa in Distinct Oral Niches</a></td>
    <td>F.E. Dewhirst, H. Hasturk, M.L. Toscano, C.M. Murphy, K. Krishnan, and T. Chen</td>
</tr>
<tr><td>2014</td><td>AADR</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/poster/2014-AADR-TCHEN.pdf'>The Human Oral Microbiome Database: Updates and New Features</a></td>
    <td>Liang Yang, Tsute Chen, Jacques Izard, Anne Tanner, William Wade, Bruce Paster, and Floyd E. Dewhirst</td>
</tr>
<tr><td>2014</td><td>AADR</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/poster/2014-AADR-McCafferty.pdf'>A Comprehensive Approach for Profiling Human Oral Microbiome with NGS 16S rRNA data</a></td>
    <td>Tsute Chen, Jon McCafferty*, and Floyd E. Dewhirst</td>
</tr>
<tr><td>2012</td><td>ASM</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/poster/2012c.pdf'>Canine Oral Bacteria Identified in Human Skin Microbiome Libraries</a></td>
    <td>Floyd E. Dewhirst</td>
</tr>
<tr><td>2012</td><td>AADR</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/poster/2012b.pdf'>The Human Oral Microbiome: A Status Report</a></td>
    <td>J.M. Blanton, A.T. Kirega, L. Yang, T. Chen, C. Leonetti, A. Tanner, W. Wade, B.J. Paster, F.E. Dewhirst, and J. Izard</td>
</tr>
<tr><td>2012</td><td>AADR</td><td><a href='<%= cfg.HOMD_URL_BASE %>/ftp/ftp/poster/2012a.pdf'>Identification of Oral Taxa from Rare Phyla/Candidate Divisions</a></td>
    <td>Anuj Camanocha and Floyd E. Dewhirst</td>
</tr>

</table>
</center>	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


