<style>
body {
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
}
html, body { min-height: 100%; }

.search-box{
   height:200px;
   width:100%;
   overflow:auto;
   margin:0px 0px;
   padding:0px 10px;
   background:lightyellow;
   border:1px solid black;
}
.loader-gif{
  height:20px;
  width:90px;
}
#srch_txt{
   color:orange;
}
table{
   font-size:small;
   border-collapse:collapse;
}
table th,td{
   border:1px solid black;
   
   padding:1px 4px;
}
.search_link{
   color:blue;
}
.search_link:hover{
   color:maroon;
   cursor:pointer;
}
</style>
<%- include('../partials/header_html'); %>
<% var otids = JSON.parse(otid_list) %>
<% var gids = JSON.parse(gid_list) %>
<% var lineageids = JSON.parse(taxon_otid_obj) %>
<% //var phage_id_list = JSON.parse(phage_id_list) %>
<% var contig_list = JSON.parse(contig_list) %>
<% var help_list = JSON.parse(help_pages) %>

<body>
  
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    <div class='page-content' > 
       <div class='title'>Search Result [<small>Search String: <span id='srch_txt'>"<%= search_text %>"</span></small>]</div>
<!-- 'HMT-'+("000" + otid).slice(-3);  -->
 
    
    <br>Matches from Bacterial Taxon Names: (<%= Object.keys(lineageids).length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
  <% if( Object.keys(lineageids).length > 0 ){ %>
  <div class='search-box'>
    <% n = 0 %>
    <% for(otid in lineageids){ %>
       <% n += 1 %>
       <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
       <br><%= parseInt(n) %>) <a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %></a> 
       <em><%= lineageids[otid] %></em>
  <% } %>
  
  </div>
  <% } %>
    <hr> 
    Matches from Oral Taxon-ID Metadata: (<%= otids.length %> hits) <span class='float-right small'>Your Search String: "<%= search_text %>"</span> 
    <% if( otids.length > 0 ){ %>
    <div class='search-box'>
    <% for(n in otids){ %>
     <% otid = otids[n].otid %>
     <% taxidfullname = 'HMT-'+("000" + otid).slice(-3); %>
     <br><%= parseInt(n)+1 %>) <a href='/taxa/tax_description?otid=<%= otid %>'><%= taxidfullname %>:
     <%- otids[n].species %></a>
  <% } %>
  </div>
  <% } %>
    <hr>  
    Matches from Genome Metadata: (<%= gids.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( gids.length > 0 ){ %>
    <div class='search-box'>
    <% for(n in gids){ %>
       <% gid = gids[n].gid %>
       <br><%= parseInt(n)+1 %>) <a href='/genome/genome_description?gid=<%= gid %>'><%= gid %>
       
       <%- gids[n].species %></a>
    <% } %>
    </div>
    <% } %>
    
     <hr>  
    Annotations<br>(Searches ProteinIDs and GeneProductNames-in the database):<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <div class='search-box'>
      PROKKA Annotation hits: <span id='prokka_count_div' >wOrKiNg</span>
      <br>NCBI Annotation hits: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id='ncbi_count_div' >wOrKiNg</span>
      <div id='anno_result_box'></div>
    </div>
    
    
    <hr>  
    Matches from Contigs: (<%= contig_list.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( contig_list.length > 0 ){ %>
    <div class='search-box'>
    <% for(n in contig_list){ %>
       
       <br><%= parseInt(n)+1 %>) <%= contig_list[n].contig %>
       <% for(i in contig_list[n].gids){ %>
       <%   gid =  contig_list[n].gids[i] %>
             <a href='/genome/genome_description?gid=<%= gid %>'><%- gid %></a>
       <% } %>
    <% } %>
    </div>
    <% } %>

    
    
    <hr>
    Matches from Help Pages: (<%= help_list.length %> hits)<span class='float-right small'>Your Search String: "<%= search_text %>"</span>
    <% if( help_list.length > 0 ){ %>
    <div class='search-box'>
    <% for(n in help_list){ %>
       <br><%= parseInt(n)+1 %>) <a href='/help/help-page?pagecode=<%= help_list[n] %>'><%= help_list[n] %></a>
    <% } %>
    </div>
    <% } %>
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
  </div>     
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/sorttable.js"></script> <!-- https://www.kryogenix.org/code/browser/sorttable -->

<script>
  mainmenu()
  intext = '<%= search_text %>'
  
</script>


