<style>
.date{
   background:lightblue;
   border:1px solid gray;
   padding:10px;
}
.entry{
   margin:0 0 20px 0;
   padding:5px;
}
.inset{
   padding:20px;
   background:lightgray;
}
li{
    padding:2px;
}
</style>
<% var cfg = JSON.parse(config) %> 
<% pdata = JSON.parse(data) %>
<%- include('../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    
    
    <div class='page-content' >
        <p class='title h3'><%= pagetitle %></p>
        <br><br>
        <%- pdata %>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


