<style>
</style>
<link rel="stylesheet" href="/css/admin.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Admin Only Functions</div>
       <%- include('../../partials/flash'); %>
       <%- include('../../partials/under_construction'); %>
    <center>
    <table id='admin-table' border='1'>
    <tr><th>Function</th></tr>
    <tr><td>User Maintenance</td></tr>
    <tr><td>Update/Edit Database</td></tr>
    <tr><td>Check Blast</td></tr>
    <tr><td><a href='email_check'>EMail Check</a></td></tr>
    
    <tr><td><a href='view_users_admin'>View Users List</a></td></tr>
    <tr><td><a href='create_user_admin'>Create New User</a></td></tr>
    <tr><td><a href='reset_pw_admin'>Reset Users Passwords</a></td>
    <tr><td><a href='pangenome_list'>Pangenome (anviserver) Testing</a></td>
      
    </tr>
    </table>
    </center>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


