<style>
.form_div{
   margin-left:300px;
   padding:50px 100px;
}

.form_div form  { display: table;      }
.form_div p     { display: table-row; margin:2px; }
.form_div label { display: table-cell; }
.form_div input { 
    display: table-cell; 
    border:1px solid brown;
    padding:2px 5px;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Login</div>
       <%- include('../../partials/flash'); %> 
       <div id='form_div' class='form_div table' >All fields are required -- <a class='button' href='' onclick='clear_form(this.form)'>Clear Form</a>
       <br>
       <form action="/admin/login" method="POST">   
       
          <p>
              <label>Username:</label>
              <input type="text" id='username' name="username"/>
          </p>
          <p>
              <label>Password:</label>
              <input type="password" id='password' name="password"/>
          </p>
          <p>
              <input type="submit" value="Log In"/> <!-- <small><a href="forgot">Forgot Password?</a></small> -->
          </p>
          <input type='hidden' name='return_to_url' value=''/>
      </form>
      
      </div>
      <br>
      <p>Need an account? <a href="/admin/signup">Signup</a></p>
      

      <p><a href="/admin/forgotten_password">Forgot your password?</a></p>      
  


      <p>Account help? email: <a href="mailto:admin@homd.org">admin@homd.org</a> (Including forgotten passwords.)</p>
      

    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


