<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">
	  	
	    <div id='' class="flash-message" >  	
        <% if (messages.success) { %>
          <div class="alert_flash_message_success"><%- messages.success %></div>
        <% }else if(messages.fail){ %>
          <div class="alert_flash_message_fail"><%- messages.fail %></div>
        <% } %>
        </div>
       
        <div id='' class="center-box">				
		  <form action="/admin/login" method="post">
			<table><tr><td>
				<label>Username:</label></td><td>
				<input type="text" name="username"/>
			</td></tr><tr><td>
				<label>Password:</label></td><td>
				<input type="password" name="password"/>
			</td></tr><tr><td>
				<input disabled type="submit" value="Log In"/>
			</td></tr></table>
		  </form>
        </div>
	  </div>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 

<script>
 

</script>
