<style>
</style>
</style>
<link rel="stylesheet" href="/css/admin.css">

<%- include('../../partials/header_html'); %>
<% pangenomes = JSON.parse(pglist) %>
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

       <div class='title'>Available PanGenomes</div>
    <%- include('../../partials/flash'); %>
    <a href='index'>Back to admin</a>
       
       <form id='pg_form' name='pg_form' method='post' action='anvio_pangenome'>
       
       <div id='form_div' class='form_div table' >
       <input type='submit' value='Submit'>
       <br><br>Select PanGenome:
       <table id='pgtable'>
       <% for(n in pangenomes){ %>
          <tr>
            <td>
              <input type='radio' name='pg' value='<%= pangenomes[n].name %>'>
            </td>
            <td><%= pangenomes[n].name %></td>
            <td></td>
          </tr>
       <% } %>
       </table>
       <br><br>
       
       </div>
       </form>
       

    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  load = '<%= load %>'  // if '1' then open anviserver
  console.log('load')
  console.log(load)
  if(load === '1' || load === 1){
     window.open('https://anviserver','_blank')  // set in nginx
  }
</script>


