<style>
.form_div{
   margin-left:300px;
   padding:50px 100px;
}
.form_div input{
   border:1px solid brown;
}
</style>
<% u = JSON.parse(user) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>User Profile (ID: <%- u.user_id %>)</div>
       <%- include('../../partials/flash'); %>    
    <div class='form_div'>
    <table border='1'>
    <% for(i in u){ %>
       <% if(["encrypted_password","current_sign_in_at","active"].indexOf(i) === -1){ %>
       <tr><td><%= i %></td><td><%= u[i] %></td></tr>
    <% } %> <% } %> 
    </table>
    <br>
    
    <ul>
    <li><a href='/user/reset_password'>update password</a>
    <li><a href=''>change name</a> update
    <li><a href=''>change institution</a> update
    <li><a href=''>change email</a>  update
    </ul>
    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


