<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>
<title><%= title %></title>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
	    
	    <div id='' class="flash-message" >  	
        <% if (messages.success) { %>
          <div class="alert_flash_message_success"><%= messages.success %></div>
        <% }else if(messages.fail){ %>
          <div class="alert_flash_message_fail"><%= messages.fail %></div>
        <% } %>
        </div>
       
        <div id='' class="center-box">				
		  Registration is not open at this time, however HOMD data is all public.
		  <form action="/admin/register" method="post">
			<table style=''>
			<tr><td>
				<label>Username:</label></td><td>
				<input type="text" name="username"/>
			</td></tr><tr><td>
				<label>Password:</label></td><td>
				<input type="password" name="password"/>
			</td></tr><tr><td>
				<label>First Name:</label></td><td>
				<input type="text" name="firstname"/>
			</td></tr><tr><td>
				<label>Last Name:</label></td><td>
				<input type="text" name="lastname"/>
			</td></tr><tr><td>
				<label>Email:</label></td><td>
				<input type="text" name="email"/>
			</td></tr><tr><td>
				<label>Institution:</label></td><td>
				<input type="text" name="institution"/>
			</td></tr><tr><td>
				<input disabled id='register' type="submit" value="Register"/>
			</td></tr>
			</table>
		  </form>
        </div>
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>
<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
