<style>
</style>
</style>
<link rel="stylesheet" href="/css/admin.css">
<% u = JSON.parse(users) %>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

       <div class='title'>Reset User's Password</div>
    <%- include('../../partials/flash'); %>
    <a href='index'>Back to admin</a>
       
       <form id='new_pw_form' name='new_pw_form' method='post' action='reset_pw_admin'>
       <div id='form_div' class='form_div table' >
       Select User:
       <select class='dropdown' name='user_id'>
       <option value='0'>Choose:</option>
       <% for(n in u){ %>
       <option value='<%= u[n].user_id %>'>
         <%= u[n].user_id %> - 
         <%= u[n].username %>; 
         "<%= u[n].last_name %>, <%= u[n].first_name %>"; 
         <%= u[n].email %> 
       </option>
       <% } %>
       </select>
       <br><br>
       Enter New Password:
       <input class='dropdown' type='text' name='new_pw' value='' />
       <br><br>
       <input type='submit' value='Submit'>
       </form>
       </div>
       

    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


