<style>
.form_div{
   margin-left:300px;
   padding:50px 100px;
}

.form_div form  { display: table;      }
.form_div p     { display: table-row;  }
.form_div label { display: table-cell; }
.form_div input { 
    display: table-cell; 
    border:1px solid brown;
    padding:2px 5px;
}
.form_div ul li{
    padding:5px 0;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
    <div class='title'>Register for an Account</div>
    <%- include('../../partials/flash'); %>
    <%- include('../../partials/under_construction'); %>
    <%- include('../../partials/account_info'); %> 
     <br><br>
    <form id='newuser_form' name='newuser_form' method='POST' action='/admin/signup' >
    <div id='form_div' class='form_div table' >All fields are required -- <input type='button' href='#' onclick="clear_register_form(this.form)" value='Clear Form'>
   <br><br>
      <ul>
      <li> <input id='username'  maxlength='20'        name='username'   type="text"   value=''  \> Username 
           <span class='tiny_font'>(alphanumeric only; no spaces; 20 chars max)</span>
      </li>
      <li> <input id='password'  maxlength='12'        name='password'   type="password" value='' \> Password <span class='tiny_font'>(between 6 and 12 characters.)</span></li>
      <li> <input id='password_confirm' maxlength='12' name='password_confirm' type="password" value='' \> Confirm Password</li>
      <li> <input id='userfirstname' maxlength='30'    name='firstname'  type="text"  value=''   \> First Name (30 chars max)</li>
      <li> <input id='userlastname'  maxlength='30'    name='lastname'   type="text"  value=''   \> Last Name (30 chars max)</li>
      <li> <input id='useremail'   maxlength='50'      name='email'      type="text"  value=''   \> Email <span class='tiny_font'>(must be correct email format; 50 chars max)</span></li>
      <li> <input id='userinstitution' maxlength='50'  name='institution'type="text"  value=''   \> Institution (50 chars max)</li>
      <br>
      </ul>
      <input    type="submit" value='Enter' \>
    </form>
    </div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  function clear_register_form(f){
      f.username.value = ''
      f.password.value = ''
      f.password_confirm.value = ''
      f.firstname.value = ''
      f.lastname.value = ''
      f.email.value = ''
      f.institution.value = ''
  }
</script>


